rosetta-source/src/main/resources/schemas/cme-submission-irs-1-0/bloombergTradeFixml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.cmegroup.com/otc-clearing/submission"
           xmlns:fpml="http://www.fpml.org/2009/FpML-4-6"
           targetNamespace="http://www.cmegroup.com/otc-clearing/submission">
	<xs:import namespace="http://www.fpml.org/2009/FpML-4-6" schemaLocation="../fpml-4-6/fpml-main-4-6.xsd"/>
    <xs:element name="FIXML">
        <xs:complexType>
            <xs:choice>
                <xs:element name="TrdCaptRpt" type="TrdCaptRptType"/>
                <xs:element name="TrdCaptRptAck" type="TrdCaptRptType"/>
                <xs:element name="AllocInstrctn" type="AllocInstrctn"/>
                <xs:element name="AllocInstrctnAck" type="AllocInstrctn"/>
                <xs:element name="AllocRpt" type="AllocRpt"/>
                <xs:element name="Batch" type="Batch"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="v"/>
            <xs:attribute type="xs:string" name="s"/>
            <xs:attribute type="xs:string" name="xv"/>
            <xs:attribute type="xs:string" name="cv"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Batch">
        <xs:sequence>
            <xs:element ref="Hdr"/>
            <xs:choice>
                <xs:element name="TrdCaptRpt" type="TrdCaptRptType" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="TrdCaptRptAck" type="TrdCaptRptType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="ID" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="AllocInstrctn">
        <xs:sequence>
            <xs:element ref="Hdr"/>
            <xs:element ref="Instrmt"/>
            <xs:element ref="OrdAlloc" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="AllExc"/>
            <xs:element ref="Pty" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="RegTrdID" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="Alloc" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="AllocAck" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="ID" type="xs:string"/>
        <xs:attribute name="RefAllocID" type="xs:string"/>
        <xs:attribute name="TrdDt" type="xs:string"/>
        <xs:attribute name="Stat" type="xs:string"/>
        <xs:attribute name="TransTyp" type="xs:string"/>
        <xs:attribute name="Typ" type="xs:string"/>
        <xs:attribute name="Txt" type="xs:string"/>
        <xs:attribute name="Qty" type="xs:string"/>
        <xs:attribute name="TxnTm" type="xs:dateTime"/>
        <xs:attribute name="RiskChkStat" type="xs:string"/>
        <xs:attribute name="RefRiskLmtChkID" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="AllocRpt">
        <xs:sequence>
            <xs:element ref="Hdr"/>
            <xs:element ref="OrdAlloc"/>
            <xs:element ref="AllExc"/>
            <xs:element ref="Instrmt"/>
            <xs:element ref="Pty" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="RegTrdID" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="Alloc"/>
        </xs:sequence>
        <xs:attribute name="ID" type="xs:string"/>
        <xs:attribute name="TrdID" type="xs:string"/>
        <xs:attribute name="ClrDt" type="xs:string"/>
        <xs:attribute name="TxnTm" type="xs:string"/>
        <xs:attribute name="RptTyp" type="xs:string"/>
        <xs:attribute name="RptID" type="xs:string"/>
        <xs:attribute name="Stat" type="xs:string"/>
        <xs:attribute name="TransTyp" type="xs:string"/>
        <xs:attribute name="Qty" type="xs:string"/>
        <xs:attribute name="RefRiskLmtChkID" type="xs:string"/>
        <xs:attribute name="Txt" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="TrdCaptRptType">
        <xs:sequence>
            <xs:element ref="Hdr"/>
            <xs:element ref="RegTrdID" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="Pty" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="Instrmt">
                <xs:annotation>
                    <xs:documentation>Note: Payer of Fixed is IRS Buyer, Payer of Float is IRS Seller ,</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="TrdRegTS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="RptSide" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="RptID"/>
        <xs:attribute type="xs:string" name="TransTyp"/>
        <xs:attribute type="xs:string" name="RptTyp"/>
        <xs:attribute type="xs:string" name="TrdRptStat"/>
        <xs:attribute type="xs:string" name="TrdAckStat"/>
        <xs:attribute type="xs:string" name="TrdTyp"/>
        <xs:attribute type="xs:string" name="TrdSubTyp"/>
        <xs:attribute type="xs:string" name="RptRefID"/>
        <xs:attribute type="xs:string" name="MtchID"/>
        <xs:attribute type="xs:string" name="ExecID"/>
        <xs:attribute type="xs:string" name="ExecID2"/>
        <xs:attribute type="xs:string" name="LastQty"/>
        <xs:attribute type="xs:string" name="LastPx"/>
        <xs:attribute type="xs:string" name="TrdDt"/>
        <xs:attribute type="xs:string" name="BizDt"/>
        <xs:attribute type="xs:string" name="TxnTm"/>
        <xs:attribute type="xs:string" name="MtchStat"/>
        <xs:attribute type="xs:string" name="RejTxt"/>
        <xs:attribute type="xs:string" name="RejRsn"/>
        <xs:attribute type="xs:string" name="TrdID"/>
        <xs:attribute type="xs:string" name="MsgEvtSrc"/>
        <xs:attribute type="xs:string" name="MLegRptTyp"/>
        <xs:attribute type="xs:string" name="TrdHandlInst"/>
        <xs:attribute type="xs:string" name="VenuTyp"/>
        <xs:attribute type="xs:string" name="CnfmMeth"/>
        <xs:attribute type="xs:string" name="RegRptTyp"/>
        <xs:attribute type="xs:string" name="PackageID"/>
        <xs:attribute type="xs:string" name="RiskChkStat"/>
        <xs:attribute type="xs:string" name="RefRiskLmtChkID"/>
        <xs:attribute type="xs:positiveInteger" name="TotNumTrdRpts"/>
        <xs:attribute type="xs:string" name="DiffPx"/>
        <xs:attribute type="xs:string" name="VenuTrdSeq"/>
    </xs:complexType>
    <xs:element name="OrdAlloc">
        <xs:complexType>
            <xs:attribute type="xs:string" name="ClOrdID2"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllExc">
        <xs:complexType>
            <xs:attribute name="ExecID" type="xs:string"/>
            <xs:attribute name="ExecID2" type="xs:string"/>
            <xs:attribute name="TrdID" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Alloc">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="RegTrdID" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Pty" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="TrdID" type="xs:string"/>
            <xs:attribute name="Qty" type="xs:string" use="required"/>
            <xs:attribute name="IndAllocID" type="xs:string" use="required"/>
            <xs:attribute name="IndAllocID2" type="xs:string"/>
            <xs:attribute name="FirmMnem" type="xs:string"/>
            <xs:attribute name="RefRiskLmtChkID" type="xs:string"/>
            <xs:attribute name="RiskChkStat" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllocAck">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="RegTrdID" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Pty" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="TrdID" type="xs:string"/>
            <xs:attribute name="Qty" type="xs:string" use="required"/>
            <xs:attribute name="IndAllocID" type="xs:string" use="required"/>
            <xs:attribute name="IndAllocID2" type="xs:string"/>
            <xs:attribute name="FirmMnem" type="xs:string"/>
            <xs:attribute name="RefRiskLmtChkID" type="xs:string"/>
            <xs:attribute name="RiskChkStat" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Amt">
        <xs:complexType>
            <xs:attribute name="Typ" type="xs:string"/>
            <xs:attribute name="Amt" type="xs:string"/>
            <xs:attribute name="Ccy" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SecXML">
    </xs:element>

    <xs:element name="Instrmt">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AID" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="SecXML" minOccurs="0"/>
                <xs:element ref="Strm" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="ID" use="optional"/>
            <xs:attribute type="xs:string" name="SecTyp"/>
            <xs:attribute type="xs:string" name="SubTyp" use="optional"/>
            <xs:attribute type="xs:string" name="Exch"/>
            <xs:attribute type="xs:string" name="MMY" use="optional"/>
            <xs:attribute type="xs:string" name="CFI" use="optional"/>
            <xs:attribute type="xs:string" name="SwapClss" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AID">
        <xs:complexType>
            <xs:attribute type="xs:string" name="AltID"/>
            <xs:attribute type="xs:string" name="AltIDSrc"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TrdRegTS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="TS" use="optional"/>
                    <xs:attribute type="xs:string" name="Typ" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Sub">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="ID" use="optional"/>
                    <xs:attribute type="xs:string" name="Typ" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RptSide">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Pty" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="RegTrdID" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="TrdRegTS" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="TrdRptOrdDetl" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Side" use="optional"/>
            <xs:attribute type="xs:string" name="ClOrdID" use="optional"/>
            <xs:attribute type="xs:string" name="OrigTrdID" use="optional"/>
            <xs:attribute type="xs:string" name="InptSrc" use="optional"/>
            <xs:attribute type="xs:string" name="InptDev" use="optional"/>
            <xs:attribute type="xs:string" name="TrdID" use="optional"/>
            <xs:attribute type="xs:string" name="BlckTrdAllocInd" use="optional"/>
            <xs:attribute type="xs:string" name="RiskChkStat" use="optional"/>
            <xs:attribute type="xs:string" name="RefRiskLmtChkID" use="optional"/>
            <xs:attribute type="xs:string" name="AgrsrInd"/>
            <xs:attribute type="xs:string" name="CustOrdHdlInst"/>
            <xs:attribute type="xs:string" name="OrdTyp"/>
            <xs:attribute type="xs:string" name="VenuSpreadSeq"/>
            <xs:attribute type="xs:string" name="SideExecId"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TrdRptOrdDetl">
        <xs:complexType>
            <xs:attribute type="xs:string" name="ManOrdInd"/>
            <xs:attribute type="xs:string" name="StopPx"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Hdr">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="Snt"/>
                    <xs:attribute type="xs:string" name="SID"/>
                    <xs:attribute type="xs:string" name="SSub"/>
                    <xs:attribute type="xs:string" name="TID"/>
                    <xs:attribute type="xs:string" name="TSub"/>
                    <xs:attribute type="xs:string" name="TTyp"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Pty">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="Sub" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="R" use="optional"/>
            <xs:attribute type="xs:string" name="ID" use="optional"/>
            <xs:attribute type="xs:string" name="Src" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RegTrdID">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="ID" use="optional"/>
                    <xs:attribute type="xs:string" name="Typ" use="optional"/>
                    <xs:attribute type="xs:string" name="Src" use="optional"/>
                    <xs:attribute type="xs:string" name="Evnt" use="optional"/>
                    <xs:attribute type="xs:string" name="Scope" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Fixed">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="FutValNotl"/>
                    <xs:attribute type="xs:string" name="FutValDt"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PmtStrm">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Fixed"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Typ"/>
            <xs:attribute type="xs:string" name="AcrlDays"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Strm">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PmtStrm"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Typ"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
