src/main/resources/schemas/dtcc-8-0/OTC_Matching_8-0.xsd

<?xml version ="1.0" encoding = "UTF-8"?>
<xsd:schema targetNamespace="OTC_Matching_8-0" xmlns="OTC_Matching_8-0" xmlns:rm="OTC_RM_8-0" xmlns:fpml="http://www.fpml.org/2007/FpML-4-4"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fpml.org/2007/FpML-4-4
	/xmls/OTC/fpml-main-4-4.xsd" version="8-0_2010-01-13">
    <xsd:import namespace="http://www.fpml.org/2007/FpML-4-4" schemaLocation="/xmls/OTC/fpml-main-4-4.xsd" />
    <xsd:import namespace="OTC_RM_8-0" schemaLocation="OTC_RM_8-0.xsd" />
    <!-- CONFIDENTIAL AND PROPRIETARY
       Copyright (c) 2002-2010 The Depository Trust & Clearing Corporation.
       All rights reserved.
       By receipt and review of these materials, the recipient acknowledges and agrees that these materials are and shall remain, and be treated and maintained by any recipient, as confidential and as such may not be disclosed. Further, the recipient agrees that all copyright and other intellectual property rights in or relating to these materials are and shall remain the property of DTCC.
     -->
    <!-- Begin Level 1 =============================================-->
    <xsd:element name="OTC_Matching">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:element ref="Activity"/>
                <xsd:element ref="Status"/>
                <xsd:element ref="WarehouseState" minOccurs="0" maxOccurs="1"/>
                <xsd:choice>
                    <xsd:element ref="Trade"/>
                    <xsd:element ref="Backload"/>
                    <xsd:element ref="PostTrade"/>
                    <xsd:element ref="Exit"/>
                    <xsd:element ref="Error"/>
                    <xsd:element ref="Inquiry"/>
                    <xsd:element ref="Allocation"/>
                    <xsd:element ref="TRIChange"/>
                    <xsd:element ref="WorkflowUpdate"/>
                    <xsd:element ref="Payment"/>
                    <xsd:element ref="Settlement"/>
                    <xsd:element ref="EventProcessing"/>
                    <xsd:element ref="FeeAmendment"/>
                </xsd:choice>
                <xsd:element ref="DkDetail" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="WorkflowData" minOccurs="0" maxOccurs="4"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!-- End  Level 1 ===============================================-->
    <!-- Begin Level 2 ==============================================-->
    <xsd:element name="Trade">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:choice>
                    <xsd:sequence>
                        <xsd:element ref="fpml:FpML"/>
                        <xsd:element ref="fpml:bond" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="FloatingRateBondReference" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="MasterSupplementDate" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="PartyExecution" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="PartyContact" minOccurs="0" maxOccurs="2"/>
                    </xsd:sequence>
                    <xsd:element ref="TradeReferenceInfo"/>
                </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="ShortDefaults" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Backload">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:choice>
                    <xsd:sequence>
                        <xsd:element ref="fpml:FpML"/>
                        <xsd:element ref="BackloadEffectiveDate" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                    <xsd:element ref="TradeReferenceInfo"/>
                </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="ShortDefaults" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Exit">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:element ref="TradeReferenceInfo"/>
                <xsd:element ref="ExitMsg" minOccurs="0"/>
                <xsd:element ref="AdditionalMsg" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Error">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                    <xsd:element ref="ErrorMsgName"/>
                    <xsd:element ref="ErrorString"/>
                    <xsd:element ref="ErrorLocation"/>
                    <xsd:element ref="ErrorCode"/>
                </xsd:sequence>
                <xsd:element ref="ErrorDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Position">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:choice>
                    <xsd:sequence>
                        <xsd:choice>
                            <xsd:sequence>
                                <xsd:element ref="fpml:FpML"/>
                                <xsd:element ref="BackloadEffectiveDate" minOccurs="0" maxOccurs="1"/>
                            </xsd:sequence>
                            <xsd:element ref="NoTradeDetails" maxOccurs="1"/>
                        </xsd:choice>
                    </xsd:sequence>
                    <xsd:element ref="TradeReferenceInfo"/>
                </xsd:choice>
                <xsd:element ref="party" minOccurs="0" maxOccurs="2"/>
            </xsd:sequence>
            <xsd:attribute name="ShortDefaults" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Inquiry">
        <xsd:complexType>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element ref="SearchResult"/>
                        <xsd:sequence>
                            <xsd:element ref="SearchResultEnd"/>
                            <xsd:element ref="party" minOccurs="1" maxOccurs="1"/>
                        </xsd:sequence>
                        <xsd:element ref="party" minOccurs="1" maxOccurs="1"/>
                    </xsd:choice>
                </xsd:sequence>
                <xsd:element ref="Position"/>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Allocation">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:choice>
                    <xsd:sequence>
                        <xsd:element ref="fpml:FpML"/>
                        <xsd:element ref="fpml:bond" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="FloatingRateBondReference" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="MasterSupplementDate" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                    <xsd:element ref="TradeReferenceInfo"/>
                </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="ShortDefaults" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TRIChange">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:element ref="TradeReferenceInfo"/>
                <xsd:element ref="TRIChangeType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkflowUpdate">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:element ref="TradeReferenceInfo"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EventProcessing">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:element minOccurs="0" ref="EventName"/>
                <xsd:element minOccurs="0" ref="EventId"/>
                <xsd:element ref="EventType"/>
                <xsd:element ref="EventProcessingType"/>
                <xsd:choice>
                    <xsd:element ref="TradeReferenceInfo"/>
                    <xsd:element ref="fpml:FpML"/>
                </xsd:choice>
                <xsd:element minOccurs="0" ref="Amount"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Payment">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:element ref="PaymentDetails" minOccurs="0"/>
                <xsd:element ref="fpml:FpML"/>
                <xsd:element ref="OriginalAdjustedPaymentDate" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="OriginalUnadjustedPaymentDate" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Settlement">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:element ref="SettlementDetails" minOccurs="0"/>
                <xsd:element ref="fpml:FpML"/>
                <xsd:element ref="OriginalAdjustedPaymentDate" minOccurs="0"/>
                <xsd:element ref="OriginalUnadjustedPaymentDate" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FeeAmendment">
        <xsd:complexType mixed="false">
            <xsd:sequence>
                <xsd:choice>
                    <xsd:element ref="fpml:FpML"/>
                    <xsd:element ref="TradeReferenceInfo"/>
                </xsd:choice>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!-- End Level 2 ==============================================-->
    <!-- Begin Level 3+ ==============================================-->
    <xsd:element name="TradeReferenceInfo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:choice>
                    <xsd:sequence>
                        <xsd:element ref="Submitter"/>
                        <xsd:element ref="TriggeringParty" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="OldTradeId" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="ContraTradeId" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                    <xsd:element ref="BrokerTradeId"/>
                    <xsd:choice minOccurs="1" maxOccurs="3">
                        <xsd:element ref="YourTradeId"/>
                        <xsd:element ref="OldTradeId" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="ContraTradeId" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="TriggeringParty" minOccurs="0" maxOccurs="1"/>
                    </xsd:choice>
                </xsd:choice>
                <xsd:element ref="party" minOccurs="1" maxOccurs="2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!-- The sellerPartyReference and buyerPartyReference elements are for supporting Terminate.
    Terminate is deprecated as of version 3.0 Replaced with Termination -->
    <xsd:element name="sellerPartyReference">
        <xsd:complexType>
            <xsd:attribute name="href" type="xsd:IDREF" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="buyerPartyReference">
        <xsd:complexType>
            <xsd:attribute name="href" type="xsd:IDREF" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Assignment" substitutionGroup="PostTrade">
        <xsd:complexType mixed="false">
            <xsd:complexContent>
                <xsd:restriction base="PostTradeTransaction">
                    <xsd:sequence>
                        <xsd:choice>
                            <xsd:sequence>
                                <xsd:choice>
                                    <xsd:element ref="trade" minOccurs="1" maxOccurs="2"/>
                                    <xsd:sequence>
                                        <xsd:element ref="partyTradeIdentifier" minOccurs="1"
                                                     maxOccurs="1"/>
                                        <xsd:element ref="notionalSchedule" minOccurs="0"
                                                     maxOccurs="1"/>
                                        <xsd:element ref="trade" minOccurs="0" maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:choice>
                                <xsd:element ref="IrsAdditionalFields" minOccurs="0" maxOccurs="1"/>
                                <xsd:element ref="AssignmentProvisions"/>
                                <xsd:element ref="payment" minOccurs="0" maxOccurs="1"/>
                                <xsd:element ref="party" minOccurs="1" maxOccurs="4"/>
                            </xsd:sequence>
                            <xsd:element ref="TradeReferenceInfo"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssignmentProvisions" substitutionGroup="provisions">
        <xsd:complexType mixed="false">
            <xsd:complexContent>
                <xsd:extension base="Provisions">
                    <xsd:sequence>
                        <xsd:element ref="Transferor"/>
                        <xsd:element ref="Transferee"/>
                        <xsd:element ref="RemainingParty"/>
                        <xsd:element ref="RemainingPartyTwo" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="NovationTradeDate" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="NovationDate"/>
                        <xsd:element ref="NovatedAmount"/>
                        <xsd:element ref="FullFirstCalculationPeriod" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Termination" substitutionGroup="PostTrade">
        <xsd:complexType mixed="false">
            <xsd:complexContent>
                <xsd:restriction base="PostTradeTransaction">
                    <xsd:sequence>
                        <xsd:choice>
                            <xsd:sequence>
                                <xsd:choice>
                                    <xsd:element ref="trade" minOccurs="1" maxOccurs="1"/>
                                    <xsd:sequence>
                                        <xsd:element ref="partyTradeIdentifier" minOccurs="1"
                                                     maxOccurs="1"/>
                                        <xsd:element ref="notionalSchedule" minOccurs="0"
                                                     maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:choice>
                                <xsd:element ref="IrsAdditionalFields" minOccurs="0" maxOccurs="1"/>
                                <xsd:element ref="TerminationProvisions"/>
                                <xsd:element ref="payment" minOccurs="0" maxOccurs="1"/>
                                <xsd:element ref="party" minOccurs="1" maxOccurs="2"/>
                            </xsd:sequence>
                            <xsd:element ref="TradeReferenceInfo"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TerminationProvisions" substitutionGroup="provisions">
        <xsd:complexType mixed="false">
            <xsd:complexContent>
                <xsd:extension base="Provisions">
                    <xsd:sequence>
                        <xsd:element ref="TerminationTradeDate"/>
                        <xsd:element ref="TerminationEffectiveDate"/>
                        <xsd:choice>
                            <xsd:element ref="Full"/>
                            <xsd:element ref="Partial"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Increase" substitutionGroup="PostTrade">
        <xsd:complexType mixed="false">
            <xsd:complexContent>
                <xsd:restriction base="PostTradeTransaction">
                    <xsd:sequence>
                        <xsd:choice>
                            <xsd:sequence>
                                <xsd:choice>
                                    <xsd:element ref="trade" minOccurs="1" maxOccurs="1"/>
                                    <xsd:sequence>
                                        <xsd:element ref="partyTradeIdentifier" minOccurs="1"
                                                     maxOccurs="1"/>
                                        <xsd:element ref="notionalSchedule" minOccurs="0"
                                                     maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:choice>
                                <xsd:element ref="IrsAdditionalFields" minOccurs="0" maxOccurs="1"/>
                                <xsd:element ref="IncreaseProvisions"/>
                                <xsd:element ref="payment" minOccurs="0" maxOccurs="1"/>
                                <xsd:element ref="party" minOccurs="1" maxOccurs="2"/>
                            </xsd:sequence>
                            <xsd:element ref="TradeReferenceInfo"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IncreaseProvisions" substitutionGroup="provisions">
        <xsd:complexType mixed="false">
            <xsd:complexContent>
                <xsd:extension base="Provisions">
                    <xsd:sequence>
                        <xsd:element ref="IncreaseTradeDate"/>
                        <xsd:element ref="IncreaseEffectiveDate"/>
                        <xsd:choice>
                            <xsd:sequence>
                                <xsd:element ref="IncreaseInNotionalAmount"/>
                                <xsd:element ref="OutstandingNotionalAmount" minOccurs="0"
                                             maxOccurs="1"/>
                            </xsd:sequence>
                            <xsd:sequence>
                                <xsd:element ref="IncreaseInNumberOfOptions"/>
                                <xsd:element ref="OutstandingNumberOfOptions"/>
                            </xsd:sequence>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Amendment" substitutionGroup="PostTrade">
        <xsd:complexType mixed="false">
            <xsd:complexContent>
                <xsd:restriction base="PostTradeTransaction">
                    <xsd:sequence>
                        <xsd:choice>
                            <xsd:sequence>
                                <xsd:element ref="trade" minOccurs="1" maxOccurs="1"/>
                                <xsd:element ref="IrsAdditionalFields" minOccurs="0" maxOccurs="1"/>
                                <xsd:element ref="AmendmentProvisions"/>
                                <xsd:element ref="payment" minOccurs="0" maxOccurs="1"/>
                                <xsd:element ref="party" minOccurs="1" maxOccurs="2"/>
                            </xsd:sequence>
                            <xsd:element ref="TradeReferenceInfo"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AmendmentProvisions" substitutionGroup="provisions">
        <xsd:complexType mixed="false">
            <xsd:complexContent>
                <xsd:extension base="Provisions">
                    <xsd:sequence>
                        <xsd:element ref="AmendmentTradeDate"/>
                        <xsd:element ref="AmendmentEffectiveDate"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Partial">
        <xsd:complexType>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element ref="DecreaseInNotionalAmount"/>
                    <xsd:element ref="OutstandingNotionalAmount" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element ref="DecreaseInNumberOfOptions"/>
                    <xsd:element ref="OutstandingNumberOfOptions"/>
                </xsd:sequence>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DkDetail">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="DkReason"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchResult">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="rm:OTC_RM"/>
                <xsd:element ref="OTC_Matching"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PartyExecution">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="partyContactReference" minOccurs="2" maxOccurs="2"/>
                <xsd:element ref="executionMethod"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PartyContact">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="partyReference"/>
                <xsd:element ref="contactName"/>
                <xsd:element ref="deskId" minOccurs="0"/>
                <xsd:element ref="contactLocation" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WarehouseState">
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="1">
                <xsd:element ref="WarehouseStatus"/>
                <xsd:element ref="WarehouseStatusReason" minOccurs="0" maxOccurs="2"/>
                <xsd:element ref="WarehouseCurrentStateNotional" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkflowData">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="WorkflowTransType" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="PartyWorkflowFields" minOccurs="0" maxOccurs="2"/>
                <xsd:element ref="ContraWorkflowFields" minOccurs="0" maxOccurs="2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!-- End Level 3+ ============================================-->
    <!-- Begin simple element name type declarations ======================= -->
    <xsd:element name="Activity" type="ActivityDataType"/>
    <xsd:element name="AdditionalMsg" type="AlphaNumeric255DataType"/>
    <xsd:element name="ContraTradeId" type="TradeIdDataType"/>
    <xsd:element name="DTCCAdditionalTerms" type="ChoiceYorNDataType"/>
    <xsd:element name="ErrorDetail" type="FreeFormDataType"/>
    <xsd:element name="ErrorMsgName" type="AlphaNumeric74DataType"/>
    <xsd:element name="ErrorString" type="xsd:string"/>
    <xsd:element name="ErrorLocation" type="XPathDataType"/>
    <xsd:element name="ErrorCode" type="ErrorCodeDataType"/>
    <xsd:element name="ExitMsg" type="ExitMsgDataType"/>
    <xsd:element name="party" type="fpml:Party"/>
    <xsd:element name="partyTradeIdentifier" type="fpml:PartyTradeIdentifier"/>
    <xsd:element name="Status" type="StatusDataType"/>
    <xsd:element name="Submitter" type="TradeIdDataType"/>
    <xsd:element name="YourTradeId" type="TradeIdDataType"/>
    <xsd:element name="DkReason" type="xsd:string"/>
    <xsd:element name="MasterSupplementDate" type="xsd:date"/>
    <xsd:element name="PostTrade" type="PostTradeTransaction"/>
    <xsd:element name="payment" type="fpml:Payment"/>
    <xsd:element name="provisions" type="Provisions"/>
    <xsd:element name="trade" type="fpml:Trade"/>
    <xsd:element name="NovationDate" type="xsd:date"/>
    <xsd:element name="NovatedAmount" type="fpml:Money"/>
    <xsd:element name="FullFirstCalculationPeriod" type="ApplicableOrNot"/>
    <xsd:element name="Transferor" type="fpml:PartyOrTradeSideReference"/>
    <xsd:element name="Transferee" type="fpml:PartyOrTradeSideReference"/>
    <xsd:element name="RemainingParty" type="fpml:PartyOrTradeSideReference"/>
    <xsd:element name="RemainingPartyTwo" type="fpml:PartyOrTradeSideReference"/>
    <xsd:element name="Full" type="fpml:Empty"/>
    <xsd:element name="TerminationTradeDate" type="xsd:date"/>
    <xsd:element name="TerminationEffectiveDate" type="xsd:date"/>
    <xsd:element name="DecreaseInNotionalAmount" type="fpml:Money"/>
    <xsd:element name="OutstandingNotionalAmount" type="fpml:Money"/>
    <xsd:element name="DecreaseInNumberOfOptions" type="xsd:decimal"/>
    <xsd:element name="OutstandingNumberOfOptions" type="xsd:decimal"/>
    <xsd:element name="IncreaseTradeDate" type="xsd:date"/>
    <xsd:element name="IncreaseEffectiveDate" type="xsd:date"/>
    <xsd:element name="IncreaseInNotionalAmount" type="fpml:Money"/>
    <xsd:element name="IncreaseInNumberOfOptions" type="xsd:decimal"/>
    <xsd:element name="AmendmentTradeDate" type="xsd:date"/>
    <xsd:element name="AmendmentEffectiveDate" type="xsd:date"/>
    <xsd:element name="SearchResultEnd" type="xsd:integer"/>
    <xsd:element name="FloatingRateBondReference" type="fpml:Bond"/>
    <xsd:element name="partyReference" type="fpml:PartyOrTradeSideReference"/>
    <xsd:element name="partyContactReference" type="fpml:PartyOrTradeSideReference"/>
    <xsd:element name="executionMethod" type="ExecutionMethodEnum"/>
    <xsd:element name="contactName" type="xsd:string"/>
    <xsd:element name="contactLocation" type="xsd:string"/>
    <xsd:element name="BrokerTradeId" type="TradeIdDataType"/>
    <xsd:element name="OldTradeId" type="TradeIdDataType"/>
    <xsd:element name="NovationTradeDate" type="xsd:date"/>
    <xsd:element name="notionalSchedule" type="fpml:Notional"/>
    <xsd:element name="annexDate" type="xsd:date"/>
    <xsd:element name="tranche" type="fpml:Tranche"/>
    <xsd:element name="BackloadEffectiveDate" type="xsd:date"/>
    <xsd:element name="WarehouseStatus" type="WarehouseStatusEnum"/>
    <xsd:element name="TRIChangeType" type="TRIChangeEnum"/>
    <xsd:element name="EventProcessingType" type="EventProcessingEnum"/>
    <xsd:element name="EventName" type="xsd:string"/>
    <xsd:element name="EventId" type="xsd:string"/>
    <xsd:element name="EventType" type="EventTypeEnum"/>
    <xsd:element name="WarehouseStatusReason" type="WarehouseStatusReasonEnum"/>
    <xsd:element name="WarehouseCurrentStateNotional" type="WarehouseNotionalType"/>
    <xsd:element name="currency" type="fpml:Currency"/>
    <xsd:element name="amount" type="xsd:decimal"/>
    <xsd:element name="asOfDate" type="xsd:date"/>
    <xsd:element name="comment" type="WorkflowFieldType"/>
    <xsd:element name="deskId" type="WorkflowFieldType"/>
    <xsd:element name="superId" type="WorkflowFieldType"/>
    <xsd:element name="designatedParty" type="WorkflowFieldType"/>
    <xsd:element name="eTradeId" type="WorkflowFieldType"/>
    <xsd:element name="brokerName" type="WorkflowFieldType"/>
    <xsd:element name="WorkflowTransType" type="rm:TransTypeDataType"/>
    <xsd:element name="PartyWorkflowFields" type="WorkflowDataType"/>
    <xsd:element name="ContraWorkflowFields" type="ContraWorkflowDataType"/>
    <xsd:element name="productStub" type="ProductStub" substitutionGroup="fpml:product"/>
    <xsd:element name="productTerms" type="ProductTerms"/>
    <xsd:element name="creditDerivativeTieOut" type="CreditDerivativeTieOut"
                 substitutionGroup="fpml:product"/>
    <xsd:element name="OriginalAdjustedPaymentDate" type="xsd:date"/>
    <xsd:element name="OriginalUnadjustedPaymentDate" type="xsd:date"/>
    <xsd:element name="PaymentTransType" type="rm:TransTypeDataType"/>
    <xsd:element name="SettlementDetails" type="RecordDetailsType"/>
    <xsd:element name="RecordType" type="RecordTypeEnum"/>
    <xsd:element name="RecordQualifier" type="RecordQualifierEnum"/>
    <xsd:element name="RecordQualifierReason" type="RecordQualifierReasonEnum"/>
    <xsd:element name="RecordSequence" type="RecordSequenceType"/>
    <xsd:element name="CurrentRecord" type="xsd:positiveInteger"/>
    <xsd:element name="TotalRecords" type="xsd:positiveInteger"/>
    <xsd:element name="Reason" type="InquiryReasonDataType"/>
    <xsd:element name="ReasonDate" type="xsd:date"/>
    <xsd:element name="NewTradeId" type="TradeIdDataType"/>
    <xsd:element name="NoTradeDetails" type="NoTradeDetailsDataType"/>
    <xsd:element name="PaymentDetails" type="PaymentDetailsType"/>
    <xsd:element name="PaymentActivity"  type="PaymentActivityType"/>
    <xsd:element name="SettlementType" type="SettlementTypeType"/>
    <xsd:element name="Amount" type="fpml:Money"/>
    <xsd:element name="TriggeringParty" type="TradeIdDataType"/>


    <!-- End simple element name type declarations ===================== -->
    <!-- Begin custom element datatype declarations ==================== -->
    <xsd:simpleType name="AlphaNumeric10DataType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,10}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ActivityDataType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Cancel"/>
            <xsd:enumeration value="Disable"/>
            <xsd:enumeration value="Modify"/>
            <xsd:enumeration value="New"/>
            <xsd:enumeration value="Inquiry"/>
            <xsd:enumeration value="Reversal"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AlphaNumeric255DataType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9A-Za-z*@# .,'/~\-]{0,255}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ChoiceYorNDataType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AlphaNumeric74DataType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9]{0,74}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ErrorCodeDataType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z][0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ExitMsgDataType">
        <xsd:annotation>
            <xsd:documentation>
                "1" Novation Outside DTCC
                "2" Partial Termination Outside DTCC
                "3" Additional Documents Outside DTCC
                "4" Other
                "5" Automatic Credit Event Exit
                "6" Automatic Successor Event Exit
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="WarehouseStatusEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Alleged"/>
            <xsd:enumeration value="Certain"/>
            <xsd:enumeration value="Uncertain"/>
            <xsd:enumeration value="Unconfirmed"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="WarehouseStatusReasonEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="UnconfirmedPTE"/>
            <xsd:enumeration value="IllogicalNotional"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="WarehouseNotionalType">
        <xsd:sequence>
            <xsd:element ref="currency"/>
            <xsd:element ref="amount"/>
            <xsd:element ref="asOfDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="TRIChangeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Rename"/>
            <xsd:enumeration value="Swap"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="EventProcessingEnum">
        <xsd:restriction base="xsd:string">
            <!-- Adherence Events -->
            <xsd:enumeration value="Adherence"/>
            <xsd:enumeration value="Unadherence"/>
            <xsd:enumeration value="CEN"/>
            <xsd:enumeration value="NotifyCEN"/>
            <xsd:enumeration value="Movement"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="EventTypeEnum">
        <xsd:restriction base="xsd:string">
            <!-- Adherence Events -->
            <xsd:enumeration value="CreditEvent"/>
            <xsd:enumeration value="Reorganization"/>
            <xsd:enumeration value="Rename"/>
            <xsd:enumeration value="AccountSwing"/>
            <xsd:enumeration value="BulkNovation"/>
            <xsd:enumeration value="Restructuring"/>
            <xsd:enumeration value="OldRestructuring"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="WorkflowDataType">
        <xsd:sequence>
            <xsd:element ref="comment" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="superId" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="deskId" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="eTradeId" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="designatedParty" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="brokerName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="trade" type="FieldDataEnum"/>
    </xsd:complexType>
    <xsd:complexType name="ContraWorkflowDataType">
        <xsd:complexContent>
            <xsd:restriction base="WorkflowDataType">
                <xsd:sequence>
                    <xsd:element ref="superId" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="deskId" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="eTradeId" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="designatedParty" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="brokerName" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attribute name="trade" type="FieldDataEnum"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WorkflowFieldType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="action" type="FieldActionEnum"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="FieldDataEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="OldTransaction"/>
            <xsd:enumeration value="NewTransaction"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FieldActionEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Erase"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="RecordDetailsType">
        <xsd:sequence>
            <xsd:element ref="RecordType"/>
            <xsd:element ref="RecordQualifier"/>
            <xsd:element ref="RecordQualifierReason" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="RecordSequence" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentDetailsType">
        <xsd:sequence>
            <xsd:element ref="PaymentActivity"/>
            <xsd:element ref="SettlementType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SettlementTypeType">
        <xsd:simpleContent>
            <xsd:extension base="SettlementTypeEnum">
                <xsd:attribute name="valueType" type="ValueTypeEnum"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType  name="PaymentActivityType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="New"/>
            <xsd:enumeration value="Reversal"/>
            <xsd:enumeration value="Cancel"/>
            <xsd:enumeration value="Update"/>
            <xsd:enumeration value="Cancel-Update"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="PaymentActivityEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Repost"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="SettlementTypeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CentralSettlement"/>
            <xsd:enumeration value="NotCentralSettlement"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ValueTypeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="new"/>
            <xsd:enumeration value="old"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RecordTypeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Gross"/>
            <xsd:enumeration value="Net"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RecordQualifierEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="S-5"/>
            <xsd:enumeration value="S-4"/>
            <xsd:enumeration value="S-3"/>
            <xsd:enumeration value="S-2"/>
            <xsd:enumeration value="S-1"/>
            <xsd:enumeration value="IPIS"/>
            <xsd:enumeration value="RPIS"/>
            <xsd:enumeration value="OutsideTIW"/>
            <xsd:enumeration value="Settled"/>
            <xsd:enumeration value="ProposedReject"/>
            <xsd:enumeration value="FailedSettlement"/>
            <xsd:enumeration value="Final"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RecordQualifierReasonEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DTCCRescinded"/>
            <xsd:enumeration value="CLSRescinded"/>
            <xsd:enumeration value="Rejected"/>
            <xsd:enumeration value="Invalid"/>
            <xsd:enumeration value="Suspended"/>
            <xsd:enumeration value="SuspendedRegulatory"/>
            <xsd:enumeration value="SMNotAuthorized"/>
            <xsd:enumeration value="CLSAmended"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="RecordSequenceType">
        <xsd:sequence>
            <xsd:element ref="CurrentRecord"/>
            <xsd:element ref="TotalRecords"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="IrsAdditionalFieldsGroup">
        <xsd:sequence>
            <xsd:element ref="fpml:bond" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="FloatingRateBondReference" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="MasterSupplementDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:element name="IrsAdditionalFields">
        <xsd:complexType mixed="false">
            <xsd:group ref="IrsAdditionalFieldsGroup"/>
            <xsd:attribute name="ShortDefaults" type="xsd:boolean"/>
            <xsd:attribute name="href" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="FreeFormDataType" mixed="true">
        <xsd:sequence>
            <xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
    </xsd:complexType>
    <xsd:simpleType name="StatusDataType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Alleged"/>
            <xsd:enumeration value="Cancel-Alleged"/>
            <xsd:enumeration value="Confirmed"/>
            <xsd:enumeration value="DK"/>
            <xsd:enumeration value="DKAcknowledged"/>
            <xsd:enumeration value="Error"/>
            <xsd:enumeration value="Submit"/>
            <xsd:enumeration value="Unconfirmed"/>
            <xsd:enumeration value="Matched"/>
            <xsd:enumeration value="Pending"/>
            <xsd:enumeration value="Viewed"/>
            <xsd:enumeration value="Queried"/>
            <xsd:enumeration value="Accepted"/>
            <xsd:enumeration value="Done"/>
            <xsd:enumeration value="Pending-Alleged"/>
            <xsd:enumeration value="YourTRIChanged"/>
            <xsd:enumeration value="ContraTRIChanged"/>
            <xsd:enumeration value="Updated"/>
            <xsd:enumeration value="ContraUpdated"/>
            <xsd:enumeration value="Auto"/>
            <xsd:enumeration value="NoCalc-Auto"/>
            <xsd:enumeration value="NoCalc-Manual"/>
            <xsd:enumeration value="Projected"/>
            <xsd:enumeration value="Locked"/>
            <xsd:enumeration value="Settled"/>
            <xsd:enumeration value="ProposedReject"/>
            <xsd:enumeration value="FailedSettlement"/>
            <xsd:enumeration value="Received" />
            <xsd:enumeration value="Delivered" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TradeIdDataType" mixed="false">
        <xsd:sequence>
            <xsd:element ref="partyTradeIdentifier" maxOccurs="3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XPathDataType" mixed="true">
        <xsd:sequence>
            <xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
    </xsd:complexType>
    <xsd:simpleType name="ApplicableOrNot">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Applicable"/>
            <xsd:enumeration value="NotApplicable"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="PostTradeTransaction" abstract="true">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element ref="trade" minOccurs="1" maxOccurs="2"/>
                        <xsd:sequence>
                            <xsd:element ref="partyTradeIdentifier" minOccurs="1" maxOccurs="1"/>
                            <xsd:element ref="notionalSchedule" minOccurs="0" maxOccurs="1"/>
                            <xsd:element ref="trade" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:choice>
                    <xsd:element ref="IrsAdditionalFields" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="provisions" minOccurs="1" maxOccurs="1"/>
                    <xsd:element ref="payment" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="party" minOccurs="1" maxOccurs="4"/>
                </xsd:sequence>
                <xsd:element ref="TradeReferenceInfo"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Provisions" abstract="true"> </xsd:complexType>
    <xsd:simpleType name="ExecutionMethodEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="V"/>
            <xsd:enumeration value="E"/>
            <xsd:enumeration value="F"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- ProductStub is never to be used in actual messages. It is for illustration purposes
        only, to illustrate the messaging architecture without tying the samples to a specific product.-->
    <xsd:complexType name="ProductStub">
        <xsd:complexContent>
            <xsd:extension base="fpml:Product"> </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ProductTerms">
        <xsd:sequence>
            <xsd:element ref="annexDate" minOccurs="0"/>
            <xsd:element ref="tranche" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreditDerivativeTieOut">
        <xsd:complexContent>
            <xsd:extension base="fpml:CreditDefaultSwap">
                <xsd:sequence>
                    <xsd:element ref="productTerms" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="CreditDerivativeTieOutType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CreditDefaultSwapShort"/>
            <xsd:enumeration value="CreditDefaultSwapIndex"/>
            <xsd:enumeration value="CreditDefaultSwapIndexTranche"/>
            <xsd:enumeration value="CreditDefaultSwapOnLoan"/>
            <xsd:enumeration value="CreditDefaultSwapOnABS"/>
            <xsd:enumeration value="CreditDefaultSwapOnRMBS"/>
            <xsd:enumeration value="CreditDefaultSwapOnCMBS"/>
            <xsd:enumeration value="CreditDefaultCDO"/>
            <xsd:enumeration value="CreditDefaultCDOSquared"/>
            <xsd:enumeration value="CreditDefaultSwaption"/>
            <xsd:enumeration value="CreditDefaultSwapRecoveryLock"/>
            <xsd:enumeration value="CreditDefaultSwapBespokeTranche"/>
            <xsd:enumeration value="CreditDefaultSwapDigital"/>
            <xsd:enumeration value="Other"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="InquiryReasonDataType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DTCC TRI not found"/>
            <xsd:enumeration value="Reached Scheduled Termination Date"/>
            <xsd:enumeration value="Fully Assigned"/>
            <xsd:enumeration value="Terminated"/>
            <xsd:enumeration value="Exited"/>
            <xsd:enumeration value="TRI re-named"/>
            <xsd:enumeration value="Disabled Trade"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="NoTradeDetailsDataType">
        <xsd:sequence>
            <xsd:choice minOccurs="1" maxOccurs="2">
                <xsd:element ref="YourTradeId"/>
                <xsd:element ref="ContraTradeId"/>
            </xsd:choice>
            <xsd:element ref="Reason"/>
            <xsd:element ref="ReasonDate"/>
            <xsd:element ref="NewTradeId" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
