rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-volatility-swaps-5-13.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
  == Copyright (c) 2022-2023 All rights reserved. 
  == Financial Products Markup Language is subject to the FpML public license. 
  == A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/confirmation" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:fpml-annotation="http://www.fpml.org/annotation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fpml.org/FpML-5/confirmation" ecore:documentRoot="FpML" ecore:nsPrefix="conf" ecore:package="org.fpml.confirmation" version="$Revision: 11940 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-eqd-5-13.xsd" />
  <xsd:complexType name="Volatility">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Under 2002 Definitions, When entering into the Transaction, the parties should specify whether, for purposes of determining the initial Share price, they are agreeing to (a) a specific initial price (in which case, the initialLevel element should be populated with the price) or (b) use the price of a Share at the close of the regular trading session on the Trade Date (in which case the closingLevel element should be populated as true) or (c) in the case of a forward starting transaction only, use the Official Settlement Price of the Expiring Contract on the Observation Start Date (in which case expiring Level element should be populated as true). Under 2011 definitions, When entering into the Transaction, the parties should specify whether, for purposes of determining the OPSD Pricing Election, they are agreeing to (a) an agreed price (in which case, the initialLevel element should be populated with the price) or (b) use the Index Close Pricing (Official), (in which case closingLevel element should be populated as true) or (c) use OSP Pricing (in which case the initialLevelSource element should be populated with “OSPPrice”).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CalculationFromObservation">
        <xsd:sequence>
          <xsd:element name="volatilityCap" type="VolatilityCap">
            <xsd:annotation>
              <xsd:documentation>Volatility Cap needs to be specified in accordance with the ISDA 2011 Equity Derivatives Definitions.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="volatilityStrikePrice" type="NonNegativeDecimal">
            <xsd:annotation>
              <xsd:documentation>Volatility Strike Price in accordance with the ISDA 2011 Equity Derivatives Definitions.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="vegaNotionalAmount" type="xsd:decimal">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Vega Notional represents the approximate gain/loss at maturity for a 1% difference between RVol(realised vol) and KVol (strike vol). It does not necessarily represent the Vega Risk of the trade. Volatility Amount means the Vega Notional Amount. In accordance with the ISDA 2002 and 2011 Equity Derivatives Definitions.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VolatilityAmount">
    <xsd:complexContent>
      <xsd:extension base="CalculatedAmount">
        <xsd:sequence>
          <xsd:element name="volatility" type="Volatility">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies Volatility.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VolatilityCap">
    <xsd:sequence>
      <xsd:element name="applicable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates whether the volatility cap is applicable in accordance with the ISDA 2011 Equity Derivatives Definitions. Setting the element 'applicable' to 'False' - means No Volatility Cap and no 'totalVolatilityCap' or 'volatilityCapFactor' should be provided. Setting the element 'applicable' to 'True' - means Volatility Cap election, then 'totalVolatilityCap' or 'volatilityCapFactor' should be provided, otherwise it defaults to volatilityCapFactor=2.5.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">If volatilityCap is not populated or false totalVolatilityCap and/or volatilityCapFactor should not be populated. If volatilityCap is true, specify either totalVolatilityCap OR volatilityCapFactor OR neither on inbound messages. The totalVolatilityCap OR volatilityCapFactor needs to be on inbound, but both can be populated on outbound MSG.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="totalVolatilityCap" type="PositiveDecimal">
          <xsd:annotation>
            <xsd:documentation>Volatility Cap Amount in accordance with the ISDA 2011 Equity Derivatives Definitions. This means the Volatility Cap Amount election is a number.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:sequence>
          <xsd:element name="volatilityCapFactor" type="PositiveDecimal">
            <xsd:annotation>
              <xsd:documentation>Volatility Cap Factor in accordance with the ISDA 2011 Equity Derivatives Definitions. This means the Volatility Cap Amount election is Calculated VolCapAmt ('volatilityCapFactor' * 'volatilityStrikePrice'). By specifying a decimal for 'volatilityCapFactor', means the default value of 2.5 does not apply.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="totalVolatilityCap" type="PositiveDecimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Volatility Cap Amount in accordance with the ISDA 2011 Equity Derivatives Definitions. The Calculated VolCapAmt can be optionally provided.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VolatilityLeg">
    <xsd:complexContent>
      <xsd:extension base="DirectionalLegUnderlyerValuation">
        <xsd:sequence>
          <xsd:element name="amount" type="VolatilityAmount">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies, in relation to each Equity Payment Date, the amount to which the Equity Payment Date relates. Unless otherwise specified, this term has the meaning defined in the ISDA 2011 and 2002 Equity Derivatives Definitions.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VolatilitySwap">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A Volatility Swap.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NettedSwapBase">
        <xsd:sequence>
          <xsd:element name="volatilityLeg" type="VolatilityLeg" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VolatilitySwapTransactionSupplement">
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:element name="volatilityLeg" type="VolatilityLeg" maxOccurs="unbounded" />
          <xsd:group ref="EquityUnderlyerProvisions.model" minOccurs="0"></xsd:group>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="volatilitySwap" type="VolatilitySwap" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies the structure of a volatility swap.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="volatilitySwapTransactionSupplement" type="VolatilitySwapTransactionSupplement" substitutionGroup="product" />
</xsd:schema>

