rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-generic-5-13.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
        == Copyright (c) 2022-2023 All rights reserved. 
        == Financial Products Markup Language is subject to the FpML public license. 
        == A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/confirmation" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:fpml-annotation="http://www.fpml.org/annotation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fpml.org/FpML-5/confirmation" ecore:documentRoot="FpML" ecore:nsPrefix="conf" ecore:package="org.fpml.confirmation" version="$Revision: 14720 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">Generic products - for use in Transparency reporting to define a product that represents an OTC derivative transaction whose economics are not fully described using an FpML schema. In other views, generic products are present for convenience to support internal messaging and workflows that are cross-product. Generic products are not full trade representations as such they are not intended to be used for confirming trades.</xsd:documentation>
  </xsd:annotation>
  <xsd:include schemaLocation="fpml-cd-5-13.xsd" />
  <xsd:include schemaLocation="fpml-com-5-13.xsd" />
  <xsd:include schemaLocation="fpml-fx-5-13.xsd" />
  <xsd:include schemaLocation="fpml-eq-shared-5-13.xsd" />
  <xsd:complexType name="GenericCommodityDeliveryPeriod">
    <xsd:annotation>
      <xsd:documentation xml:lang="en" />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="applicableDay" type="DayOfWeekExtEnum" maxOccurs="7">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the Applicable Day with respect to a range of Settlement Periods.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="startTime" type="OffsetPrevailingTime">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Specifies the hour-ending Start Time with respect to a range of Settlement Periods.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="endTime" type="OffsetPrevailingTime">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Specifies the hour-ending End Time with respect to a range of Settlement Periods. If neither startTime nor endTime contain an offset element and endTime is earlier than startTime, this indicates that the time period "wraps around" midnight. For example, if startTime is 23:00 and endTime is 01:00 then Settlement Periods apply from 00:00 to 01:00 and 23:00 to 00:00 on each included day.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenericCommodityGrade">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A flexible description of the type or characteristics of a commodity grade</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="commodityGradeScheme" type="NonEmptyURI">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The type scheme used with this commodity grade.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GenericExerciseStyle">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The data type used to hold the exercise style description of an option in a generic product (e.g. American, European, Bermudan).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="exerciseStyleScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/generic-exercise-style">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The value scheme used with this property.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GenericFrequency">
    <xsd:complexContent>
      <xsd:extension base="Frequency">
        <xsd:choice minOccurs="0">
          <xsd:element name="payerPartyReference" type="PartyReference" />
          <xsd:element name="underlyerReference" type="UnderlyerReference" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GenericProduct">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Simple product representation providing key information about a variety of different products. Generic products - for use in Transparency reporting to define a product that represents an OTC derivative transaction whose economics are not fully described using an FpML schema. In other views, generic products are present for convenience to support internal messaging and workflows that are cross-product. Generic products are not full trade representations as such they are not intended to be used for confirming trades.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:element name="multiLeg" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Indicates whether this transaction has multiple components, not all of which may be reported. The use of this field is not recommended, and it may be deprecated in a future version of this standard.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice minOccurs="0">
            <xsd:group ref="BuyerSeller.model">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The buying and selling party for the product. This is commonly used for options, but may also be used for other products.</xsd:documentation>
              </xsd:annotation>
            </xsd:group>
            <xsd:element name="counterpartyReference" type="PartyReference" minOccurs="0" maxOccurs="2" />
          </xsd:choice>
          <xsd:element name="premium" type="SimplePayment" minOccurs="0" />
          <xsd:element name="effectiveDate" type="AdjustableDate2">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The earliest of all the effective dates of all constituent streams.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="expirationDate" type="AdjustableDate2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">For options, the last exercise date of the option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="terminationDate" type="AdjustableDate2">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The latest of all of the termination (accrual end) dates of the constituent or underlying streams.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="underlyer" type="TradeUnderlyer2" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The set of underlyers to the trade that can be used in computing the trade's cashflows. If this information is needed to identify the trade, all of the trade's underlyers should be specified, whether or not they figure into the cashflow calculation. Otherwise, only those underlyers used to compute this particular cashflow need be supplied.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="notional" type="CashflowNotional" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The notional or notionals in effect on the reporting date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="GenericCommodityAttributes.model" minOccurs="0" />
          <xsd:group ref="GenericEquityAttributes.model" minOccurs="0" />
          <xsd:group ref="GenericOptionAttributes.model" minOccurs="0" />
          <xsd:element name="paymentFrequency" type="GenericFrequency" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="resetFrequency" type="GenericResetFrequency" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="settlementCurrency" type="IdentifiedCurrency" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The currency or currencies in which the product can settle.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="settlementType" type="SettlementTypeEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">How the trade settles (cash or physical). This element is also used for CFTC the "Delivery Type" field.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="additionalPayment" type="Payment" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Additional payments between the principal parties.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GenericProductExchangeRate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that is used for describing the exchange rate for a particular transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="quotedCurrencyPair" type="GenericProductQuotedCurrencyPair">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the two currencies for an FX trade and the quotation relationship between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rate" type="PositiveDecimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The rate of exchange between the two currencies of the leg of a deal. Must be specified with a quote basis.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="spotRate" type="PositiveDecimal">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">An element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair. For barrier and digital/binary options, it can be useful to include the spot rate at the time the option was executed to make it easier to know whether the option needs to move "up" or "down" to be triggered.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:sequence minOccurs="0">
          <xsd:element name="forwardPoints" type="xsd:decimal">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An optional element used for deals consumated in the FX Forwards market. Forward points represent the interest rate differential between the two currencies traded and are quoted as a preminum or a discount. Forward points are added to, or subtracted from, the spot rate to create the rate of the forward trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pointValue" type="PointValue" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An optional element that documents the size of point (pip) in which a rate was quoted (or in this case, forwardPoints are calculated). Point (pip) size varies by currency pair: major currencies are all traded in points of 0.0001, with the exception of JPY which has a point size of 0.01.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:sequence>
      <xsd:element name="crossRate" type="CrossRate" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An optional element that allow for definition of the currency exchange rates used to cross between the traded currencies for non-base currency FX contracts.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenericProductFeature">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A flexible description a special feature or characteristic of a complex product not otherwise modeled, such as digital payout.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="featureScheme" type="NonEmptyURI">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">A feature included as part of this product.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GenericProductQuotedCurrencyPair">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that describes the composition of a rate that has been quoted or is to be quoted. This includes the two currencies and the quotation relationship between the two currencies and is used as a building block throughout the FX specification.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="currency1" type="Currency">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The first currency specified when a pair of currencies is to be evaluated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="currency2" type="Currency">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The second currency specified when a pair of currencies is to be evaluated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quoteBasis" type="QuoteBasisEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The method by which the exchange rate is quoted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenericOptionStrike">
    <xsd:complexContent>
      <xsd:extension base="EquityStrike">
        <xsd:sequence>
          <xsd:element name="units" type="NormalizedString">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The units in which an amount (not monetary) is denominated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GenericResetFrequency">
    <xsd:complexContent>
      <xsd:extension base="Frequency">
        <xsd:sequence>
          <xsd:element name="underlyerReference" type="UnderlyerReference" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OptionType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The type of option transaction (e.g. Call, Put); specifies whether the option allows the holder to buy or sell the underlying asset, or pay or receive a payment related to the price of underlying asset, in the event of exercise.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="optionTypeScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/option-type">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The type scheme used with this option type.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TradeUnderlyer2">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The underlying asset/index/reference price etc. whose rate/price may be observed to compute the value of the cashflow. It can be an index, fixed rate, listed security, quoted currency pair, or a reference entity (for credit derivatives). For use with Generic products in Transparency reporting. Generic products define a product that represents an OTC derivative transaction whose economics are not fully described using an FpML schema. In other views, generic products are present for convenience to support internal messaging and workflows that are cross-product. Generic products are not full trade representations as such they are not intended to be used for confirming trades.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="floatingRate" type="FloatingRate">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">A floating rate.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="fixedRate" type="Schedule">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The fixed rate or fixed rate schedule expressed as explicit fixed rates and dates. In the case of a schedule, the step dates may be subject to adjustment in accordance with any adjustments specified in calculationPeriodDatesAdjustments.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="exchangeRate" type="GenericProductExchangeRate">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The rate of exchange between two currencies.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element ref="underlyingAsset">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Define the underlying asset, either a listed security or other instrument.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Describes the composition of a rate that has been quoted. This includes the two currencies and the quotation relationship between the two currencies.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="referenceEntity" type="LegalEntity">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The corporate or sovereign entity on which you are buying or selling protection and any successor that assumes all or substantially all of its contractual and other obligations. It is vital to use the correct legal name of the entity and to be careful not to choose a subsidiary if you really want to trade protection on a parent company. Please note, Reference Entities cannot be senior or subordinated. It is the obligations of the Reference Entities that can be senior or subordinated. ISDA 2003 Term: Reference Entity</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="indexReferenceInformation" type="IndexReferenceInformation">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">This element contains all the terms relevant to defining the Credit DefaultSwap Index.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="gas" type="GasProduct">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The specification of the gas to be delivered.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="oil" type="OilProduct">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The specification of the oil product to be delivered.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="coal" type="CoalProduct">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The specification of the Coal Product to be delivered.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="electricity" type="ElectricityProduct">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The specification of the electricity to be delivered.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element name="averagingMethod" type="AveragingMethodEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The parties may specify a Method of Averaging where more than one pricing Dates is being specified as being applicable. This defines the averaging method applicable to this asset (used for Commodities).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice minOccurs="0">
        <xsd:group ref="PayerReceiver.model">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Specifies the parties responsible for paying vs. receiving this asset.</xsd:documentation>
          </xsd:annotation>
        </xsd:group>
        <xsd:group ref="BuyerSeller.model">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The buying and selling party for the product. This is commonly used for options, but may also be used for other products.</xsd:documentation>
          </xsd:annotation>
        </xsd:group>
      </xsd:choice>
      <xsd:element name="dayCountFraction" type="DayCountFraction" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies a day count fraction or fractions that apply to this underlyer; this is provided to meet regulatory reporting requirements, but is not sufficient to to fully represent the economics of the trade..</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="UnderlyerReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to an underlyer</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="TradeUnderlyer2" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="GenericCommodityAttributes.model">
    <xsd:sequence>
      <xsd:element name="grade" type="GenericCommodityGrade" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The grade(s) of material which can be delivered in seller's option.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="settlementPeriods" type="GenericCommodityDeliveryPeriod" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the delivery time periods (normally used for electricity swaps).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="loadType" type="LoadTypeEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">LoadType is a summary of the full description of the settlement periods with respect to the region. Used for describing Electricity delivery schedules (e.g. Base, Peak, Off-Peak, Custom).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quantity" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The periodic quantity. Used in conjunction with the quantityFrequency to define quantity per period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quantityFrequency" type="CommodityQuantityFrequency" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The frequency at which the Notional Quantity is deemed to apply for purposes of calculating the Total Notional Quantity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fixedPrice" type="CommodityFixedPrice" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Fixed price on which fixed payments are based.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="interconnectionPoint" type="InterconnectionPoint" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Identification of the border(s) or border point(s) of a transportation contract.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="GenericEquityAttributes.model">
    <xsd:sequence>
      <xsd:element name="optionEntitlement" type="PositiveDecimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The number of units of underlyer per option comprised in the option transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberOfOptions" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The number of options comprised in the option transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="GenericOptionAttributes.model">
    <xsd:sequence>
      <xsd:element name="optionType" type="OptionType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For options, what type of option it is (e.g. butterfly).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="commencementDate" type="AdjustableDate2" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For options, the earliest exercise date of the option. (For CFTC Part 43, this element corresponds to the option lock-out period defined in the option field table).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exerciseStyle" type="GenericExerciseStyle" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For options, whether the option is a put or call option.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strike" type="GenericOptionStrike" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The option strike or strikes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feature" type="GenericProductFeature" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Special features that the option may have, such as Asian averaging, Barriers, Digital payout, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="genericProduct" type="GenericProduct" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Generic products - for use in Transparency reporting to define a product that represents an OTC derivative transaction whose economics are not fully described using an FpML schema. In other views, generic products are present for convenience to support internal messaging and workflows that are cross-product. Generic products are not full trade representations as such they are not intended to be used for confirming trades.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>

