rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-sec-lending-5-13.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
  == Copyright (c) 2022-2023 All rights reserved. 
  == Financial Products Markup Language is subject to the FpML public license. 
  == A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/confirmation" xmlns:fpml-annotation="http://www.fpml.org/annotation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fpml.org/FpML-5/confirmation" ecore:documentRoot="FpML" ecore:nsPrefix="conf" ecore:package="org.fpml.confirmation" version="$Revision: 11232 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-repo-5-13.xsd" />
  <xsd:complexType name="PrepaidRate">
    <xsd:annotation>
      <xsd:documentation>Specifies the rate which is applied to cash collateral when the cash collateral is settled ahead of the borrowed security. For example: at the initiation of the transaction, the borrow may post some cash right away, which gets returned overnight and substituted with securities, which would constitute as a collateral going forward. On T-0, you might actually hold some cash, pending the delivery of securities.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="fixedRate" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the fixed rate which is applied to cash collateral when the cash collateral is settled ahead of the borrowed security.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="FloatingRateIndex.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the floating rate which is applied to cash collateral when the cash collateral is settled ahead of the borrowed security.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="SecLendCollateralProvisions">
    <xsd:annotation>
      <xsd:documentation>Parameters relating to acceptable collateral for the specified security lending transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="collateralType" type="CollateralType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The collateral type, which is a restriction of the collateral deemed acceptable for the purpose of the transaction.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="triParty" type="TriParty">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Tri-party.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:choice>
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A choice between margin ratio and haircut.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="marginRatio" type="DecimalFraction">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">An element defining an initial margin expressed as a ratio of the Market Value of the collateral to the Purchase Price. A default value of initial margin ratio of 1.00 means there is no margin and thus no risk related with the collateral. See GMRA 2000 paragraph 2(z) and GMRA 2011 paragraph 2(bb).</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="haircut" type="DecimalFraction">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">An element defining a haircut expressed as the percentage difference between the Market Value of the collateral and the Purchase Price of the security lending and calculated as 100 multiplied by a ratio of the difference between the Market Value of the collateral and the Purchase Price of the security lending to the Market Value of the collateral. Haircut is alternative way to adjust the value of collateral sold in a repurchase agreement to initial margin ratio. Because an initial margin is a percentage of the Purchase Price, while a haircut is a percentage of the Market Value of collateral, the arithmetic of initial margins and haircuts is slightly different. For example, an initial margin of 102% is not equivalent to a haircut of 2%, but to 1.961% (ie 100/102%). See GMRA 2011 paragraph 2(aa).</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:sequence minOccurs="0">
        <xsd:element name="collateralCurrency" type="Currency">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Reference currency.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="fxRate" type="FxRate" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Indicates the rate of a currency conversion that is used to compute settlement amount for cross-currency transactions.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element name="collateralArrangement" type="CollateralArrangement" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">(SFTR related field) Method used to provide collateral - Indication whether the collateral is subject to a title transfer collateral arrangement, a securities financial collateral arrangement, or a securities financial with the right of use.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="exclusiveArrangements" type="xsd:boolean" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">(SFTR related field) In the case of securities borrowing and lending, indication whether the borrower has exclusive access to borrow from the lender's securities portfolio. (True/False).</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="eligibleForRehypothecation" type="xsd:boolean" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Indication whether the collateral taker can reuse the securities provided as a collateral.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecLendFeeCalculation">
    <xsd:sequence>
      <xsd:group ref="RateCalculation.model" />
      <xsd:element name="minimumFee" type="PositiveMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A contractual minimum amount which the borrower will pay, regardless of the duration of the loan. A mechanism for making sure, that a trade generates enough income.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecLendInitiation">
    <xsd:annotation>
      <xsd:documentation>Initiation of the security lending transaction</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SecLendTransferEvent">
        <xsd:sequence>
          <xsd:element name="collateralSettlementDate" type="IdentifiedDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Security transfer settlement date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="prepaidRate" type="PrepaidRate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies the rate which is applied to cash collateral when the cash collateral is settled ahead of the borrowed security. For example: at the initiation of the transaction, the borrow may post some cash right away, which gets returned overnight and substituted with securities, which would constitute as a collateral going forward. On T-0, you might actually hold some cash, pending the delivery of securities.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SecLendRebateCalculation">
    <xsd:annotation>
      <xsd:documentation>Cash collateral rebate in a security lending transaction: a portion of investment interest on the cash collateral, rebated (returned) to the party posting the collateral (the security borrower). Under a cash-collateralised transation, the securities lending fee is implicit in the level of the rebate. In the case of a "special" loan on a hard-to-borrow security, a negative rebate may be negotiated i.e. the borrower pays a fee to the lender. The lender retains the investment earnings on the cash collateral, and earns an additional premium.</xsd:documentation>
    </xsd:annotation>
    <xsd:group ref="RateCalculation.model" />
  </xsd:complexType>
  <xsd:complexType name="SecLendTermination">
    <xsd:annotation>
      <xsd:documentation>Termination of the security lending transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SecLendTransferEvent" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SecLendTransferEvent" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Abstract base type for initiation, termination events.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="settlementDate" type="IdentifiedDate">
        <xsd:annotation>
          <xsd:documentation>Security transfer settlement date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="deliveryMethod" type="DeliveryMethod" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies a delivery method for the principal security in the transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecurityLending">
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:group ref="LenderBorrower.model" />
          <xsd:element name="principal" type="SecurityValuation">
            <xsd:annotation>
              <xsd:documentation>The security (principal) which is the subject of the lending transaction.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence>
            <xsd:element name="initiation" type="SecLendInitiation">
              <xsd:annotation>
                <xsd:documentation>Initiation of the security lending transaction: initial transfer of principal.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="termination" type="SecLendTermination" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Termination of the security lending transaction: return of principal.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:sequence>
            <xsd:element name="duration" type="SecurityLendingDurationEnum">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Duration of the security lending transaction. {e.g. Open, Term}.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0">
              <xsd:group ref="ExtensionPeriod.model" />
              <xsd:sequence>
                <xsd:element name="callingParty" type="SecLendCallingPartyEnum">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">The party to the open security lending transaction that has a right to demand exercise of the far leg of the open security lending transaction. This element represents an enumerated list that includes: Borrower, Lender, Either and AsDefinedInMasterAgreement. In the default case, either party can call for closing an open security lending transaction. If electing parties are defined in the Master Agreement and not in the open security lending confirmation, the value AsDefinedInMasterAgreement should be used. Exact borrower/lender related parties, including any third parties who can demand exercise of open security lending transactions on behalf of the parties to the trade (calculation agent, executing broker, etc.), can be defined in the relatedParty element (tradeHeader/partyTradeInformation).</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="callDate" type="AdjustableOrRelativeDate" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines the latest date when the open security lending transaction can and must be exercised on demand by a party to the trade indicated in the electingParty element (or in the Master Agreement, if the electingParty element has AsDefinedInMasterAgreement value). For instance, in an open security lending transaction with the callDate agreed as business day one year after the trade date, the far leg can be settled on any day after the near leg settlement date and before and including the callDate. If the call date is not defined in trade terms and / or not included into the trade confirmation this element can be omitted.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:choice minOccurs="0">
                  <xsd:element name="noticePeriod" type="AdjustableOffset">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="en">Notice period for open security lending transactions in number of days. This element represents the agreed period of notice to be given in advance before exercise of the security lending trade by a party requesting such exercise.</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="partyNoticePeriod" type="PartyNoticePeriod" maxOccurs="2">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="en">Notice period for open security lending transactions referenced to a party to the trade, in number of days. This element represents the agreed period of notice to be given in advance before exercise of the security lending trade by a party requesting such exercise and the reference to that party.</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:choice>
          </xsd:sequence>
          <xsd:sequence>
            <xsd:choice>
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Under a non-cash collateralised transaction: borrowing fee based on market value of securities. Under a cash collateralised transaction: a portion of re-investment interest paid to the security borrower (rebate).</xsd:documentation>
              </xsd:annotation>
              <xsd:sequence>
                <xsd:element name="fee" type="SecLendFeeCalculation">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">Under a non-cash collateralized transaction, the borrower pays a fee on the security being lent.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="rebate" type="SecLendRebateCalculation" minOccurs="0" />
              </xsd:sequence>
              <xsd:element name="rebate" type="SecLendRebateCalculation">
                <xsd:annotation>
                  <xsd:documentation>Under a cash collateralized transaction: a portion of re-investment interest paid to the security borrower (rebate).</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:choice>
            <xsd:element name="dayCountFraction" type="DayCountFraction">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The day count fraction for calculating a fee or a rebate on an SBL transaction.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:group ref="DividendsAndPayment.model" />
          <xsd:element name="collateralProvisions" type="SecLendCollateralProvisions">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Collateral provisions component derives collateral information from the Master Agreement documentation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="securityLending" type="SecurityLending" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation>Global element representing a Security Lending transaction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:group name="Borrower.model">
    <xsd:sequence>
      <xsd:element name="borrowerPartyReference" type="PartyReference">
        <xsd:annotation>
          <xsd:documentation>A reference to the party that borrows the asset(s) exchanged in the context of the containing structure.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="borrowerAccountReference" type="AccountReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A reference to the account that borrows the asset(s) exchanged in the context of the containing structure.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="DividendsAndPayment.model">
    <xsd:annotation>
      <xsd:documentation>Groups related to dividends and payments information.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="dividendRate" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the proportion of the value of the dividend on the borrowed shares that the borrower is legally obligated to return to the lender.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="minimumBillingAmount" type="PositiveMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A minimum billable amount (daily fee increments accrue until a threshold is crossed, at which point payment becomes due)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rebatePaymentFrequency" type="Frequency" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Time "period" and "periodMultiplier", describing frequency of payments for the floating rebate rate. Usually, the payment frequency is monthly, or daily. Business rule: Floating Rate Payment Frequency may be specified, in case of Floating Rebate Rate. (The assumption is that fee payment and rebate fixed rate payment are term payments, and rebate floating rate payment is periodic payment.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="Lender.model">
    <xsd:sequence>
      <xsd:element name="lenderPartyReference" type="PartyReference">
        <xsd:annotation>
          <xsd:documentation>A reference to the party that lends the asset(s) exchanged in the context of the containing structure.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lenderAccountReference" type="AccountReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A reference to the account that lends the asset(s) exchanged in the context of the containing structure.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="LenderBorrower.model">
    <xsd:sequence>
      <xsd:group ref="Lender.model" />
      <xsd:group ref="Borrower.model" />
    </xsd:sequence>
  </xsd:group>
</xsd:schema>

