rosetta-source/src/main/resources/schemas/fpml-5-13/confirmation/fpml-dividend-swaps-5-13.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
  == Copyright (c) 2022-2023 All rights reserved. 
  == Financial Products Markup Language is subject to the FpML public license. 
  == A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/confirmation" xmlns:fpml-annotation="http://www.fpml.org/annotation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fpml.org/FpML-5/confirmation" ecore:documentRoot="FpML" ecore:nsPrefix="conf" ecore:package="org.fpml.confirmation" version="$Revision: 13881 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-eqd-5-13.xsd" />
  <xsd:complexType name="DividendLeg">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Floating Payment Leg of a Dividend Swap.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DirectionalLegUnderlyer">
        <xsd:sequence>
          <xsd:group ref="DeclaredCashAndCashEquivalentDividendPercentage.model" />
          <xsd:element name="dividendPeriod" type="DividendPeriodPayment" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">One to many time bounded dividend payment periods, each with a fixed strike and dividend payment date per period.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="specialDividends" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">If present and true, then special dividends and memorial dividends are applicable.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="materialDividend" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">If present and true, then material non cash dividends are applicable.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DividendPeriodPayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A time bounded dividend period, with fixed strike and a dividend payment date per period.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DividendPeriod">
        <xsd:sequence>
          <xsd:element name="fixedStrike" type="PositiveDecimal">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Fixed strike.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="paymentDate" type="AdjustableOrRelativeDate">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Dividend period amount payment date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="valuationDate" type="AdjustableOrRelativeDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Dividend period amount valuation date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DividendSwapOptionTransactionSupplement">
    <xsd:complexContent>
      <xsd:extension base="OptionBase">
        <xsd:sequence>
          <xsd:element name="equityPremium" type="EquityPremium">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The variance option premium payable by the buyer to the seller.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="equityExercise" type="EquityExerciseValuationSettlement">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The parameters for defining how the equity option can be exercised, how it is valued and how it is settled.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="exchangeLookAlike" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">For a share option transaction, a flag used to indicate whether the transaction is to be treated as an 'exchange look-alike'. This designation has significance for how share adjustments (arising from corporate actions) will be determined for the transaction. For an 'exchange look-alike' transaction the relevant share adjustments will follow that for a corresponding designated contract listed on the related exchange (referred to as Options Exchange Adjustment (ISDA defined term), otherwise the share adjustments will be determined by the calculation agent (referred to as Calculation Agent Adjustment (ISDA defined term)).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="methodOfAdjustment" type="MethodOfAdjustmentEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Defines how adjustments will be made to the contract should one or more of the extraordinary events occur.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice minOccurs="0">
            <xsd:element name="optionEntitlement" type="PositiveDecimal">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The number of shares per option comprised in the option transaction supplement.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="multiplier" type="PositiveDecimal">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Specifies the contract multiplier that can be associated with an index option.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:element name="clearingInstructions" type="SwaptionPhysicalSettlement" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies any instructions on how the physical settlement is to be effected when the option is exercised.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="dividendSwapTransactionSupplement" type="DividendSwapTransactionSupplement">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The variance swap details.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DividendSwapTransactionSupplement">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A Dividend Swap Transaction Supplement.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:element name="dividendLeg" type="DividendLeg">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Dividend leg.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fixedLeg" type="FixedPaymentLeg">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Fixed payment leg.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="EquityUnderlyerProvisions.model" minOccurs="0"></xsd:group>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FixedPaymentAmount">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Fixed payment amount within a Dividend Swap.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PaymentBase">
        <xsd:sequence>
          <xsd:element name="paymentAmount" type="NonNegativeMoney" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Payment amount, which is optional since the payment amount may be calculated using fixed strike and number of open units.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="paymentDate" type="RelativeDateOffset">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Payment date relative to another date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FixedPaymentLeg">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Fixed Payment Leg of a Dividend Swap.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DirectionalLeg">
        <xsd:sequence>
          <xsd:element name="fixedPayment" type="FixedPaymentAmount" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Fixed payment of a dividend swap, payment date is relative to a dividend period payment date. Commonly the dividend leg and the fixed payment leg will pay out on the same date, and the payments will be netted.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="dividendSwapOptionTransactionSupplement" type="DividendSwapOptionTransactionSupplement" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies the structure of the dividend swap transaction supplement.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="dividendSwapTransactionSupplement" type="DividendSwapTransactionSupplement" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies the structure of the dividend swap transaction supplement.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>

