rosetta-source/src/main/resources/schemas/cme-cleared-confirm-1-17/cme-conf-ext-1-17.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by CME GROUP INC. (CME GROUP INC.) -->
<!-- 
== Copyright (c) 2002-2009. All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<!--View is confirmation   12//2011 Changes to support valuation information in messages to Clearing Firms-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/confirmation" xmlns:fpml="http://www.fpml.org/FpML-5/confirmation" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:fpml-annotation="http://www.fpml.org/annotation" xmlns:cme="http://www.cmegroup.com/otc-clearing/confirmation" targetNamespace="http://www.cmegroup.com/otc-clearing/confirmation" elementFormDefault="qualified" attributeFormDefault="unqualified" version="$Revision: 2864 $" ecore:documentRoot="FpML" ecore:nsPrefix="rpt" ecore:package="org.fpml.confirmation">
	<xsd:import namespace="http://www.fpml.org/FpML-5/confirmation" schemaLocation="fpml-main-5-0.xsd"/>
	<!-- General extensions -->
	<!-- 2013-01-29  Added an additional enum DSF (Delivarable Swap Future) to the Originating Event  element-->
	<xsd:element name="FpML">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Clearing -->
				<xsd:group ref="cme:Messages.model"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CMEMessageHeader">
		<xsd:complexContent>
			<xsd:extension base="ResponseMessageHeader">
				<xsd:sequence>
					<xsd:element name="senderSub" type="fpml:MessageAddress" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A unique identifier (within its coding scheme) indicating an intended recipent of a message.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Changes to the Schema to support extended PartyTrade Identifier -->
	<xsd:complexType name="CMETradeHeader">
		<xsd:complexContent>
			<xsd:extension base="TradeHeader">
				<xsd:sequence>
					<xsd:element name="originatingEvent" type="cme:OriginatingEventEnum" minOccurs="0"/>
					<xsd:element name="terminatingEvent" type="cme:TerminatingEventEnum" minOccurs="0"/>
					<xsd:element name="status" type="cme:StatusEnum" minOccurs="0"/>
					<xsd:element name="history" type="cme:History" minOccurs="0"/>
					<xsd:element name="universalSwapIdentifier" type="cme:UniversalSwapIdentifier" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="creditLimitReference" type="cme:CreditLimitReference" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation source="http://www.FpML.org" xml:lang="en">The reference to the Credit Control Hub and the identifier assigned by the Credit control hub</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="creditLimitInformation" type="cme:CreditLimitInformation" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.FpML.org" xml:lang="en">Credit limit Utilization information</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="size" type="PositiveDecimal" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.FpML.org" xml:lang="en">The total number of trades for the clearing account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="idUpdate" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">This indicates if the Client Id or the Platform Side Id has been updated</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!-- changes to support the time a trade was submitted for clearing, added for MiFID -->
					<xsd:element name="timestamps" type="cme:TradeProcessingTimestamps" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Allows timing information about a trade to be recorded.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="History">
		<xsd:sequence>
			<xsd:element name="replacementTradeId" type="cme:CMETradeIdentifier" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="originalTradeId" type="cme:CMETradeIdentifier" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -  CME's Trade Identifier Added 06/16/2010 NSharma   -->
	<xsd:complexType name="CMETradeIdentifier">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The data type used for trade identifiers.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="Scheme">
				<xsd:attribute name="tradeIdScheme" type="xsd:anyURI">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The identifier scheme used with this tradeId. A unique URI to determine the authoritative issuer of these identifiers.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- Added 06/16/2010 NSharma   -->
	<xsd:simpleType name="StatusEnum">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">The Status of the Trade</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="AMENDED"/>
			<xsd:enumeration value="CLEARED"/>
			<xsd:enumeration value="TERMINATED"/>
			<xsd:enumeration value="ALLEGED"/>
			<xsd:enumeration value="Accepted"/>
			<xsd:enumeration value="Rejected"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Changed Enums 06/16/2010 NSharma   -->
	<xsd:simpleType name="OriginatingEventEnum">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">The type of event that generated a trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="NEW_TRADE"/>
			<xsd:enumeration value="TRANSFER"/>
			<xsd:enumeration value="TRADE_AMEND"/>
			<xsd:enumeration value="NETTING_REMNANT"/>
			<xsd:enumeration value="TRANSFER_IN"/>
			<xsd:enumeration value="TRANSFER_OUT"/>
			<xsd:enumeration value="DSF"/>
			<xsd:enumeration value="EXERCISE"/>
			<xsd:enumeration value="PARTIAL_EXERCISE"/>
			<xsd:enumeration value="PARTIAL_ASSIGNMENT"/>
			<xsd:enumeration value="ALLOCATION_IN"/>
			<xsd:enumeration value="ALLOCATION_OUT"/>
			<xsd:enumeration value="BLENDING_REMNANT"/>
			<xsd:enumeration value="TERMINATION_OFFSET"/>
			<xsd:enumeration value="ASSIGNMENT"/>
			<!-- Added new Originating Event to support Multilateral compression 04/24/2015  -->
			<!-- Added new Originating Event of RESIDUAL_TRADE to support compression 06/26/2018 -->
			<xsd:enumeration value="RESIDUAL_TRADE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Added 06/16/2010 NSharma   -->
	<xsd:simpleType name="TerminatingEventEnum">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">The type of event that terminated the trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="FULL_NETTING"/>
			<xsd:enumeration value="PARTIAL_NETTING"/>
			<xsd:enumeration value="TRANSFER"/>
			<xsd:enumeration value="VOID"/>
			<xsd:enumeration value="WITHDRAWAL"/>
			<xsd:enumeration value="ABANDONMENT"/>
			<xsd:enumeration value="EXERCISE"/>
			<xsd:enumeration value="PARTIAL_EXERCISE"/>
			<xsd:enumeration value="PARTIAL_ASSIGNMENT"/>
			<xsd:enumeration value="FULL_BLENDING"/>
			<xsd:enumeration value="PARTIAL_BLENDING"/>
			<xsd:enumeration value="ASSIGNMENT"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- New Trade extensions -->
	<xsd:complexType name="ClearingAcknowledgement">
		<xsd:complexContent>
			<xsd:extension base="Acknowledgement">
				<xsd:sequence>
					<xsd:element name="clearingRequestId" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Allocation extensions -->
	<xsd:complexType name="AllocationAcknowledgement">
		<xsd:complexContent>
			<xsd:extension base="Acknowledgement">
				<xsd:sequence>
					<xsd:element name="allocationRequestId" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ClearingTerminated">
		<xsd:complexContent>
			<xsd:extension base="ClearingConfirmed">
				<xsd:sequence>
					<xsd:element name="reason" type="Reason"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="requestAllocationApproval" type="RequestAllocation"/>
	<xsd:element name="clearingTerminated" type="cme:ClearingTerminated"/>
	<!-- <xsd:element name="allocationTrade" substitutionGroup="additionalEvent" />  -->
	<!-- these allow the cme:allocationApproved/Refused messages to describe the specific allocations that were approved -->
	<!-- Credit notification nextensions -->
	<xsd:complexType name="CMEOnBehalfOf">
		<xsd:complexContent>
			<xsd:extension base="fpml:OnBehalfOf">
				<xsd:sequence>
					<xsd:element name="tradingFirmReference" type="fpml:PartyReference" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="http://www.FpML.org" xml:lang="en">A reference to the trading firm associated with this account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CMEClearingRefused">
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<xsd:group ref="cme:CMEEvents.model" minOccurs="0"/>
					<xsd:group ref="PartiesAndAccounts.model" minOccurs="0"/>
					<xsd:element name="reason" type="Reason" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Request Consent Extensions 
			Updates to the RequestConsent message to support Cleared USI and the CME Namespace
-->
	<xsd:complexType name="CMERequestConsent">
		<xsd:complexContent>
			<xsd:extension base="CorrectableRequestMessage">
				<xsd:sequence>
					<xsd:group ref="cme:CMEEvents.model"/>
					<xsd:group ref="cme:EventValuation.model" minOccurs="0"/>
					<xsd:group ref="PartiesAndAccounts.model"/>
					<xsd:element name="limitReport" type="cme:LimitReport" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.FpML.org" xml:lang="en">The most recent event that caused a treshold to be exceeded.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Consent Granted Extensions -->
	<xsd:complexType name="CreditWarningMessage">
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<xsd:element name="limitReport" type="cme:LimitReport" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.FpML.org" xml:lang="en">The most recent event that caused a treshold to be exceeded.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="PartiesAndAccounts.model"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!---      -->
	<xsd:complexType name="LimitReport">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="status" type="cme:CreditLimitStatusEnum"/>
			<xsd:element name="severity" type="cme:CreditLimitSeverityEnum"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TriggerEventDescription">
		<xsd:sequence>
			<xsd:element name="originatingEvent" type="cme:OriginatingEventEnum"/>
			<xsd:element name="tradeId" type="fpml:TradeId"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CreditLimitStatusEnum">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">Whether the threshold is exceded.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Exceeded"/>
			<xsd:enumeration value="Acceptable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CreditLimitSeverityEnum">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">The seriousness of the exception.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="High"/>
			<xsd:enumeration value="Medium"/>
			<xsd:enumeration value="Low"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:group name="Messages.model">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Choice between clearing messages.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<!-- Clearing -->
			<xsd:element name="clearingRefused" type="cme:CMEClearingRefused"/>
			<xsd:element ref="fpml:clearingRefused"/>
			<xsd:element ref="fpml:clearingConfirmed"/>
			<xsd:element name="requestConsent" type="cme:CMERequestConsent"/>
			<xsd:element ref="fpml:consentGranted"/>
			<xsd:element ref="fpml:consentRefused"/>
			<xsd:element ref="fpml:consentException"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="EventValuation.model">
		<xsd:annotation>
			<xsd:documentation>A model group holding valuation information for an event.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="quote" type="cme:CMEBasicQuotation" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Pricing information for the trade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- USI Definition  Added 2012/08/12-->
	<xsd:complexType name="UniversalSwapIdentifier">
		<xsd:sequence>
			<xsd:element name="issuer" type="cme:IssuerId"/>
			<xsd:element name="usi" type="cme:USI"/>
			<xsd:element name="scope" type="cme:Scope" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IssuerId">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The data type used for issuer identifiers.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="Scheme">
				<xsd:attribute name="issuerIdScheme" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="USI">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The Universal Swap Identifier</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="Scheme">
				<xsd:attribute name="usiScheme" type="xsd:anyURI">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The identifier scheme used with the universal swap identifier.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- 12/05/2012 -->
	<xsd:complexType name="Scope">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The scope of the USI. Indicates if the USI assigned by the CCP is being assigned for the clearing member or client trade under the principal model.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="Scheme">
				<xsd:attribute name="scopeScheme" type="xsd:anyURI">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The identifier scheme used with the scope</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- 09/10/2013  -->
	<xsd:complexType name="CreditLimitReference">
		<xsd:sequence>
			<xsd:element name="approvalId" type="cme:ApprovalId" minOccurs="1"/>
			<xsd:element name="approvingPartyReference" type="PartyReference" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ApprovalId">
		<xsd:simpleContent>
			<xsd:extension base="Scheme">
				<xsd:attribute name="approvalIdScheme" type="xsd:anyURI">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The identifier scheme used with the approval Id</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CreditLimitInformation">
		<xsd:sequence>
			<xsd:element name="limitApplicable" type="cme:LimitApplicable" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xsd:element name="partyInformation" type="PartyTradeInformation" minOccurs="0"/> -->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LimitApplicable">
		<xsd:sequence>
			<xsd:element name="level" type="cme:CreditLimitLevel" minOccurs="0"/>
			<xsd:element name="limitType" type="cme:LimitType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Standard code to indicate which type of credit line is being referred to - i.e. IM, DV01, PV01, CS01, Notional, Clip Size, Notional, maximumOrderQuantity</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="limitAmount" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The total limit available for the limit level and limit type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amountUtilized" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The limit utilized by all the cleared trades for the limit level and limit type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amountRemaining" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The limit remaining for the limit level and limit type. This does not take into account any pending trades.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="limitImpactDueToTrade" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The limit utilized by this specific trade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="Currency" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LimitType">
		<xsd:simpleContent>
			<xsd:extension base="Scheme">
				<xsd:attribute name="creditLimitTypeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/credit-limit-type"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CreditLimitLevel">
		<xsd:simpleContent>
			<xsd:extension base="Scheme">
				<xsd:attribute name="creditLimitLevelScheme" type="xsd:anyURI">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The identifier scheme used with this credit Limit Level. A unique URI to determine the node at which the credit limit information is represented</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--   End extension -->
	<!--  01/14/2014 -->
	<xsd:group name="CMEEvents.model">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Choice between a trade and a post-trade event.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="tradePackage" type="cme:TradePackage"/>
			<xsd:group ref="Events.model"/>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="TradePackage">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A bundle of trades collected together into a single unit for reporting.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="packageHeader" type="cme:TradePackageHeader" minOccurs="0"/>
			<xsd:element name="trade" type="Trade" maxOccurs="unbounded"/>
			<xsd:element name="approvals" type="cme:CreditLimitReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A container for approval states in the workflow.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TradePackageHeader">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Identifying information for a tradePackage (a bundle of trades).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="packageIdentifier" type="cme:IssuerTradeId" minOccurs="0"/>
			<xsd:element name="orderIdentifier" type="cme:IssuerTradeId" minOccurs="0"/>
			<xsd:element name="packageType" type="cme:PackageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="size" type="PositiveDecimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">The total number of trades in the package</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type that describes what thpe of package this is, e.g. Butterfly.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="Scheme">
				<xsd:attribute name="packageTypeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/package-type"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="IssuerTradeId">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A complex type for a two part identifier such as a USI.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="cme:IssuerTradeId.model"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="IssuerTradeId.model">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A model group for a two part identifier such as a USI.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="issuer" type="cme:IssuerId"/>
			<xsd:element name="tradeId" type="TradeId"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="CMEBasicQuotation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Some kind of numerical measure about an asset, eg. its NPV, together with characteristics of that measure.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicQuotation">
				<xsd:group ref="PartyAndAccountReferences.model" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Identifies that party that has ownership of this information. For shared trade
              information, this will reference the originator of the date (for example, an execution facility or
              clearinghouse).
            </xsd:documentation>
					</xsd:annotation>
				</xsd:group>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- changes to support the time a trade was submitted for clearing, added for MiFID -->
	<xsd:complexType name="TradeProcessingTimestamps">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Allows timing information about when a trade was processed and reported to be recorded.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="submittedForClearing" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">When this trade was supplied to a clearing service for clearing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
