src/main/resources/schemas/events/cdm-events.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2017 All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns="http://www.regnosys.com/extension-1-10/confirmation"
    xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
    xmlns:fpml="http://www.fpml.org/FpML-5/confirmation" fpml:dummy="force-prefix"
    targetNamespace="http://www.regnosys.com/extension-1-10/confirmation"
    version="$Revision: 11946 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- import FpML schema -->
    <xsd:import namespace="http://www.fpml.org/FpML-5/confirmation"
        schemaLocation="../fpml-5-10/confirmation/fpml-main-5-10.xsd"/>
    <!-- Enumerations -->
    <xsd:simpleType name="ActionEnum">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="new"/>
            <xsd:enumeration value="correct"/>
            <xsd:enumeration value="cancel"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CashflowCalculationEnum">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="FixedAmount"/>
            <xsd:enumeration value="FloatingAmount"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ContractStateEnum">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="allocated"/>
            <xsd:enumeration value="exercised"/>
            <xsd:enumeration value="novated"/>
            <xsd:enumeration value="terminated"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IntentEnum">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="allocation"/>
            <xsd:enumeration value="compression"/>
            <xsd:enumeration value="correction"/>
            <xsd:enumeration value="earlyTermination"/>
            <xsd:enumeration value="exercise"/>
            <xsd:enumeration value="increase"/>
            <xsd:enumeration value="newTrade"/>
            <xsd:enumeration value="novation"/>
            <xsd:enumeration value="partialNovation"/>
            <xsd:enumeration value="partialTermination"/>
            <xsd:enumeration value="portfolioCompression"/>
            <xsd:enumeration value="renegotiation"/>
            <xsd:enumeration value="termination"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyIdSourceEnum">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="LEI"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PaymentStatusEnum">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="disputed"/>
            <xsd:enumeration value="instructed"/>
            <xsd:enumeration value="pending"/>
            <xsd:enumeration value="settled"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PaymentTypeEnum">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="brokerageCommission"/>
            <xsd:enumeration value="fee"/>
            <xsd:enumeration value="interest"/>
            <xsd:enumeration value="netInterest"/>
            <xsd:enumeration value="novationFee"/>
            <xsd:enumeration value="premium"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TransferStatusEnum">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="disputed"/>
            <xsd:enumeration value="instructed"/>
            <xsd:enumeration value="pending"/>
            <xsd:enumeration value="settled"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TransferTypeEnum">
        <xsd:union memberTypes="PaymentTypeEnum">
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="SecuritySettlement"/>
                    <xsd:enumeration value="SecurityTransfer"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="UnitEnum">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="MWh"/>
            <xsd:enumeration value="MMBTU"/>
            <xsd:enumeration value="BBL"/>
            <xsd:enumeration value="GAL"/>
            <xsd:enumeration value="BSH"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- Complex Types -->
    <xsd:complexType name="AllocationOutcome">
        <xsd:complexContent>
            <xsd:extension base="ContractOrContractReference">
                <xsd:sequence>
                    <xsd:element name="executionReference" type="Identifier"/>
                    <xsd:element name="state" type="ContractStateEnum"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AllocationPrimitive">
        <xsd:sequence>
            <xsd:element name="before" type="Execution"/>
            <xsd:element name="after" type="AllocationOutcome"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Asset">
        <xsd:sequence>
            <xsd:element name="listedProduct" type="ListedProduct" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Cashflow">
        <xsd:complexContent>
            <xsd:extension base="Payment">
                <xsd:sequence>
                    <xsd:element name="cashflowCalculation" type="CashflowCalculationEnum" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CashflowReference">
        <xsd:complexContent>
            <xsd:extension base="fpml:Reference">
                <xsd:attribute name="href" type="xsd:IDREF" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CommodityReferencePrice">
        <xsd:simpleContent>
            <xsd:extension base="fpml:Scheme">
                <xsd:attribute name="commodityReferencePriceScheme" type="fpml:NonEmptyURI"
                    default="http://www.fpml.org/coding-scheme/commodity-reference-price"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Contract">
        <xsd:complexContent>
            <xsd:extension base="fpml:Trade">
                <xsd:sequence>
                    <xsd:element name="state" type="ContractStateEnum" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ContractOrContractReference">
            <xsd:choice>
                <xsd:element name="contractReference" type="ContractReference" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="contract" type="Contract" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:choice>   
    </xsd:complexType>
    <xsd:complexType name="ContractOrListedProduct">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="contractState" type="ContractOrContractReference"/>
                <xsd:element name="listedProduct" type="ListedProduct"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ContractLineage">
        <xsd:complexContent>
            <xsd:extension base="fpml:Reference">
                <xsd:attribute name="href" type="xsd:IDREF" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ContractReference">
        <xsd:complexContent>
            <xsd:extension base="fpml:TradeIdentifier">
                <xsd:sequence>
                    <xsd:element name="state" type="ContractStateEnum" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ContractualProduct">
        <xsd:sequence>
            <xsd:element ref="fpml:product"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ContractualQuantity">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="quantity" type="xsd:decimal"/>
                <xsd:element name="notionalAmount" type="fpml:Money"/>
                <xsd:element name="notionalSchedule" type="fpml:Notional"/>
                <xsd:element name="fxLinkedNotional" type="fpml:FxLinkedNotionalSchedule"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ContractualProductOrContract">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="execution" type="Execution"/>
                <xsd:element name="contractState" type="ContractOrContractReference"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreditDefaultPayoutReference">
        <xsd:complexContent>
            <xsd:extension base="fpml:Reference">
                <xsd:attribute name="href" type="xsd:IDREF" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Curve">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="interestRateCurve" type="InterestRateCurve"/>
                <xsd:element name="commodityCurve" type="CommodityReferencePrice"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Event">
        <xsd:complexContent>
            <xsd:extension base="EventBase">
                <xsd:sequence>
                    <xsd:element name="intent" type="IntentEnum" minOccurs="0"/>
                    <xsd:group ref="fpml:PartiesAndAccounts.model" minOccurs="0"/>
                    <xsd:element name="lineage" type="Lineage" minOccurs="0"/>
                    <xsd:element name="primitive" type="Primitive"/>
                    <xsd:element name="functionCall" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="EventBase">
        <xsd:sequence>
            <xsd:element name="messageInformation" type="MessageInformation" minOccurs="0"/>
            <xsd:element name="timestamp" type="EventTimestamp"/>
            <xsd:element name="eventIdentifier" type="Identifier"/>
            <xsd:element name="eventDate" type="xsd:date"/>
            <xsd:element name="effectiveDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="isCorrection" type="xsd:boolean"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>
    <xsd:complexType name="EventPackage">
        <xsd:sequence>
            <xsd:element name="event" type="Event" minOccurs="2" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EventReference">
        <xsd:complexContent>
            <xsd:extension base="fpml:Reference">
                <xsd:attribute name="href" type="xsd:IDREF" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="EventTimestamp">
        <xsd:sequence>
            <xsd:element name="creationTimestamp" type="xsd:dateTime"/>
            <xsd:element name="expiryTimestamp" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Execution">
        <xsd:sequence>
            <xsd:element name="tradeHeader" type="fpml:TradeHeader"/>
            <xsd:element name="contractualProduct" type="ContractualProduct"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ExerciseOutcome">
        <xsd:complexContent>
            <xsd:extension base="ContractOrContractReference">
                <xsd:sequence>
                    <xsd:element name="physicalExercise" type="PhysicalExercise" minOccurs="0"/>
                    <xsd:element name="cashExercise" type="Cashflow" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ExercisePrimitive">
        <xsd:sequence>
            <xsd:element name="exerciseDate" type="fpml:AdjustableOrAdjustedDate" minOccurs="0"/>
            <xsd:element name="exerciseTime" type="fpml:BusinessCenterTime" minOccurs="0"/>
            <xsd:element name="fullExercise" type="xsd:boolean"/>
            <xsd:element name="before" type="ContractOrContractReference"/>
            <xsd:element name="after" type="ExerciseOutcome"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GrossCashflow">
        <xsd:sequence>
            <xsd:element name="lineage" type="Lineage" minOccurs="0"/>
            <xsd:element name="cashflowAmount" type="fpml:Money"/>
            <xsd:group ref="fpml:PayerReceiver.model"/>
            <xsd:element name="cashflowCalculation" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="href" type="xsd:IDREF"/>
    </xsd:complexType>
    <xsd:complexType name="Identifier">
        <xsd:sequence>
            <xsd:element name="issuer" type="fpml:PartyReference" minOccurs="0"/>
            <xsd:element name="identifier" type="xsd:string"/>
            <xsd:element name="version" type="xsd:integer" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Inception">
        <xsd:sequence>
            <xsd:element name="before" type="ContractOrContractReference" minOccurs="0"
                maxOccurs="0"/>
            <xsd:element name="after" type="ContractOrContractReference" minOccurs="1" maxOccurs="1"
            />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InterestRateCurve">
        <xsd:sequence>
            <xsd:element name="floatingRateIndex" type="fpml:FloatingRateIndex"/>
            <xsd:element name="tenor" type="fpml:Period"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InterestRatePayoutReference">
        <xsd:complexContent>
            <xsd:extension base="fpml:Reference">
                <xsd:attribute name="href" type="xsd:IDREF" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Lineage">
        <xsd:sequence>
            <xsd:element name="contractReference" type="ContractLineage" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="eventReference" type="EventReference" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="cashflowReference" type="CashflowReference" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="creditDefaultPayoutReference" type="CreditDefaultPayoutReference" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="interestRatePayoutReference" type="InterestRatePayoutReference" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="optionPayoutReference" type="OptionPayoutReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListedProduct">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="bond" type="fpml:Bond"/>
                <xsd:element name="convertibleBond" type="fpml:ConvertibleBond"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MessageInformation">
        <xsd:sequence>
            <xsd:element name="messageId" type="fpml:MessageId"/>
            <xsd:element name="sentBy" type="xsd:string"/>
            <xsd:element name="sentTo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="copyTo" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ObservationPrimitive">
        <xsd:sequence>
            <xsd:element name="source" type="ObservationSource"/>
            <xsd:element name="observation" type="xsd:decimal"/>
            <xsd:element name="date" type="xsd:date"/>
            <xsd:element name="time" type="TimeZone" minOccurs="0"/>
            <xsd:element name="side" type="fpml:QuotationSideEnum" minOccurs="0"/>
            <xsd:element name="currency" type="fpml:Currency" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ObservationSource">
        <xsd:sequence>
            <xsd:element name="curve" type="Curve"/>
            <xsd:element name="informationSource" type="fpml:InformationSource" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OptionPayoutReference">
        <xsd:complexContent>
            <xsd:extension base="fpml:Reference">
                <xsd:attribute name="href" type="xsd:IDREF" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Payment">
        <xsd:complexContent>
            <xsd:extension base="fpml:Payment">
                <xsd:sequence>
                    <xsd:element name="paymentType" type="PaymentTypeEnum" minOccurs="0"/>
                    <xsd:element name="grossCashflow" type="GrossCashflow" minOccurs="0"
                        maxOccurs="unbounded"/>
                    <xsd:element name="paymentStatus" type="PaymentStatusEnum" minOccurs="0"/>
                    <xsd:element name="settlementReference" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PhysicalExercise">
        <xsd:complexContent>
            <xsd:extension base="ContractOrContractReference">
                <xsd:sequence>
                    <xsd:element name="listedProduct" type="ListedProduct" minOccurs="0"/>
                    <xsd:element name="quantity" type="Quantity" minOccurs="0"/>
                    <xsd:element name="cashflow" type="Cashflow" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Primitive">
        <xsd:sequence>
            <xsd:element name="allocation" type="AllocationPrimitive" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="exercise" type="ExercisePrimitive" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="inception" type="Inception" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="observation" type="ObservationPrimitive" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="payment" type="Payment" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="quantityChange" type="QuantityChange" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="reset" type="ResetPrimitive" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="transfer" type="Transfer" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Quantity">
        <xsd:sequence>
            <xsd:element name="amount" type="xsd:decimal"/>
            <xsd:element name="unit" type="UnitEnum" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="QuantityChange">
        <xsd:sequence>
            <xsd:element name="before" type="ContractOrContractReference"/>
            <xsd:element name="after" type="ContractOrContractReference"/>
            <xsd:element name="change" type="ContractualQuantity" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResetPrimitive">
        <xsd:sequence>
            <xsd:element name="date" type="xsd:date"/>
            <xsd:element name="resetValue" type="xsd:decimal"/>
            <xsd:element name="cashflow" type="Cashflow" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TimeZone">
        <xsd:sequence>
            <xsd:element name="time" type="xsd:time"/>
            <xsd:element name="location" type="fpml:TimezoneLocation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Transfer">
        <xsd:sequence>
            <xsd:group ref="fpml:PayerReceiver.model"/>
            <xsd:element name="transferDate" type="fpml:AdjustableOrAdjustedDate" minOccurs="0"/>
            <xsd:element name="transferType" minOccurs="0"/>
            <xsd:sequence>
                <xsd:choice>
                    <xsd:sequence>
                        <xsd:element name="amount" type="fpml:Money"/>
                        <xsd:element name="grossCashflow" type="GrossCashflow" minOccurs="0"
                            maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:sequence>
                        <xsd:element name="quantity" type="Quantity"/>
                        <xsd:element name="asset" type="Asset"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:sequence>
            <xsd:element name="transferCalculation" type="xsd:string" minOccurs="0"/>
            <xsd:element name="transferStatus" type="TransferStatusEnum" minOccurs="0"/>
            <xsd:element name="settlementReference" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- Elements -->
    <xsd:element name="event" type="Event"/>
    <xsd:element name="eventPackage" type="EventPackage"/>
</xsd:schema>
