rosetta-source/src/main/resources/schemas/fpml-5-10/legal/fpml-legal-5-11.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
        == Copyright (c) 2002-2018 All rights reserved. 
        == Financial Products Markup Language is subject to the FpML public license. 
        == A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/legal" xmlns:fpml-annotation="http://www.fpml.org/annotation" targetNamespace="http://www.fpml.org/FpML-5/legal" ecore:documentRoot="FpML" ecore:nsPrefix="" ecore:package="org.fpml.legal" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">FpML Legal Documentation Framework</xsd:documentation>
  </xsd:annotation>
  <xsd:include schemaLocation="fpml-shared-5-11.xsd" />
  <xsd:include schemaLocation="fpml-asset-5-11.xsd" />
  <xsd:include schemaLocation="fpml-doc-5-11.xsd" />
  <xsd:complexType name="ContractualDocument" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The base type for a legal document.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="documentType" type="LegalDocumentType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The type of legal document, identified via a set of distinct attributes, e.g. ISDA 2013 Standard Credit Support Annex English Law.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="CreditNotation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The credit rating notation base construct, which includes agency, notation, scale and debt type qualifications.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="agency" type="CreditRatingAgency">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The credit agency to which the other variables (notation, scale, debt type) refer to.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="notation" type="CreditRatingNotation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The credit rating notation. It varies among credit rating agencies. FpML doesn't specify a default scheme.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="scale" type="CreditRatingScale" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The credit rating scale, with a typical distinction between short term, long term. FpML doesn't specify a default scheme.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="debt" type="CreditRatingDebt" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The credit rating debt type (e.g. long term, high yield, deposits, ...) associated with the credit rating notation and scale. When several debt types are specified, 'any' or 'all' may be applicable.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditNotations">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The credit rating notation higher level construct, which provides the ability to specify multiple rating notations.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="creditNotation" type="CreditNotation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This node is to be used when only one credit notation is specified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence>
        <xsd:element name="condition" type="QuantifierEnum">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">An enumerated element, to qualify whether All or Any credit notation applies.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="creditNotation" type="CreditNotation" minOccurs="2" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The 'all' signifies that all of the specified credit notations are applicable; equivalent to a logical 'and' expression.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="CreditRatingAgency">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the scheme that specifies the various credit rating agencies.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="creditRatingAgencyScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/credit-rating-agency" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CreditRatingDebt">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The credit rating debt type(s) associated with the credit rating notation and scale. When several debt types are specified, 'any' or 'all' may be applicable.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="debtType" type="DebtType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This node is to be used when only one debt type is specified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence>
        <xsd:element name="condition" type="QuantifierEnum">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">An enumerated element, to qualify whether All or Any debt type applies.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="debtType" type="DebtType" minOccurs="2" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The set condition specifies whether all or any of the specified debt types are applicable.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="CreditRatingNotation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the credit rating notation scheme. FpML doesn't specify that scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="creditRatingNotationScheme" type="NonEmptyURI" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CreditRatingScale">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the credit rating scale scheme. FpML doesn't specify that scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="creditRatingScaleScheme" type="NonEmptyURI" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CustodianTerms">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The stipulation of the terms under which a custody agent will be deemed acceptable by the parties. This construct has been initially developed for the purpose of the Standard CSA.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="minimumAssets" type="Money" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Terms related to the minimal level of assets that the agent should have under custody.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="minimumRating" type="CreditNotations" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Terms related to the minimal rating that the agent should have.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="initialDesignation" type="Token" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The respective parties have the possibility to designate the initial custodian.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DayCount">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The day count used as the denominator for interest accrual calculation as specififed in the ISDA Standard CSA. The day count applies to all currencies, unless specified.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="defaultDayCount" type="DayCountDenominator">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The default day count, to be applied across all currencies unless specified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="currencySpecificDayCount" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The day count denominator that is currency-specific.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dayCountValue" type="DayCountDenominator" />
            <xsd:element name="currency" type="Currency" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DayCountDenominator">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the day count scheme, used to specify the denominator for accrual calculation to be used as part of the ISDA Standard CSA.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="dayCountScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/day-count" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DebtType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the debt type scheme. FpML doesn't specify that scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="debtTypeScheme" type="NonEmptyURI" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DisputeResolution">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The time by which a dispute needs to be resolved. Initially developed for the Standard CSA, in reference to margin call disputes.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="resolutionTime" type="BusinessCenterTime">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The time (expressed as time + reference business center) by which the parties are expected to resolve a valuation dispute on the Local Business Day following the date on which the notice is given, in accordance to Paragraph 5 (New York Law) and Paragraph 4 (English Law).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentIdentity">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to specifty the document identity.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="LegalDocumentIdentity">
        <xsd:sequence>
          <xsd:element name="documentAmendment" type="LegalDocumentAdmendment" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DocumentReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold a reference to a legal document.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="Party" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ElectedTransportCurrency">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the transport currency scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="transportCurrencyScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/transport-currency" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EligibleAsset">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the collateral asset definitions scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="collateralAssetDefinitionsScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/collateral-asset-definitions-scheme" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EligibleCollateral">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The collateral eligibility as a function of the types of asset, the maturity and rating terms.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="eligibleAsset" type="EligibleAsset">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Corresponds to the ISDA 2003 Collateral Assets definitions as part of the initial implementation. Future implementation will aim to integrate the Basle standardized haircut schedule and the corresponding nationally approved lists of collateral assets.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lowerMaturity" type="Period" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The (optional) lower maturity band of the eligible collateral assets.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="higherMaturity" type="Period" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The (optional) higher maturity band of the eligible collateral assets.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="minimumRating" type="CreditNotations" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The (optional) minimal rating terms that the custodian agent should comply with.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valuationPercentage" type="RestrictedPercentage" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the haircut associated to the collateral asset, expressed as a percentage. A value of 90% means that 90% of the value of the applicable asset is considered as collateral. Absence of this element implies that the valuation percentage is 100%.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EligibilityToHoldCollateral">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The conditions under which a party and its custodians are entitled to hold collateral.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="holdingPostedCollateral" type="HoldingPostedCollateral" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The baseline condition required by a party from the other party to hold its posted collateral.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="custodianTerms" type="CustodianTerms" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies conditions related to the cusdody agent.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="eligibleCountry" type="CountryCode" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the country(ies) where collateral can be held.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangeDate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the exchange date scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="exchangeDateScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/exchange-date" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ExistingCreditSupportAnnex">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The reference to the existing Credit Support Annex (CSA). Used as part of the Standard CSA document.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="agreementDate" type="xsd:date" />
      <xsd:element name="documentType" type="LegalDocumentType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The recognizable attributes of the particular legal document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="partyDocumentIdentifier" type="PartyDocumentIdentifier" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The legal document identifier. Several identifiers can be specified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HoldingAndUsingPostedCollateral">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The provisions related to the holding and usage of posted collateral.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="partyReference" type="PartyReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The party to which the terms apply.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="eligibilityToHoldCollateral" type="EligibilityToHoldCollateral">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the conditions under which a party and its custodian(s) are entitled to hold collateral.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="useOfPostedCollateral" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies whether the respective parties to the agreement have the right to rehypothecate the collateral held.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HoldingPostedCollateral">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the holding posted collateral scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="holdingPostedCollateralScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/holding-posted-collateral" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="IndependentAmountDetermination">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the independent amount determination scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="independentAmountDeterminationScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/independent-amount-determination" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="IndependentAmountEligibility">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the independent amount eligibility scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="independentAmountEligibilityScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/independent-amount-eligibility" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="IndependentAmountEligibleCollateral">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to specify the eligible collateral.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="partyReference" type="PartyReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The party to which the terms apply.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:element name="eligibleCollateral" type="EligibleCollateral" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The eligible collateral assets.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="independentAmountEligibility" type="IndependentAmountEligibility">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The terms when no collateral assets are specified.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndependentAmountInterestRate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to specify the interest terms applicable to a margin terms agreement. Initially developed for the Standard CSA, but applicable in concept to other agreements.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="initialMarginInterestRateTerms" type="InitialMarginInterestRateTerms" />
      <xsd:element name="specifiedRate" type="SpecifiedRate" maxOccurs="unbounded" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="IndependentAmounts">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to specify how the independent amount (a.k.a. initial margin collateral) is determined.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="partyReference" type="PartyReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The party to which the terms apply.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="independentAmountDetermination" type="IndependentAmountDetermination" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InitialMarginInterestRateTerms">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the initial margin interest rate terms scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="initialMarginInterestRateTermsScheme" default="http://www.fpml.org/coding-scheme/initial-margin-interest-rate-terms" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LegalDocumentAdmendment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A legal document admendment, which can be specified by either referencing a legal document that is described elsewhere in the XML file, or by specifying the identity of that amended document.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="agreementDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date on which the legal document has been agreed between the parties.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="partyDocumentIdentifier" type="PartyDocumentIdentifier" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The legal document identifier. Several identifiers can be specified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LegalDocumentHeader">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The legal document header.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="partyRoles" type="PartyRoles" />
      <xsd:element name="agreementDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date on which the legal document has been agreed between the parties.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="effectiveDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date on which the agreement is effective. It is expected that it will most often correspond to the agreement date, although there could be situations where the parties will explictly agree on a distinct effective date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="partyDocumentIdentifier" type="PartyDocumentIdentifier" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The legal document identifier. Several identifiers can be specified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amendedDocument" type="DocumentReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The reference to the document that is amended by this legal document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="documentHistory" type="LegalDocumentHistory" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LegalDocumentHistory">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The legal document history.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="documentIdentity" type="DocumentIdentity" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LegalDocumentId">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A legal document reference identifier allocated by a party. FpML does not define the domain values associated with this element. Note that the domain values for this element are not strictly an enumerated list.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="NonEmptyScheme">
        <xsd:attribute name="legalDocumentIdScheme" type="NonEmptyURI" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LegalDocumentIdentity">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to specify the legal document identity.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="partyReference" type="PartyReference" maxOccurs="2">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The parties to the legal document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="documentType" type="LegalDocumentType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The recognizable attributes of the particular legal document.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="agreementDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date on which the legal document has been agreed between the parties.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="partyDocumentIdentifier" type="PartyDocumentIdentifier" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The legal document identifier. Several identifiers can be specified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="LegalDocumentName">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the legal document name scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="legalDocumentNameScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/legal-document-name" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LegalDocumentPublisher">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the legal document publisher scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="legalDocumentPublisherScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/legal-document-publisher" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LegalDocumentStyle">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the legal document style scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="legalDocumentStyleScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/legal-document-style" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LegalDocumentType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The type of legal document.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="LegalDocumentName">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The legal document name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="publisher" type="LegalDocumentPublisher">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The legal document publisher.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="style" type="LegalDocumentStyle" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The legal document reference style, e.g. English Law, New York Law or Japanese Law.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="version" type="Token" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">In the case where successive definitions of the legal document have been developed, the identification of the specific definition. This is typically (but not necessarily) done by referencing the year, e.g. 2013 in the case of the ISDA 2013 Standard Credit Support Annex.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OtherProvisions">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the other provisions schemes.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="otherProvisionsEnglishLawScheme" type="NonEmptyURI" use="optional" default="http://www.fpml.org/coding-scheme/other-provisions-english-law" />
        <xsd:attribute name="otherProvisionsNewYorkLawScheme" type="NonEmptyURI" use="optional" default="http://www.fpml.org/coding-scheme/other-provisions-new-york-law" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PartyDocumentIdentifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type defining a legal document identifier issued by the indicated party.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="partyReference" type="PartyReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference to a party.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence maxOccurs="unbounded">
        <xsd:element name="documentId" type="LegalDocumentId" />
        <xsd:element name="documentVersion" type="Token" minOccurs="0" />
      </xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="PartyRoles">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to specify the roles of the parties to the document.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="relatedParty" type="RelatedParty" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SettlementDay">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to hold the settlement day scheme.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="settlementDayScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/settlement-day" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SpecifiedRate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to specify an interest rate.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="currency" type="Currency" />
      <xsd:choice>
        <xsd:element name="fixedRate" type="xsd:decimal" />
        <xsd:sequence>
          <xsd:element name="floatingRate" type="FloatingRateIndex" />
          <xsd:element name="spread" type="xsd:decimal" minOccurs="0" />
        </xsd:sequence>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StandardCreditSupportAnnex2013EnglishLaw">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The English Law 2013 SCSA implementation, which extends StandardCreditSupportAnnexBase.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="StandardCreditSupportAnnexBase">
        <xsd:sequence>
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Provisions that are specific to the English Law document.</xsd:documentation>
          </xsd:annotation>
          <xsd:element name="disputeResolution" type="DisputeResolution" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The SCSA specifies a default resolution time, while it refers by default to the existing CSA for calculation of the value of Posted Credit Support. This element is meant to address the case where another resolution time is specified.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="demandsAndNotices" type="PartyContactInformation" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The contact information to which demands and notices should be addressed. There could be several of such contacts for each party to the agreement.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="otherProvisions" type="OtherProvisions" minOccurs="0" />
          <xsd:element name="transportCurrency" type="TransportCurrency" maxOccurs="2">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Transport Currency to be used by the respective parties to the agreement.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="dayCount" type="DayCount">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The day count is the denominator for accrual calculation. If no currency is specified, the value applies to all currencies. If some currencies are specified, it only applies to those currencies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="independentAmountInterestRate" type="IndependentAmountInterestRate">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The interest rate applicable to the cash held/posted as Independent Amount when expressed in currencies other than the Transport Currencies. (In the case of Transport Currencies, the SCSA states that the interest rate is OIS flat.)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="independentAmountEligibleCreditSupport" type="IndependentAmountEligibleCollateral" maxOccurs="2">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies the assets that qualify as Independent Amount Eligible Credit Support.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="exchangeDate" type="ExchangeDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies the date on which the Transferor will be obliged to transfer Equivalent Credit Support in accordance with Paragraph 3 (d) in the case where such date is different from the one specified in Paragraph 3(d)(ii).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StandardCreditSupportAnnex2014EnglishLaw">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The English Law 2014 SCSA implementation, which extends StandardCreditSupportAnnexBase.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="StandardCreditSupportAnnexBase">
        <xsd:sequence>
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Provisions that are specific to the English Law document.</xsd:documentation>
          </xsd:annotation>
          <xsd:element name="demandsAndNotices" type="PartyContactInformation" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The contact information to which demands and notices should be addressed. There could be several of such contacts for each party to the agreement.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="independentAmountEligibleCreditSupport" type="IndependentAmountEligibleCollateral" maxOccurs="2">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies the assets that qualify as Independent Amount Eligible Credit Support.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="valuationDateCity" type="BusinessCenters">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The list of business centers which holiday schedules are considered for the purpose of determining valuation dates.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="notificationTimeCity" type="BusinessCenter">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The reference business center for the purpose of specifying the Notification Time.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StandardCreditSupportAnnex2013NewYorkLaw">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The New York Law 2013 SCSA implementation, which extends StandardCreditSupportAnnexBase.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="StandardCreditSupportAnnexBase">
        <xsd:sequence>
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Provisions that are specific to the New York Law document.</xsd:documentation>
          </xsd:annotation>
          <xsd:element name="disputeResolution" type="DisputeResolution" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The SCSA specifies a default resolution time, while it refers by default to the existing CSA for calculation of the value of Posted Credit Support. This element is meant to address the case where another resolution time is specified.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="demandsAndNotices" type="PartyContactInformation" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The contact information to which demands and notices should be addressed. There could be several of such contacts for each party to the agreement.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="otherProvisions" type="OtherProvisions" minOccurs="0" />
          <xsd:element name="transportCurrency" type="TransportCurrency" maxOccurs="2">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Transport Currency to be used by the respective parties to the agreement.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="dayCount" type="DayCount">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The day count is the denominator for accrual calculation. If no currency is specified, the value applies to all currencies. If some currencies are specified, it only applies to those currencies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="independentAmountInterestRate" type="IndependentAmountInterestRate">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The interest rate applicable to the cash held/posted as Independent Amount when expressed in currencies other than the Transport Currencies. (In the case of Transport Currencies, the SCSA states that the interest rate is OIS flat.)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="independentAmountEligibleCollateral" type="IndependentAmountEligibleCollateral" maxOccurs="2">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Assets that qualify as eligible collateral for the purpose of initial margin.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="holdingAndUsingPostedCollateral" type="HoldingAndUsingPostedCollateral" maxOccurs="2">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Criteria under which the parties (and their custodians, if applicable) can hold posted collateral, and determination as to whether rehypothecation is permitted.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StandardCreditSupportAnnex2014NewYorkLaw">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The New York Law 2014 SCSA implementation, which extends StandardCreditSupportAnnexBase.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="StandardCreditSupportAnnexBase">
        <xsd:sequence>
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Provisions that are specific to the New York Law document.</xsd:documentation>
          </xsd:annotation>
          <xsd:element name="demandsAndNotices" type="PartyContactInformation" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The contact information to which demands and notices should be addressed. There could be several of such contacts for each party to the agreement.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="independentAmountEligibleCreditSupport" type="IndependentAmountEligibleCollateral" maxOccurs="2">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Assets that qualify as eligible collateral for the purpose of initial margin.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="useOfPostedCreditSupport" type="UseOfPostedCreditSupport" maxOccurs="2">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies whether the respective parties to the agreement have the right to rehypothecate the collateral held.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="valuationDateCity" type="BusinessCenters">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The list of business centers which holiday schedules are considered for the purpose of determining valuation dates.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="notificationTimeCity" type="BusinessCenter">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The reference business center for the purpose of specifying the Notification Time.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StandardCreditSupportAnnexBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The base SCSA implementation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ContractualDocument">
        <xsd:sequence>
          <xsd:element name="independentAmounts" type="IndependentAmounts" maxOccurs="2">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies the way the independent amount is determined.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="baseCurrency" type="Currency">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The base currency to be used as a common denominator for Initial Amount calculation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="existingCreditSupportAnnex" type="ExistingCreditSupportAnnex" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Reference to the legacy CSA that the parties may reference.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="settlementDay" type="SettlementDay">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Settlement under the SCSA is required to be either on a T+1 or, exceptionally, on a T+2 basis (when counterparties are in disparate timezones). T+0 settlement is not allowed under the SCSA.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TransportCurrency">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type to specify the transport currency for each of the parties to the agreement. This Transport Currency concept is specific to the 2013 version of the Standard CSA.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="partyReference" type="PartyReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The party to which the terms apply.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="electedTransportCurrency" type="ElectedTransportCurrency">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Only a restricted list of currencies are eligible as transport currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UseOfPostedCreditSupport">
    <xsd:sequence>
      <xsd:element name="partyReference" type="PartyReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The party to which the terms apply.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="useOfPostedCollateral" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies whether the respective parties to the agreement have the right to rehypothecate the collateral held.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="contractualDocument" type="ContractualDocument" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An abstract element used as a placeholder for the substituting legal document elements.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="standardCsa" type="StandardCreditSupportAnnexBase" abstract="true" substitutionGroup="contractualDocument">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An abstract element used as a placeholder for the substituting SCSA elements.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="standardCsa2013EnglishLaw" type="StandardCreditSupportAnnex2013EnglishLaw" substitutionGroup="standardCsa">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The substitution group element for the English Law variation of the 2013 SCSA.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="standardCsa2014EnglishLaw" type="StandardCreditSupportAnnex2014EnglishLaw" substitutionGroup="standardCsa">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The substitution group element for the English Law variation of the 2014 SCSA.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="standardCsa2013NewYorkLaw" type="StandardCreditSupportAnnex2013NewYorkLaw" substitutionGroup="standardCsa">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The substitution group element for the New York Law variation of the 2013 SCSA.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="standardCsa2014NewYorkLaw" type="StandardCreditSupportAnnex2014NewYorkLaw" substitutionGroup="standardCsa">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The substitution group element for the New York Law variation of the 2014 SCSA.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>

