src/main/resources/schemas/fpml-4-6/fpml-return-swaps-4-6.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2009. All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fpml.org/2009/FpML-4-6" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
            xmlns:fpml-annotation="http://www.fpml.org/annotation" ecore:nsPrefix="fpml" ecore:package="org.fpml" ecore:documentRoot="FpML" targetNamespace="http://www.fpml.org/2009/FpML-4-6"
            version="$Revision: 6181 $" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:include schemaLocation="fpml-ird-4-6.xsd"/>
    <xsd:include schemaLocation="fpml-eq-shared-4-6.xsd"/>
    <xsd:complexType name="DeprecatedEquityLeg" fpml-annotation:deprecated="true" fpml-annotation:deprecatedReason="It has been made more generic as ReturnLeg to cover return swap type products.">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">This type has been DEPRECATED. It will be removed in the next FpML major version. A type describing the equity leg of a return type swap.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ReturnSwapLeg">
                <xsd:sequence>
                    <xsd:element name="effectiveDate" type="AdjustableOrRelativeDate">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies the effective date of the equity leg of the swap. When defined in relation to a date specified somewhere else in the document
                                (through the relativeDate component), this element will typically point to the effective date of the other leg of the swap.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="terminationDate" type="AdjustableOrRelativeDate">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies the termination date of the equity leg of the swap. When defined in relation to a date specified somewhere else in the document
                                (through the relativeDate component), this element will typically point to the termination date of the other leg of the swap.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="underlyer" type="Underlyer">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies the underlying component of the return type swap, which can be either one or many and consists in either equity, index or
                                convertible bond component, or a combination of these.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valuation" type="DeprecatedEquityLegValuation">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies the terms of the initial price of the return type swap and of the subsequent valuations of the equity underlyer.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="notional" type="ReturnSwapNotional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies the notional of a return type swap. When used in the equity leg, the definition will typically combine the actual amount (using
                                the notional component defined by the FpML industry group) and the determination method. When used in the interest leg, the definition will typically point to the
                                definition of the equity leg.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="equityAmount" type="ReturnSwapAmount">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies, in relation to each Equity Payment Date, the amount to which the Equity Payment Date relates. Unless otherwise specified, this
                                term has the meaning defined in the ISDA 2002 Equity Derivatives Definitions.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="return" type="Return">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies the conditions under which dividend affecting the underlyer will be paid to the receiver of the equity amounts.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="notionalAdjustments" type="NotionalAdjustmentEnum">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies the conditions that govern the adjustment to the number of units of the equity swap.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fxFeature" type="FxFeature" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">A quanto or composite FX feature.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DeprecatedEquityLegValuation" fpml-annotation:deprecated="true"
                     fpml-annotation:deprecatedReason="It has been made more generic as ReturnLegValuation to cover return swap type products.">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">This type has been DEPRECATED. It will be removed in the next FpML major version. A type describing the initial and final valuation of the equity
                underlyer.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="initialPrice" type="DeprecatedEquityLegValuationPrice">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Specifies the initial reference price of the equity underlyer. This price can be expressed either as an actual amount/currency, as a determination
                        method, or by reference to another value specified in the swap document.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="equityNotionalReset" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The term "Equity Notional Reset" is assumed to have the meaning as defined in the ISDA 2002 Equity Derivatives Definitions. The reference to the
                        ISDA definition is either "Applicable" or 'Inapplicable".
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valuationPriceInterim" type="DeprecatedEquityLegValuationPrice" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Specifies the interim valuation price of the equity underlyer. This price can be expressed either as an actual amount/currency, as a determination
                        method, or by reference to another value specified in the swap document.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valuationPriceFinal" type="DeprecatedEquityLegValuationPrice">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Specifies the final valuation price of the equity underlyer. This price can be expressed either as an actual amount/currency, as a determination
                        method, or by reference to another value specified in the swap document.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="equityPaymentDates" type="DeprecatedEquityPaymentDates">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Specifies the equity payment dates of the swap.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeprecatedEquityLegValuationPrice" fpml-annotation:deprecated="true"
                     fpml-annotation:deprecatedReason="It has been made more generic as ReturnLegValuationPrice to cover return swap type products.">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">This type has been DEPRECATED. It will be removed in the next FpML major version.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="Price">
                <xsd:sequence>
                    <xsd:element name="equityValuation" type="EquityValuation" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DeprecatedEquityPaymentDates" fpml-annotation:deprecated="true"
                     fpml-annotation:deprecatedReason="It has been made more generic as ReturnLegPaymentDates to cover return swap type products.">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">This type has been DEPRECATED. It will be removed in the next FpML major version. A type describing the equity payment dates of the swap.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="equityPaymentDatesInterim" type="AdjustableOrRelativeDates" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Specifies the interim payment dates of the swap. When defined in relation to a date specified somewhere else in the document (through the
                        relativeDates component), this element will typically refer to the valuation dates and add a lag corresponding to the settlement cycle of the underlyer.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="equityPaymentDateFinal" type="AdjustableOrRelativeDate">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Specifies the final payment date of the swap. When defined in relation to a date specified somewhere else in the document (through the relativeDate
                        component), this element will typically refer to the final valuation date and add a lag corresponding to the settlement cycle of the underlyer.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>
    <xsd:complexType name="EquitySwapTransactionSupplement">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A type for defining Equity Swap Transaction Supplement</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ReturnSwapBase">
                <xsd:sequence>
                    <xsd:group ref="MutualOrOptionalEarlyTermination.model" minOccurs="0"/>
                    <xsd:group ref="EquityUnderlyerProvisions.model" minOccurs="0"/>
                    <xsd:element name="extraordinaryEvents" type="ExtraordinaryEvents" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Where the underlying is shares, specifies events affecting the issuer of those shares that may require the terms of the transaction to be
                                adjusted.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="equityLeg" type="DeprecatedEquityLeg" substitutionGroup="returnSwapLeg" fpml-annotation:deprecated="true"
                 fpml-annotation:deprecatedReason="It has been made more generic as returnLeg to cover return swap type products.">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">This element has been DEPRECATED and it will be removed in the next FpML major version (5.0) - please use returnLeg element to represent long form equity
                swaps, total return swaps. The equity amounts of the equity swap.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="equitySwap" type="ReturnSwap" substitutionGroup="product" fpml-annotation:deprecated="true"
                 fpml-annotation:deprecatedReason="It has been made more generic as returnSwap to cover return swap type products.">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">This element has been DEPRECATED and it will be removed in the next FpML major version (5.0) - please use returnSwap element to represent long form equity
                swaps, total return swaps, and variance swaps.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="equitySwapTransactionSupplement" type="EquitySwapTransactionSupplement" substitutionGroup="product">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Specifies the structure of the equity swap transaction supplement.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>

