src/main/resources/schemas/fpml-4-6/fpml-posttrade-4-6.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2009. All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fpml.org/2009/FpML-4-6" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
            xmlns:fpml-annotation="http://www.fpml.org/annotation" ecore:nsPrefix="fpml" ecore:package="org.fpml" ecore:documentRoot="FpML" targetNamespace="http://www.fpml.org/2009/FpML-4-6"
            version="$Revision: 5468 $" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:include schemaLocation="fpml-msg-4-6.xsd"/>
    <xsd:complexType name="AffectedTransactions">
        <xsd:group ref="TradeOrTradeReference.model" maxOccurs="unbounded"/>
    </xsd:complexType>
    <xsd:complexType name="Novation">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An event type that records the occurrence of a novation</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="Event">
                <xsd:sequence>
                    <xsd:group ref="NovationDetails.model"/>
                    <xsd:element name="payment" type="Payment" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="NovationNotificationMessage" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Abstract base class for all Novation Notification Messages.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="NotificationMessage">
                <xsd:sequence>
                    <xsd:group ref="NovationMessage.model"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="NovationRequestMessage" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Abstract base class for all Novation Request Messages.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="RequestMessage">
                <xsd:sequence>
                    <xsd:group ref="NovationMessage.model"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="NovationResponseMessage" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Abstract base class for all Novation Response Messages.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ResponseMessage">
                <xsd:sequence>
                    <xsd:sequence minOccurs="0">
                        <xsd:group ref="NovationMessage.model"/>
                    </xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PartialTerminationAmount">
        <xsd:sequence>
            <xsd:choice minOccurs="0">
                <xsd:sequence>
                    <xsd:element name="decreaseInNotionalAmount" type="Money">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies the fixed amount by which the Notional decreases due to the Partial Termination transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="outstandingNotionalAmount" type="Money">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies the Notional amount after the Partial Termination.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="decreaseInNumberOfOptions" type="xsd:decimal">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies the fixed amount by which the Number of Options decreases due to the Partial Termination transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="outstandingNumberOfOptions" type="xsd:decimal">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Specifies the Number of Options after the Partial Termination.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Termination">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An event type that defines the content of a Termination transaction.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="Event">
                <xsd:sequence>
                    <xsd:group ref="TradeOrTradeReference.model"/>
                    <xsd:group ref="TerminationDetails.model"/>
                    <xsd:element name="payment" type="Payment" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">A payment for the right to terminate the trade.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TradeAmendment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A type describing the original trade and the amended trade.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice minOccurs="0">
                <xsd:element name="originalTrade" type="Trade">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The entire original trade details.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="originalTradeIdentifier" type="PartyTradeIdentifier" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The trade id of the original trade details.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="amendedTrade" type="Trade">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The representation of the amended trade.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="NovationDetails.model">
        <xsd:sequence>
            <xsd:choice>
                <xsd:choice>
                    <xsd:element name="newTransactionReference" type="PartyTradeIdentifiers">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Indicates a reference to the new transaction between the transferee and the remaining party.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="newTransaction" type="Trade">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Indicates the new transaction between the transferee and the remaining party.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:choice>
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="oldTransactionReference" type="PartyTradeIdentifiers">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Indicates a reference to the original trade between the transferor and the remaining party.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="oldTransaction" type="Trade">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Indicates the original trade between the transferor and the remaining party.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice minOccurs="0">
                        <xsd:element name="newTransactionReference" type="PartyTradeIdentifiers">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Indicates a reference to the new transaction between the transferee and the remaining party.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="newTransaction" type="Trade">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Indicates the new transaction between the transferee and the remaining party.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:choice>
            <xsd:element name="transferor" type="PartyReference">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. In a three-way novation the party referenced is the Transferor
                        (outgoing party) in the novation. The Transferor means a party which transfers by novation to a Transferee all of its rights, liabilities, duties and obligations with respect
                        to a Remaining Party. In a four-way novation the party referenced is Transferor 1 which transfers by novation to Transferee 1 all of its rights, liabilities, duties and
                        obligations with respect to Transferor 2. ISDA 2004 Novation Term: Transferor (three-way novation) or Transferor 1 (four-way novation).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="transferee" type="PartyReference">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. In a three-way novation the party referenced is the Transferee
                        (incoming party) in the novation. Transferee means a party which accepts by way of novation all rights, liabilities, duties and obligations of a Transferor with respect to a
                        Remaining Party. In a four-way novation the party referenced is Transferee 1 which accepts by way of novation the rights, liabilities, duties and obligations of Transferor 1.
                        ISDA 2004 Novation Term: Transferee (three-way novation) or Transferee 1 (four-way novation).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="remainingParty" type="PartyReference">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. In a three-way novation the party referenced is the Remaining
                        Party in the novation. Remaining Party means a party which consents to a Transferor's transfer by novation and the acceptance thereof by the Transferee of all of the
                        Transferor's rights, liabilities, duties and obligations with respect to such Remaining Party under and with respect of the Novated Amount of a transaction. In a four-way
                        novation the party referenced is Transferor 2 per the ISDA definition and acts in the role of a Transferor. Transferor 2 transfers by novation to Transferee 2 all of its
                        rights, liabilities, duties and obligations with respect to Transferor 1. ISDA 2004 Novation Term: Remaining Party (three-way novation) or Transferor 2 (four-way novation).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="otherRemainingParty" type="PartyReference" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. This element is not applicable in a three-way novation and
                        should be omitted. In a four-way novation the party referenced is Transferee 2. Transferee 2 means a party which accepts by way of novation the rights, liabilities, duties and
                        obligations of Transferor 2. ISDA 2004 Novation Term: Transferee 2 (four-way novation).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="novationDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Specifies the date that one party's legal obligations with regard to a trade are transferred to another party. It corresponds to the Novation Date
                        section of the 2004 ISDA Novation Definitions, section 1.16.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="novationTradeDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Specifies the date the parties agree to assign or novate a trade. If this element is not specified, the novationTradeDate will be deemed to be the
                        novationDate. It corresponds to the Novation Trade Date section of the 2004 ISDA Novation Definitions, section 1.17.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0">
                <xsd:element name="novatedAmount" type="Money">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The amount which represents the portion of the Old Transaction being novated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="novatedNumberOfOptions" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The number of options which represent the portion of the Old Transaction being novated.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="remainingTrade" type="Trade" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This element contains a description of the remaining portion of a partially novated trade.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fullFirstCalculationPeriod" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This element corresponds to the applicability of the Full First Calculation Period as defined in the 2004 ISDA Novation Definitions, section
                        1.20.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="firstPeriodStartDate" type="FirstPeriodStartDate" minOccurs="0" maxOccurs="2">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Element that is used to be able to make sense of the “new transaction” without requiring reference back to the “old transaction”. In the case of
                        interest rate products there are potentially 2 “first period start dates” to reference – one with respect to each party to the new transaction. For Credit Default Swaps there
                        is just the one with respect to the party that is the fixed rate payer.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nonReliance" type="Empty" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This element corresponds to the non-Reliance section in the 2004 ISDA Novation Definitions, section 2.1 (c) (i). The element appears in the
                        instance document when non-Reliance is applicable.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="creditDerivativesNotices" type="CreditDerivativesNotices" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This element should be specified if one or more of either a Credit Event Notice, Notice of Publicly Available Information, Notice of Physical
                        Settlement or Notice of Intended Physical Settlement, as applicable, has been delivered by or to the Transferor or the Remaining Party. The type of notice or notices that have
                        been delivered should be indicated by setting the relevant boolean element value(s) to true. The absence of the element means that no Credit Event Notice, Notice of Publicly
                        Available Information, Notice of Physical Settlement or Notice of Intended Physical Settlement, as applicable, has been delivered by or to the Transferor or the Remaining
                        Party.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contractualDefinitions" type="ContractualDefinitions" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The definitions (such as those published by ISDA) that will define the terms of the novation transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="contractualSupplement" type="ContractualSupplement" minOccurs="0" maxOccurs="unbounded" fpml-annotation:deprecated="true"
                             fpml-annotation:deprecatedReason="The contractualTermsSupplement includes the publication date, which was not present in the contractualSupplement">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">DEPRECATED - This element will be removed in the next major version of FpML. The element contractualTermsSupplement should be used instead.
                            Definition: A contractual supplement (such as those published by ISDA) that will apply to the trade.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="contractualTermsSupplement" type="ContractualTermsSupplement" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">A contractual supplement (such as those published by ISDA) that will apply to the trade.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="NovationMessage.model">
        <xsd:sequence>
            <xsd:element name="novation" type="Novation"/>
            <xsd:element name="party" type="Party" minOccurs="3" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="TerminationDetails.model">
        <xsd:sequence>
            <xsd:element name="terminationTradeDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date on which the the parties enter into the Termination transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="terminationEffectiveDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date on which the Termination becomes effective.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="full" type="Empty">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The use of the Full element indicates that this is a Full Termination.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="partial" type="PartialTerminationAmount">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The use of the Partial element indicates that this is a Partial Termination.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:group>
</xsd:schema>

