src/main/resources/schemas/fpml-4-6/fpml-loan-4-6.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2009. All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fpml.org/2009/FpML-4-6" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" ecore:nsPrefix="fpml" ecore:package="org.fpml"
            ecore:documentRoot="FpML" targetNamespace="http://www.fpml.org/2009/FpML-4-6" version="$Revision: 2406 $" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:include schemaLocation="fpml-asset-4-6.xsd"/>
    <xsd:include schemaLocation="fpml-msg-4-6.xsd"/>
    <xsd:complexType name="BorrowingOptionType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The type of funded product for which the margin is being amended.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="Scheme">
                <xsd:attribute name="borrowingOptionTypeScheme" type="xsd:anyURI" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="DealSummary">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The reference to an agreement entered into between the borrower, the lenders, the agent, and other financial parties that describes the terms and
                conditions of the loan being made to the borrower and the obligations and requirements for the borrower, its related entities (if any), and the lenders. List of Ids should include at
                least CUSIP (if exists) and system Id of the system that generates the notice.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="IdentifiedAsset">
                <xsd:sequence>
                    <xsd:element name="creditAgreementDate" type="xsd:date" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The credit agreement date is the closing date (the date where the agreement has been signed) for the loans in the credit agreement. Funding
                                of the facilities occurs on (or sometimes a little after) the Credit Agreement date.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DrawdownNotice">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The notification from the agent bank to lender that loan contract is requested by the borrower. A loan contract notice will be created by the agent bank
                for each of the lenders
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="LoanContractNotice">
                <xsd:sequence>
                    <xsd:element name="drawdownEventType" type="DrawdownEventTypeEnum" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">An enumeration that describes whether this message is a drawdown or a rate set notification. The same message structure is used for both,
                                with some business validation differences.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="conditionsPrecedentType" type="ConditionsPrecedentEnum" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">An enumeration which describes whether the condition precent have been met, not met or been waived. Please note: this field in not required
                                since conditions precedent may not be applicable in certain scenarios.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="drawdownPayment" type="DrawdownPayment">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The lender's portion of the drawdown payment.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The parties involved with the associated transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DrawdownPayment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A structure used to describe the payment to be processed as part of the drawdown notice.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="PaymentBase">
                <xsd:sequence>
                    <xsd:element name="paymentDate" type="xsd:date">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The date on which the principal payment is made by the lender to the agent bank. This is an actual (adjusted) date. Usually defaults to the
                                effective date of the loan contract.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="shareLoanContractAmount" type="Money">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The amount of principal allocated to the lender for the given drawdown request. This is the same as the payment that must be made by the
                                lender to satisfy the drawdown request.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FacilityCommitmentPosition">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">This represents current and prior facility commitment amounts on both the global and lender postion levels.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="currentAmount" type="ParticipationAmount">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The amount of principal commitment currently allocated to the lender within the facility (this is after any associated events).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="priorAmount" type="ParticipationAmount" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The amount of principal commitment that was allocated to the lender within the facility (this is prior to any associated events).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="loanContractPosition" type="LoanContractPosition" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A structure used to define all positions held by the lender at the loan contract level. This structure is design to hold either some or all loan
                        contracts.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lcPosition" type="LcPosition" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FacilityNotice" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A base type for all facility-level notices.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="NotificationMessage">
                <xsd:sequence>
                    <xsd:group ref="FacilityNoticeDetails.model">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">A set of fields which are common to all facility and loan contract level notices.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:group>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FacilityRepayment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Representation of a repayment made by the borrower against a single facility.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="refusalAllowed" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines whether the lender has an option to accept or deny the payment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adjustsCommitment" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines whether the principal repayment will adjust the commitment level of the associated facility.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="breakageCost" type="BreakageCostEnum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Where breakage cost is applicable, this enumeration defines who is calculating it - agent bank or lender.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="repaymentDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date on which the principal repayment amount was paid to the lender by the agent bank. This is an actual (adjusted) date.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="amount" type="ParticipationAmount">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The global and lender share amount of the principal repayment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FacilitySummary">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A reference to a single credit limit within a deal (also referred to in the secondary markets as a 'tranche'). The list of ids should include the value of
                the id and a system reference to denote which internal/external source created the id.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="IdentifiedAsset">
                <xsd:sequence>
                    <xsd:choice minOccurs="0">
                        <xsd:element name="currency" type="Currency">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Facility denomination currency.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="originalCommitmentAmount" type="Money">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Original global commitment amount of the facility.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FeeAccrualPeriod">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The period for within a fee accrual calculation where the fee rate and underlying position amount (commitment, utilization or unutilized) is constant.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="Period.model">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The start and end date of the accrual period. This is a period of actual (adjusted) dates.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="accrualAmount" type="ParticipationAmount">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The global and lender share of the accrued fee amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FeeAccrualSchedule">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The details of the underlying elements that effect the calculation of a fee accrual.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="lenderCommitmentPeriod" type="LenderPositionPeriod" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The minimal period within the entire fee period where both the lender and global commitment amounts remain constant.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="lenderUtilizationPeriod" type="LenderPositionPeriod" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The minimal period within the entire fee period where both the lender and global utilization amounts remain constant..</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="lenderUnutilizedPeriod" type="LenderPositionPeriod" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The minimal period within the entire fee period where both lender and global unutilized amounts remain constant.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="lcBalancePeriod" type="LenderPositionPeriod" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The minimal period where both lender and global LC amounts remain constant.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="feeRatePeriod" type="RatePeriod" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The minimal period within the entire fee period where the fee rate remains constant.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="feeAccrualPeriod" type="FeeAccrualPeriod" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The minimal period within the entire fee period where all the factors effecting the fee accrual are constant.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FxTerms">
        <xsd:annotation>
            <xsd:documentation>A structure which specifies FX conversion terms.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="fxRate" type="FxRate">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The FX rate associated with the business event.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fixingDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date on which the associated FX rate was fixed.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FxTermsSchedule">
        <xsd:annotation>
            <xsd:documentation>A structure which specifies many FX conversion terms, based on a schedule.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="Period.model">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines the dates for a single FX term period. This is a period of actual (adjusted) dates.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="fxTerms" type="FxTerms">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines a single FX rate conversion.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InterestAccrualPeriod">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A period defined as having a constant interest rate within which the lender maintains a constant loan contract position.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="Period.model">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines the dates for a single interest accrual period. This is a period of actual (adjusted) dates.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="shareInterestAccrualAmount" type="Money">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The amount of interest accrued by the lender over the defined period.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sharePikAccrualAmount" type="Money" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The amount of PIK (payment in kind) accrued by the lender over the defined period.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InterestAccrualSchedule">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A schedule that incorporates all sub-periods of an interest accrual calculation.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="interestRatePeriod" type="InterestRatePeriod" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A period defined as having a constant interest rate.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pikPeriod" type="PikPeriod" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A period defined as having a constant PIK rate.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lenderLoanContractPeriod" type="LenderLoanContractPeriod" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A period within which the lender maintains a constant loan contract position.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="interestAccrualPeriod" type="InterestAccrualPeriod" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A combination of all period types where an interest amount can be calculated using constant factors.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InterestPayment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A payment requested by the agent bank from each lender for the accrued interest amount for the given period and a given loan contract.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="PaymentBase">
                <xsd:sequence>
                    <xsd:element name="calculationMethod" type="InterestCalculationMethodEnum">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Defines the way in which the agent bank is allocating interest payments - can be (i) pro-rata at the time of the interest payment or (ii)
                                based on the loan contract share throughout the interest period (which is the preferred method).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="paymentDate" type="xsd:date">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The date on which interest was paid to the lender by the agent bank. This is an actual (adjusted) date.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="amount" type="ParticipationAmount">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The amount of interest paid by the borrower to the agent bank and share paid to the lender.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="InterestPaymentNotice">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A notice defining the payment requested by the agent bank from each lender for given interest accrual period for a given loan contract.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="LoanContractNotice">
                <xsd:sequence>
                    <xsd:group ref="InterestPaymentDetails.model">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">A model which contains all fields required to describe an interest payment.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:group>
                    <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The parties involved with the associated transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="InterestRatePeriod">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A full definition of the accrual characteristics of a loan contract. This structure defines both the underlying base rate as well as any additional margins
                and costs associated with the loan contract.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="rateFixingDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date on which the underlying interest rate is fixed. It is an actual (adjusted) date. Note: This should default to the effective date of the
                        loan contract in the case of a PRIME base rate.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="Period.model">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The dates defining an interest rate period. This is a period of actual (adjusted) dates. Note: The end date, in the case of a PRIME-based loan
                        contract, should default to the loan contract maturity date.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:group ref="FloatingRateIndex.model">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines the underlying base rate for this interest rate period.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="interestRate" type="PositiveDecimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The actual interest rate, defined as a percentage.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="margin" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The margin as stated in the credit agreement.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mandatoryCostRate" type="PositiveDecimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Charged as an additional cost for select european deals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="allInRate" type="PositiveDecimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The actual percentage rate charged to the borrower. (Interest Rate + Margin + MCR) = All In Rate.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="interestDayBasis" type="DayCountFraction" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The day count basis for the interest rate period.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tenor" type="Interval" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The number of business days in the interest rate period.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="projectedInterestAmount" type="ParticipationAmount" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Projected amount of interest that will be paid by the Agent bank at the end of the interest period.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LcAmendmentNotice">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Letter of Credit amendment notice.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FacilityNotice">
                <xsd:sequence>
                    <xsd:element name="effectiveDate" type="xsd:date">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Effective date of the amendment.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="priorLc" type="LetterOfCredit">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The letter of credit before the amendment.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="postLc" type="LetterOfCredit">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The letter of credit after the amendment.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The parties involved with the associated transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LcBalanceNotice">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Letter of Credit balance change notice.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FacilityNotice">
                <xsd:sequence>
                    <xsd:element name="lcSummary" type="LcSummary">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">A basic set of fields to identify an LC. Please note that the partyReference within the contract identifier should refer to the Issuing
                                Bank.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="effectiveDate" type="xsd:date">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Effective date of the balance change.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="priorAmount" type="ParticipationAmount" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The global and lender share amount of the L/C before any associated balance change.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="balanceChangeAmount" type="ParticipationAmount">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The amount that the L/C has shifted by. Shown at both the global and share levels.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="currentAmount" type="ParticipationAmount">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The global and lender share amount of the L/C after any associated balance change.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lcDrawFlag" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Set to false for a normal increase or decrease in the LC amount. An LC draw results in a reduction of the LC amount and signifies that a
                                loan drawdown will take place in conjunction with this message.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The parties involved with the associated transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LcEvergreenOption">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents the evergreen option that is available within Letter of Credit contracts.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="extensionNoticePeriod" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The number of calendar days before the end of the LC that the borrower must state whether they would like to extend the LC.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extensionPeriod" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The period over which an extension could take place.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="finalExpirationDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The final date on which the L/C will expire once it has been extended.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LcIssuanceNotice">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Letter of Credit issuance notice.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FacilityNotice">
                <xsd:sequence>
                    <xsd:element name="letterOfCredit" type="LetterOfCredit"/>
                    <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The parties involved with the associated transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LcPosition">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents outstanding letter of credit amounts on both global and lender position levels</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="lcSummary" type="LcSummary"/>
            <xsd:element name="currentAmount" type="ParticipationAmount"/>
            <xsd:element name="priorAmount" type="ParticipationAmount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LcSummary">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A basic set of fields to identify an LC. Please note that the partyReference within the contract identifier should refer to the Issuing Bank.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="identifier" type="ContractIdentifier" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LcTerminationNotice">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Letter of Credit termination notice. L/C's can either expire or be cancelled; both of these scenarios would be captured by this notice.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FacilityNotice">
                <xsd:sequence>
                    <xsd:element name="lcSummary" type="LcSummary"/>
                    <xsd:element name="effectiveDate" type="xsd:date"/>
                    <xsd:element name="lcExpiryFlag" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Determines whether this event was created due to a natural expiration of the LC or an unscheduled cancellation.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="currentAmount" type="ParticipationAmount" minOccurs="0"/>
                    <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The parties involved with the associated transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LenderLoanContractPeriod">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A period within which the lender maintains a constant loan contract position.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="Period.model">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Dates defining an lender loan contract period. This is a period of actual (adjusted) dates.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="shareCommitmentAmount" type="Money" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The amount of the commitment amount allocated to the lender for the specific period.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="shareLoanContractAmount" type="Money">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The amount of the loan contractallocated to the lender. This is based on the share of the overall commitment that the lender is assigned.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LenderPositionPeriod">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A period within which the lender maintains a constant position amount.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="Period.model">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This is a period of actual (adjusted) dates.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="positionAmount" type="ParticipationAmount" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Global and lender share amounts.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LetterOfCredit">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An unfunded borrowing in the form of a Letter of Credit.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="lcSummary" type="LcSummary">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A basic set of fields to identify an LC. Please note that the partyReference within the contract identifier should refer to the Issuing Bank.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lcType" type="LcTypeEnum">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines the type of Letter of Credit that is issued.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lcPurpose" type="LcPurposeEnum">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines the purpose of a Letter of Credit.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="borrowerPartyReference" type="PartyReference">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">There could be multiple borrowers against a loan contract however the agents have been trying to promote the concept of an administrative borrower.
                        Hence, only one being shown in the field list.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="beneficiaryPartyReference" type="PartyReference">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">A party reference of the beneficiary.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="beneficiaryPartyName" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">A textual descriptor of the beneficiary.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="originalAmount" type="Money">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Original amount associated with the LC.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="amount" type="Money">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">An amount associated with the letter of credit.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="effectiveDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Effective date of the loan contract. This is the date on which the funds are passed to the borrower.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expiryDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Maturity date of the LC.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fxTerms" type="FxTerms" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines FX exchange rate when loan contract and facility currencies are different.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="evergreenOption" type="LcEvergreenOption" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">An option allowing the borrower to extend the tenor of the LC.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LoanContract">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A core structure describing a loan contract between borrower and lenders forming part or all of the credit line offered by a facility structure within a
                deal.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="loanContractSummary" type="LoanContractSummary">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A set of fields used to uniquely identify a specific loan contract within a given facility.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="borrowerPartyReference" type="PartyReference">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to the borrower against a loan contract.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="amount" type="Money">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The global borrowing amount associated with the loan contract. The currency may or may not be the same as the facility currency.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="participationAmount" type="ParticipationAmount">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The borrowing amount associated with the loan contract, global and lender share. The currency may or may not be the same as the facility
                            currency.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="effectiveDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The effective date of the loan contract. This is the date on which the funds are passed to the borrower. It is an actual (adjusted) date.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="conditionsPrecedentMet" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A flag defining whether conditions precedent have been met. Once met, the borrower can start drawing against the associated facility.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="conditionsPrecedentComment" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A free text field defining the resons why conditions precedent have not been met.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fxTermsSchedule" type="FxTermsSchedule" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines the exchange rate between the loan contract and facility currencies. This rate can be reset/redefined mid-period within an outstanding loan
                        contract.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="currentInterestRatePeriod" type="InterestRatePeriod">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines the base rate and additional charges associated with the loan contract.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="interestPaymentTenor" type="Interval" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The frequency at which interest payments are made. As stated in the credit agreement.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nextInterestPaymentDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The next interest payment is due on this date. This is an actual (adjusted) date.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LoanContractNotice" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An abstract type containing all the common elements of a loan contract-level notice.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="NotificationMessage">
                <xsd:sequence>
                    <xsd:group ref="FacilityNoticeDetails.model"/>
                    <xsd:choice>
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The sender may choose to either transmit the full or partial loan contract details.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:element name="loanContract" type="LoanContract">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">A core structure describing a loan contract between borrower and lenders forming part or all of the credit line offered by a facility
                                    structure within a deal.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="loanContractSummary" type="LoanContractSummary">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">A basic set of fields used to uniquely identify the loan contract.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LoanContractPosition">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents outstanding loan amounts on both the global and lender position levels.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="loanContractSummary" type="LoanContractSummary">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A basic set of fields used to uniquely identify the loan contract.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="currentAmount" type="ParticipationAmount">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The current outstanding loan contract amount represented on a global and lender share perspective (this is post to any associated events).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="priorAmount" type="ParticipationAmount" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The previous outstanding loan contract amount represented on a global and lender share perspective (this is prior to any associated events).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LoanContractRepayment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The amount of principal repayment associated with a single loan contract.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="loanContractSummary" type="LoanContractSummary">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A basic set of fields used to uniquely identify the loan contract.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="amount" type="ParticipationAmount">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The amount of principal repayment associated with this loan contract. This can be represented at the global and the lender share levels.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="interestPaidWithRepayment" type="InterestPaidWithRepaymentEnum">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines whether interest is being paid together with the principal repayment (on repayment date).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LoanContractSummary">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A basic set of fields used to uniquely identify the loan contract.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="identifier" type="ContractIdentifier" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A structure that can me used to store multiple identifiers for the loan contract. Each identifier has associated with it a scheme definition to
                        tell the recepient the 'type' of the id.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0">
                <xsd:element name="originalAmount" type="Money">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The original amount associated with the loan contract in loan contract currency.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="participationAmount" type="ParticipationAmount">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Loan contract amount, global and lender share in loan currency.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="maturityDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The maturity date of the loan contract. In the case of a PRIME-based loan, this field should be set to the maturity date of the facility.&gt;
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MarginRateChange">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The amount by which the margin rate has changed within a facility.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="borrowingOptionType" type="BorrowingOptionType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The type of funded product for which the margin is being amended.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="loanContractSummary" type="LoanContractSummary">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">A basic set of fields used to uniquely identify the loan contract.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="effectiveDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The effective date of the pricing change.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="priorRate" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The margin rate prior to the repricing.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postRate" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The margin rate after the repricing.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MaturingLoanContract">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Information about single maturing loan contract.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="loanContractSummary" type="LoanContractSummary">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A basic set of fields used to uniquely identify the loan contract.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="InterestPaymentDetails.model" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A model which contains all fields required to describe an interest payment.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MaturingLoanContracts">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Section in the rollover describing currently maturing loan contracts.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="maturingLoanContract" type="MaturingLoanContract" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A single maturing loan contract.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="repayment" type="Repayment" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NewLoanContracts">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Section in the rollover describing new loan contracts.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="loanContract" type="LoanContract" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">New loan contract created as the result of rollover.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="drawdownPayment" type="DrawdownPayment" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OneOffFeeNotice">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">This defines a notification of a one-off fee being paid at either the loan contract or facility levels.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FacilityNotice">
                <xsd:sequence>
                    <xsd:choice minOccurs="0">
                        <xsd:element name="loanContractSummary" type="LoanContractSummary">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">A basic set of fields used to uniquely identify the loan contract.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lcSummary" type="LcSummary">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">A basic set of fields used to uniquely identify a letter of credit.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element name="feePayment" type="OneOffFeePayment">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">A representation of the one-off payment.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The parties involved with the associated transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="OneOffFeePayment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The details of a payment made by the borrower to the agent bank related to a given one-off facilty or loan contract fee.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="PaymentBase">
                <xsd:sequence>
                    <xsd:element name="feeType" type="OneOffFeeTypeEnum">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Describes the type of the one-off fee.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="effectiveDate" type="xsd:date">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The date on which the fee is due. It is an actual (adjusted) date.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="paymentDate" type="xsd:date">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The date on which the fee is paid by the borrower to the agent bank. This is an actual (adjusted) date.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="amount" type="ParticipationAmount">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The global amount describes the amount paid by the borrower to the agent bank whereas the share amount describes the amount paid by the
                                agent bank to the lender.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="OnGoingFeeRateChange">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The amount by which a specific type of facility fee rate has changed within a facility.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="feeType" type="OnGoingFeeTypeEnum">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Describes the type of the on-going fee.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lcSummary" type="LcSummary" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A basic set of fields to identify an LC. Please note that the partyReference within the contract identifier should refer to the Issuing Bank. This
                        element is optional due to the fact that there may not be any outstanding L/C's within the given facility, in which case we can use this structure to publish the L/C price
                        change.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="effectiveDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The effective date of the on-going fee pricing change.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="priorRate" type="xsd:decimal" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The on-going fee rate prior to the repricing.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postRate" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The on-going fee rate after the repricing.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OnGoingFeeNotice">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The agent bank will request that the borrower makes a fee payment in accordance with the credit agreement. The borrower will make a payment to the agent
                bank after which the agent bank will calculate each lender's fee amount.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FacilityNotice">
                <xsd:sequence>
                    <xsd:choice minOccurs="0">
                        <xsd:element name="loanContractSummary" type="LoanContractSummary">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">A basic set of fields used to uniquely identify the loan contract.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lcSummary" type="LcSummary">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">A basic set of fields used to uniquely identify a letter of credit.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element name="feePayment" type="OnGoingFeePayment">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">A representation of the on-going fee payment.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="feeAccrualSchedule" type="FeeAccrualSchedule">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The details of the underlying elements that effect the calculation of a fee accrual.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The parties involved with the associated transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="OnGoingFeePayment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The details of a payment made by the borrower to the agent bank related to a given on-going facilty fee.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="PaymentBase">
                <xsd:sequence>
                    <xsd:element name="feeType" type="OnGoingFeeTypeEnum">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Describes the type of the on-going fee.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:group ref="Period.model">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The period against which the on-going fee is due. This is a period of actual (adjusted) dates.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:group>
                    <xsd:element name="feeDayBasis" type="DayCountFraction" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The day count basis for the fee calculation period.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="paymentDate" type="xsd:date">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The day on which the fee is paid by the borrower to the agent bank. This is an actual (adjusted) date.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="amount" type="ParticipationAmount">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The global amount describes the amount paid by the borrower to the agent bank whereas the share amount describes the amount paid by the
                                agent bank to the lender.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ParticipationAmount">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Generic type to represent amounts at the global (borrower's viewpoint) and the lender share (lender's viewpoint) levels.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="globalAmount" type="Money" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The global amount associated with either a business event or an asset balance amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="shareAmount" type="Money">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The lender's share amount associated with a business event or an asset balance amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PikPeriod">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A period with a constant PIK percentage - the percentage of margin which is capitalized.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="Period.model">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Dates defining the period. This is a period of actual (adjusted) dates.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="pikPercent" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The percentage of either the base rate or margin that will be capitalized.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PricingChangeNotice">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A notice used to notify changes in the pricing of a given facility.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FacilityNotice">
                <xsd:sequence>
                    <xsd:element name="pricingChangeReason" type="PricingChangeReason" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Denotes the reason a facility has had to be re-priced.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:choice>
                        <xsd:sequence>
                            <xsd:element name="marginRateChange" type="MarginRateChange" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">The amount by which the margin rate has changed within a facility.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="onGoingFeeRateChange" type="OnGoingFeeRateChange" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en"/>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:element name="onGoingFeeRateChange" type="OnGoingFeeRateChange" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en"/>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The parties involved with the associated transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PricingChangeReason">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A scheme which defines the reasons why a facility re-pricing has occurred.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="Scheme">
                <xsd:attribute name="pricingChangeReasonScheme" type="xsd:anyURI" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="RatePeriod">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Defines a generic 'rate' for a defined period.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="Period.model">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The dates defining the period. This is a period of actual (adjusted) dates.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="rate" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The rate applied to this period.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Repayment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Representation of a repayment made by the borrower. This structure represents the repayment at the facility and loan contract levels.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="facilityRepayment" type="FacilityRepayment">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Representation of a principal repayment shown at the facility level.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="loanContractRepayment" type="LoanContractRepayment" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Representation of a principal repayment shown at the loan contract level.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RepaymentNotice">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A notice describing a principal repayment to be made by the borrower.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FacilityNotice">
                <xsd:sequence>
                    <xsd:element name="repayment" type="Repayment">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Representation of a repayment made by the borrower. This structure represents the repayment at the facility and loan contract levels.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The parties involved with the associated transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="RolloverNotice">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A rollover notice used for both simple as well as complex rollover situations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FacilityNotice">
                <xsd:sequence>
                    <xsd:element name="maturingLoanContracts" type="MaturingLoanContracts">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Details of all loan contracts due to mature and all corresponding interest payments to be paid for the given rollover event.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="newLoanContracts" type="NewLoanContracts">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">A list of the new loan contracts to be created as a result of this rollover.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The parties involved with the associated transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="InterestPaymentDetails.model">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A model which contains all fields required to describe an interest payment.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="interestPayment" type="InterestPayment">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents the total amount of interest paid by the borrower to the agent bank and the share of it paid to the lender.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="interestAccrualSchedule" type="InterestAccrualSchedule">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A schedule that incorporates all sub-periods of an interest accrual calculation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="FacilityNoticeDetails.model">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A model which contains all fields required on the business header section of a facility notice.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="noticeDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date on which the notice was generated.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eventId" type="EventId" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The identifier that defines the business event which requires the creation of a notice.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="agentBankPartyReference" type="PartyReference" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to the agent bank for the given deal.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="borrowerPartyReference" type="PartyReference" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to the borrower against the associated loan contract(s).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lenderPartyReference" type="PartyReference" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A reference to the lender(s) associated with the associated loan contract(s).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dealSummary" type="DealSummary">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A data structure which contains the identifying characteristics of the given deal.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="facilitySummary" type="FacilitySummary">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A data structure which contains the identifying characteristics of the given facility.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="facilityCommitmentPosition" type="FacilityCommitmentPosition" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A structure which contains the position being held by the lender on both the facility and loan contract levels. This position information is from
                        the message sender's viewpoint as of the date of the associated notice.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="exceptionFlag" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A flag which can be set by the message sender in order to signify an exceptional business event.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comments" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">A free-form, manually entered field which will be used by users directly for additional information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
</xsd:schema>

