src/main/resources/schemas/fixml-5-0-sp2/fixml-marketdata-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="MarketDataRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Req" type="MDReqGrp_Block_t" maxOccurs="unbounded"/>
         <xs:element name="MktSegScope" type="MarketSegmentScopeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="InstReq" type="InstrmtMDReqGrp_Block_t" maxOccurs="unbounded"/>
         <xs:element name="TrdSes" type="TrdgSesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MarketDataRequestAttributes">
      <xs:attribute name="ReqID" type="MDReqID_t" use="required"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="required"/>
      <xs:attribute name="MktDepth" type="MarketDepth_t" use="required"/>
      <xs:attribute name="UpdtTyp" type="MDUpdateType_t" use="optional"/>
      <xs:attribute name="AggBook" type="AggregatedBook_t" use="optional"/>
      <xs:attribute name="OpenClsSettlFlag" type="OpenCloseSettlFlag_t" use="optional"/>
      <xs:attribute name="Scope" type="Scope_t" use="optional"/>
      <xs:attribute name="ImplctDel" type="MDImplicitDelete_t" use="optional"/>
      <xs:attribute name="ApplQuActn" type="ApplQueueAction_t" use="optional"/>
      <xs:attribute name="ApplQuMax" type="ApplQueueMax_t" use="optional"/>
      <xs:attribute name="MDQteTyp" type="MDQuoteType_t" use="optional"/>
      <xs:attribute name="FastMktInd" type="FastMarketIndicator_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MarketDataRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MarketDataRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MarketDataRequest" ComponentType="Message" MsgID="29"
                     Section="PreTrade"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MarketDataRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MarketDataRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MktDataReq" type="MarketDataRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MarketDataSnapshotFullRefreshElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Full" type="MDFullGrp_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Rtg" type="RoutingGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MarketDataSnapshotFullRefreshAttributes">
      <xs:attribute name="TotNumRpts" type="TotNumReports_t" use="optional"/>
      <xs:attribute name="RptID" type="MDReportID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="MDBkTyp" type="MDBookType_t" use="optional"/>
      <xs:attribute name="MDSubBkTyp" type="MDSubBookType_t" use="optional"/>
      <xs:attribute name="MktDepth" type="MarketDepth_t" use="optional"/>
      <xs:attribute name="MDFeedTyp" type="MDFeedType_t" use="optional"/>
      <xs:attribute name="MDSubFeedTyp" type="MDSubFeedType_t" use="optional"/>
      <xs:attribute name="RefInd" type="RefreshIndicator_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="ReqID" type="MDReqID_t" use="optional"/>
      <xs:attribute name="MDStrmID" type="MDStreamID_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="LastUpdateTm" type="LastUpdateTime_t" use="required"/>
      <xs:attribute name="FinclStat" type="FinancialStatus_t" use="optional"/>
      <xs:attribute name="CorpActn" type="CorporateAction_t" use="optional"/>
      <xs:attribute name="NetChgPrevDay" type="NetChgPrevDay_t" use="optional"/>
      <xs:attribute name="TrdgStat" type="MDSecurityTradingStatus_t" use="optional"/>
      <xs:attribute name="HaltRsn" type="MDHaltReason_t" use="optional"/>
      <xs:attribute name="ApplQuDepth" type="ApplQueueDepth_t" use="optional"/>
      <xs:attribute name="ApplQuResolution" type="ApplQueueResolution_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MarketDataSnapshotFullRefresh_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MarketDataSnapshotFullRefresh can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MarketDataSnapshotFullRefresh" ComponentType="Message"
                     MsgID="30"
                     Section="PreTrade"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MarketDataSnapshotFullRefreshElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MarketDataSnapshotFullRefreshAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MktDataFull" type="MarketDataSnapshotFullRefresh_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MarketDataIncrementalRefreshElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Inc" type="MDIncGrp_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Rtg" type="RoutingGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MarketDataIncrementalRefreshAttributes">
      <xs:attribute name="MDBkTyp" type="MDBookType_t" use="optional"/>
      <xs:attribute name="MDFeedTyp" type="MDFeedType_t" use="optional"/>
      <xs:attribute name="MDSubFeedTyp" type="MDSubFeedType_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="ReqID" type="MDReqID_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="ApplQuDepth" type="ApplQueueDepth_t" use="optional"/>
      <xs:attribute name="ApplQuResolution" type="ApplQueueResolution_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MarketDataIncrementalRefresh_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MarketDataIncrementalRefresh can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MarketDataIncrementalRefresh" ComponentType="Message"
                     MsgID="31"
                     Section="PreTrade"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MarketDataIncrementalRefreshElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MarketDataIncrementalRefreshAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MktDataInc" type="MarketDataIncrementalRefresh_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MarketDataRequestRejectElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Rjct" type="MDRjctGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MarketDataRequestRejectAttributes">
      <xs:attribute name="ReqID" type="MDReqID_t" use="required"/>
      <xs:attribute name="ReqRejResn" type="MDReqRejReason_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MarketDataRequestReject_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MarketDataRequestReject can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MarketDataRequestReject" ComponentType="Message"
                     MsgID="32"
                     Section="PreTrade"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MarketDataRequestRejectElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MarketDataRequestRejectAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MktDataReqRej" type="MarketDataRequestReject_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="StreamAssignmentRequestElements">
      <xs:sequence>
         <xs:element name="Reqs" type="StrmAsgnReqGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="StreamAssignmentRequestAttributes">
      <xs:attribute name="ReqID" type="StreamAsgnReqID_t" use="required"/>
      <xs:attribute name="AsgnReqTyp" type="StreamAsgnReqType_t" use="required"/>
   </xs:attributeGroup>
   <xs:complexType name="StreamAssignmentRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">StreamAssignmentRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="StreamAssignmentRequest" ComponentType="Message"
                     MsgID="114"
                     Section="PreTrade"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="StreamAssignmentRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="StreamAssignmentRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="StrmAsgnReq" type="StreamAssignmentRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="StreamAssignmentReportElements">
      <xs:sequence>
         <xs:element name="Rpts" type="StrmAsgnRptGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="StreamAssignmentReportAttributes">
      <xs:attribute name="RptID" type="StreamAsgnRptID_t" use="required"/>
      <xs:attribute name="AsgnReqTyp" type="StreamAsgnReqType_t" use="optional"/>
      <xs:attribute name="ReqID" type="StreamAsgnReqID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="StreamAssignmentReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">StreamAssignmentReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="StreamAssignmentReport" ComponentType="Message"
                     MsgID="115"
                     Section="PreTrade"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="StreamAssignmentReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="StreamAssignmentReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="StrmAsgnRpt" type="StreamAssignmentReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="StreamAssignmentReportACKElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="StreamAssignmentReportACKAttributes">
      <xs:attribute name="ActTyp" type="StreamAsgnAckType_t" use="required"/>
      <xs:attribute name="RptID" type="StreamAsgnRptID_t" use="required"/>
      <xs:attribute name="RejRsn" type="StreamAsgnRejReason_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="StreamAssignmentReportACK_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">StreamAssignmentReportACK can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="StreamAssignmentReportACK" ComponentType="Message"
                     MsgID="116"
                     Section="PreTrade"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="StreamAssignmentReportACKElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="StreamAssignmentReportACKAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="StrmAsgnRptACK" type="StreamAssignmentReportACK_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MarketDataStatisticsRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="StatsReq" type="MDStatisticReqGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MarketDataStatisticsRequestAttributes">
      <xs:attribute name="ReqID" type="MDStatisticReqID_t" use="required"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="required"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="MarketSegmentDesc" type="MarketSegmentDesc_t" use="optional"/>
      <xs:attribute name="EncodedMktSegmDescLen" type="EncodedMktSegmDescLen_t" use="optional"/>
      <xs:attribute name="EncodedMktSegmDesc" type="EncodedMktSegmDesc_t" use="optional"/>
      <xs:attribute name="ListID" type="SecurityListID_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MarketDataStatisticsRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MarketDataStatisticsRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MarketDataStatisticsRequest" ComponentType="Message"
                     MsgID="151"
                     Section="PreTrade"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MarketDataStatisticsRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MarketDataStatisticsRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MDStatsReq" type="MarketDataStatisticsRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MarketDataStatisticsReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="StatsRpt" type="MDStatisticRptGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MarketDataStatisticsReportAttributes">
      <xs:attribute name="RptID" type="MDStatisticRptID_t" use="required"/>
      <xs:attribute name="ReqID" type="MDStatisticReqID_t" use="optional"/>
      <xs:attribute name="ReqRslt" type="MDStatisticRequestResult_t" use="optional"/>
      <xs:attribute name="Unsol" type="UnsolicitedIndicator_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="MarketSegmentDesc" type="MarketSegmentDesc_t" use="optional"/>
      <xs:attribute name="EncodedMktSegmDescLen" type="EncodedMktSegmDescLen_t" use="optional"/>
      <xs:attribute name="EncodedMktSegmDesc" type="EncodedMktSegmDesc_t" use="optional"/>
      <xs:attribute name="ListID" type="SecurityListID_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MarketDataStatisticsReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MarketDataStatisticsReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MarketDataStatisticsReport" ComponentType="Message"
                     MsgID="152"
                     Section="PreTrade"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MarketDataStatisticsReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MarketDataStatisticsReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MDStatsRpt" type="MarketDataStatisticsReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MarketDataReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MarketDataReportAttributes">
      <xs:attribute name="RptID" type="MDReportID_t" use="optional"/>
      <xs:attribute name="MDRptEvent" type="MDReportEvent_t" use="required"/>
      <xs:attribute name="MDRptCnt" type="MDReportCount_t" use="required"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="TotNumRpts" type="TotNumReports_t" use="optional"/>
      <xs:attribute name="TotNoMktSegRpts" type="TotNoMarketSegmentReports_t" use="optional"/>
      <xs:attribute name="TotNoInstrmtRpts" type="TotNoInstrumentReports_t" use="optional"/>
      <xs:attribute name="TotNoPtyDetlRpts" type="TotNoPartyDetailReports_t" use="optional"/>
      <xs:attribute name="TotNoEntlmntRpts" type="TotNoEntitlementReports_t" use="optional"/>
      <xs:attribute name="TotNoRiskLmtRpts" type="TotNoRiskLimitReports_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MarketDataReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MarketDataReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MarketDataReport" ComponentType="Message" MsgID="154"
                     Section="PreTrade"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MarketDataReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MarketDataReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MktDataRpt" type="MarketDataReport_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MDFullGrpElements">
      <xs:sequence>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="RtSrc" type="RateSource_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SecSizesGrp" type="SecSizesGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdPxConds" type="TradePriceConditionGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdRegPublctn" type="TrdRegPublicationGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ReltdTrd" type="RelatedTradeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MDFullGrpAttributes">
      <xs:attribute name="Typ" type="MDEntryType_t" use="required"/>
      <xs:attribute name="ID" type="MDEntryID_t" use="optional"/>
      <xs:attribute name="Px" type="MDEntryPx_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="Sz" type="MDEntrySize_t" use="optional"/>
      <xs:attribute name="LotTyp" type="LotType_t" use="optional"/>
      <xs:attribute name="Dt" type="MDEntryDate_t" use="optional"/>
      <xs:attribute name="Tm" type="MDEntryTime_t" use="optional"/>
      <xs:attribute name="TickDirctn" type="TickDirection_t" use="optional"/>
      <xs:attribute name="Mkt" type="MDMkt_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="TrdgStat" type="SecurityTradingStatus_t" use="optional"/>
      <xs:attribute name="HaltRsn" type="HaltReason_t" use="optional"/>
      <xs:attribute name="FastMktInd" type="FastMarketIndicator_t" use="optional"/>
      <xs:attribute name="QCond" type="QuoteCondition_t" use="optional"/>
      <xs:attribute name="TrdCond" type="TradeCondition_t" use="optional"/>
      <xs:attribute name="AlgoTrdInd" type="AlgorithmicTradeIndicator_t" use="optional"/>
      <xs:attribute name="Orig" type="MDEntryOriginator_t" use="optional"/>
      <xs:attribute name="LctnID" type="LocationID_t" use="optional"/>
      <xs:attribute name="DeskID" type="DeskID_t" use="optional"/>
      <xs:attribute name="OpenClsSettlFlag" type="OpenCloseSettlFlag_t" use="optional"/>
      <xs:attribute name="TmInForce" type="TimeInForce_t" use="optional"/>
      <xs:attribute name="ExpireDt" type="ExpireDate_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="ExpsreDur" type="ExposureDuration_t" use="optional"/>
      <xs:attribute name="ExpsreDurUnit" type="ExposureDurationUnit_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="ExecInst" type="ExecInst_t" use="optional"/>
      <xs:attribute name="SellerDays" type="SellerDays_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="EntryID" type="QuoteEntryID_t" use="optional"/>
      <xs:attribute name="TrdID" type="TradeID_t" use="optional"/>
      <xs:attribute name="StrategyLinkID" type="StrategyLinkID_t" use="optional"/>
      <xs:attribute name="Buyer" type="MDEntryBuyer_t" use="optional"/>
      <xs:attribute name="Seller" type="MDEntrySeller_t" use="optional"/>
      <xs:attribute name="NumOfBuyOrds" type="NumberOfBuyOrders_t" use="optional"/>
      <xs:attribute name="NumOfSellOrds" type="NumberOfSellOrders_t" use="optional"/>
      <xs:attribute name="NumOfOrds" type="NumberOfOrders_t" use="optional"/>
      <xs:attribute name="PosNo" type="MDEntryPositionNo_t" use="optional"/>
      <xs:attribute name="Scope" type="Scope_t" use="optional"/>
      <xs:attribute name="PxDelta" type="PriceDelta_t" use="optional"/>
      <xs:attribute name="TrdTyp" type="TrdType_t" use="optional"/>
      <xs:attribute name="TrdSubTyp" type="TrdSubType_t" use="optional"/>
      <xs:attribute name="RegRptTyp" type="RegulatoryReportType_t" use="optional"/>
      <xs:attribute name="ExecMeth" type="ExecMethod_t" use="optional"/>
      <xs:attribute name="MtchTyp" type="MatchType_t" use="optional"/>
      <xs:attribute name="OrdCat" type="OrderCategory_t" use="optional"/>
      <xs:attribute name="TrdPubInd" type="TradePublishIndicator_t" use="optional"/>
      <xs:attribute name="PrevlyRpted" type="PreviouslyReported_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="MDPxLvl" type="MDPriceLevel_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="MDOrigTyp" type="MDOriginType_t" use="optional"/>
      <xs:attribute name="HighPx" type="HighPx_t" use="optional"/>
      <xs:attribute name="LowPx" type="LowPx_t" use="optional"/>
      <xs:attribute name="FirstPx" type="FirstPx_t" use="optional"/>
      <xs:attribute name="LastPx" type="LastPx_t" use="optional"/>
      <xs:attribute name="DiscFctr" type="DiscountFactor_t" use="optional"/>
      <xs:attribute name="TrdVol" type="TradeVolume_t" use="optional"/>
      <xs:attribute name="SetPxTyp" type="SettlPriceType_t" use="optional"/>
      <xs:attribute name="SettlPxDtrmnMeth" type="SettlPriceDeterminationMethod_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="MDQteTyp" type="MDQuoteType_t" use="optional"/>
      <xs:attribute name="RptSeq" type="RptSeq_t" use="optional"/>
      <xs:attribute name="DealingCpcty" type="DealingCapacity_t" use="optional"/>
      <xs:attribute name="MDEntrySpotRt" type="MDEntrySpotRate_t" use="optional"/>
      <xs:attribute name="MDEntryFwdPnts" type="MDEntryForwardPoints_t" use="optional"/>
      <xs:attribute name="AgrsrTm" type="AggressorTime_t" use="optional"/>
      <xs:attribute name="AgrsrSide" type="AggressorSide_t" use="optional"/>
      <xs:attribute name="RefID" type="LegRefID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MDFullGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MDFullGrp" ComponentType="ImplicitBlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="MDFullGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="MDFullGrpAttributes"/>
   </xs:complexType>
   <xs:group name="MDIncGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="RtSrc" type="RateSource_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SecSizesGrp" type="SecSizesGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdPxConds" type="TradePriceConditionGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdRegPublctn" type="TrdRegPublicationGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ReltdTrd" type="RelatedTradeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="StatsIndGrp" type="StatsIndGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MDIncGrpAttributes">
      <xs:attribute name="UpdtAct" type="MDUpdateAction_t" use="required"/>
      <xs:attribute name="DelRsn" type="DeleteReason_t" use="optional"/>
      <xs:attribute name="MDSubBkTyp" type="MDSubBookType_t" use="optional"/>
      <xs:attribute name="MktDepth" type="MarketDepth_t" use="optional"/>
      <xs:attribute name="Typ" type="MDEntryType_t" use="optional"/>
      <xs:attribute name="ID" type="MDEntryID_t" use="optional"/>
      <xs:attribute name="RefID" type="MDEntryRefID_t" use="optional"/>
      <xs:attribute name="MDStrmID" type="MDStreamID_t" use="optional"/>
      <xs:attribute name="FinclStat" type="FinancialStatus_t" use="optional"/>
      <xs:attribute name="CorpActn" type="CorporateAction_t" use="optional"/>
      <xs:attribute name="Px" type="MDEntryPx_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="Sz" type="MDEntrySize_t" use="optional"/>
      <xs:attribute name="LotTyp" type="LotType_t" use="optional"/>
      <xs:attribute name="Dt" type="MDEntryDate_t" use="optional"/>
      <xs:attribute name="Tm" type="MDEntryTime_t" use="optional"/>
      <xs:attribute name="TickDirctn" type="TickDirection_t" use="optional"/>
      <xs:attribute name="Mkt" type="MDMkt_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="TrdgStat" type="SecurityTradingStatus_t" use="optional"/>
      <xs:attribute name="HaltRsn" type="HaltReason_t" use="optional"/>
      <xs:attribute name="FastMktInd" type="FastMarketIndicator_t" use="optional"/>
      <xs:attribute name="QCond" type="QuoteCondition_t" use="optional"/>
      <xs:attribute name="TrdCond" type="TradeCondition_t" use="optional"/>
      <xs:attribute name="AlgoTrdInd" type="AlgorithmicTradeIndicator_t" use="optional"/>
      <xs:attribute name="RegRptTyp" type="RegulatoryReportType_t" use="optional"/>
      <xs:attribute name="TrdTyp" type="TrdType_t" use="optional"/>
      <xs:attribute name="TrdSubTyp" type="TrdSubType_t" use="optional"/>
      <xs:attribute name="ExecMeth" type="ExecMethod_t" use="optional"/>
      <xs:attribute name="MtchTyp" type="MatchType_t" use="optional"/>
      <xs:attribute name="OrdCat" type="OrderCategory_t" use="optional"/>
      <xs:attribute name="TrdPubInd" type="TradePublishIndicator_t" use="optional"/>
      <xs:attribute name="PrevlyRpted" type="PreviouslyReported_t" use="optional"/>
      <xs:attribute name="Orig" type="MDEntryOriginator_t" use="optional"/>
      <xs:attribute name="LctnID" type="LocationID_t" use="optional"/>
      <xs:attribute name="DeskID" type="DeskID_t" use="optional"/>
      <xs:attribute name="OpenClsSettlFlag" type="OpenCloseSettlFlag_t" use="optional"/>
      <xs:attribute name="TmInForce" type="TimeInForce_t" use="optional"/>
      <xs:attribute name="ExpireDt" type="ExpireDate_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="ExpsreDur" type="ExposureDuration_t" use="optional"/>
      <xs:attribute name="ExpsreDurUnit" type="ExposureDurationUnit_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="ExecInst" type="ExecInst_t" use="optional"/>
      <xs:attribute name="SellerDays" type="SellerDays_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="EntryID" type="QuoteEntryID_t" use="optional"/>
      <xs:attribute name="TrdID" type="TradeID_t" use="optional"/>
      <xs:attribute name="StrategyLinkID" type="StrategyLinkID_t" use="optional"/>
      <xs:attribute name="Buyer" type="MDEntryBuyer_t" use="optional"/>
      <xs:attribute name="Seller" type="MDEntrySeller_t" use="optional"/>
      <xs:attribute name="NumOfBuyOrds" type="NumberOfBuyOrders_t" use="optional"/>
      <xs:attribute name="NumOfSellOrds" type="NumberOfSellOrders_t" use="optional"/>
      <xs:attribute name="NumOfOrds" type="NumberOfOrders_t" use="optional"/>
      <xs:attribute name="PosNo" type="MDEntryPositionNo_t" use="optional"/>
      <xs:attribute name="Scope" type="Scope_t" use="optional"/>
      <xs:attribute name="PxDelta" type="PriceDelta_t" use="optional"/>
      <xs:attribute name="NetChgPrevDay" type="NetChgPrevDay_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="MDPxLvl" type="MDPriceLevel_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="MDOrigTyp" type="MDOriginType_t" use="optional"/>
      <xs:attribute name="HighPx" type="HighPx_t" use="optional"/>
      <xs:attribute name="LowPx" type="LowPx_t" use="optional"/>
      <xs:attribute name="FirstPx" type="FirstPx_t" use="optional"/>
      <xs:attribute name="LastPx" type="LastPx_t" use="optional"/>
      <xs:attribute name="DiscFctr" type="DiscountFactor_t" use="optional"/>
      <xs:attribute name="TrdVol" type="TradeVolume_t" use="optional"/>
      <xs:attribute name="SetPxTyp" type="SettlPriceType_t" use="optional"/>
      <xs:attribute name="SettlPxDtrmnMeth" type="SettlPriceDeterminationMethod_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="TransBkdTm" type="TransBkdTime_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="AgrsrTm" type="AggressorTime_t" use="optional"/>
      <xs:attribute name="AgrsrSide" type="AggressorSide_t" use="optional"/>
      <xs:attribute name="MDQteTyp" type="MDQuoteType_t" use="optional"/>
      <xs:attribute name="RptSeq" type="RptSeq_t" use="optional"/>
      <xs:attribute name="DealingCpcty" type="DealingCapacity_t" use="optional"/>
      <xs:attribute name="MDEntrySpotRt" type="MDEntrySpotRate_t" use="optional"/>
      <xs:attribute name="MDEntryFwdPnts" type="MDEntryForwardPoints_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MDIncGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MDIncGrp" ComponentType="ImplicitBlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="MDIncGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="MDIncGrpAttributes"/>
   </xs:complexType>
   <xs:group name="MDReqGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="MDReqGrpAttributes">
      <xs:attribute name="Typ" type="MDEntryType_t" use="required"/>
   </xs:attributeGroup>
   <xs:complexType name="MDReqGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MDReqGrp" ComponentType="ImplicitBlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="MDReqGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="MDReqGrpAttributes"/>
   </xs:complexType>
   <xs:group name="MDRjctGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="MDRjctGrpAttributes">
      <xs:attribute name="AltMDSrcID" type="AltMDSourceID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MDRjctGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MDRjctGrp" ComponentType="ImplicitBlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="MDRjctGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="MDRjctGrpAttributes"/>
   </xs:complexType>
   <xs:group name="SecSizesGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="SecSizesGrpAttributes">
      <xs:attribute name="MDSecSizeType" type="MDSecSizeType_t" use="optional"/>
      <xs:attribute name="MDSecSize" type="MDSecSize_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecSizesGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecSizesGrp" ComponentType="ImplicitBlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="SecSizesGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="SecSizesGrpAttributes"/>
   </xs:complexType>
   <xs:group name="StatsIndGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="StatsIndGrpAttributes">
      <xs:attribute name="StatsTyp" type="StatsType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="StatsIndGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="StatsIndGrp" ComponentType="ImplicitBlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="StatsIndGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="StatsIndGrpAttributes"/>
   </xs:complexType>
   <xs:group name="StrmAsgnReqGrpElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmts" type="StrmAsgnReqInstrmtGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="StrmAsgnReqGrpAttributes"/>
   <xs:complexType name="StrmAsgnReqGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="StrmAsgnReqGrp" ComponentType="ImplicitBlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="StrmAsgnReqGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="StrmAsgnReqGrpAttributes"/>
   </xs:complexType>
   <xs:group name="StrmAsgnRptGrpElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmts" type="StrmAsgnRptInstrmtGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="StrmAsgnRptGrpAttributes"/>
   <xs:complexType name="StrmAsgnRptGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="StrmAsgnRptGrp" ComponentType="ImplicitBlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="StrmAsgnRptGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="StrmAsgnRptGrpAttributes"/>
   </xs:complexType>
   <xs:group name="StrmAsgnReqInstrmtGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="StrmAsgnReqInstrmtGrpAttributes">
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="Sz" type="MDEntrySize_t" use="optional"/>
      <xs:attribute name="MDStrmID" type="MDStreamID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="StrmAsgnReqInstrmtGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="StrmAsgnReqInstrmtGrp"
                     ComponentType="ImplicitBlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="StrmAsgnReqInstrmtGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="StrmAsgnReqInstrmtGrpAttributes"/>
   </xs:complexType>
   <xs:group name="StrmAsgnRptInstrmtGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="StrmAsgnRptInstrmtGrpAttributes">
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="AsgnTyp" type="StreamAsgnType_t" use="optional"/>
      <xs:attribute name="MDStrmID" type="MDStreamID_t" use="optional"/>
      <xs:attribute name="RejRsn" type="StreamAsgnRejReason_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="StrmAsgnRptInstrmtGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="StrmAsgnRptInstrmtGrp"
                     ComponentType="ImplicitBlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="StrmAsgnRptInstrmtGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="StrmAsgnRptInstrmtGrpAttributes"/>
   </xs:complexType>
   <xs:group name="MDStatisticReqGrpElements">
      <xs:sequence>
         <xs:element name="StatsPrm" type="MDStatisticParameters_Block_t" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MDStatisticReqGrpAttributes">
      <xs:attribute name="StatsID" type="MDStatisticID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MDStatisticReqGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MDStatisticReqGrp" ComponentType="BlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="MDStatisticReqGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="MDStatisticReqGrpAttributes"/>
   </xs:complexType>
   <xs:group name="MDStatisticRptGrpElements">
      <xs:sequence>
         <xs:element name="StatsPrm" type="MDStatisticParameters_Block_t" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MDStatisticRptGrpAttributes">
      <xs:attribute name="StatsID" type="MDStatisticID_t" use="optional"/>
      <xs:attribute name="Tm" type="MDStatisticTime_t" use="optional"/>
      <xs:attribute name="Stat" type="MDStatisticStatus_t" use="optional"/>
      <xs:attribute name="Val" type="MDStatisticValue_t" use="optional"/>
      <xs:attribute name="Typ" type="MDStatisticValueType_t" use="optional"/>
      <xs:attribute name="ValUnit" type="MDStatisticValueUnit_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MDStatisticRptGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MDStatisticRptGrp" ComponentType="BlockRepeating"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="MDStatisticRptGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="MDStatisticRptGrpAttributes"/>
   </xs:complexType>
   <xs:group name="MDStatisticParametersElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="MDStatisticParametersAttributes">
      <xs:attribute name="Typ" type="MDStatisticType_t" use="required"/>
      <xs:attribute name="Scope" type="MDStatisticScope_t" use="required"/>
      <xs:attribute name="SubScope" type="MDStatisticSubScope_t" use="optional"/>
      <xs:attribute name="ScopeTyp" type="MDStatisticScopeType_t" use="optional"/>
      <xs:attribute name="StatsNme" type="MDStatisticName_t" use="optional"/>
      <xs:attribute name="Desc" type="MDStatisticDesc_t" use="optional"/>
      <xs:attribute name="EncDescLen" type="EncodedMDStatisticDescLen_t" use="optional"/>
      <xs:attribute name="EncDesc" type="EncodedMDStatisticDesc_t" use="optional"/>
      <xs:attribute name="MktDepth" type="MarketDepth_t" use="optional"/>
      <xs:attribute name="FreqPeriod" type="MDStatisticFrequencyPeriod_t" use="optional"/>
      <xs:attribute name="FreqUnit" type="MDStatisticFrequencyUnit_t" use="optional"/>
      <xs:attribute name="DelayPeriod" type="MDStatisticDelayPeriod_t" use="optional"/>
      <xs:attribute name="DelayUnit" type="MDStatisticDelayUnit_t" use="optional"/>
      <xs:attribute name="IntvlTyp" type="MDStatisticIntervalType_t" use="required"/>
      <xs:attribute name="IntvlTypUnit" type="MDStatisticIntervalTypeUnit_t" use="optional"/>
      <xs:attribute name="IntvlPeriod" type="MDStatisticIntervalPeriod_t" use="optional"/>
      <xs:attribute name="IntvlUnit" type="MDStatisticIntervalUnit_t" use="optional"/>
      <xs:attribute name="StartDt" type="MDStatisticStartDate_t" use="optional"/>
      <xs:attribute name="EndDt" type="MDStatisticEndDate_t" use="optional"/>
      <xs:attribute name="StartTm" type="MDStatisticStartTime_t" use="optional"/>
      <xs:attribute name="EndTm" type="MDStatisticEndTime_t" use="optional"/>
      <xs:attribute name="RatioTyp" type="MDStatisticRatioType_t" use="optional"/>
      <xs:attribute name="TrdgCpcty" type="TradingCapacity_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="TmInForce" type="TimeInForce_t" use="optional"/>
      <xs:attribute name="QCond" type="QuoteCondition_t" use="optional"/>
      <xs:attribute name="TrdCond" type="TradeCondition_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="InptSrc" type="TradeInputSource_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MDStatisticParameters_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MDStatisticParameters" ComponentType="Block"
                     Category="MarketData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="MDStatisticParametersElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="MDStatisticParametersAttributes"/>
   </xs:complexType>
</xs:schema>