src/main/resources/schemas/fixml-5-0-sp2/fixml-ordermasshandling-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="OrderMassCancelRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OrderMassCancelRequestAttributes">
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="required"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="ReqTyp" type="MassCancelRequestType_t" use="required"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderMassCancelRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">OrderMassCancelRequest can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderMassCancelRequest" ComponentType="Message" MsgID="50"
                     Section="Trade"
                     Category="OrderMassHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="OrderMassCancelRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="OrderMassCancelRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="OrdMassCxlReq" type="OrderMassCancelRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="OrderMassCancelReportElements">
      <xs:sequence>
         <xs:element name="AfctdOrd" type="AffectedOrdGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="NotAfctdOrd" type="NotAffectedOrdGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OrderMassCancelReportAttributes">
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="required"/>
      <xs:attribute name="MassActionReportID" type="MassActionReportID_t" use="required"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="ReqTyp" type="MassCancelRequestType_t" use="required"/>
      <xs:attribute name="Rsp" type="MassCancelResponse_t" use="required"/>
      <xs:attribute name="MassCxlRejRsn" type="MassCancelRejectReason_t" use="optional"/>
      <xs:attribute name="TotAffctdOrds" type="TotalAffectedOrders_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderMassCancelReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">OrderMassCancelReport can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderMassCancelReport" ComponentType="Message" MsgID="51"
                     Section="Trade"
                     Category="OrderMassHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="OrderMassCancelReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="OrderMassCancelReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="OrdMassCxlRpt" type="OrderMassCancelReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="OrderMassStatusRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OrderMassStatusRequestAttributes">
      <xs:attribute name="ReqID" type="MassStatusReqID_t" use="required"/>
      <xs:attribute name="ReqTyp" type="MassStatusReqType_t" use="required"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderMassStatusRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">OrderMassStatusRequest can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderMassStatusRequest" ComponentType="Message" MsgID="65"
                     Section="Trade"
                     Category="OrderMassHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="OrderMassStatusRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="OrderMassStatusRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="OrdMassStatReq" type="OrderMassStatusRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="OrderMassActionReportElements">
      <xs:sequence>
         <xs:element name="AfctdOrd" type="AffectedOrdGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="NotAfctdOrd" type="NotAffectedOrdGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="AfctdMktSeg" type="AffectedMarketSegmentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="NotAfctdMktSeg" type="NotAffectedMarketSegmentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TgtMktSeg" type="TargetMarketSegmentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OrderMassActionReportAttributes">
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="MassActionReportID" type="MassActionReportID_t" use="required"/>
      <xs:attribute name="MassActionType" type="MassActionType_t" use="required"/>
      <xs:attribute name="MassActionScope" type="MassActionScope_t" use="required"/>
      <xs:attribute name="MassActnRsn" type="MassActionReason_t" use="optional"/>
      <xs:attribute name="MassActionResponse" type="MassActionResponse_t" use="required"/>
      <xs:attribute name="MassActionRejectReason" type="MassActionRejectReason_t" use="optional"/>
      <xs:attribute name="TotAffctdOrds" type="TotalAffectedOrders_t" use="optional"/>
      <xs:attribute name="TotNotAffctdOrds" type="TotalNotAffectedOrders_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderMassActionReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">OrderMassActionReport can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderMassActionReport" ComponentType="Message" MsgID="111"
                     Section="Trade"
                     Category="OrderMassHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="OrderMassActionReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="OrderMassActionReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="OrdMassActRpt" type="OrderMassActionReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="OrderMassActionRequestElements">
      <xs:sequence>
         <xs:element name="TgtMktSeg" type="TargetMarketSegmentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OrderMassActionRequestAttributes">
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="required"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="MassActionType" type="MassActionType_t" use="required"/>
      <xs:attribute name="MassActionScope" type="MassActionScope_t" use="required"/>
      <xs:attribute name="MassActnRsn" type="MassActionReason_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderMassActionRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">OrderMassActionRequest can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderMassActionRequest" ComponentType="Message"
                     MsgID="112"
                     Section="Trade"
                     Category="OrderMassHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="OrderMassActionRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="OrderMassActionRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="OrdMassActReq" type="OrderMassActionRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MassOrderElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrderEntry" type="OrderEntryGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MassOrderAttributes">
      <xs:attribute name="MassOrdReqID" type="MassOrderRequestID_t" use="required"/>
      <xs:attribute name="OrdRspLvl" type="OrderResponseLevel_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="TrdgCpcty" type="TradingCapacity_t" use="optional"/>
      <xs:attribute name="ClrAcctTyp" type="ClearingAccountType_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="ManOrdInd" type="ManualOrderIndicator_t" use="optional"/>
      <xs:attribute name="CustOrdHdlInst" type="CustOrderHandlingInst_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="ThrttlInst" type="ThrottleInst_t" use="optional"/>
      <xs:attribute name="TotNoOrdEntries" type="TotNoOrderEntries_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MassOrder_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MassOrder can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MassOrder" ComponentType="Message" MsgID="146"
                     Section="Trade"
                     Category="OrderMassHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MassOrderElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MassOrderAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MassOrder" type="MassOrder_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MassOrderAckElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ThrttlRsp" type="ThrottleResponse_Block_t" minOccurs="0"/>
         <xs:element name="OrderEntryAck" type="OrderEntryAckGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MassOrderAckAttributes">
      <xs:attribute name="MassOrdReqID" type="MassOrderRequestID_t" use="optional"/>
      <xs:attribute name="MassOrdRptID" type="MassOrderReportID_t" use="optional"/>
      <xs:attribute name="ReqStat" type="MassOrderRequestStatus_t" use="required"/>
      <xs:attribute name="ReqRslt" type="MassOrderRequestResult_t" use="optional"/>
      <xs:attribute name="OrdRspLvl" type="OrderResponseLevel_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="TrdgCpcty" type="TradingCapacity_t" use="required"/>
      <xs:attribute name="ClrAcctTyp" type="ClearingAccountType_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="ManOrdInd" type="ManualOrderIndicator_t" use="optional"/>
      <xs:attribute name="CustOrdHdlInst" type="CustOrderHandlingInst_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="CopyMsgInd" type="CopyMsgIndicator_t" use="optional"/>
      <xs:attribute name="TotNoOrdEntries" type="TotNoOrderEntries_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MassOrderAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MassOrderAck can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MassOrderAck" ComponentType="Message" MsgID="147"
                     Section="Trade"
                     Category="OrderMassHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MassOrderAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MassOrderAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MassOrderAck" type="MassOrderAck_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="AffectedOrdGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="AffectedOrdGrpAttributes">
      <xs:attribute name="OrigClOrdID" type="AffectedOrigClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="AffectedOrderID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="AffectedSecondaryOrderID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="AffectedOrdGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="AffectedOrdGrp" ComponentType="ImplicitBlockRepeating"
                     Category="OrderMassHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="AffectedOrdGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="AffectedOrdGrpAttributes"/>
   </xs:complexType>
   <xs:group name="NotAffectedOrdGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="NotAffectedOrdGrpAttributes">
      <xs:attribute name="OrigClOrdID" type="NotAffOrigClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="NotAffectedOrderID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="NotAffSecondaryOrderID_t" use="optional"/>
      <xs:attribute name="Rsn" type="NotAffectedReason_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="NotAffectedOrdGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="NotAffectedOrdGrp" ComponentType="ImplicitBlockRepeating"
                     Category="OrderMassHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="NotAffectedOrdGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="NotAffectedOrdGrpAttributes"/>
   </xs:complexType>
   <xs:group name="OrderEntryGrpElements">
      <xs:sequence>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OrderEntryGrpAttributes">
      <xs:attribute name="OrdEntryActn" type="OrderEntryAction_t" use="optional"/>
      <xs:attribute name="OrdEntryID" type="OrderEntryID_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="OrigClOrdID" type="OrigClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="TmInForce" type="TimeInForce_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderEntryGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderEntryGrp" ComponentType="BlockRepeating"
                     Category="OrderMassHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="OrderEntryGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="OrderEntryGrpAttributes"/>
   </xs:complexType>
   <xs:group name="OrderEntryAckGrpElements">
      <xs:sequence>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OrderEntryAckGrpAttributes">
      <xs:attribute name="OrdStat" type="OrdStatus_t" use="optional"/>
      <xs:attribute name="ExecTyp" type="ExecType_t" use="optional"/>
      <xs:attribute name="ExecTypRsn" type="ExecTypeReason_t" use="optional"/>
      <xs:attribute name="OrdEntryActn" type="OrderEntryAction_t" use="optional"/>
      <xs:attribute name="OrdEntryID" type="OrderEntryID_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="OrigClOrdID" type="OrigClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="RejRsn" type="OrdRejReason_t" use="optional"/>
      <xs:attribute name="CumQty" type="CumQty_t" use="optional"/>
      <xs:attribute name="LeavesQty" type="LeavesQty_t" use="optional"/>
      <xs:attribute name="CxlQty" type="CxlQty_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="TmInForce" type="TimeInForce_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderEntryAckGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderEntryAckGrp" ComponentType="BlockRepeating"
                     Category="OrderMassHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="OrderEntryAckGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="OrderEntryAckGrpAttributes"/>
   </xs:complexType>
</xs:schema>