src/main/resources/schemas/fixml-5-0-sp2/fixml-settlement-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="SettlementInstructionsElements">
      <xs:sequence>
         <xs:element name="SetInst" type="SettlInstGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SettlementInstructionsAttributes">
      <xs:attribute name="SettlInstMsgID" type="SettlInstMsgID_t" use="required"/>
      <xs:attribute name="SettlInstReqID" type="SettlInstReqID_t" use="optional"/>
      <xs:attribute name="SettlInstMode" type="SettlInstMode_t" use="required"/>
      <xs:attribute name="SettlInstReqRejCode" type="SettlInstReqRejCode_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
   </xs:attributeGroup>
   <xs:complexType name="SettlementInstructions_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SettlementInstructions can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SettlementInstructions" ComponentType="Message" MsgID="28"
                     Section="PostTrade"
                     Category="SettlementInstruction"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SettlementInstructionsElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SettlementInstructionsAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SettlInstrctns" type="SettlementInstructions_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SettlementInstructionRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SettlementInstructionRequestAttributes">
      <xs:attribute name="SettlInstReqID" type="SettlInstReqID_t" use="required"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="Acct" type="AllocAccount_t" use="optional"/>
      <xs:attribute name="ActIDSrc" type="AllocAcctIDSource_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="Prod" type="Product_t" use="optional"/>
      <xs:attribute name="SecTyp" type="SecurityType_t" use="optional"/>
      <xs:attribute name="CFI" type="CFICode_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="LastUpdateTm" type="LastUpdateTime_t" use="optional"/>
      <xs:attribute name="StandInstDbTyp" type="StandInstDbType_t" use="optional"/>
      <xs:attribute name="StandInstDbName" type="StandInstDbName_t" use="optional"/>
      <xs:attribute name="StandInstDbID" type="StandInstDbID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SettlementInstructionRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SettlementInstructionRequest can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SettlementInstructionRequest" ComponentType="Message"
                     MsgID="81"
                     Section="PostTrade"
                     Category="SettlementInstruction"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SettlementInstructionRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SettlementInstructionRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SettlInstrctnReq" type="SettlementInstructionRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SettlementObligationReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="SettlObligInst" type="SettlObligationInstructions_Block_t"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SettlementObligationReportAttributes">
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="CycleNo" type="SettlementCycleNo_t" use="optional"/>
      <xs:attribute name="SettlMsgID" type="SettlObligMsgID_t" use="required"/>
      <xs:attribute name="SettlMode" type="SettlObligMode_t" use="required"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SettlementObligationReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SettlementObligationReport can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SettlementObligationReport" ComponentType="Message"
                     MsgID="102"
                     Section="PostTrade"
                     Category="SettlementInstruction"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SettlementObligationReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SettlementObligationReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SettlObligation" type="SettlementObligationReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SettlInstGrpElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SetInstr" type="SettlInstructionsData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SettlInstGrpAttributes">
      <xs:attribute name="SettlInstID" type="SettlInstID_t" use="optional"/>
      <xs:attribute name="SettlInstTransTyp" type="SettlInstTransType_t" use="optional"/>
      <xs:attribute name="SettlInstRefID" type="SettlInstRefID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="Prod" type="Product_t" use="optional"/>
      <xs:attribute name="SecTyp" type="SecurityType_t" use="optional"/>
      <xs:attribute name="CFI" type="CFICode_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="LastUpdateTm" type="LastUpdateTime_t" use="optional"/>
      <xs:attribute name="PmtMethod" type="PaymentMethod_t" use="optional"/>
      <xs:attribute name="PmtRef" type="PaymentRef_t" use="optional"/>
      <xs:attribute name="CardHolderName" type="CardHolderName_t" use="optional"/>
      <xs:attribute name="CardNum" type="CardNumber_t" use="optional"/>
      <xs:attribute name="CardStartDt" type="CardStartDate_t" use="optional"/>
      <xs:attribute name="CardExpDt" type="CardExpDate_t" use="optional"/>
      <xs:attribute name="CardIssNum" type="CardIssNum_t" use="optional"/>
      <xs:attribute name="PmtDt" type="PaymentDate_t" use="optional"/>
      <xs:attribute name="PmtRemtrID" type="PaymentRemitterID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SettlInstGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SettlInstGrp" ComponentType="ImplicitBlockRepeating"
                     Category="SettlementInstruction"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="SettlInstGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="SettlInstGrpAttributes"/>
   </xs:complexType>
   <xs:group name="SettlObligationInstructionsElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SettlDetails" type="SettlDetails_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SettlObligationInstructionsAttributes">
      <xs:attribute name="NetGrossInd" type="NetGrossInd_t" use="optional"/>
      <xs:attribute name="SettlID" type="SettlObligID_t" use="optional"/>
      <xs:attribute name="SettlTransTyp" type="SettlObligTransType_t" use="optional"/>
      <xs:attribute name="SettlRefID" type="SettlObligRefID_t" use="optional"/>
      <xs:attribute name="CcyAmt" type="CcyAmt_t" use="optional"/>
      <xs:attribute name="SettlCurrAmt" type="SettlCurrAmt_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="SettlCurrFxRt" type="SettlCurrFxRate_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="LastUpdateTm" type="LastUpdateTime_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SettlObligationInstructions_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SettlObligationInstructions"
                     ComponentType="ImplicitBlockRepeating"
                     Category="SettlementInstruction"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="SettlObligationInstructionsElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="SettlObligationInstructionsAttributes"/>
   </xs:complexType>
</xs:schema>