src/main/resources/schemas/fixml-5-0-sp2/fixml-multilegorders-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="NewOrderMultilegElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="PreAllocMleg" type="PreAllocMlegGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ValuChk" type="ValueChecksGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MtchgInst" type="MatchingInstructions_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="DsplyInstr" type="DisplayInstruction_Block_t" minOccurs="0"/>
         <xs:element name="DisclsrInst" type="DisclosureInstructionGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdSes" type="TrdgSesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Ord" type="LegOrdGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0"/>
         <xs:element name="TrgrInstr" type="TriggeringInstruction_Block_t" minOccurs="0"/>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="0"/>
         <xs:element name="CommData" type="CommissionDataGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="OrdAttrib" type="OrderAttributeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PegInstr" type="PegInstructions_Block_t" minOccurs="0"/>
         <xs:element name="DiscInstr" type="DiscretionInstructions_Block_t" minOccurs="0"/>
         <xs:element name="StrtPrmGrp" type="StrategyParametersGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="NewOrderMultilegAttributes">
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="required"/>
      <xs:attribute name="OrdReqID" type="OrderRequestID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="ClOrdLinkID" type="ClOrdLinkID_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="DayBkngInst" type="DayBookingInst_t" use="optional"/>
      <xs:attribute name="BkngUnit" type="BookingUnit_t" use="optional"/>
      <xs:attribute name="PreallocMeth" type="PreallocMethod_t" use="optional"/>
      <xs:attribute name="AllocID" type="AllocID_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="CshMgn" type="CashMargin_t" use="optional"/>
      <xs:attribute name="ClrFeeInd" type="ClearingFeeIndicator_t" use="optional"/>
      <xs:attribute name="HandlInst" type="HandlInst_t" use="optional"/>
      <xs:attribute name="ExecInst" type="ExecInst_t" use="optional"/>
      <xs:attribute name="AuctInst" type="AuctionInstruction_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="MinQtyMeth" type="MinQtyMethod_t" use="optional"/>
      <xs:attribute name="MtchInc" type="MatchIncrement_t" use="optional"/>
      <xs:attribute name="MxPxLvls" type="MaxPriceLevels_t" use="optional"/>
      <xs:attribute name="MaxPxPctage" type="MaximumPricePercentage_t" use="optional"/>
      <xs:attribute name="SlfMtchPrvntnID" type="SelfMatchPreventionID_t" use="optional"/>
      <xs:attribute name="MaxFloor" type="MaxFloor_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="ExDest" type="ExDestination_t" use="optional"/>
      <xs:attribute name="ExDestIDSrc" type="ExDestinationIDSource_t" use="optional"/>
      <xs:attribute name="ExDestTyp" type="ExDestinationType_t" use="optional"/>
      <xs:attribute name="ProcCode" type="ProcessCode_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="SMEInd" type="ShortMarkingExemptIndicator_t" use="optional"/>
      <xs:attribute name="PrevClsPx" type="PrevClosePx_t" use="optional"/>
      <xs:attribute name="SwapPnts" type="SwapPoints_t" use="optional"/>
      <xs:attribute name="LocReqd" type="LocateReqd_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="required"/>
      <xs:attribute name="MlegModel" type="MultilegModel_t" use="optional"/>
      <xs:attribute name="MlegPxMeth" type="MultilegPriceMethod_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxPrtScp" type="PriceProtectionScope_t" use="optional"/>
      <xs:attribute name="StopPx" type="StopPx_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="TrdPxNegottnMeth" type="TradePriceNegotiationMethod_t" use="optional"/>
      <xs:attribute name="UpfrontPxTyp" type="UpfrontPriceType_t" use="optional"/>
      <xs:attribute name="UpfrontPx" type="UpfrontPrice_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="SolFlag" type="SolicitedFlag_t" use="optional"/>
      <xs:attribute name="IOIID" type="IOIID_t" use="optional"/>
      <xs:attribute name="QID" type="QuoteID_t" use="optional"/>
      <xs:attribute name="RefOrdID" type="RefOrderID_t" use="optional"/>
      <xs:attribute name="RefOrdIDSrc" type="RefOrderIDSource_t" use="optional"/>
      <xs:attribute name="RefClOrdID" type="RefClOrdID_t" use="optional"/>
      <xs:attribute name="TmInForce" type="TimeInForce_t" use="optional"/>
      <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
      <xs:attribute name="ExpireDt" type="ExpireDate_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="GTBkngInst" type="GTBookingInst_t" use="optional"/>
      <xs:attribute name="ExpsreDur" type="ExposureDuration_t" use="optional"/>
      <xs:attribute name="ExpsreDurUnit" type="ExposureDurationUnit_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="TrdgCpcty" type="TradingCapacity_t" use="optional"/>
      <xs:attribute name="PrTrdAnon" type="PreTradeAnonymity_t" use="optional"/>
      <xs:attribute name="TrdPubInd" type="TradePublishIndicator_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="OrdOrigntn" type="OrderOrigination_t" use="optional"/>
      <xs:attribute name="ForexReq" type="ForexReq_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="ClrAcctTyp" type="ClearingAccountType_t" use="optional"/>
      <xs:attribute name="PosEfct" type="PositionEffect_t" use="optional"/>
      <xs:attribute name="Covered" type="CoveredOrUncovered_t" use="optional"/>
      <xs:attribute name="MaxShow" type="MaxShow_t" use="optional"/>
      <xs:attribute name="TgtStrategy" type="TargetStrategy_t" use="optional"/>
      <xs:attribute name="TgtStrategyParameters" type="TargetStrategyParameters_t" use="optional"/>
      <xs:attribute name="RFR" type="RiskFreeRate_t" use="optional"/>
      <xs:attribute name="ParticipationRt" type="ParticipationRate_t" use="optional"/>
      <xs:attribute name="CxllationRights" type="CancellationRights_t" use="optional"/>
      <xs:attribute name="MnyLaunderingStat" type="MoneyLaunderingStatus_t" use="optional"/>
      <xs:attribute name="RegistID" type="RegistID_t" use="optional"/>
      <xs:attribute name="Designation" type="Designation_t" use="optional"/>
      <xs:attribute name="MLEGRptTypReq" type="MultiLegRptTypeReq_t" use="optional"/>
      <xs:attribute name="ThrttlInst" type="ThrottleInst_t" use="optional"/>
      <xs:attribute name="AuctTyp" type="AuctionType_t" use="optional"/>
      <xs:attribute name="AuctPct" type="AuctionAllocationPct_t" use="optional"/>
      <xs:attribute name="ReltdHiPx" type="RelatedHighPrice_t" use="optional"/>
      <xs:attribute name="ReltdLowPx" type="RelatedLowPrice_t" use="optional"/>
      <xs:attribute name="ReltdPxSrc" type="RelatedPriceSource_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="NewOrderMultileg_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">NewOrderMultileg can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="NewOrderMultileg" ComponentType="Message" MsgID="61"
                     Section="Trade"
                     Category="MultilegOrders"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="NewOrderMultilegElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="NewOrderMultilegAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="NewOrdMleg" type="NewOrderMultileg_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MultilegOrderCancelReplaceElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="PreAllocMleg" type="PreAllocMlegGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ValuChk" type="ValueChecksGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MtchgInst" type="MatchingInstructions_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="DsplyInstr" type="DisplayInstruction_Block_t" minOccurs="0"/>
         <xs:element name="DisclsrInst" type="DisclosureInstructionGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdSes" type="TrdgSesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Ord" type="LegOrdGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0"/>
         <xs:element name="TrgrInstr" type="TriggeringInstruction_Block_t" minOccurs="0"/>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="0"/>
         <xs:element name="CommData" type="CommissionDataGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="OrdAttrib" type="OrderAttributeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PegInstr" type="PegInstructions_Block_t" minOccurs="0"/>
         <xs:element name="DiscInstr" type="DiscretionInstructions_Block_t" minOccurs="0"/>
         <xs:element name="StrtPrmGrp" type="StrategyParametersGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MultilegOrderCancelReplaceAttributes">
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="OrdReqID" type="OrderRequestID_t" use="optional"/>
      <xs:attribute name="OrigClOrdID" type="OrigClOrdID_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="ClOrdLinkID" type="ClOrdLinkID_t" use="optional"/>
      <xs:attribute name="OrigOrdModTm" type="OrigOrdModTime_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="DayBkngInst" type="DayBookingInst_t" use="optional"/>
      <xs:attribute name="BkngUnit" type="BookingUnit_t" use="optional"/>
      <xs:attribute name="PreallocMeth" type="PreallocMethod_t" use="optional"/>
      <xs:attribute name="AllocID" type="AllocID_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="CshMgn" type="CashMargin_t" use="optional"/>
      <xs:attribute name="ClrFeeInd" type="ClearingFeeIndicator_t" use="optional"/>
      <xs:attribute name="HandlInst" type="HandlInst_t" use="optional"/>
      <xs:attribute name="ExecInst" type="ExecInst_t" use="optional"/>
      <xs:attribute name="AuctInst" type="AuctionInstruction_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="MinQtyMeth" type="MinQtyMethod_t" use="optional"/>
      <xs:attribute name="MtchInc" type="MatchIncrement_t" use="optional"/>
      <xs:attribute name="MxPxLvls" type="MaxPriceLevels_t" use="optional"/>
      <xs:attribute name="MaxPxPctage" type="MaximumPricePercentage_t" use="optional"/>
      <xs:attribute name="SlfMtchPrvntnID" type="SelfMatchPreventionID_t" use="optional"/>
      <xs:attribute name="MaxFloor" type="MaxFloor_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="ExDest" type="ExDestination_t" use="optional"/>
      <xs:attribute name="ExDestIDSrc" type="ExDestinationIDSource_t" use="optional"/>
      <xs:attribute name="ExDestTyp" type="ExDestinationType_t" use="optional"/>
      <xs:attribute name="ProcCode" type="ProcessCode_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="SMEInd" type="ShortMarkingExemptIndicator_t" use="optional"/>
      <xs:attribute name="PrevClsPx" type="PrevClosePx_t" use="optional"/>
      <xs:attribute name="SwapPnts" type="SwapPoints_t" use="optional"/>
      <xs:attribute name="LocReqd" type="LocateReqd_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="required"/>
      <xs:attribute name="MlegModel" type="MultilegModel_t" use="optional"/>
      <xs:attribute name="MlegPxMeth" type="MultilegPriceMethod_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxPrtScp" type="PriceProtectionScope_t" use="optional"/>
      <xs:attribute name="StopPx" type="StopPx_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="SolFlag" type="SolicitedFlag_t" use="optional"/>
      <xs:attribute name="IOIID" type="IOIID_t" use="optional"/>
      <xs:attribute name="QID" type="QuoteID_t" use="optional"/>
      <xs:attribute name="TmInForce" type="TimeInForce_t" use="optional"/>
      <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
      <xs:attribute name="ExpireDt" type="ExpireDate_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="GTBkngInst" type="GTBookingInst_t" use="optional"/>
      <xs:attribute name="ExpsreDur" type="ExposureDuration_t" use="optional"/>
      <xs:attribute name="ExpsreDurUnit" type="ExposureDurationUnit_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="TrdgCpcty" type="TradingCapacity_t" use="optional"/>
      <xs:attribute name="PrTrdAnon" type="PreTradeAnonymity_t" use="optional"/>
      <xs:attribute name="TrdPubInd" type="TradePublishIndicator_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="OrdOrigntn" type="OrderOrigination_t" use="optional"/>
      <xs:attribute name="ForexReq" type="ForexReq_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="ClrAcctTyp" type="ClearingAccountType_t" use="optional"/>
      <xs:attribute name="PosEfct" type="PositionEffect_t" use="optional"/>
      <xs:attribute name="Covered" type="CoveredOrUncovered_t" use="optional"/>
      <xs:attribute name="MaxShow" type="MaxShow_t" use="optional"/>
      <xs:attribute name="TgtStrategy" type="TargetStrategy_t" use="optional"/>
      <xs:attribute name="TgtStrategyParameters" type="TargetStrategyParameters_t" use="optional"/>
      <xs:attribute name="RFR" type="RiskFreeRate_t" use="optional"/>
      <xs:attribute name="ParticipationRt" type="ParticipationRate_t" use="optional"/>
      <xs:attribute name="CxllationRights" type="CancellationRights_t" use="optional"/>
      <xs:attribute name="MnyLaunderingStat" type="MoneyLaunderingStatus_t" use="optional"/>
      <xs:attribute name="RegistID" type="RegistID_t" use="optional"/>
      <xs:attribute name="Designation" type="Designation_t" use="optional"/>
      <xs:attribute name="OwnerTyp" type="OwnerType_t" use="optional"/>
      <xs:attribute name="OrdOwnershipInd" type="OrderOwnershipIndicator_t" use="optional"/>
      <xs:attribute name="MLEGRptTypReq" type="MultiLegRptTypeReq_t" use="optional"/>
      <xs:attribute name="ThrttlInst" type="ThrottleInst_t" use="optional"/>
      <xs:attribute name="AuctTyp" type="AuctionType_t" use="optional"/>
      <xs:attribute name="AuctPct" type="AuctionAllocationPct_t" use="optional"/>
      <xs:attribute name="ReltdHiPx" type="RelatedHighPrice_t" use="optional"/>
      <xs:attribute name="ReltdLowPx" type="RelatedLowPrice_t" use="optional"/>
      <xs:attribute name="ReltdPxSrc" type="RelatedPriceSource_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MultilegOrderCancelReplace_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MultilegOrderCancelReplace can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MultilegOrderCancelReplace" ComponentType="Message"
                     MsgID="62"
                     Section="Trade"
                     Category="MultilegOrders"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MultilegOrderCancelReplaceElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MultilegOrderCancelReplaceAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MlegOrdCxlRplc" type="MultilegOrderCancelReplace_message_t"
               substitutionGroup="Message"
               final="#all"/>
</xs:schema>