src/main/resources/schemas/fixml-5-0-sp2/fixml-positions-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="PositionMaintenanceRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TrdSes" type="TrdgSesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Qty" type="PositionQty_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Amt" type="PositionAmountData_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PositionMaintenanceRequestAttributes">
      <xs:attribute name="ReqID" type="PosReqID_t" use="optional"/>
      <xs:attribute name="TxnTyp" type="PosTransType_t" use="required"/>
      <xs:attribute name="Actn" type="PosMaintAction_t" use="required"/>
      <xs:attribute name="OrigReqRefID" type="OrigPosReqRefID_t" use="optional"/>
      <xs:attribute name="RptRefID" type="PosMaintRptRefID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="required"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="AdjTyp" type="AdjustmentType_t" use="optional"/>
      <xs:attribute name="CntraryInstrctnInd" type="ContraryInstructionIndicator_t" use="optional"/>
      <xs:attribute name="PriorSpreadInd" type="PriorSpreadIndicator_t" use="optional"/>
      <xs:attribute name="ThresholdAmt" type="ThresholdAmount_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PositionMaintenanceRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PositionMaintenanceRequest can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PositionMaintenanceRequest" ComponentType="Message"
                     MsgID="71"
                     Section="PostTrade"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PositionMaintenanceRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PositionMaintenanceRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PosMntReq" type="PositionMaintenanceRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PositionMaintenanceReportElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TrdSes" type="TrdgSesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Qty" type="PositionQty_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Amt" type="PositionAmountData_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="RegTrdID" type="RegulatoryTradeIDGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pmt" type="PaymentGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdTrd" type="RelatedTradeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PositionMaintenanceReportAttributes">
      <xs:attribute name="RptID" type="PosMaintRptID_t" use="required"/>
      <xs:attribute name="TxnTyp" type="PosTransType_t" use="required"/>
      <xs:attribute name="PosID" type="PositionID_t" use="optional"/>
      <xs:attribute name="ReqID" type="PosReqID_t" use="optional"/>
      <xs:attribute name="Actn" type="PosMaintAction_t" use="required"/>
      <xs:attribute name="OrigReqRefID" type="OrigPosReqRefID_t" use="optional"/>
      <xs:attribute name="Stat" type="PosMaintStatus_t" use="optional"/>
      <xs:attribute name="Rslt" type="PosMaintResult_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="required"/>
      <xs:attribute name="PrevBizDt" type="PreviousClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="ValDt" type="ValuationDate_t" use="optional"/>
      <xs:attribute name="ValTm" type="ValuationTime_t" use="optional"/>
      <xs:attribute name="ValBizCtr" type="ValuationBusinessCenter_t" use="optional"/>
      <xs:attribute name="DiscFctr" type="DiscountFactor_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
      <xs:attribute name="Clrd" type="ClearedIndicator_t" use="optional"/>
      <xs:attribute name="ConRefPosTyp" type="ContractRefPosType_t" use="optional"/>
      <xs:attribute name="PosCpcty" type="PositionCapacity_t" use="optional"/>
      <xs:attribute name="TrmtdInd" type="TerminatedIndicator_t" use="optional"/>
      <xs:attribute name="InptSrc" type="InputSource_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="RptRefID" type="PosMaintRptRefID_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="CntraryInstrctnInd" type="ContraryInstructionIndicator_t" use="optional"/>
      <xs:attribute name="PriorSpreadInd" type="PriorSpreadIndicator_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="AdjTyp" type="AdjustmentType_t" use="optional"/>
      <xs:attribute name="ThresholdAmt" type="ThresholdAmount_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PositionMaintenanceReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PositionMaintenanceReport can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PositionMaintenanceReport" ComponentType="Message"
                     MsgID="72"
                     Section="PostTrade"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PositionMaintenanceReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PositionMaintenanceReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PosMntRpt" type="PositionMaintenanceReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="RequestForPositionsElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TrdSes" type="TrdgSesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="RequestForPositionsAttributes">
      <xs:attribute name="ReqID" type="PosReqID_t" use="required"/>
      <xs:attribute name="ReqTyp" type="PosReqType_t" use="required"/>
      <xs:attribute name="MtchStat" type="MatchStatus_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="required"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="RspTransportTyp" type="ResponseTransportType_t" use="optional"/>
      <xs:attribute name="RspDest" type="ResponseDestination_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="RequestForPositions_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">RequestForPositions can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="RequestForPositions" ComponentType="Message" MsgID="73"
                     Section="PostTrade"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="RequestForPositionsElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="RequestForPositionsAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ReqForPoss" type="RequestForPositions_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="RequestForPositionsAckElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="RequestForPositionsAckAttributes">
      <xs:attribute name="RptID" type="PosMaintRptID_t" use="required"/>
      <xs:attribute name="ReqID" type="PosReqID_t" use="optional"/>
      <xs:attribute name="TotRpts" type="TotalNumPosReports_t" use="optional"/>
      <xs:attribute name="TotNumRpts" type="TotNumReports_t" use="optional"/>
      <xs:attribute name="Unsol" type="UnsolicitedIndicator_t" use="optional"/>
      <xs:attribute name="Rslt" type="PosReqResult_t" use="required"/>
      <xs:attribute name="Stat" type="PosReqStatus_t" use="required"/>
      <xs:attribute name="ReqTyp" type="PosReqType_t" use="optional"/>
      <xs:attribute name="MtchStat" type="MatchStatus_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="RspTransportTyp" type="ResponseTransportType_t" use="optional"/>
      <xs:attribute name="RspDest" type="ResponseDestination_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="RequestForPositionsAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">RequestForPositionsAck can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="RequestForPositionsAck" ComponentType="Message" MsgID="74"
                     Section="PostTrade"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="RequestForPositionsAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="RequestForPositionsAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ReqForPossAck" type="RequestForPositionsAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PositionReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Pty" type="Parties_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="CollAmt" type="CollateralAmountGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PosUnd" type="PosUndInstrmtGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Qty" type="PositionQty_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Amt" type="PositionAmountData_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="RegTrdID" type="RegulatoryTradeIDGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pmt" type="PaymentGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdTrd" type="RelatedTradeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PositionReportAttributes">
      <xs:attribute name="RptID" type="PosMaintRptID_t" use="required"/>
      <xs:attribute name="PosID" type="PositionID_t" use="optional"/>
      <xs:attribute name="ReqID" type="PosReqID_t" use="optional"/>
      <xs:attribute name="ReqTyp" type="PosReqType_t" use="optional"/>
      <xs:attribute name="Actn" type="PosReportAction_t" use="optional"/>
      <xs:attribute name="ID" type="MarginReqmtInqID_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
      <xs:attribute name="TotRpts" type="TotalNumPosReports_t" use="optional"/>
      <xs:attribute name="TotNumRpts" type="TotNumReports_t" use="optional"/>
      <xs:attribute name="LastRptReqed" type="LastRptRequested_t" use="optional"/>
      <xs:attribute name="Rslt" type="PosReqResult_t" use="optional"/>
      <xs:attribute name="Unsol" type="UnsolicitedIndicator_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="required"/>
      <xs:attribute name="PrevBizDt" type="PreviousClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="MsgEvtSrc" type="MessageEventSource_t" use="optional"/>
      <xs:attribute name="Clrd" type="ClearedIndicator_t" use="optional"/>
      <xs:attribute name="ConRefPosTyp" type="ContractRefPosType_t" use="optional"/>
      <xs:attribute name="PosCpcty" type="PositionCapacity_t" use="optional"/>
      <xs:attribute name="TrmtdInd" type="TerminatedIndicator_t" use="optional"/>
      <xs:attribute name="IntraFirmTrdInd" type="IntraFirmTradeIndicator_t" use="optional"/>
      <xs:attribute name="TrdContntn" type="TradeContinuation_t" use="optional"/>
      <xs:attribute name="TrdContntnTxt" type="TradeContinuationText_t" use="optional"/>
      <xs:attribute name="EncTrdContntnTextLen" type="EncodedTradeContinuationTextLen_t"
                    use="optional"/>
      <xs:attribute name="EncTrdContntnText" type="EncodedTradeContinuationText_t" use="optional"/>
      <xs:attribute name="TrdCollztn" type="TradeCollateralization_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="TxnmyTyp" type="TaxonomyType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="SetPx" type="SettlPrice_t" use="optional"/>
      <xs:attribute name="SettlPxFxRtCalc" type="SettlPriceFxRateCalc_t" use="optional"/>
      <xs:attribute name="SettlFwdPnts" type="SettlForwardPoints_t" use="optional"/>
      <xs:attribute name="SetPxUOM" type="SettlPriceUnitOfMeasure_t" use="optional"/>
      <xs:attribute name="SetPxUOMCcy" type="SettlPriceUnitOfMeasureCurrency_t" use="optional"/>
      <xs:attribute name="SetPxTyp" type="SettlPriceType_t" use="optional"/>
      <xs:attribute name="PriSetPx" type="PriorSettlPrice_t" use="optional"/>
      <xs:attribute name="CntgPx" type="PositionContingentPrice_t" use="optional"/>
      <xs:attribute name="DiscFctr" type="DiscountFactor_t" use="optional"/>
      <xs:attribute name="ValDt" type="ValuationDate_t" use="optional"/>
      <xs:attribute name="ValTm" type="ValuationTime_t" use="optional"/>
      <xs:attribute name="ValBizCtr" type="ValuationBusinessCenter_t" use="optional"/>
      <xs:attribute name="MtchStat" type="MatchStatus_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="RegStat" type="RegistStatus_t" use="optional"/>
      <xs:attribute name="DlvDt" type="DeliveryDate_t" use="optional"/>
      <xs:attribute name="ModelTyp" type="ModelType_t" use="optional"/>
      <xs:attribute name="PxDelta" type="PriceDelta_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PositionReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PositionReport can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PositionReport" ComponentType="Message" MsgID="75"
                     Section="PostTrade"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PositionReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PositionReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PosRpt" type="PositionReport_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="AssignmentReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Pty" type="Parties_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Qty" type="PositionQty_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Amt" type="PositionAmountData_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="AssignmentReportAttributes">
      <xs:attribute name="RptID" type="AsgnRptID_t" use="required"/>
      <xs:attribute name="ReqID" type="PosReqID_t" use="optional"/>
      <xs:attribute name="TotNumAsgnRpts" type="TotNumAssignmentReports_t" use="optional"/>
      <xs:attribute name="LastRptReqed" type="LastRptRequested_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="ThresholdAmt" type="ThresholdAmount_t" use="optional"/>
      <xs:attribute name="SetPx" type="SettlPrice_t" use="optional"/>
      <xs:attribute name="SetPxTyp" type="SettlPriceType_t" use="optional"/>
      <xs:attribute name="UndSetPx" type="UnderlyingSettlPrice_t" use="optional"/>
      <xs:attribute name="PriSetPx" type="PriorSettlPrice_t" use="optional"/>
      <xs:attribute name="CntgPx" type="PositionContingentPrice_t" use="optional"/>
      <xs:attribute name="ExpireDt" type="ExpireDate_t" use="optional"/>
      <xs:attribute name="AsgnMeth" type="AssignmentMethod_t" use="optional"/>
      <xs:attribute name="Unit" type="AssignmentUnit_t" use="optional"/>
      <xs:attribute name="OpenInt" type="OpenInterest_t" use="optional"/>
      <xs:attribute name="ExrMethod" type="ExerciseMethod_t" use="optional"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="required"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="AssignmentReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">AssignmentReport can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="AssignmentReport" ComponentType="Message" MsgID="82"
                     Section="PostTrade"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="AssignmentReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="AssignmentReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="AsgnRpt" type="AssignmentReport_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="ContraryIntentionReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Pty" type="Parties_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Qty" type="ExpirationQty_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ContraryIntentionReportAttributes">
      <xs:attribute name="RptID" type="ContIntRptID_t" use="required"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="LateInd" type="LateIndicator_t" use="optional"/>
      <xs:attribute name="InptSrc" type="InputSource_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="required"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ContraryIntentionReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">ContraryIntentionReport can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ContraryIntentionReport" ComponentType="Message"
                     MsgID="94"
                     Section="PostTrade"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="ContraryIntentionReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="ContraryIntentionReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ContIntRpt" type="ContraryIntentionReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="AdjustedPositionReportElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Qty" type="PositionQty_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Inst" type="InstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="AdjustedPositionReportAttributes">
      <xs:attribute name="RptID" type="PosMaintRptID_t" use="required"/>
      <xs:attribute name="ReqTyp" type="PosReqType_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="required"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="RptRefID" type="PosMaintRptRefID_t" use="optional"/>
      <xs:attribute name="SetPx" type="SettlPrice_t" use="optional"/>
      <xs:attribute name="PriSetPx" type="PriorSettlPrice_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="AdjustedPositionReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">AdjustedPositionReport can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="AdjustedPositionReport" ComponentType="Message" MsgID="97"
                     Section="PostTrade"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="AdjustedPositionReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="AdjustedPositionReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="AdjPosRep" type="AdjustedPositionReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PositionTransferInstructionElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Qty" type="PositionQty_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Amt" type="PositionAmountData_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PositionTransferInstructionAttributes">
      <xs:attribute name="InstID" type="TransferInstructionID_t" use="required"/>
      <xs:attribute name="XferID" type="TransferID_t" use="optional"/>
      <xs:attribute name="TransTyp" type="TransferTransType_t" use="optional"/>
      <xs:attribute name="XferTyp" type="TransferType_t" use="optional"/>
      <xs:attribute name="XferScope" type="TransferScope_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="ClrTrdPx" type="ClearingTradePrice_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PositionTransferInstruction_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PositionTransferInstruction can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PositionTransferInstruction" ComponentType="Message"
                     MsgID="148"
                     Section="PostTrade"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PositionTransferInstructionElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PositionTransferInstructionAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PosXferInstrctn" type="PositionTransferInstruction_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PositionTransferInstructionAckElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PositionTransferInstructionAckAttributes">
      <xs:attribute name="InstID" type="TransferInstructionID_t" use="required"/>
      <xs:attribute name="XferID" type="TransferID_t" use="optional"/>
      <xs:attribute name="TransTyp" type="TransferTransType_t" use="optional"/>
      <xs:attribute name="XferTyp" type="TransferType_t" use="optional"/>
      <xs:attribute name="XferStat" type="TransferStatus_t" use="optional"/>
      <xs:attribute name="RejRsn" type="TransferRejectReason_t" use="optional"/>
      <xs:attribute name="XferScope" type="TransferScope_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PositionTransferInstructionAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PositionTransferInstructionAck can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PositionTransferInstructionAck" ComponentType="Message"
                     MsgID="149"
                     Section="PostTrade"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PositionTransferInstructionAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PositionTransferInstructionAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PosXferInstrctnAck" type="PositionTransferInstructionAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PositionTransferReportElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Qty" type="PositionQty_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Amt" type="PositionAmountData_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PositionTransferReportAttributes">
      <xs:attribute name="InstID" type="TransferInstructionID_t" use="optional"/>
      <xs:attribute name="RptID" type="TransferReportID_t" use="required"/>
      <xs:attribute name="XferID" type="TransferID_t" use="required"/>
      <xs:attribute name="TransTyp" type="TransferTransType_t" use="required"/>
      <xs:attribute name="RptTyp" type="TransferReportType_t" use="required"/>
      <xs:attribute name="XferStat" type="TransferStatus_t" use="required"/>
      <xs:attribute name="RejRsn" type="TransferRejectReason_t" use="optional"/>
      <xs:attribute name="XferScope" type="TransferScope_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="ClrTrdPx" type="ClearingTradePrice_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PositionTransferReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PositionTransferReport can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PositionTransferReport" ComponentType="Message"
                     MsgID="150"
                     Section="PostTrade"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PositionTransferReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PositionTransferReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PosXferRpt" type="PositionTransferReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PosUndInstrmtGrpElements">
      <xs:sequence>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="UndDlvAmt" type="UnderlyingAmount_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PosUndInstrmtGrpAttributes">
      <xs:attribute name="UndSetPx" type="UnderlyingSettlPrice_t" use="optional"/>
      <xs:attribute name="UndSetPxTyp" type="UnderlyingSettlPriceType_t" use="optional"/>
      <xs:attribute name="UndlyDlvAmt" type="UnderlyingDeliveryAmount_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PosUndInstrmtGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PosUndInstrmtGrp" ComponentType="ImplicitBlockRepeating"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="PosUndInstrmtGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="PosUndInstrmtGrpAttributes"/>
   </xs:complexType>
   <xs:group name="UnderlyingAmountElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="UnderlyingAmountAttributes">
      <xs:attribute name="PayAmt" type="UnderlyingPayAmount_t" use="optional"/>
      <xs:attribute name="ColAmt" type="UnderlyingCollectAmount_t" use="optional"/>
      <xs:attribute name="StlDt" type="UnderlyingSettlementDate_t" use="optional"/>
      <xs:attribute name="SetStat" type="UnderlyingSettlementStatus_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="UnderlyingAmount_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="UnderlyingAmount" ComponentType="BlockRepeating"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="UnderlyingAmountElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="UnderlyingAmountAttributes"/>
   </xs:complexType>
   <xs:group name="ExpirationQtyElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="ExpirationQtyAttributes">
      <xs:attribute name="ExpTyp" type="ExpirationQtyType_t" use="optional"/>
      <xs:attribute name="ExpQty" type="ExpQty_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ExpirationQty_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ExpirationQty" ComponentType="BlockRepeating"
                     Category="PositionMaintenance"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="ExpirationQtyElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="ExpirationQtyAttributes"/>
   </xs:complexType>
</xs:schema>