src/main/resources/schemas/fixml-5-0-sp2/fixml-listorders-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="NewOrderListElements">
      <xs:sequence>
         <xs:element name="Pty" type="RootParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Ord" type="ListOrdGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="NewOrderListAttributes">
      <xs:attribute name="ID" type="ListID_t" use="required"/>
      <xs:attribute name="BidID" type="BidID_t" use="optional"/>
      <xs:attribute name="ClBidID" type="ClientBidID_t" use="optional"/>
      <xs:attribute name="ProgRptReqs" type="ProgRptReqs_t" use="optional"/>
      <xs:attribute name="BidTyp" type="BidType_t" use="required"/>
      <xs:attribute name="ProgPeriodIntvl" type="ProgPeriodInterval_t" use="optional"/>
      <xs:attribute name="CxllationRights" type="CancellationRights_t" use="optional"/>
      <xs:attribute name="MnyLaunderingStat" type="MoneyLaunderingStatus_t" use="optional"/>
      <xs:attribute name="RegistID" type="RegistID_t" use="optional"/>
      <xs:attribute name="ListExecInstTyp" type="ListExecInstType_t" use="optional"/>
      <xs:attribute name="ListExecInst" type="ListExecInst_t" use="optional"/>
      <xs:attribute name="ContingencyType" type="ContingencyType_t" use="optional"/>
      <xs:attribute name="EncListExecInstLen" type="EncodedListExecInstLen_t" use="optional"/>
      <xs:attribute name="EncListExecInst" type="EncodedListExecInst_t" use="optional"/>
      <xs:attribute name="AOSPct" type="AllowableOneSidednessPct_t" use="optional"/>
      <xs:attribute name="AOSValu" type="AllowableOneSidednessValue_t" use="optional"/>
      <xs:attribute name="AOSCurr" type="AllowableOneSidednessCurr_t" use="optional"/>
      <xs:attribute name="ListManOrdInd" type="ListManualOrderIndicator_t" use="optional"/>
      <xs:attribute name="TotNoOrds" type="TotNoOrders_t" use="required"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="ThrttlInst" type="ThrottleInst_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="NewOrderList_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">NewOrderList can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="NewOrderList" ComponentType="Message" MsgID="15"
                     Section="Trade"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="NewOrderListElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="NewOrderListAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="NewOrdList" type="NewOrderList_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="ListCancelRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ListCancelRequestAttributes">
      <xs:attribute name="ID" type="ListID_t" use="required"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ListCancelRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">ListCancelRequest can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ListCancelRequest" ComponentType="Message" MsgID="20"
                     Section="Trade"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="ListCancelRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="ListCancelRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ListCxlReq" type="ListCancelRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="ListExecuteElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="ListExecuteAttributes">
      <xs:attribute name="ID" type="ListID_t" use="required"/>
      <xs:attribute name="ClBidID" type="ClientBidID_t" use="optional"/>
      <xs:attribute name="BidID" type="BidID_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ListExecute_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">ListExecute can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ListExecute" ComponentType="Message" MsgID="21"
                     Section="Trade"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="ListExecuteElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="ListExecuteAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ListExct" type="ListExecute_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="ListStatusRequestElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="ListStatusRequestAttributes">
      <xs:attribute name="ID" type="ListID_t" use="required"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ListStatusRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">ListStatusRequest can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ListStatusRequest" ComponentType="Message" MsgID="22"
                     Section="Trade"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="ListStatusRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="ListStatusRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ListStatReq" type="ListStatusRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="ListStatusElements">
      <xs:sequence>
         <xs:element name="ListStat" type="OrdListStatGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ListStatusAttributes">
      <xs:attribute name="ID" type="ListID_t" use="required"/>
      <xs:attribute name="ListStatTyp" type="ListStatusType_t" use="required"/>
      <xs:attribute name="NoRpts" type="NoRpts_t" use="required"/>
      <xs:attribute name="ListOrdStat" type="ListOrderStatus_t" use="required"/>
      <xs:attribute name="ContingencyType" type="ContingencyType_t" use="optional"/>
      <xs:attribute name="ListRejectReason" type="ListRejectReason_t" use="optional"/>
      <xs:attribute name="RptSeq" type="RptSeq_t" use="required"/>
      <xs:attribute name="ListStatText" type="ListStatusText_t" use="optional"/>
      <xs:attribute name="EncListStatTextLen" type="EncodedListStatusTextLen_t" use="optional"/>
      <xs:attribute name="EncListStatText" type="EncodedListStatusText_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="TotNoOrds" type="TotNoOrders_t" use="required"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ListStatus_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">ListStatus can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ListStatus" ComponentType="Message" MsgID="23"
                     Section="Trade"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="ListStatusElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="ListStatusAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ListStat" type="ListStatus_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="BidRequestElements">
      <xs:sequence>
         <xs:element name="DescReq" type="BidDescReqGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="CompReq" type="BidCompReqGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="BidRequestAttributes">
      <xs:attribute name="BidID" type="BidID_t" use="optional"/>
      <xs:attribute name="ClBidID" type="ClientBidID_t" use="required"/>
      <xs:attribute name="BidReqTransTyp" type="BidRequestTransType_t" use="required"/>
      <xs:attribute name="ListName" type="ListName_t" use="optional"/>
      <xs:attribute name="TotNoReltdSym" type="TotNoRelatedSym_t" use="required"/>
      <xs:attribute name="BidTyp" type="BidType_t" use="required"/>
      <xs:attribute name="NumTkts" type="NumTickets_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="SideValu1" type="SideValue1_t" use="optional"/>
      <xs:attribute name="SideValu2" type="SideValue2_t" use="optional"/>
      <xs:attribute name="LqdtyIndTyp" type="LiquidityIndType_t" use="optional"/>
      <xs:attribute name="WtAvgLqdty" type="WtAverageLiquidity_t" use="optional"/>
      <xs:attribute name="EFP" type="ExchangeForPhysical_t" use="optional"/>
      <xs:attribute name="OutMainCntryUNdx" type="OutMainCntryUIndex_t" use="optional"/>
      <xs:attribute name="CrssPct" type="CrossPercent_t" use="optional"/>
      <xs:attribute name="ProgRptReqs" type="ProgRptReqs_t" use="optional"/>
      <xs:attribute name="ProgPeriodIntvl" type="ProgPeriodInterval_t" use="optional"/>
      <xs:attribute name="IncTaxInd" type="IncTaxInd_t" use="optional"/>
      <xs:attribute name="ForexReq" type="ForexReq_t" use="optional"/>
      <xs:attribute name="NumBidders" type="NumBidders_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="BidTrdTyp" type="BidTradeType_t" use="required"/>
      <xs:attribute name="BasisPxTyp" type="BasisPxType_t" use="required"/>
      <xs:attribute name="StrkTm" type="StrikeTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="BidRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">BidRequest can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="BidRequest" ComponentType="Message" MsgID="44"
                     Section="Trade"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="BidRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="BidRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="BidReq" type="BidRequest_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="BidResponseElements">
      <xs:sequence>
         <xs:element name="CompRsp" type="BidCompRspGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="BidResponseAttributes">
      <xs:attribute name="BidID" type="BidID_t" use="optional"/>
      <xs:attribute name="ClBidID" type="ClientBidID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="BidResponse_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">BidResponse can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="BidResponse" ComponentType="Message" MsgID="45"
                     Section="Trade"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="BidResponseElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="BidResponseAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="BidRsp" type="BidResponse_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="ListStrikePriceElements">
      <xs:sequence>
         <xs:element name="StrkPX" type="InstrmtStrkPxGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ListStrikePriceAttributes">
      <xs:attribute name="ID" type="ListID_t" use="required"/>
      <xs:attribute name="TotNoStrks" type="TotNoStrikes_t" use="required"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ListStrikePrice_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">ListStrikePrice can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ListStrikePrice" ComponentType="Message" MsgID="46"
                     Section="Trade"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="ListStrikePriceElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="ListStrikePriceAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ListStrkPx" type="ListStrikePrice_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="BidCompReqGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="BidCompReqGrpAttributes">
      <xs:attribute name="ID" type="ListID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="NetGrossInd" type="NetGrossInd_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="BidCompReqGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="BidCompReqGrp" ComponentType="ImplicitBlockRepeating"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="BidCompReqGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="BidCompReqGrpAttributes"/>
   </xs:complexType>
   <xs:group name="BidCompRspGrpElements">
      <xs:sequence>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="BidCompRspGrpAttributes">
      <xs:attribute name="ID" type="ListID_t" use="optional"/>
      <xs:attribute name="Ctry" type="Country_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="FairValu" type="FairValue_t" use="optional"/>
      <xs:attribute name="NetGrossInd" type="NetGrossInd_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="BidCompRspGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="BidCompRspGrp" ComponentType="ImplicitBlockRepeating"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="BidCompRspGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="BidCompRspGrpAttributes"/>
   </xs:complexType>
   <xs:group name="BidDescReqGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="BidDescReqGrpAttributes">
      <xs:attribute name="BidDescptrTyp" type="BidDescriptorType_t" use="optional"/>
      <xs:attribute name="BidDescptr" type="BidDescriptor_t" use="optional"/>
      <xs:attribute name="SideValuInd" type="SideValueInd_t" use="optional"/>
      <xs:attribute name="LqdtyValu" type="LiquidityValue_t" use="optional"/>
      <xs:attribute name="LqdtyNumSecurities" type="LiquidityNumSecurities_t" use="optional"/>
      <xs:attribute name="LqdtyPctLow" type="LiquidityPctLow_t" use="optional"/>
      <xs:attribute name="LqdtyPctHigh" type="LiquidityPctHigh_t" use="optional"/>
      <xs:attribute name="EFPTrkngErr" type="EFPTrackingError_t" use="optional"/>
      <xs:attribute name="FairValu" type="FairValue_t" use="optional"/>
      <xs:attribute name="OutsideNdxPct" type="OutsideIndexPct_t" use="optional"/>
      <xs:attribute name="ValuOfFuts" type="ValueOfFutures_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="BidDescReqGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="BidDescReqGrp" ComponentType="ImplicitBlockRepeating"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="BidDescReqGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="BidDescReqGrpAttributes"/>
   </xs:complexType>
   <xs:group name="InstrmtStrkPxGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="1" maxOccurs="1"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="InstrmtStrkPxGrpAttributes">
      <xs:attribute name="PrevClsPx" type="PrevClosePx_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="InstrmtStrkPxGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="InstrmtStrkPxGrp" ComponentType="ImplicitBlockRepeating"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="InstrmtStrkPxGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InstrmtStrkPxGrpAttributes"/>
   </xs:complexType>
   <xs:group name="ListOrdGrpElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="PreAll" type="PreAllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="DsplyInstr" type="DisplayInstruction_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="TrdSes" type="TrdgSesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="1" maxOccurs="1"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="1" maxOccurs="1"/>
         <xs:element name="TrgrInstr" type="TriggeringInstruction_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="CommData" type="CommissionDataGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PegInstr" type="PegInstructions_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="DiscInstr" type="DiscretionInstructions_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="StrtPrmGrp" type="StrategyParametersGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ListOrdGrpAttributes">
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="required"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="SeqNo" type="ListSeqNo_t" use="required"/>
      <xs:attribute name="ClOrdLinkID" type="ClOrdLinkID_t" use="optional"/>
      <xs:attribute name="SettlInstMode" type="SettlInstMode_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="DayBkngInst" type="DayBookingInst_t" use="optional"/>
      <xs:attribute name="BkngUnit" type="BookingUnit_t" use="optional"/>
      <xs:attribute name="AllocID" type="AllocID_t" use="optional"/>
      <xs:attribute name="PreallocMeth" type="PreallocMethod_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="CshMgn" type="CashMargin_t" use="optional"/>
      <xs:attribute name="ClrFeeInd" type="ClearingFeeIndicator_t" use="optional"/>
      <xs:attribute name="HandlInst" type="HandlInst_t" use="optional"/>
      <xs:attribute name="ExecInst" type="ExecInst_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="MtchInc" type="MatchIncrement_t" use="optional"/>
      <xs:attribute name="MxPxLvls" type="MaxPriceLevels_t" use="optional"/>
      <xs:attribute name="MaxFloor" type="MaxFloor_t" use="optional"/>
      <xs:attribute name="ExDest" type="ExDestination_t" use="optional"/>
      <xs:attribute name="ExDestIDSrc" type="ExDestinationIDSource_t" use="optional"/>
      <xs:attribute name="ProcCode" type="ProcessCode_t" use="optional"/>
      <xs:attribute name="PrevClsPx" type="PrevClosePx_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="SMEInd" type="ShortMarkingExemptIndicator_t" use="optional"/>
      <xs:attribute name="ShrtSaleExmptnRsn" type="ShortSaleExemptionReason_t" use="optional"/>
      <xs:attribute name="SideValuInd" type="SideValueInd_t" use="optional"/>
      <xs:attribute name="LocReqd" type="LocateReqd_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxPrtScp" type="PriceProtectionScope_t" use="optional"/>
      <xs:attribute name="StopPx" type="StopPx_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="SolFlag" type="SolicitedFlag_t" use="optional"/>
      <xs:attribute name="IOIID" type="IOIID_t" use="optional"/>
      <xs:attribute name="QID" type="QuoteID_t" use="optional"/>
      <xs:attribute name="RefOrdID" type="RefOrderID_t" use="optional"/>
      <xs:attribute name="RefOrdIDSrc" type="RefOrderIDSource_t" use="optional"/>
      <xs:attribute name="TmInForce" type="TimeInForce_t" use="optional"/>
      <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
      <xs:attribute name="ExpireDt" type="ExpireDate_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="GTBkngInst" type="GTBookingInst_t" use="optional"/>
      <xs:attribute name="ExpsreDur" type="ExposureDuration_t" use="optional"/>
      <xs:attribute name="ExpsreDurUnit" type="ExposureDurationUnit_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="PrTrdAnon" type="PreTradeAnonymity_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="ForexReq" type="ForexReq_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="SettlDt2" type="SettlDate2_t" use="optional"/>
      <xs:attribute name="Qty2" type="OrderQty2_t" use="optional"/>
      <xs:attribute name="Px2" type="Price2_t" use="optional"/>
      <xs:attribute name="PosEfct" type="PositionEffect_t" use="optional"/>
      <xs:attribute name="Covered" type="CoveredOrUncovered_t" use="optional"/>
      <xs:attribute name="MaxShow" type="MaxShow_t" use="optional"/>
      <xs:attribute name="TgtStrategy" type="TargetStrategy_t" use="optional"/>
      <xs:attribute name="TgtStrategyParameters" type="TargetStrategyParameters_t" use="optional"/>
      <xs:attribute name="ParticipationRt" type="ParticipationRate_t" use="optional"/>
      <xs:attribute name="Designation" type="Designation_t" use="optional"/>
      <xs:attribute name="ManOrdInd" type="ManualOrderIndicator_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ListOrdGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ListOrdGrp" ComponentType="ImplicitBlockRepeating"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="ListOrdGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="ListOrdGrpAttributes"/>
   </xs:complexType>
   <xs:group name="OrdListStatGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="OrdListStatGrpAttributes">
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="CumQty" type="CumQty_t" use="required"/>
      <xs:attribute name="OrdStat" type="OrdStatus_t" use="required"/>
      <xs:attribute name="WorkingInd" type="WorkingIndicator_t" use="optional"/>
      <xs:attribute name="LeavesQty" type="LeavesQty_t" use="required"/>
      <xs:attribute name="CxlQty" type="CxlQty_t" use="required"/>
      <xs:attribute name="AvgPx" type="AvgPx_t" use="required"/>
      <xs:attribute name="RejRsn" type="OrdRejReason_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrdListStatGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrdListStatGrp" ComponentType="ImplicitBlockRepeating"
                     Category="ProgramTrading"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="OrdListStatGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="OrdListStatGrpAttributes"/>
   </xs:complexType>
</xs:schema>