src/main/resources/schemas/fixml-5-0-sp2/fixml-order-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="ExecutionReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Contra" type="ContraGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="RegTrdID" type="RegulatoryTradeIDGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PreAll" type="PreAllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Pmt" type="PaymentGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0"/>
         <xs:element name="TrgrInstr" type="TriggeringInstruction_Block_t" minOccurs="0"/>
         <xs:element name="PegInstr" type="PegInstructions_Block_t" minOccurs="0"/>
         <xs:element name="DiscInstr" type="DiscretionInstructions_Block_t" minOccurs="0"/>
         <xs:element name="StrtPrmGrp" type="StrategyParametersGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="OrdAttrib" type="OrderAttributeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="LmtAmts" type="LimitAmts_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="FillsGrp" type="FillsGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdEvent" type="OrderEventGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="0"/>
         <xs:element name="CommData" type="CommissionDataGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="ReltvVal" type="RelativeValueGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
         <xs:element name="RtSrc" type="RateSource_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ValuChk" type="ValueChecksGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MtchgInst" type="MatchingInstructions_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="DsplyInstr" type="DisplayInstruction_Block_t" minOccurs="0"/>
         <xs:element name="DisclsrInst" type="DisclosureInstructionGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ContAmt" type="ContAmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Exec" type="InstrmtLegExecGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MiscFees" type="MiscFeesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdRegPublctn" type="TrdRegPublicationGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdPxConds" type="TradePriceConditionGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ThrttlRsp" type="ThrottleResponse_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ExecutionReportAttributes">
      <xs:attribute name="OrdID" type="OrderID_t" use="required"/>
      <xs:attribute name="OrdReqID" type="OrderRequestID_t" use="optional"/>
      <xs:attribute name="MassOrdReqID" type="MassOrderRequestID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="ID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="ExecID2" type="SecondaryExecID_t" use="optional"/>
      <xs:attribute name="ID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="QtMsgID" type="QuoteMsgID_t" use="optional"/>
      <xs:attribute name="OrigID" type="OrigClOrdID_t" use="optional"/>
      <xs:attribute name="LnkID" type="ClOrdLinkID_t" use="optional"/>
      <xs:attribute name="MDID" type="MDEntryID_t" use="optional"/>
      <xs:attribute name="RspID" type="QuoteRespID_t" use="optional"/>
      <xs:attribute name="StatReqID" type="OrdStatusReqID_t" use="optional"/>
      <xs:attribute name="MassStatReqID" type="MassStatusReqID_t" use="optional"/>
      <xs:attribute name="HstCxID" type="HostCrossID_t" use="optional"/>
      <xs:attribute name="TotNumRpts" type="TotNumReports_t" use="optional"/>
      <xs:attribute name="LastRptReqed" type="LastRptRequested_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="ListID" type="ListID_t" use="optional"/>
      <xs:attribute name="CrssID" type="CrossID_t" use="optional"/>
      <xs:attribute name="OrigCrssID" type="OrigCrossID_t" use="optional"/>
      <xs:attribute name="CrssTyp" type="CrossType_t" use="optional"/>
      <xs:attribute name="RefRiskLmtChkID" type="RefRiskLimitCheckID_t" use="optional"/>
      <xs:attribute name="RefRiskLmtChkIDTyp" type="RefRiskLimitCheckIDType_t" use="optional"/>
      <xs:attribute name="MtchID" type="TrdMatchID_t" use="optional"/>
      <xs:attribute name="MtchSubID" type="TrdMatchSubID_t" use="optional"/>
      <xs:attribute name="ExecID" type="ExecID_t" use="required"/>
      <xs:attribute name="ExecRefID" type="ExecRefID_t" use="optional"/>
      <xs:attribute name="ExecTyp" type="ExecType_t" use="required"/>
      <xs:attribute name="ExecTypRsn" type="ExecTypeReason_t" use="optional"/>
      <xs:attribute name="Stat" type="OrdStatus_t" use="required"/>
      <xs:attribute name="WorkingInd" type="WorkingIndicator_t" use="optional"/>
      <xs:attribute name="RejRsn" type="OrdRejReason_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="ExecRstmtRsn" type="ExecRestatementReason_t" use="optional"/>
      <xs:attribute name="AlgoTrdInd" type="AlgorithmicTradeIndicator_t" use="optional"/>
      <xs:attribute name="TrdTyp" type="TrdType_t" use="optional"/>
      <xs:attribute name="TrdSubTyp" type="TrdSubType_t" use="optional"/>
      <xs:attribute name="TrdTyp2" type="SecondaryTrdType_t" use="optional"/>
      <xs:attribute name="RegTxnTyp" type="RegulatoryTransactionType_t" use="optional"/>
      <xs:attribute name="PrevlyRpted" type="PreviouslyReported_t" use="optional"/>
      <xs:attribute name="TrdRptngInd" type="TradeReportingIndicator_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="DayBkngInst" type="DayBookingInst_t" use="optional"/>
      <xs:attribute name="BkngUnit" type="BookingUnit_t" use="optional"/>
      <xs:attribute name="PreallocMeth" type="PreallocMethod_t" use="optional"/>
      <xs:attribute name="AllocID" type="AllocID_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="MtchTyp" type="MatchType_t" use="optional"/>
      <xs:attribute name="OrdCat" type="OrderCategory_t" use="optional"/>
      <xs:attribute name="CshMgn" type="CashMargin_t" use="optional"/>
      <xs:attribute name="ClrFeeInd" type="ClearingFeeIndicator_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="SMEInd" type="ShortMarkingExemptIndicator_t" use="optional"/>
      <xs:attribute name="ShrtSaleExmptnRsn" type="ShortSaleExemptionReason_t" use="optional"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="LotTyp" type="LotType_t" use="optional"/>
      <xs:attribute name="Typ" type="OrdType_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxPrtScp" type="PriceProtectionScope_t" use="optional"/>
      <xs:attribute name="StopPx" type="StopPx_t" use="optional"/>
      <xs:attribute name="Trgrd" type="Triggered_t" use="optional"/>
      <xs:attribute name="PeggedPx" type="PeggedPrice_t" use="optional"/>
      <xs:attribute name="PggdRefPx" type="PeggedRefPrice_t" use="optional"/>
      <xs:attribute name="DsctnPx" type="DiscretionPrice_t" use="optional"/>
      <xs:attribute name="TrdPxNegottnMeth" type="TradePriceNegotiationMethod_t" use="optional"/>
      <xs:attribute name="UpfrontPx" type="UpfrontPrice_t" use="optional"/>
      <xs:attribute name="UpfrontPxTyp" type="UpfrontPriceType_t" use="optional"/>
      <xs:attribute name="TgtStrategy" type="TargetStrategy_t" use="optional"/>
      <xs:attribute name="TgtStrategyParameters" type="TargetStrategyParameters_t" use="optional"/>
      <xs:attribute name="ParticipationRt" type="ParticipationRate_t" use="optional"/>
      <xs:attribute name="TgtStrategyPerformance" type="TargetStrategyPerformance_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="SolFlag" type="SolicitedFlag_t" use="optional"/>
      <xs:attribute name="TmInForce" type="TimeInForce_t" use="optional"/>
      <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
      <xs:attribute name="ExpireDt" type="ExpireDate_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="ExpsreDur" type="ExposureDuration_t" use="optional"/>
      <xs:attribute name="ExpsreDurUnit" type="ExposureDurationUnit_t" use="optional"/>
      <xs:attribute name="ExecInst" type="ExecInst_t" use="optional"/>
      <xs:attribute name="AuctInst" type="AuctionInstruction_t" use="optional"/>
      <xs:attribute name="AgrsrInd" type="AggressorIndicator_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="TrdgCpcty" type="TradingCapacity_t" use="optional"/>
      <xs:attribute name="PrTrdAnon" type="PreTradeAnonymity_t" use="optional"/>
      <xs:attribute name="TrdPubInd" type="TradePublishIndicator_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="LastQty" type="LastQty_t" use="optional"/>
      <xs:attribute name="CalcCcyLastQty" type="CalculatedCcyLastQty_t" use="optional"/>
      <xs:attribute name="LastSwapPnts" type="LastSwapPoints_t" use="optional"/>
      <xs:attribute name="UndLastQty" type="UnderlyingLastQty_t" use="optional"/>
      <xs:attribute name="LastQtyVarnc" type="LastQtyVariance_t" use="optional"/>
      <xs:attribute name="LastPx" type="LastPx_t" use="optional"/>
      <xs:attribute name="UndLastPx" type="UnderlyingLastPx_t" use="optional"/>
      <xs:attribute name="LastParPx" type="LastParPx_t" use="optional"/>
      <xs:attribute name="MidPx" type="MidPx_t" use="optional"/>
      <xs:attribute name="LastSpotRt" type="LastSpotRate_t" use="optional"/>
      <xs:attribute name="LastFwdPnts" type="LastForwardPoints_t" use="optional"/>
      <xs:attribute name="LastUpfrontPx" type="LastUpfrontPrice_t" use="optional"/>
      <xs:attribute name="LastMkt" type="LastMkt_t" use="optional"/>
      <xs:attribute name="VenuTyp" type="VenueType_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="ExDest" type="ExDestination_t" use="optional"/>
      <xs:attribute name="ExDestIDSrc" type="ExDestinationIDSource_t" use="optional"/>
      <xs:attribute name="ExDestTyp" type="ExDestinationType_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="TmBkt" type="TimeBracket_t" use="optional"/>
      <xs:attribute name="LastCpcty" type="LastCapacity_t" use="optional"/>
      <xs:attribute name="LeavesQty" type="LeavesQty_t" use="required"/>
      <xs:attribute name="CumQty" type="CumQty_t" use="required"/>
      <xs:attribute name="CxlQty" type="CxlQty_t" use="optional"/>
      <xs:attribute name="AvgPx" type="AvgPx_t" use="optional"/>
      <xs:attribute name="DayOrdQty" type="DayOrderQty_t" use="optional"/>
      <xs:attribute name="DayCumQty" type="DayCumQty_t" use="optional"/>
      <xs:attribute name="DayAvgPx" type="DayAvgPx_t" use="optional"/>
      <xs:attribute name="TotNoFills" type="TotNoFills_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="GTBkngInst" type="GTBookingInst_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="RptToExch" type="ReportToExch_t" use="optional"/>
      <xs:attribute name="GrossTrdAmt" type="GrossTradeAmt_t" use="optional"/>
      <xs:attribute name="NumDaysInt" type="NumDaysInterest_t" use="optional"/>
      <xs:attribute name="ExDt" type="ExDate_t" use="optional"/>
      <xs:attribute name="AcrdIntRt" type="AccruedInterestRate_t" use="optional"/>
      <xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="IntAtMat" type="InterestAtMaturity_t" use="optional"/>
      <xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
      <xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
      <xs:attribute name="TrddFlatSwitch" type="TradedFlatSwitch_t" use="optional"/>
      <xs:attribute name="BasisFeatureDt" type="BasisFeatureDate_t" use="optional"/>
      <xs:attribute name="BasisFeaturePx" type="BasisFeaturePrice_t" use="optional"/>
      <xs:attribute name="Concession" type="Concession_t" use="optional"/>
      <xs:attribute name="TotTakedown" type="TotalTakedown_t" use="optional"/>
      <xs:attribute name="NetMny" type="NetMoney_t" use="optional"/>
      <xs:attribute name="SettlCurrAmt" type="SettlCurrAmt_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="SettlCurrFxRt" type="SettlCurrFxRate_t" use="optional"/>
      <xs:attribute name="SettlCurrFxRtCalc" type="SettlCurrFxRateCalc_t" use="optional"/>
      <xs:attribute name="HandlInst" type="HandlInst_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="MinQtyMeth" type="MinQtyMethod_t" use="optional"/>
      <xs:attribute name="MtchInc" type="MatchIncrement_t" use="optional"/>
      <xs:attribute name="MxPxLvls" type="MaxPriceLevels_t" use="optional"/>
      <xs:attribute name="MaxPxPctage" type="MaximumPricePercentage_t" use="optional"/>
      <xs:attribute name="SlfMtchPrvntnID" type="SelfMatchPreventionID_t" use="optional"/>
      <xs:attribute name="CrssdInd" type="CrossedIndicator_t" use="optional"/>
      <xs:attribute name="MaxFloor" type="MaxFloor_t" use="optional"/>
      <xs:attribute name="ClrAcctTyp" type="ClearingAccountType_t" use="optional"/>
      <xs:attribute name="PosEfct" type="PositionEffect_t" use="optional"/>
      <xs:attribute name="MaxShow" type="MaxShow_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="SettlDt2" type="SettlDate2_t" use="optional"/>
      <xs:attribute name="Qty2" type="OrderQty2_t" use="optional"/>
      <xs:attribute name="LastFwdPnts2" type="LastForwardPoints2_t" use="optional"/>
      <xs:attribute name="MLegRptTyp" type="MultiLegReportingType_t" use="optional"/>
      <xs:attribute name="ContingencyType" type="ContingencyType_t" use="optional"/>
      <xs:attribute name="CxllationRights" type="CancellationRights_t" use="optional"/>
      <xs:attribute name="MnyLaunderingStat" type="MoneyLaunderingStatus_t" use="optional"/>
      <xs:attribute name="RegistID" type="RegistID_t" use="optional"/>
      <xs:attribute name="Designation" type="Designation_t" use="optional"/>
      <xs:attribute name="TransBkdTm" type="TransBkdTime_t" use="optional"/>
      <xs:attribute name="ExecValuationPoint" type="ExecValuationPoint_t" use="optional"/>
      <xs:attribute name="ExecPxTyp" type="ExecPriceType_t" use="optional"/>
      <xs:attribute name="ExecPxAdjment" type="ExecPriceAdjustment_t" use="optional"/>
      <xs:attribute name="PriInd" type="PriorityIndicator_t" use="optional"/>
      <xs:attribute name="PxImprvmnt" type="PriceImprovement_t" use="optional"/>
      <xs:attribute name="LastLqdtyInd" type="LastLiquidityInd_t" use="optional"/>
      <xs:attribute name="CopyMsgInd" type="CopyMsgIndicator_t" use="optional"/>
      <xs:attribute name="DividendYield" type="DividendYield_t" use="optional"/>
      <xs:attribute name="ManOrdInd" type="ManualOrderIndicator_t" use="optional"/>
      <xs:attribute name="CustDrctdOrd" type="CustDirectedOrder_t" use="optional"/>
      <xs:attribute name="RcvdDptID" type="ReceivedDeptID_t" use="optional"/>
      <xs:attribute name="CustOrdHdlInst" type="CustOrderHandlingInst_t" use="optional"/>
      <xs:attribute name="OrdHndlInstSrc" type="OrderHandlingInstSource_t" use="optional"/>
      <xs:attribute name="OrdOrigntn" type="OrderOrigination_t" use="optional"/>
      <xs:attribute name="OrigntngDeptID" type="OriginatingDeptID_t" use="optional"/>
      <xs:attribute name="RcvgDeptID" type="ReceivingDeptID_t" use="optional"/>
      <xs:attribute name="OwnerTyp" type="OwnerType_t" use="optional"/>
      <xs:attribute name="OrdOwnershipInd" type="OrderOwnershipIndicator_t" use="optional"/>
      <xs:attribute name="Vol" type="Volatility_t" use="optional"/>
      <xs:attribute name="TmToExp" type="TimeToExpiration_t" use="optional"/>
      <xs:attribute name="RFR" type="RiskFreeRate_t" use="optional"/>
      <xs:attribute name="PxDelta" type="PriceDelta_t" use="optional"/>
      <xs:attribute name="CoverPx" type="CoverPrice_t" use="optional"/>
      <xs:attribute name="RefOrdID" type="RefOrderID_t" use="optional"/>
      <xs:attribute name="RefOrdIDSrc" type="RefOrderIDSource_t" use="optional"/>
      <xs:attribute name="RefClOrdID" type="RefClOrdID_t" use="optional"/>
      <xs:attribute name="AuctTyp" type="AuctionType_t" use="optional"/>
      <xs:attribute name="AuctPct" type="AuctionAllocationPct_t" use="optional"/>
      <xs:attribute name="LckQty" type="LockedQty_t" use="optional"/>
      <xs:attribute name="LckQty2" type="SecondaryLockedQty_t" use="optional"/>
      <xs:attribute name="LckTyp" type="LockType_t" use="optional"/>
      <xs:attribute name="RlsInst" type="ReleaseInstruction_t" use="optional"/>
      <xs:attribute name="RlsQty" type="ReleaseQty_t" use="optional"/>
      <xs:attribute name="ReltdHiPx" type="RelatedHighPrice_t" use="optional"/>
      <xs:attribute name="ReltdLowPx" type="RelatedLowPrice_t" use="optional"/>
      <xs:attribute name="ReltdPxSrc" type="RelatedPriceSource_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ExecutionReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">ExecutionReport can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ExecutionReport" ComponentType="Message" MsgID="9"
                     Section="Trade"
                     Category="SingleGeneralOrderHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="ExecutionReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="ExecutionReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ExecRpt" type="ExecutionReport_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="OrderCancelRejectElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OrderCancelRejectAttributes">
      <xs:attribute name="OrdID" type="OrderID_t" use="required"/>
      <xs:attribute name="OrdReqID" type="OrderRequestID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="ID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="ID" type="ClOrdID_t" use="required"/>
      <xs:attribute name="LnkID" type="ClOrdLinkID_t" use="optional"/>
      <xs:attribute name="OrigID" type="OrigClOrdID_t" use="optional"/>
      <xs:attribute name="Stat" type="OrdStatus_t" use="required"/>
      <xs:attribute name="WorkingInd" type="WorkingIndicator_t" use="optional"/>
      <xs:attribute name="OrigOrdModTm" type="OrigOrdModTime_t" use="optional"/>
      <xs:attribute name="ListID" type="ListID_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="CxlRejRspTo" type="CxlRejResponseTo_t" use="required"/>
      <xs:attribute name="CxlRejRsn" type="CxlRejReason_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="ExDest" type="ExDestination_t" use="optional"/>
      <xs:attribute name="ExDestIDSrc" type="ExDestinationIDSource_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderCancelReject_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">OrderCancelReject can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderCancelReject" ComponentType="Message" MsgID="10"
                     Section="Trade"
                     Category="SingleGeneralOrderHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="OrderCancelRejectElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="OrderCancelRejectAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="OrdCxlRej" type="OrderCancelReject_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="NewOrderSingleElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="PreAll" type="PreAllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ValuChk" type="ValueChecksGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MtchgInst" type="MatchingInstructions_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="DsplyInstr" type="DisplayInstruction_Block_t" minOccurs="0"/>
         <xs:element name="DisclsrInst" type="DisclosureInstructionGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdSes" type="TrdgSesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t"/>
         <xs:element name="TrgrInstr" type="TriggeringInstruction_Block_t" minOccurs="0"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="0"/>
         <xs:element name="CommData" type="CommissionDataGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="OrdAttrib" type="OrderAttributeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PegInstr" type="PegInstructions_Block_t" minOccurs="0"/>
         <xs:element name="DiscInstr" type="DiscretionInstructions_Block_t" minOccurs="0"/>
         <xs:element name="StrtPrmGrp" type="StrategyParametersGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="NewOrderSingleAttributes">
      <xs:attribute name="ID" type="ClOrdID_t" use="required"/>
      <xs:attribute name="OrdReqID" type="OrderRequestID_t" use="optional"/>
      <xs:attribute name="ID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="LnkID" type="ClOrdLinkID_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="DayBkngInst" type="DayBookingInst_t" use="optional"/>
      <xs:attribute name="BkngUnit" type="BookingUnit_t" use="optional"/>
      <xs:attribute name="PreallocMeth" type="PreallocMethod_t" use="optional"/>
      <xs:attribute name="AllocID" type="AllocID_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="CshMgn" type="CashMargin_t" use="optional"/>
      <xs:attribute name="ClrFeeInd" type="ClearingFeeIndicator_t" use="optional"/>
      <xs:attribute name="HandlInst" type="HandlInst_t" use="optional"/>
      <xs:attribute name="ExecInst" type="ExecInst_t" use="optional"/>
      <xs:attribute name="AuctInst" type="AuctionInstruction_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="MinQtyMeth" type="MinQtyMethod_t" use="optional"/>
      <xs:attribute name="MtchInc" type="MatchIncrement_t" use="optional"/>
      <xs:attribute name="MxPxLvls" type="MaxPriceLevels_t" use="optional"/>
      <xs:attribute name="MaxPxPctage" type="MaximumPricePercentage_t" use="optional"/>
      <xs:attribute name="SlfMtchPrvntnID" type="SelfMatchPreventionID_t" use="optional"/>
      <xs:attribute name="MaxFloor" type="MaxFloor_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="ExDest" type="ExDestination_t" use="optional"/>
      <xs:attribute name="ExDestIDSrc" type="ExDestinationIDSource_t" use="optional"/>
      <xs:attribute name="ExDestTyp" type="ExDestinationType_t" use="optional"/>
      <xs:attribute name="ProcCode" type="ProcessCode_t" use="optional"/>
      <xs:attribute name="PrevClsPx" type="PrevClosePx_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="SMEInd" type="ShortMarkingExemptIndicator_t" use="optional"/>
      <xs:attribute name="ShrtSaleExmptnRsn" type="ShortSaleExemptionReason_t" use="optional"/>
      <xs:attribute name="LocReqd" type="LocateReqd_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="Typ" type="OrdType_t" use="required"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxPrtScp" type="PriceProtectionScope_t" use="optional"/>
      <xs:attribute name="StopPx" type="StopPx_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="TrdPxNegottnMeth" type="TradePriceNegotiationMethod_t" use="optional"/>
      <xs:attribute name="UpfrontPxTyp" type="UpfrontPriceType_t" use="optional"/>
      <xs:attribute name="UpfrontPx" type="UpfrontPrice_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="SolFlag" type="SolicitedFlag_t" use="optional"/>
      <xs:attribute name="IOIID" type="IOIID_t" use="optional"/>
      <xs:attribute name="QID" type="QuoteID_t" use="optional"/>
      <xs:attribute name="TmInForce" type="TimeInForce_t" use="optional"/>
      <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
      <xs:attribute name="ExpireDt" type="ExpireDate_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="GTBkngInst" type="GTBookingInst_t" use="optional"/>
      <xs:attribute name="ExpsreDur" type="ExposureDuration_t" use="optional"/>
      <xs:attribute name="ExpsreDurUnit" type="ExposureDurationUnit_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="TrdgCpcty" type="TradingCapacity_t" use="optional"/>
      <xs:attribute name="PrTrdAnon" type="PreTradeAnonymity_t" use="optional"/>
      <xs:attribute name="TrdPubInd" type="TradePublishIndicator_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="ForexReq" type="ForexReq_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="SettlDt2" type="SettlDate2_t" use="optional"/>
      <xs:attribute name="Qty2" type="OrderQty2_t" use="optional"/>
      <xs:attribute name="Px2" type="Price2_t" use="optional"/>
      <xs:attribute name="ClrAcctTyp" type="ClearingAccountType_t" use="optional"/>
      <xs:attribute name="PosEfct" type="PositionEffect_t" use="optional"/>
      <xs:attribute name="Covered" type="CoveredOrUncovered_t" use="optional"/>
      <xs:attribute name="MaxShow" type="MaxShow_t" use="optional"/>
      <xs:attribute name="TgtStrategy" type="TargetStrategy_t" use="optional"/>
      <xs:attribute name="TgtStrategyParameters" type="TargetStrategyParameters_t" use="optional"/>
      <xs:attribute name="ParticipationRt" type="ParticipationRate_t" use="optional"/>
      <xs:attribute name="CxllationRights" type="CancellationRights_t" use="optional"/>
      <xs:attribute name="MnyLaunderingStat" type="MoneyLaunderingStatus_t" use="optional"/>
      <xs:attribute name="RegistID" type="RegistID_t" use="optional"/>
      <xs:attribute name="Designation" type="Designation_t" use="optional"/>
      <xs:attribute name="ManOrdInd" type="ManualOrderIndicator_t" use="optional"/>
      <xs:attribute name="CustDrctdOrd" type="CustDirectedOrder_t" use="optional"/>
      <xs:attribute name="RcvdDptID" type="ReceivedDeptID_t" use="optional"/>
      <xs:attribute name="CustOrdHdlInst" type="CustOrderHandlingInst_t" use="optional"/>
      <xs:attribute name="OrdHndlInstSrc" type="OrderHandlingInstSource_t" use="optional"/>
      <xs:attribute name="OrdOrigntn" type="OrderOrigination_t" use="optional"/>
      <xs:attribute name="OrigntngDeptID" type="OriginatingDeptID_t" use="optional"/>
      <xs:attribute name="RcvgDeptID" type="ReceivingDeptID_t" use="optional"/>
      <xs:attribute name="OwnerTyp" type="OwnerType_t" use="optional"/>
      <xs:attribute name="RefOrdID" type="RefOrderID_t" use="optional"/>
      <xs:attribute name="RefOrdIDSrc" type="RefOrderIDSource_t" use="optional"/>
      <xs:attribute name="ThrttlInst" type="ThrottleInst_t" use="optional"/>
      <xs:attribute name="RefClOrdID" type="RefClOrdID_t" use="optional"/>
      <xs:attribute name="AuctTyp" type="AuctionType_t" use="optional"/>
      <xs:attribute name="AuctPct" type="AuctionAllocationPct_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="NewOrderSingle_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">NewOrderSingle can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="NewOrderSingle" ComponentType="Message" MsgID="14"
                     Section="Trade"
                     Category="SingleGeneralOrderHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="NewOrderSingleElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="NewOrderSingleAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Order" type="NewOrderSingle_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="OrderCancelRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OrderCancelRequestAttributes">
      <xs:attribute name="OrdReqID" type="OrderRequestID_t" use="optional"/>
      <xs:attribute name="OrigID" type="OrigClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="ID" type="ClOrdID_t" use="required"/>
      <xs:attribute name="ID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="LnkID" type="ClOrdLinkID_t" use="optional"/>
      <xs:attribute name="ListID" type="ListID_t" use="optional"/>
      <xs:attribute name="OrigOrdModTm" type="OrigOrdModTime_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="ExDest" type="ExDestination_t" use="optional"/>
      <xs:attribute name="ExDestIDSrc" type="ExDestinationIDSource_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderCancelRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">OrderCancelRequest can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderCancelRequest" ComponentType="Message" MsgID="16"
                     Section="Trade"
                     Category="SingleGeneralOrderHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="OrderCancelRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="OrderCancelRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="OrdCxlReq" type="OrderCancelRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="OrderCancelReplaceRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="PreAll" type="PreAllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ValuChk" type="ValueChecksGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MtchgInst" type="MatchingInstructions_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="DsplyInstr" type="DisplayInstruction_Block_t" minOccurs="0"/>
         <xs:element name="DisclsrInst" type="DisclosureInstructionGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdSes" type="TrdgSesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t"/>
         <xs:element name="TrgrInstr" type="TriggeringInstruction_Block_t" minOccurs="0"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
         <xs:element name="PegInstr" type="PegInstructions_Block_t" minOccurs="0"/>
         <xs:element name="DiscInstr" type="DiscretionInstructions_Block_t" minOccurs="0"/>
         <xs:element name="StrtPrmGrp" type="StrategyParametersGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="0"/>
         <xs:element name="CommData" type="CommissionDataGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="OrdAttrib" type="OrderAttributeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OrderCancelReplaceRequestAttributes">
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="OrdReqID" type="OrderRequestID_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="OrigID" type="OrigClOrdID_t" use="optional"/>
      <xs:attribute name="ID" type="ClOrdID_t" use="required"/>
      <xs:attribute name="ID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="LnkID" type="ClOrdLinkID_t" use="optional"/>
      <xs:attribute name="ListID" type="ListID_t" use="optional"/>
      <xs:attribute name="OrigOrdModTm" type="OrigOrdModTime_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="DayBkngInst" type="DayBookingInst_t" use="optional"/>
      <xs:attribute name="BkngUnit" type="BookingUnit_t" use="optional"/>
      <xs:attribute name="PreallocMeth" type="PreallocMethod_t" use="optional"/>
      <xs:attribute name="AllocID" type="AllocID_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="CshMgn" type="CashMargin_t" use="optional"/>
      <xs:attribute name="ClrFeeInd" type="ClearingFeeIndicator_t" use="optional"/>
      <xs:attribute name="HandlInst" type="HandlInst_t" use="optional"/>
      <xs:attribute name="ExecInst" type="ExecInst_t" use="optional"/>
      <xs:attribute name="AuctInst" type="AuctionInstruction_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="MinQtyMeth" type="MinQtyMethod_t" use="optional"/>
      <xs:attribute name="MtchInc" type="MatchIncrement_t" use="optional"/>
      <xs:attribute name="MxPxLvls" type="MaxPriceLevels_t" use="optional"/>
      <xs:attribute name="MaxPxPctage" type="MaximumPricePercentage_t" use="optional"/>
      <xs:attribute name="SlfMtchPrvntnID" type="SelfMatchPreventionID_t" use="optional"/>
      <xs:attribute name="MaxFloor" type="MaxFloor_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="ExDest" type="ExDestination_t" use="optional"/>
      <xs:attribute name="ExDestIDSrc" type="ExDestinationIDSource_t" use="optional"/>
      <xs:attribute name="ExDestTyp" type="ExDestinationType_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="SMEInd" type="ShortMarkingExemptIndicator_t" use="optional"/>
      <xs:attribute name="ShrtSaleExmptnRsn" type="ShortSaleExemptionReason_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="Typ" type="OrdType_t" use="required"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxPrtScp" type="PriceProtectionScope_t" use="optional"/>
      <xs:attribute name="StopPx" type="StopPx_t" use="optional"/>
      <xs:attribute name="TgtStrategy" type="TargetStrategy_t" use="optional"/>
      <xs:attribute name="TgtStrategyParameters" type="TargetStrategyParameters_t" use="optional"/>
      <xs:attribute name="ParticipationRt" type="ParticipationRate_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="SolFlag" type="SolicitedFlag_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="TmInForce" type="TimeInForce_t" use="optional"/>
      <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
      <xs:attribute name="ExpireDt" type="ExpireDate_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="GTBkngInst" type="GTBookingInst_t" use="optional"/>
      <xs:attribute name="ExpsreDur" type="ExposureDuration_t" use="optional"/>
      <xs:attribute name="ExpsreDurUnit" type="ExposureDurationUnit_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="TrdgCpcty" type="TradingCapacity_t" use="optional"/>
      <xs:attribute name="PrTrdAnon" type="PreTradeAnonymity_t" use="optional"/>
      <xs:attribute name="TrdPubInd" type="TradePublishIndicator_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="ForexReq" type="ForexReq_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="SettlDt2" type="SettlDate2_t" use="optional"/>
      <xs:attribute name="Qty2" type="OrderQty2_t" use="optional"/>
      <xs:attribute name="Px2" type="Price2_t" use="optional"/>
      <xs:attribute name="ClrAcctTyp" type="ClearingAccountType_t" use="optional"/>
      <xs:attribute name="PosEfct" type="PositionEffect_t" use="optional"/>
      <xs:attribute name="Covered" type="CoveredOrUncovered_t" use="optional"/>
      <xs:attribute name="MaxShow" type="MaxShow_t" use="optional"/>
      <xs:attribute name="LocReqd" type="LocateReqd_t" use="optional"/>
      <xs:attribute name="CxllationRights" type="CancellationRights_t" use="optional"/>
      <xs:attribute name="MnyLaunderingStat" type="MoneyLaunderingStatus_t" use="optional"/>
      <xs:attribute name="RegistID" type="RegistID_t" use="optional"/>
      <xs:attribute name="Designation" type="Designation_t" use="optional"/>
      <xs:attribute name="ManOrdInd" type="ManualOrderIndicator_t" use="optional"/>
      <xs:attribute name="CustDrctdOrd" type="CustDirectedOrder_t" use="optional"/>
      <xs:attribute name="RcvdDptID" type="ReceivedDeptID_t" use="optional"/>
      <xs:attribute name="CustOrdHdlInst" type="CustOrderHandlingInst_t" use="optional"/>
      <xs:attribute name="OrdHndlInstSrc" type="OrderHandlingInstSource_t" use="optional"/>
      <xs:attribute name="OrdOrigntn" type="OrderOrigination_t" use="optional"/>
      <xs:attribute name="OrigntngDeptID" type="OriginatingDeptID_t" use="optional"/>
      <xs:attribute name="RcvgDeptID" type="ReceivingDeptID_t" use="optional"/>
      <xs:attribute name="OwnerTyp" type="OwnerType_t" use="optional"/>
      <xs:attribute name="OrdOwnershipInd" type="OrderOwnershipIndicator_t" use="optional"/>
      <xs:attribute name="ThrttlInst" type="ThrottleInst_t" use="optional"/>
      <xs:attribute name="AuctTyp" type="AuctionType_t" use="optional"/>
      <xs:attribute name="AuctPct" type="AuctionAllocationPct_t" use="optional"/>
      <xs:attribute name="RlsInst" type="ReleaseInstruction_t" use="optional"/>
      <xs:attribute name="RlsQty" type="ReleaseQty_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderCancelReplaceRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">OrderCancelReplaceRequest can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderCancelReplaceRequest" ComponentType="Message"
                     MsgID="17"
                     Section="Trade"
                     Category="SingleGeneralOrderHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="OrderCancelReplaceRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="OrderCancelReplaceRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="OrdCxlRplcReq" type="OrderCancelReplaceRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="OrderStatusRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="OrderStatusRequestAttributes">
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="ID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="ID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="LnkID" type="ClOrdLinkID_t" use="optional"/>
      <xs:attribute name="StatReqID" type="OrdStatusReqID_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderStatusRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">OrderStatusRequest can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderStatusRequest" ComponentType="Message" MsgID="18"
                     Section="Trade"
                     Category="SingleGeneralOrderHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="OrderStatusRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="OrderStatusRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="OrdStatReq" type="OrderStatusRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="DontKnowTradeElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="DontKnowTradeAttributes">
      <xs:attribute name="OrdID" type="OrderID_t" use="required"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="ExecID" type="ExecID_t" use="required"/>
      <xs:attribute name="DkRsn" type="DKReason_t" use="required"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="LastQty" type="LastQty_t" use="optional"/>
      <xs:attribute name="LastPx" type="LastPx_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="DontKnowTrade_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">DontKnowTrade can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="DontKnowTrade" ComponentType="Message" MsgID="25"
                     Section="Trade"
                     Category="SingleGeneralOrderHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="DontKnowTradeElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="DontKnowTradeAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="DkTrd" type="DontKnowTrade_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="ExecutionAckElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0"/>
         <xs:element name="RegTrdID" type="RegulatoryTradeIDGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ExecutionAckAttributes">
      <xs:attribute name="OrdID" type="OrderID_t" use="required"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="ID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="ExecAckStat" type="ExecAckStatus_t" use="required"/>
      <xs:attribute name="ExecID" type="ExecID_t" use="required"/>
      <xs:attribute name="DkRsn" type="DKReason_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="LastQty" type="LastQty_t" use="optional"/>
      <xs:attribute name="LastPx" type="LastPx_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="LastParPx" type="LastParPx_t" use="optional"/>
      <xs:attribute name="CumQty" type="CumQty_t" use="optional"/>
      <xs:attribute name="AvgPx" type="AvgPx_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ExecutionAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">ExecutionAck can be found in Volume 4 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ExecutionAck" ComponentType="Message" MsgID="99"
                     Section="Trade"
                     Category="SingleGeneralOrderHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="ExecutionAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="ExecutionAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ExecAck" type="ExecutionAck_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="FillsGrpElements">
      <xs:sequence>
         <xs:element name="Pty" type="NestedParties4_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="FillsGrpAttributes">
      <xs:attribute name="FillExecID" type="FillExecID_t" use="optional"/>
      <xs:attribute name="FillPx" type="FillPx_t" use="optional"/>
      <xs:attribute name="FillQty" type="FillQty_t" use="optional"/>
      <xs:attribute name="MtchID" type="FillMatchID_t" use="optional"/>
      <xs:attribute name="MtchSubID" type="FillMatchSubID_t" use="optional"/>
      <xs:attribute name="LqdtyInd" type="FillLiquidityInd_t" use="optional"/>
      <xs:attribute name="Typ" type="FillYieldType_t" use="optional"/>
      <xs:attribute name="Yld" type="FillYield_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="FillsGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="FillsGrp" ComponentType="ImplicitBlockRepeating"
                     Category="SingleGeneralOrderHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="FillsGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="FillsGrpAttributes"/>
   </xs:complexType>
   <xs:group name="OrderEventGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="OrderEventGrpAttributes">
      <xs:attribute name="Typ" type="OrderEventType_t" use="optional"/>
      <xs:attribute name="ID" type="OrderEventExecID_t" use="optional"/>
      <xs:attribute name="Rsn" type="OrderEventReason_t" use="optional"/>
      <xs:attribute name="Px" type="OrderEventPx_t" use="optional"/>
      <xs:attribute name="Qty" type="OrderEventQty_t" use="optional"/>
      <xs:attribute name="LqdtyInd" type="OrderEventLiquidityIndicator_t" use="optional"/>
      <xs:attribute name="Txt" type="OrderEventText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="OrderEventGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="OrderEventGrp" ComponentType="BlockRepeating"
                     Category="SingleGeneralOrderHandling"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="OrderEventGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="OrderEventGrpAttributes"/>
   </xs:complexType>
</xs:schema>