src/main/resources/schemas/fixml-5-0-sp2/fixml-collateral-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="CollateralRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="UndColl" type="UndInstrmtCollGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MiscFees" type="MiscFeesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="CollateralRequestAttributes">
      <xs:attribute name="ReqID" type="CollReqID_t" use="required"/>
      <xs:attribute name="AsgnRsn" type="CollAsgnReason_t" use="required"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="Qty" type="Quantity_t" use="optional"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="MgnExcess" type="MarginExcess_t" use="optional"/>
      <xs:attribute name="TotNetValu" type="TotalNetValue_t" use="optional"/>
      <xs:attribute name="CshOutstanding" type="CashOutstanding_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
      <xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="CollateralRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">CollateralRequest can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="CollateralRequest" ComponentType="Message" MsgID="83"
                     Section="PostTrade"
                     Category="CollateralManagement"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="CollateralRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="CollateralRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="CollReq" type="CollateralRequest_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="CollateralAssignmentElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="UndColl" type="UndInstrmtCollGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MiscFees" type="MiscFeesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SetInstr" type="SettlInstructionsData_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="CollateralAssignmentAttributes">
      <xs:attribute name="ID" type="CollAsgnID_t" use="required"/>
      <xs:attribute name="ReqID" type="CollReqID_t" use="optional"/>
      <xs:attribute name="AsgnRsn" type="CollAsgnReason_t" use="required"/>
      <xs:attribute name="TransTyp" type="CollAsgnTransType_t" use="required"/>
      <xs:attribute name="RefID" type="CollAsgnRefID_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="Qty" type="Quantity_t" use="optional"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="MgnExcess" type="MarginExcess_t" use="optional"/>
      <xs:attribute name="TotNetValu" type="TotalNetValue_t" use="optional"/>
      <xs:attribute name="CshOutstanding" type="CashOutstanding_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
      <xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
      <xs:attribute name="WreRef" type="WireReference_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="TxnID" type="TransactionID_t" use="optional"/>
      <xs:attribute name="FirmTxnID" type="FirmTransactionID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="CollReqLinkID" type="CollateralRequestLinkID_t" use="optional"/>
      <xs:attribute name="TotNumCollReqs" type="TotNumCollateralRequests_t" use="optional"/>
      <xs:attribute name="CollReqNum" type="CollateralRequestNumber_t" use="optional"/>
      <xs:attribute name="CollReqInst" type="CollateralRequestInstruction_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="CollateralAssignment_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">CollateralAssignment can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="CollateralAssignment" ComponentType="Message" MsgID="84"
                     Section="PostTrade"
                     Category="CollateralManagement"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="CollateralAssignmentElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="CollateralAssignmentAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="CollAsgn" type="CollateralAssignment_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="CollateralResponseElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="UndColl" type="UndInstrmtCollGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="CollAmt" type="CollateralAmountGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MiscFees" type="MiscFeesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="CollateralResponseAttributes">
      <xs:attribute name="RespID" type="CollRespID_t" use="required"/>
      <xs:attribute name="ID" type="CollAsgnID_t" use="optional"/>
      <xs:attribute name="ReqID" type="CollReqID_t" use="optional"/>
      <xs:attribute name="AsgnRsn" type="CollAsgnReason_t" use="optional"/>
      <xs:attribute name="TransTyp" type="CollAsgnTransType_t" use="optional"/>
      <xs:attribute name="RespTyp" type="CollAsgnRespType_t" use="required"/>
      <xs:attribute name="RejRsn" type="CollAsgnRejectReason_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="ApplTyp" type="CollApplType_t" use="optional"/>
      <xs:attribute name="FinclStat" type="FinancialStatus_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="Qty" type="Quantity_t" use="optional"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="MgnExcess" type="MarginExcess_t" use="optional"/>
      <xs:attribute name="TotNetValu" type="TotalNetValue_t" use="optional"/>
      <xs:attribute name="CshOutstanding" type="CashOutstanding_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
      <xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
      <xs:attribute name="WreRef" type="WireReference_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="TxnID" type="TransactionID_t" use="optional"/>
      <xs:attribute name="FirmTxnID" type="FirmTransactionID_t" use="optional"/>
      <xs:attribute name="CollReqLinkID" type="CollateralRequestLinkID_t" use="optional"/>
      <xs:attribute name="TotNumCollReqs" type="TotNumCollateralRequests_t" use="optional"/>
      <xs:attribute name="CollReqNum" type="CollateralRequestNumber_t" use="optional"/>
      <xs:attribute name="CollReqInst" type="CollateralRequestInstruction_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="WarnTxt" type="WarningText_t" use="optional"/>
      <xs:attribute name="EncWarnTxtLen" type="EncodedWarningTextLen_t" use="optional"/>
      <xs:attribute name="EncWarnTxt" type="EncodedWarningText_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="CollateralResponse_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">CollateralResponse can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="CollateralResponse" ComponentType="Message" MsgID="85"
                     Section="PostTrade"
                     Category="CollateralManagement"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="CollateralResponseElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="CollateralResponseAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="CollRsp" type="CollateralResponse_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="CollateralReportElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="CollAmt" type="CollateralAmountGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="RegTrdID" type="RegulatoryTradeIDGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MiscFees" type="MiscFeesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SetInstr" type="SettlInstructionsData_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="CollateralReportAttributes">
      <xs:attribute name="RptID" type="CollRptID_t" use="required"/>
      <xs:attribute name="ID" type="CollInquiryID_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="ApplTyp" type="CollApplType_t" use="optional"/>
      <xs:attribute name="FinclStat" type="FinancialStatus_t" use="optional"/>
      <xs:attribute name="Stat" type="CollStatus_t" use="required"/>
      <xs:attribute name="TotNumRpts" type="TotNumReports_t" use="optional"/>
      <xs:attribute name="LastRptReqed" type="LastRptRequested_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="Qty" type="Quantity_t" use="optional"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="MgnExcess" type="MarginExcess_t" use="optional"/>
      <xs:attribute name="TotNetValu" type="TotalNetValue_t" use="optional"/>
      <xs:attribute name="CshOutstanding" type="CashOutstanding_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
      <xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="WreRef" type="WireReference_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="TxnID" type="TransactionID_t" use="optional"/>
      <xs:attribute name="FirmTxnID" type="FirmTransactionID_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="CollateralReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">CollateralReport can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="CollateralReport" ComponentType="Message" MsgID="86"
                     Section="PostTrade"
                     Category="CollateralManagement"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="CollateralReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="CollateralReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="CollRpt" type="CollateralReport_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="CollateralInquiryElements">
      <xs:sequence>
         <xs:element name="Qual" type="CollInqQualGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SetInstr" type="SettlInstructionsData_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="CollateralInquiryAttributes">
      <xs:attribute name="ID" type="CollInquiryID_t" use="required"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
      <xs:attribute name="RspTransportTyp" type="ResponseTransportType_t" use="optional"/>
      <xs:attribute name="RspDest" type="ResponseDestination_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="Qty" type="Quantity_t" use="optional"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="MgnExcess" type="MarginExcess_t" use="optional"/>
      <xs:attribute name="TotNetValu" type="TotalNetValue_t" use="optional"/>
      <xs:attribute name="CshOutstanding" type="CashOutstanding_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
      <xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="CollateralInquiry_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">CollateralInquiry can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="CollateralInquiry" ComponentType="Message" MsgID="87"
                     Section="PostTrade"
                     Category="CollateralManagement"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="CollateralInquiryElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="CollateralInquiryAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="CollInq" type="CollateralInquiry_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="CollateralInquiryAckElements">
      <xs:sequence>
         <xs:element name="Qual" type="CollInqQualGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="CollateralInquiryAckAttributes">
      <xs:attribute name="ID" type="CollInquiryID_t" use="required"/>
      <xs:attribute name="Stat" type="CollInquiryStatus_t" use="required"/>
      <xs:attribute name="Rslt" type="CollInquiryResult_t" use="optional"/>
      <xs:attribute name="TotNumRpts" type="TotNumReports_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
      <xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
      <xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="Qty" type="Quantity_t" use="optional"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
      <xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="RspTransportTyp" type="ResponseTransportType_t" use="optional"/>
      <xs:attribute name="RspDest" type="ResponseDestination_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="CollateralInquiryAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">CollateralInquiryAck can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="CollateralInquiryAck" ComponentType="Message" MsgID="92"
                     Section="PostTrade"
                     Category="CollateralManagement"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="CollateralInquiryAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="CollateralInquiryAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="CollInqAck" type="CollateralInquiryAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="CollateralReportAckElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="CollateralReportAckAttributes">
      <xs:attribute name="RptID" type="CollRptID_t" use="required"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="RptStat" type="CollRptStatus_t" use="required"/>
      <xs:attribute name="RejRsn" type="CollRptRejectReason_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="CollateralReportAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">CollateralReportAck can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="CollateralReportAck" ComponentType="Message" MsgID="153"
                     Section="PostTrade"
                     Category="CollateralManagement"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="CollateralReportAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="CollateralReportAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="CollRptAck" type="CollateralReportAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="CollInqQualGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="CollInqQualGrpAttributes">
      <xs:attribute name="Qual" type="CollInquiryQualifier_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="CollInqQualGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="CollInqQualGrp" ComponentType="ImplicitBlockRepeating"
                     Category="CollateralManagement"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="CollInqQualGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="CollInqQualGrpAttributes"/>
   </xs:complexType>
   <xs:group name="ExecCollGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="ExecCollGrpAttributes">
      <xs:attribute name="ExecID" type="ExecID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ExecCollGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ExecCollGrp" ComponentType="ImplicitBlockRepeating"
                     Category="CollateralManagement"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="ExecCollGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="ExecCollGrpAttributes"/>
   </xs:complexType>
   <xs:group name="TrdCollGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="TrdCollGrpAttributes">
      <xs:attribute name="RptID" type="TradeReportID_t" use="optional"/>
      <xs:attribute name="TrdRptID2" type="SecondaryTradeReportID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="TrdCollGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="TrdCollGrp" ComponentType="ImplicitBlockRepeating"
                     Category="CollateralManagement"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="TrdCollGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="TrdCollGrpAttributes"/>
   </xs:complexType>
   <xs:group name="UndInstrmtCollGrpElements">
      <xs:sequence>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="UndInstrmtCollGrpAttributes">
      <xs:attribute name="Actn" type="CollAction_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="UndInstrmtCollGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="UndInstrmtCollGrp" ComponentType="ImplicitBlockRepeating"
                     Category="CollateralManagement"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="UndInstrmtCollGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="UndInstrmtCollGrpAttributes"/>
   </xs:complexType>
</xs:schema>