rosetta-source/src/main/resources/schemas/dtcc-11-0/OTC_RM_11-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by DTCC (DTCC) -->
<!-- DSMatch Schema Version 11.0 Rev 10 - March 06, 2017 -->
<!-- Revision 10 Changes: CFTC Clearing Changes  -->
<!-- DSMatch Release 12.2  -->
<!-- Originating USI type element   -->
<xsd:schema xmlns="OTC_RM_11-0" xmlns:rm="OTC_RM_11-0" xmlns:fpml="http://www.fpml.org/2010/FpML-4-9" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="OTC_RM_11-0" version="11-0_2010-11-10">
	<xsd:import namespace="http://www.fpml.org/2010/FpML-4-9" schemaLocation="../fpml-4-9/fpml-main-4-9.xsd"/>
	<!-- Begin Level 1 =============================================-->
	<xsd:element name="OTC_RM">
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Manifest"/>
				<xsd:element ref="Delivery"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- End  Level 1 ===============================================-->
	<!-- Begin Level 2 ==============================================-->
	<xsd:element name="Manifest">
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:choice>
					<xsd:element ref="TradeMsg"/>
					<xsd:element ref="ErrorMsgName" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:choice>
				<xsd:element ref="MsgId" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="UserId" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- ............................................................. -->
	<xsd:element name="Delivery">
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="RouteInfo"/>
				<xsd:element ref="RouteHist"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- End  Level 2 ===============================================-->
	<!-- ............................................................. -->
	<xsd:element name="TradeMsg">
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Activity"/>
				<xsd:element ref="Status"/>
				<xsd:element ref="WarehouseStatus" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="TransType"/>
				<xsd:element ref="ProductType"/>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="Submitter"/>
						<xsd:element ref="OldTradeId" minOccurs="0" maxOccurs="1"/>
						<xsd:element ref="ContraTradeId" minOccurs="0" maxOccurs="2"/>
						<xsd:element ref="BlockTradeId" minOccurs="0" maxOccurs="1"/>
					</xsd:sequence>
					<xsd:choice minOccurs="1" maxOccurs="4">
						<xsd:element ref="YourTradeId" minOccurs="0" maxOccurs="1"/>
						<xsd:element ref="OldTradeId" minOccurs="0" maxOccurs="1"/>
						<xsd:element ref="ContraTradeId" minOccurs="0" maxOccurs="3"/>
						<xsd:element ref="BlockTradeId" minOccurs="0" maxOccurs="1"/>
						<xsd:element ref="BrokerTradeId" minOccurs="0" maxOccurs="1"/>
					</xsd:choice>
				</xsd:choice>
				<xsd:element ref="USI" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="OldUSI" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="FeeUSI" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="BlockUSI" minOccurs="0" maxOccurs="1"/>
				<!-- V11.0 Revision 10 addition for CFTC Clearing  -->
				<xsd:element ref="AllocationUSI" minOccurs="0" maxOccurs="2"/>
				<xsd:element ref="OriginatingUSI" minOccurs="0" maxOccurs="5"/>
				<xsd:element ref="BrokerTradeVersion" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- End Manifest Level 3 ==============================================-->
	<!-- Begin Delivery  ============================================-->
	<xsd:element name="RouteInfo">
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="From"/>
				<xsd:element ref="To"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- ............................................................. -->
	<xsd:element name="RouteHist">
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Route" minOccurs="1" maxOccurs="2"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- ............................................................. -->
	<xsd:element name="Route">
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="RouteAddress"/>
				<xsd:element ref="ReceiveTime"/>
				<xsd:element ref="ReleaseTime"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- End Delivery Level 3+ ============================================-->
	<!-- Begin simple element name type declarations ======================= -->
	<xsd:element name="Activity" type="ActivityDataType"/>
	<xsd:element name="ContraTradeId" type="TradeIdDataType"/>
	<xsd:element name="ErrorMsgName" type="AlphaNumeric74DataType"/>
	<xsd:element name="From" type="xsd:string"/>
	<xsd:element name="MsgId" type="MsgIdDataType"/>
	<xsd:element name="TransType" type="TransTypeDataType"/>
	<xsd:element name="partyTradeIdentifier" type="fpml:AllocationTradeIdentifier"/>
	<xsd:element name="ProductType" type="ProductTypeDataType"/>
	<xsd:element name="Receiver" type="xsd:string"/>
	<xsd:element name="ReceiveTime" type="xsd:dateTime"/>
	<xsd:element name="ReleaseTime" type="xsd:dateTime"/>
	<xsd:element name="RouteAddress" type="xsd:anyURI"/>
	<xsd:element name="Sender" type="xsd:string"/>
	<xsd:element name="Submitter" type="TradeIdDataType"/>
	<xsd:element name="Status" type="StatusDataType"/>
	<xsd:element name="WarehouseStatus" type="WarehouseStatusEnum"/>
	<xsd:element name="OldTradeId" type="TradeIdDataType"/>
	<xsd:element name="To" type="xsd:string"/>
	<xsd:element name="YourTradeId" type="TradeIdDataType"/>
	<xsd:element name="BlockTradeId" type="TradeIdDataType"/>
	<xsd:element name="BrokerTradeId" type="TradeIdDataType"/>
	<xsd:element name="BrokerTradeVersion" type="xsd:string"/>
	<xsd:element name="UserId" type="xsd:string"/>
	<!-- End simple element name type declarations ===================== -->
	<!-- Begin custom element datatype declarations ==================== -->
	<xsd:simpleType name="ActivityDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Cancel"/>
			<xsd:enumeration value="Disable"/>
			<xsd:enumeration value="Modify"/>
			<xsd:enumeration value="New"/>
			<xsd:enumeration value="Inquiry"/>
			<xsd:enumeration value="Reversal"/>
			<xsd:enumeration value="AutoCancel"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AlphaNumeric74DataType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z0-9]{0,74}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MsgIdDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProductTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CreditDefaultSwapShort"/>
			<xsd:enumeration value="CreditDefaultSwapIndex"/>
			<xsd:enumeration value="EquityIndexOption"/>
			<xsd:enumeration value="EquityShareOption"/>
			<xsd:enumeration value="InterestSwap"/>
			<xsd:enumeration value="InterestSwaption"/>
			<xsd:enumeration value="InterestCapFloor"/>
			<xsd:enumeration value="ForwardRateAgreement"/>
			<xsd:enumeration value="CurrencySwap"/>
			<xsd:enumeration value="EquityIndexVarianceSwap"/>
			<xsd:enumeration value="EquityShareVarianceSwap"/>
			<xsd:enumeration value="EquityIndexSwap"/>
			<xsd:enumeration value="EquityShareSwap"/>
			<xsd:enumeration value="CreditDefaultSwapIndexTranche"/>
			<xsd:enumeration value="CreditDerivativeTieOut"/>
			<xsd:enumeration value="CentralSettlement"/>
			<xsd:enumeration value="NotCentralSettlement"/>
			<xsd:enumeration value="CreditDefaultSwapOption"/>
			<xsd:enumeration value="CreditDefaultIndexOption"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Alleged"/>
			<xsd:enumeration value="Cancel-Alleged"/>
			<xsd:enumeration value="Confirmed"/>
			<xsd:enumeration value="DK"/>
			<xsd:enumeration value="DKAcknowledged"/>
			<xsd:enumeration value="Error"/>
			<xsd:enumeration value="Submit"/>
			<xsd:enumeration value="Unconfirmed"/>
			<xsd:enumeration value="Matched"/>
			<xsd:enumeration value="Pending"/>
			<xsd:enumeration value="Viewed"/>
			<xsd:enumeration value="Queried"/>
			<xsd:enumeration value="Accepted"/>
			<xsd:enumeration value="Done"/>
			<xsd:enumeration value="Pending-Alleged"/>
			<xsd:enumeration value="YourTRIChanged"/>
			<xsd:enumeration value="ContraTRIChanged"/>
			<xsd:enumeration value="Updated"/>
			<xsd:enumeration value="ContraUpdated"/>
			<xsd:enumeration value="Auto"/>
			<xsd:enumeration value="NoCalc-Auto"/>
			<xsd:enumeration value="NoCalc-Manual"/>
			<xsd:enumeration value="Projected"/>
			<xsd:enumeration value="Locked"/>
			<xsd:enumeration value="ProposedReject"/>
			<xsd:enumeration value="Settled"/>
			<xsd:enumeration value="FailedSettlement"/>
			<xsd:enumeration value="Received"/>
			<xsd:enumeration value="Delivered"/>
			<xsd:enumeration value="ACK"/>
			<xsd:enumeration value="NACK"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WarehouseStatusEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Alleged"/>
			<xsd:enumeration value="Certain"/>
			<xsd:enumeration value="Uncertain"/>
			<xsd:enumeration value="Unconfirmed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TradeIdDataType" mixed="false">
		<xsd:sequence>
			<xsd:element ref="partyTradeIdentifier" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TransTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Exit"/>
			<xsd:enumeration value="Trade"/>
			<xsd:enumeration value="Block"/>
			<xsd:enumeration value="Termination"/>
			<xsd:enumeration value="Assignment"/>
			<xsd:enumeration value="Increase"/>
			<xsd:enumeration value="Amendment"/>
			<xsd:enumeration value="All"/>
			<xsd:enumeration value="Backload"/>
			<xsd:enumeration value="TRIChange"/>
			<xsd:enumeration value="WorkflowUpdate"/>
			<xsd:enumeration value="Payment"/>
			<xsd:enumeration value="Settlement"/>
			<xsd:enumeration value="EventProcessing"/>
			<xsd:enumeration value="Position"/>
			<xsd:enumeration value="FeeAmendment"/>
			<xsd:enumeration value="ReserveNotional"/>
			<xsd:enumeration value="Exercise"/>
			<xsd:enumeration value="ReportingUpdate"/>
			<!-- Terminate is deprecated as of version 3.0 Replaced with Termination 
			<xsd:enumeration value="Terminate" />-->
			<!-- Added as a part of Version 9 Credit changes -->
			<!-- Added as a part of Reporting changes -->
			<!-- Revision 9 - Remove BlockTrade transaction type  -->
			<!--			<xsd:enumeration value="BlockTrade"/>-->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Scheme">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The base class for all types which define coding
				schemes.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="USIIssuerType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="Scheme">
				<xsd:attribute name="issuerIdScheme" type="xsd:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="USITradeIDType">
		<xsd:simpleContent>
			<xsd:extension base="Scheme">
				<xsd:attribute name="tradeIdScheme" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="USITypeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ClearedNovation"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="USIIssuer" type="USIIssuerType"/>
	<xsd:element name="USITradeId" type="USITradeIDType"/>
	<xsd:element name="USIType" type="USITypeEnum"/>
	<xsd:simpleType name="EraseFieldActionEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Erase"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="USItype">
		<xsd:sequence>
			<xsd:element ref="USIIssuer" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="USITradeId" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EraseableUSItype">
		<xsd:sequence>
			<xsd:element ref="USIIssuer" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="USITradeId" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="action" type="EraseFieldActionEnum"/>
	</xsd:complexType>
	<xsd:complexType name="EraseableTypedUSIType">
		<xsd:complexContent>
			<xsd:extension base="EraseableUSItype">
				<xsd:sequence minOccurs="0" maxOccurs="1">
					<xsd:element ref="USIType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="USI" type="USItype"/>
	<xsd:element name="OldUSI" type="USItype"/>
	<xsd:element name="FeeUSI" type="EraseableUSItype"/>
	<xsd:element name="BlockUSI" type="EraseableUSItype"/>
	<xsd:element name="OriginatingUSI" type="EraseableTypedUSIType"/>
	<xsd:element name="AllocationUSI" type="EraseableUSItype"/>
</xsd:schema>
