rosetta-source/src/main/resources/schemas/fis/fis.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FIS_TRADE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Activity" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="DVP_Indicator" minOccurs="0"/>
              <xs:element type="xs:time" name="Activity_Time_In_Milliseconds" minOccurs="0"/>
              <xs:element type="xs:float" name="Net_Dividend_pct" minOccurs="0"/>
              <xs:element type="xs:string" name="Security_Sedol_Code" minOccurs="0"/>
              <xs:element type="xs:int" name="Trade_Reference" minOccurs="0"/>
              <xs:element type="xs:string" name="Security_Prcing_Curr" minOccurs="0"/>
              <xs:element type="xs:int" name="Trade_Date" minOccurs="0"/>
              <xs:element type="xs:string" name="Cpty_LEI" minOccurs="0"/>
              <xs:element type="xs:int" name="Security_SettDueDt" minOccurs="0"/>
              <xs:element type="xs:string" name="Own_Cpty_Stock_Clearer_LEI" minOccurs="0"/>
              <xs:element type="xs:int" name="Quantity" minOccurs="0"/>
              <xs:element type="xs:string" name="Minimum_Fee_Currency" minOccurs="0"/>
              <xs:element type="xs:string" name="Collateral_Type_IND" minOccurs="0"/>
              <xs:element type="xs:float" name="Activity_Price" minOccurs="0"/>
              <xs:element type="xs:int" name="Effective_Date" minOccurs="0"/>
              <xs:element type="xs:float" name="Minimum_Fee" minOccurs="0"/>
              <xs:element type="xs:float" name="Loan_Value" minOccurs="0"/>
              <xs:element type="xs:float" name="Required_Trade_Mrgn" minOccurs="0"/>
              <xs:element type="xs:string" name="Client_Identifier" minOccurs="0"/>
              <xs:element type="xs:float" name="Activity_Rate" minOccurs="0"/>
              <xs:element type="xs:int" name="Activity_Input_Date" minOccurs="0"/>
              <xs:element type="xs:string" name="Loan_Value_Currency" minOccurs="0"/>
              <xs:element type="xs:string" name="Fund_cost_Centre_Nme" minOccurs="0"/>
              <xs:element type="xs:string" name="Fund_LEI" minOccurs="0"/>
              <xs:element type="xs:string" name="Own_Client_Identifier" minOccurs="0"/>
              <xs:element type="xs:string" name="Own_Cpty_LEI" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>