rosetta-source/src/main/resources/schemas/fixml-5-0-sp2/fixml-securitiesreference-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="SecurityDefinitionRequestElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecurityDefinitionRequestAttributes">
      <xs:attribute name="ReqID" type="SecurityReqID_t" use="required"/>
      <xs:attribute name="ReqTyp" type="SecurityRequestType_t" use="required"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="ExpirationCycle" type="ExpirationCycle_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityDefinitionRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityDefinitionRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityDefinitionRequest" ComponentType="Message"
                     MsgID="36"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityDefinitionRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityDefinitionRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecDefReq" type="SecurityDefinitionRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SecurityDefinitionElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SecClsfnGrp" type="SecurityClassificationGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
         <xs:element name="MktSegGrp" type="MarketSegmentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecurityDefinitionAttributes">
      <xs:attribute name="RptID" type="SecurityReportID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="ReqID" type="SecurityReqID_t" use="optional"/>
      <xs:attribute name="OrdReqID" type="OrderRequestID_t" use="optional"/>
      <xs:attribute name="RspID" type="SecurityResponseID_t" use="optional"/>
      <xs:attribute name="RspTyp" type="SecurityResponseType_t" use="optional"/>
      <xs:attribute name="ReqRslt" type="SecurityRequestResult_t" use="optional"/>
      <xs:attribute name="SecRejRsn" type="SecurityRejectReason_t" use="optional"/>
      <xs:attribute name="CorpActn" type="CorporateAction_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="PrevAdjOpenInt" type="PreviousAdjustedOpenInterest_t" use="optional"/>
      <xs:attribute name="PrevUnadjOpenInt" type="PreviousUnadjustedOpenInterest_t" use="optional"/>
      <xs:attribute name="PriSetPx" type="PriorSettlPrice_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="NumSimplInstrmt" type="NumOfSimpleInstruments_t" use="optional"/>
      <xs:attribute name="NumCmplxInstrmt" type="NumOfComplexInstruments_t" use="optional"/>
      <xs:attribute name="LastUpdateTm" type="LastUpdateTime_t" use="optional"/>
      <xs:attribute name="EfctvBizDt" type="EffectiveBusinessDate_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityDefinition_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityDefinition can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityDefinition" ComponentType="Message" MsgID="37"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityDefinitionElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityDefinitionAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecDef" type="SecurityDefinition_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SecurityStatusRequestElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecurityStatusRequestAttributes">
      <xs:attribute name="StatReqID" type="SecurityStatusReqID_t" use="required"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="required"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityStatusRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityStatusRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityStatusRequest" ComponentType="Message" MsgID="38"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityStatusRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityStatusRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecStatReq" type="SecurityStatusRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SecurityStatusElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ClrPxPrm" type="ClearingPriceParametersGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecurityStatusAttributes">
      <xs:attribute name="StatReqID" type="SecurityStatusReqID_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Unsol" type="UnsolicitedIndicator_t" use="optional"/>
      <xs:attribute name="TrdgStat" type="SecurityTradingStatus_t" use="optional"/>
      <xs:attribute name="MktMkrActvty" type="MarketMakerActivity_t" use="optional"/>
      <xs:attribute name="FastMktInd" type="FastMarketIndicator_t" use="optional"/>
      <xs:attribute name="SecTrdEvnt" type="SecurityTradingEvent_t" use="optional"/>
      <xs:attribute name="NxtAuctTm" type="NextAuctionTime_t" use="optional"/>
      <xs:attribute name="FinclStat" type="FinancialStatus_t" use="optional"/>
      <xs:attribute name="CorpActn" type="CorporateAction_t" use="optional"/>
      <xs:attribute name="HaltRsn" type="HaltReason_t" use="optional"/>
      <xs:attribute name="InViewOfCmn" type="InViewOfCommon_t" use="optional"/>
      <xs:attribute name="DueToReltd" type="DueToRelated_t" use="optional"/>
      <xs:attribute name="MDBkTyp" type="MDBookType_t" use="optional"/>
      <xs:attribute name="MktDepth" type="MarketDepth_t" use="optional"/>
      <xs:attribute name="BuyVol" type="BuyVolume_t" use="optional"/>
      <xs:attribute name="SellVol" type="SellVolume_t" use="optional"/>
      <xs:attribute name="HighPx" type="HighPx_t" use="optional"/>
      <xs:attribute name="LowPx" type="LowPx_t" use="optional"/>
      <xs:attribute name="LastPx" type="LastPx_t" use="optional"/>
      <xs:attribute name="SetPx" type="SettlPrice_t" use="optional"/>
      <xs:attribute name="SetPxTyp" type="SettlPriceType_t" use="optional"/>
      <xs:attribute name="SettlPxDtrmnMeth" type="SettlPriceDeterminationMethod_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Adjmt" type="Adjustment_t" use="optional"/>
      <xs:attribute name="FirstPx" type="FirstPx_t" use="optional"/>
      <xs:attribute name="LnkgHandlInd" type="LinkageHandlingIndicator_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityStatus_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityStatus can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityStatus" ComponentType="Message" MsgID="39"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityStatusElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityStatusAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecStat" type="SecurityStatus_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SecurityTypeRequestElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="SecurityTypeRequestAttributes">
      <xs:attribute name="ReqID" type="SecurityReqID_t" use="required"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Prod" type="Product_t" use="optional"/>
      <xs:attribute name="SecTyp" type="SecurityType_t" use="optional"/>
      <xs:attribute name="SubTyp" type="SecuritySubType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityTypeRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityTypeRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityTypeRequest" ComponentType="Message" MsgID="55"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityTypeRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityTypeRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecTypReq" type="SecurityTypeRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SecurityTypesElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="SecT" type="SecTypesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecurityTypesAttributes">
      <xs:attribute name="ReqID" type="SecurityReqID_t" use="required"/>
      <xs:attribute name="RspID" type="SecurityResponseID_t" use="required"/>
      <xs:attribute name="RspTyp" type="SecurityResponseType_t" use="required"/>
      <xs:attribute name="TotNoSecTyps" type="TotNoSecurityTypes_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityTypes_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityTypes can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityTypes" ComponentType="Message" MsgID="56"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityTypesElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityTypesAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecTyps" type="SecurityTypes_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SecurityListRequestElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecurityListRequestAttributes">
      <xs:attribute name="ReqID" type="SecurityReqID_t" use="required"/>
      <xs:attribute name="ListReqTyp" type="SecurityListRequestType_t" use="required"/>
      <xs:attribute name="ListID" type="SecurityListID_t" use="optional"/>
      <xs:attribute name="ListTyp" type="SecurityListType_t" use="optional"/>
      <xs:attribute name="LstTypSrc" type="SecurityListTypeSource_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityListRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityListRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityListRequest" ComponentType="Message" MsgID="57"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityListRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityListRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecListReq" type="SecurityListRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SecurityListElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="SecL" type="SecListGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecurityListAttributes">
      <xs:attribute name="RptID" type="SecurityReportID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="ListID" type="SecurityListID_t" use="optional"/>
      <xs:attribute name="ListRefID" type="SecurityListRefID_t" use="optional"/>
      <xs:attribute name="ListDesc" type="SecurityListDesc_t" use="optional"/>
      <xs:attribute name="ListTyp" type="SecurityListType_t" use="optional"/>
      <xs:attribute name="LstTypSrc" type="SecurityListTypeSource_t" use="optional"/>
      <xs:attribute name="ReqID" type="SecurityReqID_t" use="optional"/>
      <xs:attribute name="RspID" type="SecurityResponseID_t" use="optional"/>
      <xs:attribute name="ReqRslt" type="SecurityRequestResult_t" use="optional"/>
      <xs:attribute name="SecRejRsn" type="SecurityRejectReason_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="TotNoReltdSym" type="TotNoRelatedSym_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityList_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityList can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityList" ComponentType="Message" MsgID="58"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityListElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityListAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecList" type="SecurityList_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="DerivativeSecurityListRequestElements">
      <xs:sequence>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0"/>
         <xs:element name="DerivInstrmt" type="DerivativeInstrument_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="DerivativeSecurityListRequestAttributes">
      <xs:attribute name="ReqID" type="SecurityReqID_t" use="required"/>
      <xs:attribute name="ListReqTyp" type="SecurityListRequestType_t" use="required"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="SubTyp" type="SecuritySubType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="DerivativeSecurityListRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">DerivativeSecurityListRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="DerivativeSecurityListRequest" ComponentType="Message"
                     MsgID="59"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="DerivativeSecurityListRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="DerivativeSecurityListRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="DerivSecListReq" type="DerivativeSecurityListRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="DerivativeSecurityListElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0"/>
         <xs:element name="DerivSecDef" type="DerivativeSecurityDefinition_Block_t" minOccurs="0"/>
         <xs:element name="RelSym" type="RelSymDerivSecGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="DerivativeSecurityListAttributes">
      <xs:attribute name="RptID" type="SecurityReportID_t" use="optional"/>
      <xs:attribute name="ReqID" type="SecurityReqID_t" use="optional"/>
      <xs:attribute name="RspID" type="SecurityResponseID_t" use="optional"/>
      <xs:attribute name="ReqRslt" type="SecurityRequestResult_t" use="optional"/>
      <xs:attribute name="SecRejRsn" type="SecurityRejectReason_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="LastUpdateTm" type="LastUpdateTime_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="TotNoReltdSym" type="TotNoRelatedSym_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="DerivativeSecurityList_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">DerivativeSecurityList can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="DerivativeSecurityList" ComponentType="Message" MsgID="60"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="DerivativeSecurityListElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="DerivativeSecurityListAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="DerivSecList" type="DerivativeSecurityList_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SecurityDefinitionUpdateReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
         <xs:element name="MktSegGrp" type="MarketSegmentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecurityDefinitionUpdateReportAttributes">
      <xs:attribute name="RptID" type="SecurityReportID_t" use="optional"/>
      <xs:attribute name="ReqID" type="SecurityReqID_t" use="optional"/>
      <xs:attribute name="RspID" type="SecurityResponseID_t" use="optional"/>
      <xs:attribute name="RspTyp" type="SecurityResponseType_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="UpdActn" type="SecurityUpdateAction_t" use="optional"/>
      <xs:attribute name="CorpActn" type="CorporateAction_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="PrevAdjOpenInt" type="PreviousAdjustedOpenInterest_t" use="optional"/>
      <xs:attribute name="PrevUnadjOpenInt" type="PreviousUnadjustedOpenInterest_t" use="optional"/>
      <xs:attribute name="PriSetPx" type="PriorSettlPrice_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="NumSimplInstrmt" type="NumOfSimpleInstruments_t" use="optional"/>
      <xs:attribute name="NumCmplxInstrmt" type="NumOfComplexInstruments_t" use="optional"/>
      <xs:attribute name="LastUpdateTm" type="LastUpdateTime_t" use="optional"/>
      <xs:attribute name="EfctvBizDt" type="EffectiveBusinessDate_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityDefinitionUpdateReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityDefinitionUpdateReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityDefinitionUpdateReport" ComponentType="Message"
                     MsgID="95"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityDefinitionUpdateReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityDefinitionUpdateReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecDefUpd" type="SecurityDefinitionUpdateReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SecurityListUpdateReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="SecL" type="SecLstUpdRelSymGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecurityListUpdateReportAttributes">
      <xs:attribute name="RptID" type="SecurityReportID_t" use="optional"/>
      <xs:attribute name="ListID" type="SecurityListID_t" use="optional"/>
      <xs:attribute name="ListRefID" type="SecurityListRefID_t" use="optional"/>
      <xs:attribute name="ListDesc" type="SecurityListDesc_t" use="optional"/>
      <xs:attribute name="ListTyp" type="SecurityListType_t" use="optional"/>
      <xs:attribute name="LstTypSrc" type="SecurityListTypeSource_t" use="optional"/>
      <xs:attribute name="ReqID" type="SecurityReqID_t" use="optional"/>
      <xs:attribute name="RspID" type="SecurityResponseID_t" use="optional"/>
      <xs:attribute name="ReqRslt" type="SecurityRequestResult_t" use="optional"/>
      <xs:attribute name="TotNoReltdSym" type="TotNoRelatedSym_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="UpdActn" type="SecurityUpdateAction_t" use="optional"/>
      <xs:attribute name="CorpActn" type="CorporateAction_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityListUpdateReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityListUpdateReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityListUpdateReport" ComponentType="Message"
                     MsgID="96"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityListUpdateReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityListUpdateReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecListUpd" type="SecurityListUpdateReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="DerivativeSecurityListUpdateReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0"/>
         <xs:element name="DerivSecDef" type="DerivativeSecurityDefinition_Block_t" minOccurs="0"/>
         <xs:element name="RelSym" type="RelSymDerivSecUpdGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="DerivativeSecurityListUpdateReportAttributes">
      <xs:attribute name="ReqID" type="SecurityReqID_t" use="optional"/>
      <xs:attribute name="RspID" type="SecurityResponseID_t" use="optional"/>
      <xs:attribute name="ReqRslt" type="SecurityRequestResult_t" use="optional"/>
      <xs:attribute name="UpdActn" type="SecurityUpdateAction_t" use="optional"/>
      <xs:attribute name="LastUpdateTm" type="LastUpdateTime_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="TotNoReltdSym" type="TotNoRelatedSym_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="DerivativeSecurityListUpdateReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">DerivativeSecurityListUpdateReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="DerivativeSecurityListUpdateReport"
                     ComponentType="Message"
                     MsgID="103"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="DerivativeSecurityListUpdateReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="DerivativeSecurityListUpdateReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="DerivSecListUpd" type="DerivativeSecurityListUpdateReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SecurityMassStatusRequestElements">
      <xs:sequence>
         <xs:element name="InstrmtScope" type="InstrumentScope_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecurityMassStatusRequestAttributes">
      <xs:attribute name="StatReqID" type="SecurityStatusReqID_t" use="required"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="required"/>
      <xs:attribute name="ListID" type="SecurityListID_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityMassStatusRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityMassStatusRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityMassStatusRequest" ComponentType="Message"
                     MsgID="125"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityMassStatusRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityMassStatusRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecMassStatReq" type="SecurityMassStatusRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="SecurityMassStatusElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="InstrmtScope" type="InstrumentScope_Block_t" minOccurs="0"/>
         <xs:element name="SecMassStat" type="SecMassStatGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecurityMassStatusAttributes">
      <xs:attribute name="StatReqID" type="SecurityStatusReqID_t" use="optional"/>
      <xs:attribute name="ListID" type="SecurityListID_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Unsol" type="UnsolicitedIndicator_t" use="optional"/>
      <xs:attribute name="TrdgStat" type="SecurityMassTradingStatus_t" use="optional"/>
      <xs:attribute name="FastMktInd" type="FastMarketIndicator_t" use="optional"/>
      <xs:attribute name="SecTrdEvnt" type="SecurityMassTradingEvent_t" use="optional"/>
      <xs:attribute name="HaltRsn" type="MassHaltReason_t" use="optional"/>
      <xs:attribute name="MDBkTyp" type="MDBookType_t" use="optional"/>
      <xs:attribute name="MktDepth" type="MarketDepth_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Adjmt" type="Adjustment_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecurityMassStatus_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">SecurityMassStatus can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecurityMassStatus" ComponentType="Message" MsgID="126"
                     Section="PreTrade"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="SecurityMassStatusElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="SecurityMassStatusAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SecMassStat" type="SecurityMassStatus_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="RelSymDerivSecGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="PxLmts2" type="SecondaryPriceLimits_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="RelSymDerivSecGrpAttributes">
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="CorpActn" type="CorporateAction_t" use="optional"/>
      <xs:attribute name="TxnTm" type="RelSymTransactTime_t" use="optional"/>
      <xs:attribute name="NumSimplInstrmt" type="NumOfSimpleInstruments_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="RelSymDerivSecGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="RelSymDerivSecGrp" ComponentType="ImplicitBlockRepeating"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="RelSymDerivSecGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="RelSymDerivSecGrpAttributes"/>
   </xs:complexType>
   <xs:group name="SecListGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="SecClsfnGrp" type="SecurityClassificationGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="SecTrdgRules" type="SecurityTradingRules_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="StrkRules" type="StrikeRules_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SecL" type="InstrmtLegSecListGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="PxMvmnt" type="PriceMovementGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecListGrpAttributes">
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="TxnTm" type="RelSymTransactTime_t" use="optional"/>
      <xs:attribute name="NumSimplInstrmt" type="NumOfSimpleInstruments_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecListGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecListGrp" ComponentType="ImplicitBlockRepeating"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="SecListGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="SecListGrpAttributes"/>
   </xs:complexType>
   <xs:group name="SecTypesGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="SecTypesGrpAttributes">
      <xs:attribute name="SecTyp" type="SecurityType_t" use="optional"/>
      <xs:attribute name="SubTyp" type="SecuritySubType_t" use="optional"/>
      <xs:attribute name="Prod" type="Product_t" use="optional"/>
      <xs:attribute name="CFI" type="CFICode_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecTypesGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecTypesGrp" ComponentType="ImplicitBlockRepeating"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="SecTypesGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="SecTypesGrpAttributes"/>
   </xs:complexType>
   <xs:group name="SecLstUpdRelSymGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="SecTrdgRules" type="SecurityTradingRules_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="StrkRules" type="StrikeRules_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SecLstUpdRelSymsLegGrp" type="SecLstUpdRelSymsLegGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecLstUpdRelSymGrpAttributes">
      <xs:attribute name="ListUpdActn" type="ListUpdateAction_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="TxnTm" type="RelSymTransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecLstUpdRelSymGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecLstUpdRelSymGrp" ComponentType="ImplicitBlockRepeating"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="SecLstUpdRelSymGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="SecLstUpdRelSymGrpAttributes"/>
   </xs:complexType>
   <xs:group name="SecLstUpdRelSymsLegGrpElements">
      <xs:sequence>
         <xs:element name="Leg" type="InstrumentLeg_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Stip" type="LegStipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="BnchmkCurve" type="LegBenchmarkCurveData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecLstUpdRelSymsLegGrpAttributes">
      <xs:attribute name="SwapTyp" type="LegSwapType_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="LegSettlType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecLstUpdRelSymsLegGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecLstUpdRelSymsLegGrp"
                     ComponentType="ImplicitBlockRepeating"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="SecLstUpdRelSymsLegGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="SecLstUpdRelSymsLegGrpAttributes"/>
   </xs:complexType>
   <xs:group name="SecMassStatGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdInstrmt" type="RelatedInstrumentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="SecMassStatGrpAttributes">
      <xs:attribute name="TrdgStat" type="SecurityTradingStatus_t" use="optional"/>
      <xs:attribute name="SecTrdEvnt" type="SecurityTradingEvent_t" use="optional"/>
      <xs:attribute name="HaltRsn" type="HaltReason_t" use="optional"/>
      <xs:attribute name="FinclStat" type="FinancialStatus_t" use="optional"/>
      <xs:attribute name="CorpActn" type="CorporateAction_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="SecMassStatGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="SecMassStatGrp" ComponentType="BlockRepeating"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="SecMassStatGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="SecMassStatGrpAttributes"/>
   </xs:complexType>
   <xs:group name="PriceMovementGrpElements">
      <xs:sequence>
         <xs:element name="PxMvmntValu" type="PriceMovementValueGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ClrAcctTyp" type="ClearingAccountTypeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PriceMovementGrpAttributes"/>
   <xs:complexType name="PriceMovementGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PriceMovementGrp" ComponentType="BlockRepeating"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="PriceMovementGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="PriceMovementGrpAttributes"/>
   </xs:complexType>
   <xs:group name="PriceMovementValueGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="PriceMovementValueGrpAttributes">
      <xs:attribute name="Valu" type="PriceMovementValue_t" use="optional"/>
      <xs:attribute name="Pnt" type="PriceMovementPoint_t" use="optional"/>
      <xs:attribute name="Typ" type="PriceMovementType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PriceMovementValueGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PriceMovementValueGrp" ComponentType="BlockRepeating"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="PriceMovementValueGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="PriceMovementValueGrpAttributes"/>
   </xs:complexType>
   <xs:group name="ClearingAccountTypeGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="ClearingAccountTypeGrpAttributes">
      <xs:attribute name="ClrAcctTyp" type="ClearingAccountType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ClearingAccountTypeGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ClearingAccountTypeGrp" ComponentType="BlockRepeating"
                     Category="SecuritiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="ClearingAccountTypeGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="ClearingAccountTypeGrpAttributes"/>
   </xs:complexType>
</xs:schema>