rosetta-source/src/main/resources/schemas/fixml-5-0-sp2/fixml-allocation-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="AllocationInstructionElements">
      <xs:sequence>
         <xs:element name="OrdAlloc" type="OrdAllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="AllExc" type="ExecAllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
         <xs:element name="RegTrdID" type="RegulatoryTradeIDGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Amt" type="PositionAmountData_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Alloc" type="AllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="RtSrc" type="RateSource_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="AllocationInstructionAttributes">
      <xs:attribute name="ID" type="AllocID_t" use="required"/>
      <xs:attribute name="TransTyp" type="AllocTransType_t" use="required"/>
      <xs:attribute name="Typ" type="AllocType_t" use="required"/>
      <xs:attribute name="ID2" type="SecondaryAllocID_t" use="optional"/>
      <xs:attribute name="RefID" type="RefAllocID_t" use="optional"/>
      <xs:attribute name="CxlRplcRsn" type="AllocCancReplaceReason_t" use="optional"/>
      <xs:attribute name="ImReqTyp" type="AllocIntermedReqType_t" use="optional"/>
      <xs:attribute name="LinkID" type="AllocLinkID_t" use="optional"/>
      <xs:attribute name="LinkTyp" type="AllocLinkType_t" use="optional"/>
      <xs:attribute name="GrpID" type="AllocGroupID_t" use="optional"/>
      <xs:attribute name="FirmGrpID" type="FirmGroupID_t" use="optional"/>
      <xs:attribute name="BkngRefID" type="BookingRefID_t" use="optional"/>
      <xs:attribute name="NoOrdsTyp" type="AllocNoOrdersType_t" use="optional"/>
      <xs:attribute name="PrevlyRpted" type="PreviouslyReported_t" use="optional"/>
      <xs:attribute name="ReversalInd" type="ReversalIndicator_t" use="optional"/>
      <xs:attribute name="MtchTyp" type="MatchType_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="Qty" type="Quantity_t" use="required"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="LastMkt" type="LastMkt_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="AvgPx" type="AvgPx_t" use="optional"/>
      <xs:attribute name="AvgParPx" type="AvgParPx_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="AvgPxPrcsn" type="AvgPxPrecision_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="required"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="GrossTrdAmt" type="GrossTradeAmt_t" use="optional"/>
      <xs:attribute name="Concession" type="Concession_t" use="optional"/>
      <xs:attribute name="TotTakedown" type="TotalTakedown_t" use="optional"/>
      <xs:attribute name="NetMny" type="NetMoney_t" use="optional"/>
      <xs:attribute name="PosEfct" type="PositionEffect_t" use="optional"/>
      <xs:attribute name="AutoAcceptInd" type="AutoAcceptIndicator_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="NumDaysInt" type="NumDaysInterest_t" use="optional"/>
      <xs:attribute name="AcrdIntRt" type="AccruedInterestRate_t" use="optional"/>
      <xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="TotAcrdIntAmt" type="TotalAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="IntAtMat" type="InterestAtMaturity_t" use="optional"/>
      <xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
      <xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
      <xs:attribute name="LegalCnfm" type="LegalConfirm_t" use="optional"/>
      <xs:attribute name="TotNoAllocs" type="TotNoAllocs_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="AvgPxInd" type="AvgPxIndicator_t" use="optional"/>
      <xs:attribute name="AvgPxGrpID" type="AvgPxGroupID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="TrdTyp" type="TrdType_t" use="optional"/>
      <xs:attribute name="TrdSubTyp" type="TrdSubType_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="InptSrc" type="TradeInputSource_t" use="optional"/>
      <xs:attribute name="MLegRptTyp" type="MultiLegReportingType_t" use="optional"/>
      <xs:attribute name="MsgEvtSrc" type="MessageEventSource_t" use="optional"/>
      <xs:attribute name="RndPx" type="RndPx_t" use="optional"/>
      <xs:attribute name="VenuTyp" type="VenueType_t" use="optional"/>
      <xs:attribute name="RefRiskLmtChkID" type="RefRiskLimitCheckID_t" use="optional"/>
      <xs:attribute name="RefRiskLmtChkIDTyp" type="RefRiskLimitCheckIDType_t" use="optional"/>
      <xs:attribute name="RiskLmtChkStat" type="RiskLimitCheckStatus_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="AllocationInstruction_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">AllocationInstruction can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="AllocationInstruction" ComponentType="Message" MsgID="19"
                     Section="PostTrade"
                     Category="Allocation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="AllocationInstructionElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="AllocationInstructionAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="AllocInstrctn" type="AllocationInstruction_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="AllocationInstructionAckElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="RegTrdID" type="RegulatoryTradeIDGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="AllocAck" type="AllocAckGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="AllocationInstructionAckAttributes">
      <xs:attribute name="ID" type="AllocID_t" use="required"/>
      <xs:attribute name="ID2" type="SecondaryAllocID_t" use="optional"/>
      <xs:attribute name="GrpID" type="AllocGroupID_t" use="optional"/>
      <xs:attribute name="FirmGrpID" type="FirmGroupID_t" use="optional"/>
      <xs:attribute name="AvgPxGrpID" type="AvgPxGroupID_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Stat" type="AllocStatus_t" use="required"/>
      <xs:attribute name="RejCode" type="AllocRejCode_t" use="optional"/>
      <xs:attribute name="Typ" type="AllocType_t" use="optional"/>
      <xs:attribute name="ImReqTyp" type="AllocIntermedReqType_t" use="optional"/>
      <xs:attribute name="MtchStat" type="MatchStatus_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="AllocationInstructionAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">AllocationInstructionAck can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="AllocationInstructionAck" ComponentType="Message"
                     MsgID="24"
                     Section="PostTrade"
                     Category="Allocation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="AllocationInstructionAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="AllocationInstructionAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="AllocInstrctnAck" type="AllocationInstructionAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="AllocationReportElements">
      <xs:sequence>
         <xs:element name="OrdAlloc" type="OrdAllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="AllExc" type="ExecAllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
         <xs:element name="RegTrdID" type="RegulatoryTradeIDGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Amt" type="PositionAmountData_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Alloc" type="AllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="RtSrc" type="RateSource_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="AllocationReportAttributes">
      <xs:attribute name="RptID" type="AllocReportID_t" use="required"/>
      <xs:attribute name="ID" type="AllocID_t" use="optional"/>
      <xs:attribute name="TransTyp" type="AllocTransType_t" use="required"/>
      <xs:attribute name="RptRefID" type="AllocReportRefID_t" use="optional"/>
      <xs:attribute name="CxlRplcRsn" type="AllocCancReplaceReason_t" use="optional"/>
      <xs:attribute name="ID2" type="SecondaryAllocID_t" use="optional"/>
      <xs:attribute name="GrpID" type="AllocGroupID_t" use="optional"/>
      <xs:attribute name="FirmGrpID" type="FirmGroupID_t" use="optional"/>
      <xs:attribute name="RptTyp" type="AllocReportType_t" use="required"/>
      <xs:attribute name="Stat" type="AllocStatus_t" use="required"/>
      <xs:attribute name="RejCode" type="AllocRejCode_t" use="optional"/>
      <xs:attribute name="RefID" type="RefAllocID_t" use="optional"/>
      <xs:attribute name="RvrslStat" type="AllocReversalStatus_t" use="optional"/>
      <xs:attribute name="ImReqTyp" type="AllocIntermedReqType_t" use="optional"/>
      <xs:attribute name="LinkID" type="AllocLinkID_t" use="optional"/>
      <xs:attribute name="LinkTyp" type="AllocLinkType_t" use="optional"/>
      <xs:attribute name="BkngRefID" type="BookingRefID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="TrdTyp" type="TrdType_t" use="optional"/>
      <xs:attribute name="TrdSubTyp" type="TrdSubType_t" use="optional"/>
      <xs:attribute name="MLegRptTyp" type="MultiLegReportingType_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="InptSrc" type="TradeInputSource_t" use="optional"/>
      <xs:attribute name="RndPx" type="RndPx_t" use="optional"/>
      <xs:attribute name="MsgEvtSrc" type="MessageEventSource_t" use="optional"/>
      <xs:attribute name="InptDev" type="TradeInputDevice_t" use="optional"/>
      <xs:attribute name="AvgPxInd" type="AvgPxIndicator_t" use="optional"/>
      <xs:attribute name="AvgPxGrpID" type="AvgPxGroupID_t" use="optional"/>
      <xs:attribute name="NoOrdsTyp" type="AllocNoOrdersType_t" use="optional"/>
      <xs:attribute name="PrevlyRpted" type="PreviouslyReported_t" use="optional"/>
      <xs:attribute name="ReversalInd" type="ReversalIndicator_t" use="optional"/>
      <xs:attribute name="MtchTyp" type="MatchType_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="Qty" type="Quantity_t" use="required"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="GrpQty" type="AllocGroupQuantity_t" use="optional"/>
      <xs:attribute name="RemQty" type="AllocGroupRemainingQuantity_t" use="optional"/>
      <xs:attribute name="LastMkt" type="LastMkt_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="AvgPx" type="AvgPx_t" use="required"/>
      <xs:attribute name="AvgParPx" type="AvgParPx_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="AvgPxPrcsn" type="AvgPxPrecision_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="required"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="GrossTrdAmt" type="GrossTradeAmt_t" use="optional"/>
      <xs:attribute name="Concession" type="Concession_t" use="optional"/>
      <xs:attribute name="TotTakedown" type="TotalTakedown_t" use="optional"/>
      <xs:attribute name="NetMny" type="NetMoney_t" use="optional"/>
      <xs:attribute name="PosEfct" type="PositionEffect_t" use="optional"/>
      <xs:attribute name="AutoAcceptInd" type="AutoAcceptIndicator_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="NumDaysInt" type="NumDaysInterest_t" use="optional"/>
      <xs:attribute name="AcrdIntRt" type="AccruedInterestRate_t" use="optional"/>
      <xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="TotAcrdIntAmt" type="TotalAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="IntAtMat" type="InterestAtMaturity_t" use="optional"/>
      <xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
      <xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
      <xs:attribute name="LegalCnfm" type="LegalConfirm_t" use="optional"/>
      <xs:attribute name="CustOrdHdlInst" type="CustOrderHandlingInst_t" use="optional"/>
      <xs:attribute name="OrdHndlInstSrc" type="OrderHandlingInstSource_t" use="optional"/>
      <xs:attribute name="TotNoAllocs" type="TotNoAllocs_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="VenuTyp" type="VenueType_t" use="optional"/>
      <xs:attribute name="RefRiskLmtChkID" type="RefRiskLimitCheckID_t" use="optional"/>
      <xs:attribute name="RefRiskLmtChkIDTyp" type="RefRiskLimitCheckIDType_t" use="optional"/>
      <xs:attribute name="RiskLmtChkStat" type="RiskLimitCheckStatus_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="AllocationReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">AllocationReport can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="AllocationReport" ComponentType="Message" MsgID="78"
                     Section="PostTrade"
                     Category="Allocation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="AllocationReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="AllocationReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="AllocRpt" type="AllocationReport_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="AllocationReportAckElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="RegTrdID" type="RegulatoryTradeIDGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="AllocAck" type="AllocAckGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="AllocationReportAckAttributes">
      <xs:attribute name="RptID" type="AllocReportID_t" use="required"/>
      <xs:attribute name="ID" type="AllocID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="AvgPxInd" type="AvgPxIndicator_t" use="optional"/>
      <xs:attribute name="Qty" type="Quantity_t" use="optional"/>
      <xs:attribute name="TransTyp" type="AllocTransType_t" use="optional"/>
      <xs:attribute name="ID2" type="SecondaryAllocID_t" use="optional"/>
      <xs:attribute name="GrpID" type="AllocGroupID_t" use="optional"/>
      <xs:attribute name="FirmGrpID" type="FirmGroupID_t" use="optional"/>
      <xs:attribute name="AvgPxGrpID" type="AvgPxGroupID_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Stat" type="AllocStatus_t" use="optional"/>
      <xs:attribute name="RejCode" type="AllocRejCode_t" use="optional"/>
      <xs:attribute name="RptTyp" type="AllocReportType_t" use="optional"/>
      <xs:attribute name="ImReqTyp" type="AllocIntermedReqType_t" use="optional"/>
      <xs:attribute name="MtchStat" type="MatchStatus_t" use="optional"/>
      <xs:attribute name="CustOrdHdlInst" type="CustOrderHandlingInst_t" use="optional"/>
      <xs:attribute name="OrdHndlInstSrc" type="OrderHandlingInstSource_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="AllocationReportAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">AllocationReportAck can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="AllocationReportAck" ComponentType="Message" MsgID="79"
                     Section="PostTrade"
                     Category="Allocation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="AllocationReportAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="AllocationReportAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="AllocRptAck" type="AllocationReportAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="AllocationInstructionAlertElements">
      <xs:sequence>
         <xs:element name="OrdAlloc" type="OrdAllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="AllExc" type="ExecAllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
         <xs:element name="Amt" type="PositionAmountData_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Alloc" type="AllocGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="AllocationInstructionAlertAttributes">
      <xs:attribute name="ID" type="AllocID_t" use="required"/>
      <xs:attribute name="TransTyp" type="AllocTransType_t" use="required"/>
      <xs:attribute name="Typ" type="AllocType_t" use="required"/>
      <xs:attribute name="ID2" type="SecondaryAllocID_t" use="optional"/>
      <xs:attribute name="RefID" type="RefAllocID_t" use="optional"/>
      <xs:attribute name="CxlRplcRsn" type="AllocCancReplaceReason_t" use="optional"/>
      <xs:attribute name="ImReqTyp" type="AllocIntermedReqType_t" use="optional"/>
      <xs:attribute name="LinkID" type="AllocLinkID_t" use="optional"/>
      <xs:attribute name="LinkTyp" type="AllocLinkType_t" use="optional"/>
      <xs:attribute name="GrpID" type="AllocGroupID_t" use="optional"/>
      <xs:attribute name="FirmGrpID" type="FirmGroupID_t" use="optional"/>
      <xs:attribute name="BkngRefID" type="BookingRefID_t" use="optional"/>
      <xs:attribute name="NoOrdsTyp" type="AllocNoOrdersType_t" use="optional"/>
      <xs:attribute name="PrevlyRpted" type="PreviouslyReported_t" use="optional"/>
      <xs:attribute name="ReversalInd" type="ReversalIndicator_t" use="optional"/>
      <xs:attribute name="MtchTyp" type="MatchType_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="Qty" type="Quantity_t" use="optional"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="GrpQty" type="AllocGroupQuantity_t" use="optional"/>
      <xs:attribute name="RemQty" type="AllocGroupRemainingQuantity_t" use="optional"/>
      <xs:attribute name="LastMkt" type="LastMkt_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="AvgPx" type="AvgPx_t" use="optional"/>
      <xs:attribute name="AvgParPx" type="AvgParPx_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="AvgPxPrcsn" type="AvgPxPrecision_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="required"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Stat" type="AllocStatus_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="GrossTrdAmt" type="GrossTradeAmt_t" use="optional"/>
      <xs:attribute name="Concession" type="Concession_t" use="optional"/>
      <xs:attribute name="TotTakedown" type="TotalTakedown_t" use="optional"/>
      <xs:attribute name="NetMny" type="NetMoney_t" use="optional"/>
      <xs:attribute name="PosEfct" type="PositionEffect_t" use="optional"/>
      <xs:attribute name="AutoAcceptInd" type="AutoAcceptIndicator_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="NumDaysInt" type="NumDaysInterest_t" use="optional"/>
      <xs:attribute name="AcrdIntRt" type="AccruedInterestRate_t" use="optional"/>
      <xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="TotAcrdIntAmt" type="TotalAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="IntAtMat" type="InterestAtMaturity_t" use="optional"/>
      <xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
      <xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
      <xs:attribute name="LegalCnfm" type="LegalConfirm_t" use="optional"/>
      <xs:attribute name="TotNoAllocs" type="TotNoAllocs_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="AvgPxInd" type="AvgPxIndicator_t" use="optional"/>
      <xs:attribute name="AvgPxGrpID" type="AvgPxGroupID_t" use="optional"/>
      <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
      <xs:attribute name="TrdTyp" type="TrdType_t" use="optional"/>
      <xs:attribute name="TrdSubTyp" type="TrdSubType_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="InptSrc" type="TradeInputSource_t" use="optional"/>
      <xs:attribute name="MLegRptTyp" type="MultiLegReportingType_t" use="optional"/>
      <xs:attribute name="MsgEvtSrc" type="MessageEventSource_t" use="optional"/>
      <xs:attribute name="RndPx" type="RndPx_t" use="optional"/>
      <xs:attribute name="CustOrdHdlInst" type="CustOrderHandlingInst_t" use="optional"/>
      <xs:attribute name="OrdHndlInstSrc" type="OrderHandlingInstSource_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="AllocationInstructionAlert_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">AllocationInstructionAlert can be found in Volume 5 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="AllocationInstructionAlert" ComponentType="Message"
                     MsgID="98"
                     Section="PostTrade"
                     Category="Allocation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="AllocationInstructionAlertElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="AllocationInstructionAlertAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="AllocInstrAlert" type="AllocationInstructionAlert_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="AllocAckGrpElements">
      <xs:sequence>
         <xs:element name="RegTrdID" type="AllocRegulatoryTradeIDGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="NestedParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="AllocAckGrpAttributes">
      <xs:attribute name="Acct" type="AllocAccount_t" use="optional"/>
      <xs:attribute name="ActIDSrc" type="AllocAcctIDSource_t" use="optional"/>
      <xs:attribute name="Px" type="AllocPrice_t" use="optional"/>
      <xs:attribute name="AllocPosEfct" type="AllocPositionEffect_t" use="optional"/>
      <xs:attribute name="IndAllocID" type="IndividualAllocID_t" use="optional"/>
      <xs:attribute name="ParentAllocID" type="ParentAllocID_t" use="optional"/>
      <xs:attribute name="FirmMnem" type="FirmMnemonic_t" use="optional"/>
      <xs:attribute name="Clrd" type="ClearedIndicator_t" use="optional"/>
      <xs:attribute name="IndAllocRejCode" type="IndividualAllocRejCode_t" use="optional"/>
      <xs:attribute name="Txt" type="AllocText_t" use="optional"/>
      <xs:attribute name="EncAllocTextLen" type="EncodedAllocTextLen_t" use="optional"/>
      <xs:attribute name="EncAllocText" type="EncodedAllocText_t" use="optional"/>
      <xs:attribute name="FirmTxt" type="FirmAllocText_t" use="optional"/>
      <xs:attribute name="IndAllocID2" type="SecondaryIndividualAllocID_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="AllocCustomerCapacity_t" use="optional"/>
      <xs:attribute name="Typ" type="IndividualAllocType_t" use="optional"/>
      <xs:attribute name="Qty" type="AllocQty_t" use="optional"/>
      <xs:attribute name="CalcCcyQty" type="AllocCalculatedCcyQty_t" use="optional"/>
      <xs:attribute name="CstdlLotID" type="CustodialLotID_t" use="optional"/>
      <xs:attribute name="VSPDt" type="VersusPurchaseDate_t" use="optional"/>
      <xs:attribute name="VSPPx" type="VersusPurchasePrice_t" use="optional"/>
      <xs:attribute name="CurCostBasis" type="CurrentCostBasis_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="AllocAckGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="AllocAckGrp" ComponentType="BlockRepeating"
                     Category="Allocation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="AllocAckGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="AllocAckGrpAttributes"/>
   </xs:complexType>
   <xs:group name="AllocGrpElements">
      <xs:sequence>
         <xs:element name="RegTrdID" type="AllocRegulatoryTradeIDGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="NestedParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="CommData" type="AllocCommissionDataGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MiscFees" type="MiscFeesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ClrInst" type="ClrInstGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SetInstr" type="SettlInstructionsData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="Amt" type="TradeAllocAmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="AllocGrpAttributes">
      <xs:attribute name="Acct" type="AllocAccount_t" use="optional"/>
      <xs:attribute name="ActIDSrc" type="AllocAcctIDSource_t" use="optional"/>
      <xs:attribute name="MtchStat" type="MatchStatus_t" use="optional"/>
      <xs:attribute name="Px" type="AllocPrice_t" use="optional"/>
      <xs:attribute name="Qty" type="AllocQty_t" use="optional"/>
      <xs:attribute name="CalcCcyQty" type="AllocCalculatedCcyQty_t" use="optional"/>
      <xs:attribute name="CstdlLotID" type="CustodialLotID_t" use="optional"/>
      <xs:attribute name="VSPDt" type="VersusPurchaseDate_t" use="optional"/>
      <xs:attribute name="VSPPx" type="VersusPurchasePrice_t" use="optional"/>
      <xs:attribute name="CurCostBasis" type="CurrentCostBasis_t" use="optional"/>
      <xs:attribute name="IndAllocID" type="IndividualAllocID_t" use="optional"/>
      <xs:attribute name="FirmMnem" type="FirmMnemonic_t" use="optional"/>
      <xs:attribute name="ParentAllocID" type="ParentAllocID_t" use="optional"/>
      <xs:attribute name="ProcCode" type="ProcessCode_t" use="optional"/>
      <xs:attribute name="IndAllocID2" type="SecondaryIndividualAllocID_t" use="optional"/>
      <xs:attribute name="Meth" type="AllocMethod_t" use="optional"/>
      <xs:attribute name="AllocRollupInst" type="AllocationRollupInstruction_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="AllocCustomerCapacity_t" use="optional"/>
      <xs:attribute name="AllocPosEfct" type="AllocPositionEffect_t" use="optional"/>
      <xs:attribute name="Typ" type="IndividualAllocType_t" use="optional"/>
      <xs:attribute name="NotifyBrkrOfCredit" type="NotifyBrokerOfCredit_t" use="optional"/>
      <xs:attribute name="HandlInst" type="AllocHandlInst_t" use="optional"/>
      <xs:attribute name="Txt" type="AllocText_t" use="optional"/>
      <xs:attribute name="EncAllocTextLen" type="EncodedAllocTextLen_t" use="optional"/>
      <xs:attribute name="EncAllocText" type="EncodedAllocText_t" use="optional"/>
      <xs:attribute name="FirmTxt" type="FirmAllocText_t" use="optional"/>
      <xs:attribute name="AvgPx" type="AllocAvgPx_t" use="optional"/>
      <xs:attribute name="NetMny" type="AllocNetMoney_t" use="optional"/>
      <xs:attribute name="SettlCurrAmt" type="SettlCurrAmt_t" use="optional"/>
      <xs:attribute name="GrossTrdAmt" type="AllocGrossTradeAmt_t" use="optional"/>
      <xs:attribute name="SettlCcyAmt" type="AllocSettlCurrAmt_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="AllocSettlCcy" type="AllocSettlCurrency_t" use="optional"/>
      <xs:attribute name="SettlCurrFxRt" type="SettlCurrFxRate_t" use="optional"/>
      <xs:attribute name="SettlCurrFxRtCalc" type="SettlCurrFxRateCalc_t" use="optional"/>
      <xs:attribute name="AcrdIntAmt" type="AllocAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="IntAtMat" type="AllocInterestAtMaturity_t" use="optional"/>
      <xs:attribute name="ClrFeeInd" type="ClearingFeeIndicator_t" use="optional"/>
      <xs:attribute name="SettlInstTyp" type="AllocSettlInstType_t" use="optional"/>
      <xs:attribute name="RefRiskLmtChkID" type="AllocRefRiskLimitCheckID_t" use="optional"/>
      <xs:attribute name="RefRiskLmtChkIDTyp" type="AllocRefRiskLimitCheckIDType_t" use="optional"/>
      <xs:attribute name="RiskLmtChkStat" type="AllocRiskLimitCheckStatus_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="AllocGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="AllocGrp" ComponentType="ImplicitBlockRepeating"
                     Category="Allocation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="AllocGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="AllocGrpAttributes"/>
   </xs:complexType>
   <xs:group name="ExecAllocGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="ExecAllocGrpAttributes">
      <xs:attribute name="LastQty" type="LastQty_t" use="optional"/>
      <xs:attribute name="ExecID" type="ExecID_t" use="optional"/>
      <xs:attribute name="ExecID2" type="SecondaryExecID_t" use="optional"/>
      <xs:attribute name="LastPx" type="LastPx_t" use="optional"/>
      <xs:attribute name="LastParPx" type="LastParPx_t" use="optional"/>
      <xs:attribute name="LastCpcty" type="LastCapacity_t" use="optional"/>
      <xs:attribute name="TrdID" type="TradeID_t" use="optional"/>
      <xs:attribute name="FirmTrdID" type="FirmTradeID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ExecAllocGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="ExecAllocGrp" ComponentType="ImplicitBlockRepeating"
                     Category="Allocation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="ExecAllocGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="ExecAllocGrpAttributes"/>
   </xs:complexType>
</xs:schema>