rosetta-source/src/main/resources/schemas/fixml-5-0-sp2/fixml-partiesreference-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="PartyDetailsListRequestElements">
      <xs:sequence>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReqR" type="RequestedPartyRoleGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Rltnshp" type="PartyRelationshipGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyDetailsListRequestAttributes">
      <xs:attribute name="ReqID" type="PartyDetailsListRequestID_t" use="required"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyDetailsListRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyDetailsListRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyDetailsListRequest" ComponentType="Message"
                     MsgID="117"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyDetailsListRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyDetailsListRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyDetlListReq" type="PartyDetailsListRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyDetailsListReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="PtyDetl" type="PartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyDetailsListReportAttributes">
      <xs:attribute name="RptID" type="PartyDetailsListReportID_t" use="required"/>
      <xs:attribute name="ReqID" type="PartyDetailsListRequestID_t" use="optional"/>
      <xs:attribute name="ReqRslt" type="RequestResult_t" use="optional"/>
      <xs:attribute name="TotNoPtys" type="TotNoParties_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyDetailsListReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyDetailsListReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyDetailsListReport" ComponentType="Message"
                     MsgID="118"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyDetailsListReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyDetailsListReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyDetlListRpt" type="PartyDetailsListReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyDetailsListUpdateReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PtyDetlUpd" type="PartyDetailsUpdateGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyDetailsListUpdateReportAttributes">
      <xs:attribute name="RptID" type="PartyDetailsListReportID_t" use="required"/>
      <xs:attribute name="ReqID" type="PartyDetailsListRequestID_t" use="optional"/>
      <xs:attribute name="TotNoPtys" type="TotNoParties_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyDetailsListUpdateReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyDetailsListUpdateReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyDetailsListUpdateReport" ComponentType="Message"
                     MsgID="122"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyDetailsListUpdateReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyDetailsListUpdateReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyDetlListUpd" type="PartyDetailsListUpdateReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyRiskLimitsRequestElements">
      <xs:sequence>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReqR" type="RequestedPartyRoleGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ReqRiskLmtTyp" type="RequestedRiskLimitTypesGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="InstrmtScope" type="RiskInstrumentScopeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyRiskLimitsRequestAttributes">
      <xs:attribute name="ReqID" type="RiskLimitRequestID_t" use="required"/>
      <xs:attribute name="ReqTyp" type="RiskLimitRequestType_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
      <xs:attribute name="Pltfm" type="RiskLimitPlatform_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyRiskLimitsRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyRiskLimitsRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyRiskLimitsRequest" ComponentType="Message"
                     MsgID="123"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyRiskLimitsRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyRiskLimitsRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyRiskLmtReq" type="PartyRiskLimitsRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyRiskLimitsReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="PtyRiskLmt" type="PartyRiskLimitsGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyRiskLimitsReportAttributes">
      <xs:attribute name="RptID" type="RiskLimitReportID_t" use="required"/>
      <xs:attribute name="ReqID" type="RiskLimitRequestID_t" use="optional"/>
      <xs:attribute name="ReqTyp" type="RiskLimitRequestType_t" use="optional"/>
      <xs:attribute name="ReqRslt" type="RequestResult_t" use="optional"/>
      <xs:attribute name="Unsol" type="UnsolicitedIndicator_t" use="optional"/>
      <xs:attribute name="TotNoPtys" type="TotNoParties_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyRiskLimitsReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyRiskLimitsReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyRiskLimitsReport" ComponentType="Message" MsgID="124"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyRiskLimitsReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyRiskLimitsReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyRiskLmtRpt" type="PartyRiskLimitsReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyRiskLimitsUpdateReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PtyRiskLmtUpdt" type="PartyRiskLimitsUpdateGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyRiskLimitsUpdateReportAttributes">
      <xs:attribute name="RptID" type="RiskLimitReportID_t" use="required"/>
      <xs:attribute name="ReqID" type="RiskLimitRequestID_t" use="optional"/>
      <xs:attribute name="ReqTyp" type="RiskLimitRequestType_t" use="optional"/>
      <xs:attribute name="TotNoPtys" type="TotNoParties_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyRiskLimitsUpdateReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyRiskLimitsUpdateReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyRiskLimitsUpdateReport" ComponentType="Message"
                     MsgID="128"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyRiskLimitsUpdateReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyRiskLimitsUpdateReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyRiskLmtUpd" type="PartyRiskLimitsUpdateReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyRiskLimitsDefinitionRequestElements">
      <xs:sequence>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PtyRiskLmtUpdt" type="PartyRiskLimitsUpdateGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyRiskLimitsDefinitionRequestAttributes">
      <xs:attribute name="ReqID" type="RiskLimitRequestID_t" use="required"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyRiskLimitsDefinitionRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyRiskLimitsDefinitionRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyRiskLimitsDefinitionRequest" ComponentType="Message"
                     MsgID="129"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyRiskLimitsDefinitionRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyRiskLimitsDefinitionRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyRiskLmtDefReq" type="PartyRiskLimitsDefinitionRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyRiskLimitsDefinitionRequestAckElements">
      <xs:sequence>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PtyRiskLmtAck" type="PartyRiskLimitsAckGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyRiskLimitsDefinitionRequestAckAttributes">
      <xs:attribute name="ReqID" type="RiskLimitRequestID_t" use="required"/>
      <xs:attribute name="ReqRslt" type="RiskLimitRequestResult_t" use="optional"/>
      <xs:attribute name="ReqStat" type="RiskLimitRequestStatus_t" use="required"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyRiskLimitsDefinitionRequestAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyRiskLimitsDefinitionRequestAck can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyRiskLimitsDefinitionRequestAck"
                     ComponentType="Message"
                     MsgID="130"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyRiskLimitsDefinitionRequestAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyRiskLimitsDefinitionRequestAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyRiskLmtDefReqAck" type="PartyRiskLimitsDefinitionRequestAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyEntitlementsRequestElements">
      <xs:sequence>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReqR" type="RequestedPartyRoleGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="EntlmntTyp" type="EntitlementTypeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="InstrmtScope" type="InstrumentScopeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MktSegScope" type="MarketSegmentScopeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyEntitlementsRequestAttributes">
      <xs:attribute name="ReqID" type="EntitlementRequestID_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
      <xs:attribute name="Stat" type="EntitlementStatus_t" use="optional"/>
      <xs:attribute name="Pltfm" type="EntitlementPlatform_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyEntitlementsRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyEntitlementsRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyEntitlementsRequest" ComponentType="Message"
                     MsgID="131"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyEntitlementsRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyEntitlementsRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyEntlmntReq" type="PartyEntitlementsRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyEntitlementsReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="PtyEntlmnt" type="PartyEntitlementGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyEntitlementsReportAttributes">
      <xs:attribute name="RptID" type="EntitlementReportID_t" use="required"/>
      <xs:attribute name="ReqID" type="EntitlementRequestID_t" use="optional"/>
      <xs:attribute name="ReqRslt" type="RequestResult_t" use="optional"/>
      <xs:attribute name="TotNoPtys" type="TotNoParties_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyEntitlementsReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyEntitlementsReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyEntitlementsReport" ComponentType="Message"
                     MsgID="132"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyEntitlementsReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyEntitlementsReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyEntlmntRpt" type="PartyEntitlementsReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyDetailsDefinitionRequestElements">
      <xs:sequence>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PtyDetlUpd" type="PartyDetailsUpdateGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyDetailsDefinitionRequestAttributes">
      <xs:attribute name="ReqID" type="PartyDetailsListRequestID_t" use="required"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyDetailsDefinitionRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyDetailsDefinitionRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyDetailsDefinitionRequest" ComponentType="Message"
                     MsgID="134"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyDetailsDefinitionRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyDetailsDefinitionRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyDetlDefReq" type="PartyDetailsDefinitionRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyDetailsDefinitionRequestAckElements">
      <xs:sequence>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PtyDetlAck" type="PartyDetailAckGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyDetailsDefinitionRequestAckAttributes">
      <xs:attribute name="ReqID" type="PartyDetailsListRequestID_t" use="required"/>
      <xs:attribute name="ReqStat" type="PartyDetailRequestStatus_t" use="required"/>
      <xs:attribute name="ReqRslt" type="PartyDetailRequestResult_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyDetailsDefinitionRequestAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyDetailsDefinitionRequestAck can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyDetailsDefinitionRequestAck" ComponentType="Message"
                     MsgID="135"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyDetailsDefinitionRequestAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyDetailsDefinitionRequestAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyDetlDefReqAck" type="PartyDetailsDefinitionRequestAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyEntitlementsUpdateReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PtyEntlmntUpd" type="PartyEntitlementUpdateGrp_Block_t"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyEntitlementsUpdateReportAttributes">
      <xs:attribute name="RptID" type="EntitlementReportID_t" use="required"/>
      <xs:attribute name="ReqID" type="EntitlementRequestID_t" use="optional"/>
      <xs:attribute name="TotNoPtys" type="TotNoParties_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyEntitlementsUpdateReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyEntitlementsUpdateReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyEntitlementsUpdateReport" ComponentType="Message"
                     MsgID="136"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyEntitlementsUpdateReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyEntitlementsUpdateReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyEntlmntUpd" type="PartyEntitlementsUpdateReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyEntitlementsDefinitionRequestElements">
      <xs:sequence>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PtyEntlmntUpd" type="PartyEntitlementUpdateGrp_Block_t"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyEntitlementsDefinitionRequestAttributes">
      <xs:attribute name="ReqID" type="EntitlementRequestID_t" use="required"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyEntitlementsDefinitionRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyEntitlementsDefinitionRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyEntitlementsDefinitionRequest"
                     ComponentType="Message"
                     MsgID="137"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyEntitlementsDefinitionRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyEntitlementsDefinitionRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyEntlmntDefReq" type="PartyEntitlementsDefinitionRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyEntitlementsDefinitionRequestAckElements">
      <xs:sequence>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PtyEntlmntAck" type="PartyEntitlementAckGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyEntitlementsDefinitionRequestAckAttributes">
      <xs:attribute name="ReqID" type="EntitlementRequestID_t" use="required"/>
      <xs:attribute name="ReqStat" type="EntitlementRequestStatus_t" use="required"/>
      <xs:attribute name="ReqRslt" type="EntitlementRequestResult_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyEntitlementsDefinitionRequestAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyEntitlementsDefinitionRequestAck can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyEntitlementsDefinitionRequestAck"
                     ComponentType="Message"
                     MsgID="138"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyEntitlementsDefinitionRequestAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyEntitlementsDefinitionRequestAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyEntlmntDefReqAck"
               type="PartyEntitlementsDefinitionRequestAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyRiskLimitsReportAckElements">
      <xs:sequence>
         <xs:element name="PtyRiskLmtUpdt" type="PartyRiskLimitsUpdateGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyRiskLimitsReportAckAttributes">
      <xs:attribute name="RptID" type="RiskLimitReportID_t" use="required"/>
      <xs:attribute name="ReqID" type="RiskLimitRequestID_t" use="optional"/>
      <xs:attribute name="RptStat" type="RiskLimitReportStatus_t" use="required"/>
      <xs:attribute name="RejRsn" type="RiskLimitReportRejectReason_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyRiskLimitsReportAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyRiskLimitsReportAck can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyRiskLimitsReportAck" ComponentType="Message"
                     MsgID="141"
                     Section="PreTrade"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyRiskLimitsReportAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyRiskLimitsReportAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyRiskLmtRptAck" type="PartyRiskLimitsReportAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="RequestedPartyRoleGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="RequestedPartyRoleGrpAttributes">
      <xs:attribute name="R" type="RequestedPartyRole_t" use="optional"/>
      <xs:attribute name="Qual" type="RequestedPartyRoleQualifier_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="RequestedPartyRoleGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="RequestedPartyRoleGrp"
                     ComponentType="ImplicitBlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="RequestedPartyRoleGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequestedPartyRoleGrpAttributes"/>
   </xs:complexType>
   <xs:group name="RiskLimitTypesGrpElements">
      <xs:sequence>
         <xs:element name="WarnLvl" type="RiskWarningLevelGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="RiskLimitTypesGrpAttributes">
      <xs:attribute name="Typ" type="RiskLimitType_t" use="optional"/>
      <xs:attribute name="Amt" type="RiskLimitAmount_t" use="optional"/>
      <xs:attribute name="Actn" type="RiskLimitAction_t" use="optional"/>
      <xs:attribute name="UtilztnAmt" type="RiskLimitUtilizationAmount_t" use="optional"/>
      <xs:attribute name="UtilztnPct" type="RiskLimitUtilizationPercent_t" use="optional"/>
      <xs:attribute name="Ccy" type="RiskLimitCurrency_t" use="optional"/>
      <xs:attribute name="Pltfm" type="RiskLimitPlatform_t" use="optional"/>
      <xs:attribute name="Velcty" type="RiskLimitVelocityPeriod_t" use="optional"/>
      <xs:attribute name="VelctyUnit" type="RiskLimitVelocityUnit_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="RiskLimitTypesGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="RiskLimitTypesGrp" ComponentType="ImplicitBlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="RiskLimitTypesGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="RiskLimitTypesGrpAttributes"/>
   </xs:complexType>
   <xs:group name="RiskWarningLevelGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="RiskWarningLevelGrpAttributes">
      <xs:attribute name="Actn" type="RiskWarningLevelAction_t" use="optional"/>
      <xs:attribute name="Pct" type="RiskWarningLevelPercent_t" use="optional"/>
      <xs:attribute name="Amt" type="RiskWarningLevelAmount_t" use="optional"/>
      <xs:attribute name="Nme" type="RiskWarningLevelName_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="RiskWarningLevelGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="RiskWarningLevelGrp"
                     ComponentType="ImplicitBlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="RiskWarningLevelGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="RiskWarningLevelGrpAttributes"/>
   </xs:complexType>
   <xs:group name="RiskInstrumentScopeGrpElements">
      <xs:sequence><!--Start of inlined elements from component: InstrumentScope--><xs:group ref="InstrumentScopeElements"/>
         <!--End of inlined elements from component: InstrumentScope--></xs:sequence>
   </xs:group>
   <xs:attributeGroup name="RiskInstrumentScopeGrpAttributes">
      <xs:attribute name="Oper" type="InstrumentScopeOperator_t" use="optional"/>
      <!--Start of inlined attributes from component: InstrumentScope--><xs:attributeGroup ref="InstrumentScopeAttributes"/>
      <!--End of inlined attributes from component: InstrumentScope--><xs:attribute name="Mult" type="RiskInstrumentMultiplier_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="RiskInstrumentScopeGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="RiskInstrumentScopeGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="RiskInstrumentScopeGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="RiskInstrumentScopeGrpAttributes"/>
   </xs:complexType>
   <xs:group name="PartyDetailsUpdateGrpElements">
      <xs:sequence>
         <xs:element name="PtyDetl" type="PartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyDetailsUpdateGrpAttributes">
      <xs:attribute name="ListUpdActn" type="ListUpdateAction_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyDetailsUpdateGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyDetailsUpdateGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="PartyDetailsUpdateGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="PartyDetailsUpdateGrpAttributes"/>
   </xs:complexType>
   <xs:group name="RequestedRiskLimitTypesGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="RequestedRiskLimitTypesGrpAttributes">
      <xs:attribute name="Typ" type="RiskLimitType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="RequestedRiskLimitTypesGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="RequestedRiskLimitTypesGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="RequestedRiskLimitTypesGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequestedRiskLimitTypesGrpAttributes"/>
   </xs:complexType>
   <xs:group name="PartyRiskLimitsGrpElements">
      <xs:sequence>
         <xs:element name="PtyDetl" type="PartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="RiskLmt" type="RiskLimitsGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyRiskLimitsGrpAttributes">
      <xs:attribute name="ID" type="RiskLimitID_t" use="optional"/>
      <xs:attribute name="ChkModelTyp" type="RiskLimitCheckModelType_t" use="optional"/>
      <xs:attribute name="PtyRiskLmtStat" type="PartyRiskLimitStatus_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyRiskLimitsGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyRiskLimitsGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="PartyRiskLimitsGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="PartyRiskLimitsGrpAttributes"/>
   </xs:complexType>
   <xs:group name="RiskLimitsGrpElements">
      <xs:sequence>
         <xs:element name="RiskLmtTyp" type="RiskLimitTypesGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="InstrmtScope" type="RiskInstrumentScopeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="RiskLimitsGrpAttributes"/>
   <xs:complexType name="RiskLimitsGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="RiskLimitsGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="RiskLimitsGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="RiskLimitsGrpAttributes"/>
   </xs:complexType>
   <xs:group name="PartyRiskLimitsUpdateGrpElements">
      <xs:sequence>
         <xs:element name="PtyDetl" type="PartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="RiskLmt" type="RiskLimitsGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyRiskLimitsUpdateGrpAttributes">
      <xs:attribute name="ListUpdActn" type="ListUpdateAction_t" use="optional"/>
      <xs:attribute name="ID" type="RiskLimitID_t" use="optional"/>
      <xs:attribute name="ChkModelTyp" type="RiskLimitCheckModelType_t" use="optional"/>
      <xs:attribute name="PtyRiskLmtStat" type="PartyRiskLimitStatus_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyRiskLimitsUpdateGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyRiskLimitsUpdateGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="PartyRiskLimitsUpdateGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="PartyRiskLimitsUpdateGrpAttributes"/>
   </xs:complexType>
   <xs:group name="PartyRiskLimitsAckGrpElements">
      <xs:sequence>
         <xs:element name="PtyDetl" type="PartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="RiskLmt" type="RiskLimitsGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyRiskLimitsAckGrpAttributes">
      <xs:attribute name="ListUpdActn" type="ListUpdateAction_t" use="optional"/>
      <xs:attribute name="Stat" type="RiskLimitStatus_t" use="optional"/>
      <xs:attribute name="Rslt" type="RiskLimitResult_t" use="optional"/>
      <xs:attribute name="ID" type="RiskLimitID_t" use="optional"/>
      <xs:attribute name="ChkModelTyp" type="RiskLimitCheckModelType_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="PtyRiskLmtStat" type="PartyRiskLimitStatus_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyRiskLimitsAckGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyRiskLimitsAckGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="PartyRiskLimitsAckGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="PartyRiskLimitsAckGrpAttributes"/>
   </xs:complexType>
   <xs:group name="PartyEntitlementGrpElements">
      <xs:sequence>
         <xs:element name="PtyDetl" type="PartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Entlmnt" type="EntitlementGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyEntitlementGrpAttributes">
      <xs:attribute name="Stat" type="EntitlementStatus_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyEntitlementGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyEntitlementGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="PartyEntitlementGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="PartyEntitlementGrpAttributes"/>
   </xs:complexType>
   <xs:group name="EntitlementGrpElements">
      <xs:sequence>
         <xs:element name="Attrib" type="EntitlementAttribGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="InstrmtScope" type="InstrumentScopeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MktSegScope" type="MarketSegmentScopeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="EntitlementGrpAttributes">
      <xs:attribute name="Ind" type="EntitlementIndicator_t" use="optional"/>
      <xs:attribute name="Typ" type="EntitlementType_t" use="optional"/>
      <xs:attribute name="SubTyp" type="EntitlementSubType_t" use="optional"/>
      <xs:attribute name="ID" type="EntitlementID_t" use="optional"/>
      <xs:attribute name="Pltfm" type="EntitlementPlatform_t" use="optional"/>
      <xs:attribute name="StartDt" type="EntitlementStartDate_t" use="optional"/>
      <xs:attribute name="EndDt" type="EntitlementEndDate_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="EntitlementGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="EntitlementGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="EntitlementGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="EntitlementGrpAttributes"/>
   </xs:complexType>
   <xs:group name="EntitlementAttribGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="EntitlementAttribGrpAttributes">
      <xs:attribute name="Typ" type="EntitlementAttribType_t" use="optional"/>
      <xs:attribute name="Datatyp" type="EntitlementAttribDatatype_t" use="optional"/>
      <xs:attribute name="Value" type="EntitlementAttribValue_t" use="optional"/>
      <xs:attribute name="Ccy" type="EntitlementAttribCurrency_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="EntitlementAttribGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="EntitlementAttribGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="EntitlementAttribGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="EntitlementAttribGrpAttributes"/>
   </xs:complexType>
   <xs:group name="PartyDetailAckGrpElements">
      <xs:sequence>
         <xs:element name="PtyDetl" type="PartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyDetailAckGrpAttributes">
      <xs:attribute name="ListUpdActn" type="ListUpdateAction_t" use="optional"/>
      <xs:attribute name="Stat" type="PartyDetailDefinitionStatus_t" use="optional"/>
      <xs:attribute name="Rslt" type="PartyDetailDefinitionResult_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyDetailAckGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyDetailAckGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="PartyDetailAckGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="PartyDetailAckGrpAttributes"/>
   </xs:complexType>
   <xs:group name="PartyEntitlementUpdateGrpElements">
      <xs:sequence>
         <xs:element name="PtyDetl" type="PartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Entlmnt" type="EntitlementGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyEntitlementUpdateGrpAttributes">
      <xs:attribute name="ListUpdActn" type="ListUpdateAction_t" use="optional"/>
      <xs:attribute name="Stat" type="EntitlementStatus_t" use="optional"/>
      <xs:attribute name="RefID" type="EntitlementRefID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyEntitlementUpdateGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyEntitlementUpdateGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="PartyEntitlementUpdateGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="PartyEntitlementUpdateGrpAttributes"/>
   </xs:complexType>
   <xs:group name="PartyEntitlementAckGrpElements">
      <xs:sequence>
         <xs:element name="PtyDetl" type="PartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Entlmnt" type="EntitlementGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyEntitlementAckGrpAttributes">
      <xs:attribute name="ListUpdActn" type="ListUpdateAction_t" use="optional"/>
      <xs:attribute name="Stat" type="EntitlementStatus_t" use="optional"/>
      <xs:attribute name="Rslt" type="EntitlementResult_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="RefID" type="EntitlementRefID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyEntitlementAckGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyEntitlementAckGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="PartyEntitlementAckGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="PartyEntitlementAckGrpAttributes"/>
   </xs:complexType>
   <xs:group name="EntitlementTypeGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="EntitlementTypeGrpAttributes">
      <xs:attribute name="Typ" type="EntitlementType_t" use="optional"/>
      <xs:attribute name="SubTyp" type="EntitlementSubType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="EntitlementTypeGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="EntitlementTypeGrp" ComponentType="BlockRepeating"
                     Category="PartiesReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="EntitlementTypeGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="EntitlementTypeGrpAttributes"/>
   </xs:complexType>
</xs:schema>