rosetta-source/src/main/resources/schemas/fixml-5-0-sp2/fixml-partiesaction-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="PartyRiskLimitCheckRequestElements">
      <xs:sequence>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdPtyDetl" type="RelatedPartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Ord" type="LegOrdGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyRiskLimitCheckRequestAttributes">
      <xs:attribute name="ChkReqID" type="RiskLimitCheckRequestID_t" use="optional"/>
      <xs:attribute name="LmtChkID" type="RiskLimitCheckID_t" use="optional"/>
      <xs:attribute name="TransTyp" type="RiskLimitCheckTransType_t" use="required"/>
      <xs:attribute name="ChkTyp" type="RiskLimitCheckType_t" use="required"/>
      <xs:attribute name="ReqRefID" type="RiskLimitCheckRequestRefID_t" use="optional"/>
      <xs:attribute name="RefOrdID" type="RefOrderID_t" use="optional"/>
      <xs:attribute name="RefOrdIDSrc" type="RefOrderIDSource_t" use="optional"/>
      <xs:attribute name="ChkReqTyp" type="RiskLimitCheckRequestType_t" use="optional"/>
      <xs:attribute name="LmtChkAmt" type="RiskLimitCheckAmount_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="RiskLmtID" type="RiskLimitID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyRiskLimitCheckRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyRiskLimitCheckRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyRiskLimitCheckRequest" ComponentType="Message"
                     MsgID="142"
                     Section="PreTrade"
                     Category="PartiesAction"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyRiskLimitCheckRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyRiskLimitCheckRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyRiskLmtChkReq" type="PartyRiskLimitCheckRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyRiskLimitCheckRequestAckElements">
      <xs:sequence>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ReltdPtyDetl" type="RelatedPartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="Ord" type="LegOrdGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyRiskLimitCheckRequestAckAttributes">
      <xs:attribute name="ChkReqID" type="RiskLimitCheckRequestID_t" use="optional"/>
      <xs:attribute name="LmtChkID" type="RiskLimitCheckID_t" use="optional"/>
      <xs:attribute name="ReqStat" type="RiskLimitCheckRequestStatus_t" use="required"/>
      <xs:attribute name="ReqRslt" type="RiskLimitCheckRequestResult_t" use="optional"/>
      <xs:attribute name="TransTyp" type="RiskLimitCheckTransType_t" use="required"/>
      <xs:attribute name="ChkTyp" type="RiskLimitCheckType_t" use="required"/>
      <xs:attribute name="ReqRefID" type="RiskLimitCheckRequestRefID_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="RefOrdID" type="RefOrderID_t" use="optional"/>
      <xs:attribute name="RefOrdIDSrc" type="RefOrderIDSource_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="LmtAprvdAmt" type="RiskLimitApprovedAmount_t" use="optional"/>
      <xs:attribute name="LmtChkAmt" type="RiskLimitCheckAmount_t" use="optional"/>
      <xs:attribute name="RiskLmtID" type="RiskLimitID_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyRiskLimitCheckRequestAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyRiskLimitCheckRequestAck can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyRiskLimitCheckRequestAck" ComponentType="Message"
                     MsgID="143"
                     Section="PreTrade"
                     Category="PartiesAction"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyRiskLimitCheckRequestAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyRiskLimitCheckRequestAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyRiskLmtChkReqAck" type="PartyRiskLimitCheckRequestAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyActionRequestElements">
      <xs:sequence>
         <xs:element name="InstrmtScope" type="InstrumentScope_Block_t" minOccurs="0"/>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" maxOccurs="unbounded"/>
         <xs:element name="ReltdPtyDetl" type="RelatedPartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyActionRequestAttributes">
      <xs:attribute name="ActnReqID" type="PartyActionRequestID_t" use="required"/>
      <xs:attribute name="ActnTyp" type="PartyActionType_t" use="required"/>
      <xs:attribute name="ApplTstMsgInd" type="ApplTestMessageIndicator_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyActionRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyActionRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyActionRequest" ComponentType="Message" MsgID="144"
                     Section="PreTrade"
                     Category="PartiesAction"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyActionRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyActionRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyActReq" type="PartyActionRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="PartyActionReportElements">
      <xs:sequence>
         <xs:element name="InstrmtScope" type="InstrumentScope_Block_t" minOccurs="0"/>
         <xs:element name="ReqPty" type="RequestingPartyGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" maxOccurs="unbounded"/>
         <xs:element name="ReltdPtyDetl" type="RelatedPartyDetailGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="PartyActionReportAttributes">
      <xs:attribute name="EfctvBizDt" type="EffectiveBusinessDate_t" use="optional"/>
      <xs:attribute name="ActnReqID" type="PartyActionRequestID_t" use="optional"/>
      <xs:attribute name="ActnRptID" type="PartyActionReportID_t" use="required"/>
      <xs:attribute name="ActnTyp" type="PartyActionType_t" use="required"/>
      <xs:attribute name="ActnRsp" type="PartyActionResponse_t" use="required"/>
      <xs:attribute name="RejRsn" type="PartyActionRejectReason_t" use="optional"/>
      <xs:attribute name="ApplTstMsgInd" type="ApplTestMessageIndicator_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="CopyMsgInd" type="CopyMsgIndicator_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="PartyActionReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">PartyActionReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="PartyActionReport" ComponentType="Message" MsgID="145"
                     Section="PreTrade"
                     Category="PartiesAction"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="PartyActionReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="PartyActionReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PtyActRpt" type="PartyActionReport_message_t" substitutionGroup="Message"
               final="#all"/>
</xs:schema>