rosetta-source/src/main/resources/schemas/fixml-5-0-sp2/fixml-quotation-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="QuoteRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="RootParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="QuotReq" type="QuotReqGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuoteRequestAttributes">
      <xs:attribute name="ReqID" type="QuoteReqID_t" use="required"/>
      <xs:attribute name="RFQReqID" type="RFQReqID_t" use="optional"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="PrvtQt" type="PrivateQuote_t" use="optional"/>
      <xs:attribute name="RspdntTyp" type="RespondentType_t" use="optional"/>
      <xs:attribute name="PrTrdAnon" type="PreTradeAnonymity_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuoteRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">QuoteRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuoteRequest" ComponentType="Message" MsgID="26"
                     Section="PreTrade"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="QuoteRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="QuoteRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="QuotReq" type="QuoteRequest_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="QuoteElements">
      <xs:sequence>
         <xs:element name="QuotQual" type="QuotQualGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ValuChk" type="ValueChecksGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0"/>
         <xs:element name="RtSrc" type="RateSource_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Quot" type="LegQuotGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="0"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="ReltvVal" type="RelativeValueGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
         <xs:element name="Rtg" type="RoutingGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuoteAttributes">
      <xs:attribute name="ReqID" type="QuoteReqID_t" use="optional"/>
      <xs:attribute name="QID" type="QuoteID_t" use="required"/>
      <xs:attribute name="BidID" type="BidID_t" use="optional"/>
      <xs:attribute name="OfrID" type="OfferID_t" use="optional"/>
      <xs:attribute name="QID2" type="SecondaryQuoteID_t" use="optional"/>
      <xs:attribute name="QtMsgID" type="QuoteMsgID_t" use="optional"/>
      <xs:attribute name="RspID" type="QuoteRespID_t" use="optional"/>
      <xs:attribute name="Typ" type="QuoteType_t" use="optional"/>
      <xs:attribute name="QModelTyp" type="QuoteModelType_t" use="optional"/>
      <xs:attribute name="PrvtQt" type="PrivateQuote_t" use="optional"/>
      <xs:attribute name="NegottnMeth" type="NegotiationMethod_t" use="optional"/>
      <xs:attribute name="RspLvl" type="QuoteResponseLevel_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="SettlDt2" type="SettlDate2_t" use="optional"/>
      <xs:attribute name="Qty2" type="OrderQty2_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="BidPx" type="BidPx_t" use="optional"/>
      <xs:attribute name="OfrPx" type="OfferPx_t" use="optional"/>
      <xs:attribute name="MktBidPx" type="MktBidPx_t" use="optional"/>
      <xs:attribute name="MktOfrPx" type="MktOfferPx_t" use="optional"/>
      <xs:attribute name="MinBidSz" type="MinBidSize_t" use="optional"/>
      <xs:attribute name="BidSz" type="BidSize_t" use="optional"/>
      <xs:attribute name="TotBidSz" type="TotalBidSize_t" use="optional"/>
      <xs:attribute name="MinOfrSz" type="MinOfferSize_t" use="optional"/>
      <xs:attribute name="OfrSz" type="OfferSize_t" use="optional"/>
      <xs:attribute name="TotOfrSz" type="TotalOfferSize_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="ExpsreDur" type="ExposureDuration_t" use="optional"/>
      <xs:attribute name="ExpsreDurUnit" type="ExposureDurationUnit_t" use="optional"/>
      <xs:attribute name="ValidUntilTm" type="ValidUntilTime_t" use="optional"/>
      <xs:attribute name="BidSpotRt" type="BidSpotRate_t" use="optional"/>
      <xs:attribute name="OfrSpotRt" type="OfferSpotRate_t" use="optional"/>
      <xs:attribute name="BidFwdPnts" type="BidForwardPoints_t" use="optional"/>
      <xs:attribute name="OfrFwdPnts" type="OfferForwardPoints_t" use="optional"/>
      <xs:attribute name="BidSwapPnts" type="BidSwapPoints_t" use="optional"/>
      <xs:attribute name="OfrSwapPnts" type="OfferSwapPoints_t" use="optional"/>
      <xs:attribute name="MidPx" type="MidPx_t" use="optional"/>
      <xs:attribute name="BidYld" type="BidYield_t" use="optional"/>
      <xs:attribute name="MidYld" type="MidYield_t" use="optional"/>
      <xs:attribute name="OfrYld" type="OfferYield_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="BidFwdPnts2" type="BidForwardPoints2_t" use="optional"/>
      <xs:attribute name="OfrFwdPnts2" type="OfferForwardPoints2_t" use="optional"/>
      <xs:attribute name="SettlCurrBidFxRt" type="SettlCurrBidFxRate_t" use="optional"/>
      <xs:attribute name="SettlCurrOfrFxRt" type="SettlCurrOfferFxRate_t" use="optional"/>
      <xs:attribute name="SettlCurrFxRtCalc" type="SettlCurrFxRateCalc_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="ExDest" type="ExDestination_t" use="optional"/>
      <xs:attribute name="ExDestIDSrc" type="ExDestinationIDSource_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="BidSpread" type="BidSpread_t" use="optional"/>
      <xs:attribute name="OfrSpread" type="OfferSpread_t" use="optional"/>
      <xs:attribute name="SlfMtchPrvntnID" type="SelfMatchPreventionID_t" use="optional"/>
      <xs:attribute name="ThrttlInst" type="ThrottleInst_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="StrkTm" type="StrikeTime_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="Quote_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">Quote can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="Quote" ComponentType="Message" MsgID="27"
                     Section="PreTrade"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="QuoteElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="QuoteAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Quot" type="Quote_message_t" substitutionGroup="Message" final="#all"/>
   <xs:group name="QuoteCancelElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="QuotCxlEntry" type="QuotCxlEntriesGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuoteCancelAttributes">
      <xs:attribute name="ReqID" type="QuoteReqID_t" use="optional"/>
      <xs:attribute name="QID" type="QuoteID_t" use="optional"/>
      <xs:attribute name="QID2" type="SecondaryQuoteID_t" use="optional"/>
      <xs:attribute name="QtMsgID" type="QuoteMsgID_t" use="optional"/>
      <xs:attribute name="CxlTyp" type="QuoteCancelType_t" use="required"/>
      <xs:attribute name="Typ" type="QuoteType_t" use="optional"/>
      <xs:attribute name="RspLvl" type="QuoteResponseLevel_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuoteCancel_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">QuoteCancel can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuoteCancel" ComponentType="Message" MsgID="33"
                     Section="PreTrade"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="QuoteCancelElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="QuoteCancelAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="QuotCxl" type="QuoteCancel_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="QuoteStatusRequestElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuoteStatusRequestAttributes">
      <xs:attribute name="StatReqID" type="QuoteStatusReqID_t" use="optional"/>
      <xs:attribute name="QID" type="QuoteID_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuoteStatusRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">QuoteStatusRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuoteStatusRequest" ComponentType="Message" MsgID="34"
                     Section="PreTrade"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="QuoteStatusRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="QuoteStatusRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="QuotStatReq" type="QuoteStatusRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MassQuoteAckElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="QuotSetAck" type="QuotSetAckGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ThrttlRsp" type="ThrottleResponse_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MassQuoteAckAttributes">
      <xs:attribute name="ReqID" type="QuoteReqID_t" use="optional"/>
      <xs:attribute name="QID" type="QuoteID_t" use="optional"/>
      <xs:attribute name="Stat" type="QuoteStatus_t" use="required"/>
      <xs:attribute name="RejRsn" type="QuoteRejectReason_t" use="optional"/>
      <xs:attribute name="RspLvl" type="QuoteResponseLevel_t" use="optional"/>
      <xs:attribute name="Typ" type="QuoteType_t" use="optional"/>
      <xs:attribute name="CxlTyp" type="QuoteCancelType_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MassQuoteAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MassQuoteAck can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MassQuoteAck" ComponentType="Message" MsgID="35"
                     Section="PreTrade"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MassQuoteAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MassQuoteAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MassQuotAck" type="MassQuoteAck_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MassQuoteElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="QuotSet" type="QuotSetGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MassQuoteAttributes">
      <xs:attribute name="ReqID" type="QuoteReqID_t" use="optional"/>
      <xs:attribute name="QID" type="QuoteID_t" use="required"/>
      <xs:attribute name="Typ" type="QuoteType_t" use="optional"/>
      <xs:attribute name="QModelTyp" type="QuoteModelType_t" use="optional"/>
      <xs:attribute name="RspLvl" type="QuoteResponseLevel_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="DefBidSz" type="DefBidSize_t" use="optional"/>
      <xs:attribute name="DefOfrSz" type="DefOfferSize_t" use="optional"/>
      <xs:attribute name="SlfMtchPrvntnID" type="SelfMatchPreventionID_t" use="optional"/>
      <xs:attribute name="ThrttlInst" type="ThrottleInst_t" use="optional"/>
      <xs:attribute name="ComplianceID" type="ComplianceID_t" use="optional"/>
      <xs:attribute name="ComplianceTxt" type="ComplianceText_t" use="optional"/>
      <xs:attribute name="EncComplianceTxtLen" type="EncodedComplianceTextLen_t" use="optional"/>
      <xs:attribute name="EncComplianceTxt" type="EncodedComplianceText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MassQuote_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MassQuote can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MassQuote" ComponentType="Message" MsgID="42"
                     Section="PreTrade"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MassQuoteElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MassQuoteAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MassQuot" type="MassQuote_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="QuoteRequestRejectElements">
      <xs:sequence>
         <xs:element name="Pty" type="RootParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="QuotReqRej" type="QuotReqRjctGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuoteRequestRejectAttributes">
      <xs:attribute name="ReqID" type="QuoteReqID_t" use="required"/>
      <xs:attribute name="RFQReqID" type="RFQReqID_t" use="optional"/>
      <xs:attribute name="ReqRejRsn" type="QuoteRequestRejectReason_t" use="required"/>
      <xs:attribute name="PrvtQt" type="PrivateQuote_t" use="optional"/>
      <xs:attribute name="RspdntTyp" type="RespondentType_t" use="optional"/>
      <xs:attribute name="PrTrdAnon" type="PreTradeAnonymity_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuoteRequestReject_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">QuoteRequestReject can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuoteRequestReject" ComponentType="Message" MsgID="66"
                     Section="PreTrade"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="QuoteRequestRejectElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="QuoteRequestRejectAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="QuotReqRej" type="QuoteRequestReject_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="RFQRequestElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="RFQReq" type="RFQReqGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="RFQRequestAttributes">
      <xs:attribute name="RFQReqID" type="RFQReqID_t" use="required"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
      <xs:attribute name="PrvtQt" type="PrivateQuote_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="RFQRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">RFQRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="RFQRequest" ComponentType="Message" MsgID="67"
                     Section="PreTrade"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="RFQRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="RFQRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="RFQReq" type="RFQRequest_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="QuoteStatusReportElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="TgtPty" type="TargetParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="QuoteStat" type="LegQuotStatGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="QuotQual" type="QuotQualGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="0"/>
         <xs:element name="ThrttlRsp" type="ThrottleResponse_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuoteStatusReportAttributes">
      <xs:attribute name="StatReqID" type="QuoteStatusReqID_t" use="optional"/>
      <xs:attribute name="ReqID" type="QuoteReqID_t" use="optional"/>
      <xs:attribute name="QID" type="QuoteID_t" use="optional"/>
      <xs:attribute name="BidID" type="BidID_t" use="optional"/>
      <xs:attribute name="OfrID" type="OfferID_t" use="optional"/>
      <xs:attribute name="QID2" type="SecondaryQuoteID_t" use="optional"/>
      <xs:attribute name="QtMsgID" type="QuoteMsgID_t" use="optional"/>
      <xs:attribute name="RspID" type="QuoteRespID_t" use="optional"/>
      <xs:attribute name="Typ" type="QuoteType_t" use="optional"/>
      <xs:attribute name="CxlTyp" type="QuoteCancelType_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="SettlDt2" type="SettlDate2_t" use="optional"/>
      <xs:attribute name="Qty2" type="OrderQty2_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="NegottnMeth" type="NegotiationMethod_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="BidQID" type="BidQuoteID_t" use="optional"/>
      <xs:attribute name="OfrQID" type="OfferQuoteID_t" use="optional"/>
      <xs:attribute name="BidMDID" type="BidMDEntryID_t" use="optional"/>
      <xs:attribute name="OfrMDID" type="OfferMDEntryID_t" use="optional"/>
      <xs:attribute name="BidPx" type="BidPx_t" use="optional"/>
      <xs:attribute name="OfrPx" type="OfferPx_t" use="optional"/>
      <xs:attribute name="MktBidPx" type="MktBidPx_t" use="optional"/>
      <xs:attribute name="MktOfrPx" type="MktOfferPx_t" use="optional"/>
      <xs:attribute name="MinBidSz" type="MinBidSize_t" use="optional"/>
      <xs:attribute name="BidSz" type="BidSize_t" use="optional"/>
      <xs:attribute name="TotBidSz" type="TotalBidSize_t" use="optional"/>
      <xs:attribute name="MinOfrSz" type="MinOfferSize_t" use="optional"/>
      <xs:attribute name="OfrSz" type="OfferSize_t" use="optional"/>
      <xs:attribute name="TotOfrSz" type="TotalOfferSize_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="ValidUntilTm" type="ValidUntilTime_t" use="optional"/>
      <xs:attribute name="BidSpotRt" type="BidSpotRate_t" use="optional"/>
      <xs:attribute name="OfrSpotRt" type="OfferSpotRate_t" use="optional"/>
      <xs:attribute name="BidFwdPnts" type="BidForwardPoints_t" use="optional"/>
      <xs:attribute name="OfrFwdPnts" type="OfferForwardPoints_t" use="optional"/>
      <xs:attribute name="MidPx" type="MidPx_t" use="optional"/>
      <xs:attribute name="BidYld" type="BidYield_t" use="optional"/>
      <xs:attribute name="MidYld" type="MidYield_t" use="optional"/>
      <xs:attribute name="OfrYld" type="OfferYield_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="BidFwdPnts2" type="BidForwardPoints2_t" use="optional"/>
      <xs:attribute name="OfrFwdPnts2" type="OfferForwardPoints2_t" use="optional"/>
      <xs:attribute name="SettlCurrBidFxRt" type="SettlCurrBidFxRate_t" use="optional"/>
      <xs:attribute name="SettlCurrOfrFxRt" type="SettlCurrOfferFxRate_t" use="optional"/>
      <xs:attribute name="SettlCurrFxRtCalc" type="SettlCurrFxRateCalc_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="ExDest" type="ExDestination_t" use="optional"/>
      <xs:attribute name="ExDestIDSrc" type="ExDestinationIDSource_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="Stat" type="QuoteStatus_t" use="optional"/>
      <xs:attribute name="RejRsn" type="QuoteRejectReason_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="StrkTm" type="StrikeTime_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuoteStatusReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">QuoteStatusReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuoteStatusReport" ComponentType="Message" MsgID="68"
                     Section="PreTrade"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="QuoteStatusReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="QuoteStatusReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="QuotStatRpt" type="QuoteStatusReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="QuoteResponseElements">
      <xs:sequence>
         <xs:element name="QuotQual" type="QuotQualGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Quot" type="LegQuotGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="0"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuoteResponseAttributes">
      <xs:attribute name="RspID" type="QuoteRespID_t" use="required"/>
      <xs:attribute name="QID" type="QuoteID_t" use="optional"/>
      <xs:attribute name="QtMsgID" type="QuoteMsgID_t" use="optional"/>
      <xs:attribute name="ReqID" type="QuoteReqID_t" use="optional"/>
      <xs:attribute name="RspTyp" type="QuoteRespType_t" use="required"/>
      <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="IOIID" type="IOIID_t" use="optional"/>
      <xs:attribute name="Typ" type="QuoteType_t" use="optional"/>
      <xs:attribute name="PrTrdAnon" type="PreTradeAnonymity_t" use="optional"/>
      <xs:attribute name="TrdTyp" type="TrdType_t" use="optional"/>
      <xs:attribute name="RegTxnTyp" type="RegulatoryTransactionType_t" use="optional"/>
      <xs:attribute name="NegottnMeth" type="NegotiationMethod_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="SettlDt2" type="SettlDate2_t" use="optional"/>
      <xs:attribute name="Qty2" type="OrderQty2_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="BidPx" type="BidPx_t" use="optional"/>
      <xs:attribute name="OfrPx" type="OfferPx_t" use="optional"/>
      <xs:attribute name="MktBidPx" type="MktBidPx_t" use="optional"/>
      <xs:attribute name="MktOfrPx" type="MktOfferPx_t" use="optional"/>
      <xs:attribute name="MinBidSz" type="MinBidSize_t" use="optional"/>
      <xs:attribute name="BidSz" type="BidSize_t" use="optional"/>
      <xs:attribute name="MinOfrSz" type="MinOfferSize_t" use="optional"/>
      <xs:attribute name="OfrSz" type="OfferSize_t" use="optional"/>
      <xs:attribute name="ValidUntilTm" type="ValidUntilTime_t" use="optional"/>
      <xs:attribute name="BidSpotRt" type="BidSpotRate_t" use="optional"/>
      <xs:attribute name="OfrSpotRt" type="OfferSpotRate_t" use="optional"/>
      <xs:attribute name="BidFwdPnts" type="BidForwardPoints_t" use="optional"/>
      <xs:attribute name="OfrFwdPnts" type="OfferForwardPoints_t" use="optional"/>
      <xs:attribute name="MidPx" type="MidPx_t" use="optional"/>
      <xs:attribute name="BidYld" type="BidYield_t" use="optional"/>
      <xs:attribute name="MidYld" type="MidYield_t" use="optional"/>
      <xs:attribute name="OfrYld" type="OfferYield_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="BidFwdPnts2" type="BidForwardPoints2_t" use="optional"/>
      <xs:attribute name="OfrFwdPnts2" type="OfferForwardPoints2_t" use="optional"/>
      <xs:attribute name="SettlCurrBidFxRt" type="SettlCurrBidFxRate_t" use="optional"/>
      <xs:attribute name="SettlCurrOfrFxRt" type="SettlCurrOfferFxRate_t" use="optional"/>
      <xs:attribute name="SettlCurrFxRtCalc" type="SettlCurrFxRateCalc_t" use="optional"/>
      <xs:attribute name="CustCpcty" type="CustOrderCapacity_t" use="optional"/>
      <xs:attribute name="ExDest" type="ExDestination_t" use="optional"/>
      <xs:attribute name="ExDestIDSrc" type="ExDestinationIDSource_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="CoverPx" type="CoverPrice_t" use="optional"/>
      <xs:attribute name="StrkTm" type="StrikeTime_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuoteResponse_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">QuoteResponse can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuoteResponse" ComponentType="Message" MsgID="69"
                     Section="PreTrade"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="QuoteResponseElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="QuoteResponseAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="QuotRsp" type="QuoteResponse_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="QuoteAckElements">
      <xs:sequence>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuoteAckAttributes">
      <xs:attribute name="QID" type="QuoteID_t" use="optional"/>
      <xs:attribute name="QtMsgID" type="QuoteMsgID_t" use="optional"/>
      <xs:attribute name="ReqID" type="QuoteReqID_t" use="optional"/>
      <xs:attribute name="Typ" type="QuoteType_t" use="optional"/>
      <xs:attribute name="CxlTyp" type="QuoteCancelType_t" use="optional"/>
      <xs:attribute name="QID2" type="SecondaryQuoteID_t" use="optional"/>
      <xs:attribute name="QtAckStat" type="QuoteAckStatus_t" use="required"/>
      <xs:attribute name="RejRsn" type="QuoteRejectReason_t" use="optional"/>
      <xs:attribute name="RejTxt" type="RejectText_t" use="optional"/>
      <xs:attribute name="EncRejTxtLen" type="EncodedRejectTextLen_t" use="optional"/>
      <xs:attribute name="EncRejTxt" type="EncodedRejectText_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuoteAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">QuoteAck can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuoteAck" ComponentType="Message" MsgID="133"
                     Section="PreTrade"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="QuoteAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="QuoteAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="QuotAck" type="QuoteAck_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="LegQuotGrpElements">
      <xs:sequence>
         <xs:element name="Leg" type="InstrumentLeg_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Stip" type="LegStipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Pty" type="NestedParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="BnchmkCurve" type="LegBenchmarkCurveData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="LegQuotGrpAttributes">
      <xs:attribute name="OrdQty" type="LegOrderQty_t" use="optional"/>
      <xs:attribute name="Qty" type="LegQty_t" use="optional"/>
      <xs:attribute name="MidPx" type="LegMidPx_t" use="optional"/>
      <xs:attribute name="SwapTyp" type="LegSwapType_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="LegSettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="LegSettlDate_t" use="optional"/>
      <xs:attribute name="PxTyp" type="LegPriceType_t" use="optional"/>
      <xs:attribute name="BidPx" type="LegBidPx_t" use="optional"/>
      <xs:attribute name="OfrPx" type="LegOfferPx_t" use="optional"/>
      <xs:attribute name="RefID" type="LegRefID_t" use="optional"/>
      <xs:attribute name="LegBidFwdPnts" type="LegBidForwardPoints_t" use="optional"/>
      <xs:attribute name="LegOfrFwdPnts" type="LegOfferForwardPoints_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="LegQuotGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="LegQuotGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="LegQuotGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="LegQuotGrpAttributes"/>
   </xs:complexType>
   <xs:group name="LegQuotStatGrpElements">
      <xs:sequence>
         <xs:element name="Leg" type="InstrumentLeg_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Stip" type="LegStipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Pty" type="NestedParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="LegQuotStatGrpAttributes">
      <xs:attribute name="OrdQty" type="LegOrderQty_t" use="optional"/>
      <xs:attribute name="Qty" type="LegQty_t" use="optional"/>
      <xs:attribute name="MidPx" type="LegMidPx_t" use="optional"/>
      <xs:attribute name="SwapTyp" type="LegSwapType_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="LegSettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="LegSettlDate_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="LegQuotStatGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="LegQuotStatGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="LegQuotStatGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="LegQuotStatGrpAttributes"/>
   </xs:complexType>
   <xs:group name="QuotCxlEntriesGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuotCxlEntriesGrpAttributes"/>
   <xs:complexType name="QuotCxlEntriesGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuotCxlEntriesGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="QuotCxlEntriesGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="QuotCxlEntriesGrpAttributes"/>
   </xs:complexType>
   <xs:group name="QuotEntryAckGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuotEntryAckGrpAttributes">
      <xs:attribute name="EntryID" type="QuoteEntryID_t" use="optional"/>
      <xs:attribute name="BidPx" type="BidPx_t" use="optional"/>
      <xs:attribute name="OfrPx" type="OfferPx_t" use="optional"/>
      <xs:attribute name="BidSz" type="BidSize_t" use="optional"/>
      <xs:attribute name="OfrSz" type="OfferSize_t" use="optional"/>
      <xs:attribute name="ValidUntilTm" type="ValidUntilTime_t" use="optional"/>
      <xs:attribute name="BidSpotRt" type="BidSpotRate_t" use="optional"/>
      <xs:attribute name="OfrSpotRt" type="OfferSpotRate_t" use="optional"/>
      <xs:attribute name="BidFwdPnts" type="BidForwardPoints_t" use="optional"/>
      <xs:attribute name="OfrFwdPnts" type="OfferForwardPoints_t" use="optional"/>
      <xs:attribute name="MidPx" type="MidPx_t" use="optional"/>
      <xs:attribute name="BidYld" type="BidYield_t" use="optional"/>
      <xs:attribute name="MidYld" type="MidYield_t" use="optional"/>
      <xs:attribute name="OfrYld" type="OfferYield_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="SettlDt2" type="SettlDate2_t" use="optional"/>
      <xs:attribute name="Qty2" type="OrderQty2_t" use="optional"/>
      <xs:attribute name="BidFwdPnts2" type="BidForwardPoints2_t" use="optional"/>
      <xs:attribute name="OfrFwdPnts2" type="OfferForwardPoints2_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="QtEntSts" type="QuoteEntryStatus_t" use="optional"/>
      <xs:attribute name="EntryRejRsn" type="QuoteEntryRejectReason_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuotEntryAckGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuotEntryAckGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="QuotEntryAckGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="QuotEntryAckGrpAttributes"/>
   </xs:complexType>
   <xs:group name="QuotEntryGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuotEntryGrpAttributes">
      <xs:attribute name="EntryID" type="QuoteEntryID_t" use="required"/>
      <xs:attribute name="BidPx" type="BidPx_t" use="optional"/>
      <xs:attribute name="OfrPx" type="OfferPx_t" use="optional"/>
      <xs:attribute name="TotBidSz" type="TotalBidSize_t" use="optional"/>
      <xs:attribute name="TotOfrSz" type="TotalOfferSize_t" use="optional"/>
      <xs:attribute name="BidSz" type="BidSize_t" use="optional"/>
      <xs:attribute name="OfrSz" type="OfferSize_t" use="optional"/>
      <xs:attribute name="ValidUntilTm" type="ValidUntilTime_t" use="optional"/>
      <xs:attribute name="BidSpotRt" type="BidSpotRate_t" use="optional"/>
      <xs:attribute name="OfrSpotRt" type="OfferSpotRate_t" use="optional"/>
      <xs:attribute name="BidFwdPnts" type="BidForwardPoints_t" use="optional"/>
      <xs:attribute name="OfrFwdPnts" type="OfferForwardPoints_t" use="optional"/>
      <xs:attribute name="MidPx" type="MidPx_t" use="optional"/>
      <xs:attribute name="BidYld" type="BidYield_t" use="optional"/>
      <xs:attribute name="MidYld" type="MidYield_t" use="optional"/>
      <xs:attribute name="OfrYld" type="OfferYield_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="SettlDt2" type="SettlDate2_t" use="optional"/>
      <xs:attribute name="Qty2" type="OrderQty2_t" use="optional"/>
      <xs:attribute name="BidFwdPnts2" type="BidForwardPoints2_t" use="optional"/>
      <xs:attribute name="OfrFwdPnts2" type="OfferForwardPoints2_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="BkngTyp" type="BookingType_t" use="optional"/>
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="optional"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuotEntryGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuotEntryGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="QuotEntryGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="QuotEntryGrpAttributes"/>
   </xs:complexType>
   <xs:group name="QuotQualGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="QuotQualGrpAttributes">
      <xs:attribute name="Qual" type="QuoteQualifier_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuotQualGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuotQualGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="QuotQualGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="QuotQualGrpAttributes"/>
   </xs:complexType>
   <xs:group name="QuotReqGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="1" maxOccurs="1"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="RtSrc" type="RateSource_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="QuotReqLegsGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="QuotQual" type="QuotQualGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuotReqGrpAttributes">
      <xs:attribute name="PrevClsPx" type="PrevClosePx_t" use="optional"/>
      <xs:attribute name="ReqTyp" type="QuoteRequestType_t" use="optional"/>
      <xs:attribute name="QID" type="QuoteID_t" use="optional"/>
      <xs:attribute name="QID2" type="SecondaryQuoteID_t" use="optional"/>
      <xs:attribute name="Typ" type="QuoteType_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="NumCmptors" type="NumOfCompetitors_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="MinQty" type="MinQty_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="SettlDt2" type="SettlDate2_t" use="optional"/>
      <xs:attribute name="Qty2" type="OrderQty2_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="TrdTyp" type="TrdType_t" use="optional"/>
      <xs:attribute name="RegTxnTyp" type="RegulatoryTransactionType_t" use="optional"/>
      <xs:attribute name="NegottnMeth" type="NegotiationMethod_t" use="optional"/>
      <xs:attribute name="QuotPxTyp" type="QuotePriceType_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="ValidUntilTm" type="ValidUntilTime_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="RspTm" type="ResponseTime_t" use="optional"/>
      <xs:attribute name="QuotDsplyTm" type="QuoteDisplayTime_t" use="optional"/>
      <xs:attribute name="ExpsreDur" type="ExposureDuration_t" use="optional"/>
      <xs:attribute name="ExpsreDurUnit" type="ExposureDurationUnit_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="MidPx" type="MidPx_t" use="optional"/>
      <xs:attribute name="Px2" type="Price2_t" use="optional"/>
      <xs:attribute name="StrkTm" type="StrikeTime_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuotReqGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuotReqGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="QuotReqGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="QuotReqGrpAttributes"/>
   </xs:complexType>
   <xs:group name="QuotReqLegsGrpElements">
      <xs:sequence>
         <xs:element name="Leg" type="InstrumentLeg_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Stip" type="LegStipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Pty" type="NestedParties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="BnchmkCurve" type="LegBenchmarkCurveData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuotReqLegsGrpAttributes">
      <xs:attribute name="OrdQty" type="LegOrderQty_t" use="optional"/>
      <xs:attribute name="Qty" type="LegQty_t" use="optional"/>
      <xs:attribute name="MidPx" type="LegMidPx_t" use="optional"/>
      <xs:attribute name="SwapTyp" type="LegSwapType_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="LegSettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="LegSettlDate_t" use="optional"/>
      <xs:attribute name="RefID" type="LegRefID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuotReqLegsGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuotReqLegsGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="QuotReqLegsGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="QuotReqLegsGrpAttributes"/>
   </xs:complexType>
   <xs:group name="QuotReqRjctGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="1" maxOccurs="1"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="OrdQty" type="OrderQtyData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="QuotReqLegsGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="QuotQual" type="QuotQualGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuotReqRjctGrpAttributes">
      <xs:attribute name="PrevClsPx" type="PrevClosePx_t" use="optional"/>
      <xs:attribute name="ReqTyp" type="QuoteRequestType_t" use="optional"/>
      <xs:attribute name="Typ" type="QuoteType_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="OrignDt" type="TradeOriginationDate_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="optional"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="SettlDt2" type="SettlDate2_t" use="optional"/>
      <xs:attribute name="Qty2" type="OrderQty2_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="Acct" type="Account_t" use="optional"/>
      <xs:attribute name="AcctIDSrc" type="AcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
      <xs:attribute name="NegottnMeth" type="NegotiationMethod_t" use="optional"/>
      <xs:attribute name="QuotPxTyp" type="QuotePriceType_t" use="optional"/>
      <xs:attribute name="OrdTyp" type="OrdType_t" use="optional"/>
      <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="Px" type="Price_t" use="optional"/>
      <xs:attribute name="Px2" type="Price2_t" use="optional"/>
      <xs:attribute name="StrkTm" type="StrikeTime_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuotReqRjctGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuotReqRjctGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="QuotReqRjctGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="QuotReqRjctGrpAttributes"/>
   </xs:complexType>
   <xs:group name="QuotSetAckGrpElements">
      <xs:sequence>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="QuotEntryAck" type="QuotEntryAckGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuotSetAckGrpAttributes">
      <xs:attribute name="SetID" type="QuoteSetID_t" use="optional"/>
      <xs:attribute name="ValidTil" type="QuoteSetValidUntilTime_t" use="optional"/>
      <xs:attribute name="TotNoQuotEntries" type="TotNoQuoteEntries_t" use="optional"/>
      <xs:attribute name="TotNoCxldQts" type="TotNoCxldQuotes_t" use="optional"/>
      <xs:attribute name="TotNoAccQts" type="TotNoAccQuotes_t" use="optional"/>
      <xs:attribute name="TotNoRejQts" type="TotNoRejQuotes_t" use="optional"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuotSetAckGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuotSetAckGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="QuotSetAckGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="QuotSetAckGrpAttributes"/>
   </xs:complexType>
   <xs:group name="QuotSetGrpElements">
      <xs:sequence>
         <xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="QuotEntry" type="QuotEntryGrp_Block_t" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="QuotSetGrpAttributes">
      <xs:attribute name="SetID" type="QuoteSetID_t" use="required"/>
      <xs:attribute name="ValidTil" type="QuoteSetValidUntilTime_t" use="optional"/>
      <xs:attribute name="TotNoQuotEntries" type="TotNoQuoteEntries_t" use="required"/>
      <xs:attribute name="LastFragment" type="LastFragment_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="QuotSetGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="QuotSetGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="QuotSetGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="QuotSetGrpAttributes"/>
   </xs:complexType>
   <xs:group name="RFQReqGrpElements">
      <xs:sequence>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="1" maxOccurs="1"/>
         <xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="RFQReqGrpAttributes">
      <xs:attribute name="PrevClsPx" type="PrevClosePx_t" use="optional"/>
      <xs:attribute name="ReqTyp" type="QuoteRequestType_t" use="optional"/>
      <xs:attribute name="Typ" type="QuoteType_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="RFQReqGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="RFQReqGrp" ComponentType="ImplicitBlockRepeating"
                     Category="QuotationNegotiation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="RFQReqGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="RFQReqGrpAttributes"/>
   </xs:complexType>
</xs:schema>