rosetta-source/src/main/resources/schemas/fixml-5-0-sp2/fixml-marketstructure-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.5.0SP2 EP228 

		Generated: 2017-06-27T12:44:10.39Z

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX protocol web-site http://www.fixtradingcommunity.org
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2"
           xmlns:fm="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0-SP2/METADATA fixml-metadata-5-0-SP2.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-5-0-SP2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>
   <xs:group name="TradingSessionStatusRequestElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="TradingSessionStatusRequestAttributes">
      <xs:attribute name="ReqID" type="TradSesReqID_t" use="required"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Method" type="TradSesMethod_t" use="optional"/>
      <xs:attribute name="Mode" type="TradSesMode_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="required"/>
      <xs:attribute name="Exch" type="SecurityExchange_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="TradingSessionStatusRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">TradingSessionStatusRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="TradingSessionStatusRequest" ComponentType="Message"
                     MsgID="40"
                     Section="PreTrade"
                     Category="MarketStructureReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="TradingSessionStatusRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="TradingSessionStatusRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="TrdgSesStatReq" type="TradingSessionStatusRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="TradingSessionStatusElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="TradingSessionStatusAttributes">
      <xs:attribute name="ReqID" type="TradSesReqID_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="required"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Method" type="TradSesMethod_t" use="optional"/>
      <xs:attribute name="Mode" type="TradSesMode_t" use="optional"/>
      <xs:attribute name="Unsol" type="UnsolicitedIndicator_t" use="optional"/>
      <xs:attribute name="Stat" type="TradSesStatus_t" use="required"/>
      <xs:attribute name="TradSesEvent" type="TradSesEvent_t" use="optional"/>
      <xs:attribute name="FastMktInd" type="FastMarketIndicator_t" use="optional"/>
      <xs:attribute name="StatRejRsn" type="TradSesStatusRejReason_t" use="optional"/>
      <xs:attribute name="StartTm" type="TradSesStartTime_t" use="optional"/>
      <xs:attribute name="OpenTm" type="TradSesOpenTime_t" use="optional"/>
      <xs:attribute name="PreClsTm" type="TradSesPreCloseTime_t" use="optional"/>
      <xs:attribute name="ClsTm" type="TradSesCloseTime_t" use="optional"/>
      <xs:attribute name="EndTm" type="TradSesEndTime_t" use="optional"/>
      <xs:attribute name="TrdgSesCtrl" type="TradSesControl_t" use="optional"/>
      <xs:attribute name="TotVolTrdd" type="TotalVolumeTraded_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="TradingSessionStatus_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">TradingSessionStatus can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="TradingSessionStatus" ComponentType="Message" MsgID="41"
                     Section="PreTrade"
                     Category="MarketStructureReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="TradingSessionStatusElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="TradingSessionStatusAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="TrdgSesStat" type="TradingSessionStatus_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="TradingSessionListElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="TrdSessLstGrp" type="TrdSessLstGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="TradingSessionListAttributes">
      <xs:attribute name="ReqID" type="TradSesReqID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="TradingSessionList_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">TradingSessionList can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="TradingSessionList" ComponentType="Message" MsgID="100"
                     Section="PreTrade"
                     Category="MarketStructureReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="TradingSessionListElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="TradingSessionListAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="TradSessList" type="TradingSessionList_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="TradingSessionListRequestElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="TradingSessionListRequestAttributes">
      <xs:attribute name="ReqID" type="TradSesReqID_t" use="required"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
      <xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
      <xs:attribute name="Exch" type="SecurityExchange_t" use="optional"/>
      <xs:attribute name="Method" type="TradSesMethod_t" use="optional"/>
      <xs:attribute name="Mode" type="TradSesMode_t" use="optional"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="required"/>
   </xs:attributeGroup>
   <xs:complexType name="TradingSessionListRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">TradingSessionListRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="TradingSessionListRequest" ComponentType="Message"
                     MsgID="101"
                     Section="PreTrade"
                     Category="MarketStructureReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="TradingSessionListRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="TradingSessionListRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="TradSessListReq" type="TradingSessionListRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="TradingSessionListUpdateReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="TrdSessLstGrp" type="TrdSessLstGrp_Block_t" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="TradingSessionListUpdateReportAttributes">
      <xs:attribute name="ReqID" type="TradSesReqID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="TradingSessionListUpdateReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">TradingSessionListUpdateReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="TradingSessionListUpdateReport" ComponentType="Message"
                     MsgID="104"
                     Section="PreTrade"
                     Category="MarketStructureReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="TradingSessionListUpdateReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="TradingSessionListUpdateReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="TrdgSesListUpd" type="TradingSessionListUpdateReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MarketDefinitionRequestElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="MarketDefinitionRequestAttributes">
      <xs:attribute name="MktReqID" type="MarketReqID_t" use="required"/>
      <xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="required"/>
      <xs:attribute name="MktID" type="MarketID_t" use="optional"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="ParentMktSegmID" type="ParentMktSegmID_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MarketDefinitionRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MarketDefinitionRequest can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MarketDefinitionRequest" ComponentType="Message"
                     MsgID="105"
                     Section="PreTrade"
                     Category="MarketStructureReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MarketDefinitionRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MarketDefinitionRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MktDefReq" type="MarketDefinitionRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MarketDefinitionElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="InstrmtScope" type="InstrumentScopeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ReltdMktSeg" type="RelatedMarketSegmentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="BaseTrdgRules" type="BaseTradingRules_Block_t" minOccurs="0"/>
         <xs:element name="OrdTypRules" type="OrdTypeRules_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TmInForceRules" type="TimeInForceRules_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ExecInstRules" type="ExecInstRules_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="AuctTypRule" type="AuctionTypeRuleGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MDFeedTyps" type="MarketDataFeedTypes_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MtchRules" type="MatchRules_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="FlexProdElig" type="FlexProductEligibilityGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MarketDefinitionAttributes">
      <xs:attribute name="MktRptID" type="MarketReportID_t" use="required"/>
      <xs:attribute name="MktReqID" type="MarketReqID_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="required"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="MarketSegmentDesc" type="MarketSegmentDesc_t" use="optional"/>
      <xs:attribute name="EncodedMktSegmDescLen" type="EncodedMktSegmDescLen_t" use="optional"/>
      <xs:attribute name="EncodedMktSegmDesc" type="EncodedMktSegmDesc_t" use="optional"/>
      <xs:attribute name="ParentMktSegmID" type="ParentMktSegmID_t" use="optional"/>
      <xs:attribute name="MktSegStat" type="MarketSegmentStatus_t" use="optional"/>
      <xs:attribute name="MktSegTyp" type="MarketSegmentType_t" use="optional"/>
      <xs:attribute name="MktSegSubTyp" type="MarketSegmentSubType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="EfctvBizDt" type="EffectiveBusinessDate_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MarketDefinition_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MarketDefinition can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MarketDefinition" ComponentType="Message" MsgID="106"
                     Section="PreTrade"
                     Category="MarketStructureReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MarketDefinitionElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MarketDefinitionAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MktDef" type="MarketDefinition_message_t" substitutionGroup="Message"
               final="#all"/>
   <xs:group name="MarketDefinitionUpdateReportElements">
      <xs:sequence>
         <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
         <xs:element name="InstrmtScope" type="InstrumentScopeGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ReltdMktSeg" type="RelatedMarketSegmentGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="BaseTrdgRules" type="BaseTradingRules_Block_t" minOccurs="0"/>
         <xs:element name="OrdTypRules" type="OrdTypeRules_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TmInForceRules" type="TimeInForceRules_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ExecInstRules" type="ExecInstRules_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="AuctTypRule" type="AuctionTypeRuleGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MDFeedTyps" type="MarketDataFeedTypes_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MtchRules" type="MatchRules_Block_t" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="FlexProdElig" type="FlexProductEligibilityGrp_Block_t" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="MarketDefinitionUpdateReportAttributes">
      <xs:attribute name="MktRptID" type="MarketReportID_t" use="required"/>
      <xs:attribute name="MktReqID" type="MarketReqID_t" use="optional"/>
      <xs:attribute name="MktUpdtActn" type="MarketUpdateAction_t" use="optional"/>
      <xs:attribute name="MktID" type="MarketID_t" use="required"/>
      <xs:attribute name="MktSegID" type="MarketSegmentID_t" use="optional"/>
      <xs:attribute name="MarketSegmentDesc" type="MarketSegmentDesc_t" use="optional"/>
      <xs:attribute name="EncodedMktSegmDescLen" type="EncodedMktSegmDescLen_t" use="optional"/>
      <xs:attribute name="EncodedMktSegmDesc" type="EncodedMktSegmDesc_t" use="optional"/>
      <xs:attribute name="ParentMktSegmID" type="ParentMktSegmID_t" use="optional"/>
      <xs:attribute name="MktSegStat" type="MarketSegmentStatus_t" use="optional"/>
      <xs:attribute name="MktSegTyp" type="MarketSegmentType_t" use="optional"/>
      <xs:attribute name="MktSegSubTyp" type="MarketSegmentSubType_t" use="optional"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="EfctvBizDt" type="EffectiveBusinessDate_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="MarketDefinitionUpdateReport_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">MarketDefinitionUpdateReport can be found in Volume 3 of the
						specification</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX" name="MarketDefinitionUpdateReport" ComponentType="Message"
                     MsgID="107"
                     Section="PreTrade"
                     Category="MarketStructureReferenceData"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="MarketDefinitionUpdateReportElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="MarketDefinitionUpdateReportAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MktDefUpd" type="MarketDefinitionUpdateReport_message_t"
               substitutionGroup="Message"
               final="#all"/>
</xs:schema>