src/main/resources/schemas/cme-cleared-confirm-1-17/fpml-eqd-5-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2009. All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/confirmation" xmlns:fpml-annotation="http://www.fpml.org/annotation" targetNamespace="http://www.fpml.org/FpML-5/confirmation" ecore:documentRoot="FpML" ecore:nsPrefix="conf" ecore:package="org.fpml.confirmation" version="$Revision: 2864 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-eq-shared-5-0.xsd" />
  <xsd:complexType name="EquityAmericanExercise">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining exercise procedures associated with an American style exercise of an equity option.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="EquityEuropeanExercise">
        <xsd:sequence>
          <xsd:element name="commencementDate" type="AdjustableOrRelativeDate">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The first day of the exercise period.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="multipleExercise" type="MultipleExercise" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specification of multiple exercise.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="makeWholeProvisions" type="MakeWholeProvisions" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Provisions covering early exercise of option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EquityBermudaExercise">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining exercise procedures associated with a Bermuda style exercise of an equity option. The term Bermuda is adopted in FpML for consistency with the ISDA Definitions.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="EquityAmericanExercise">
        <xsd:sequence>
          <xsd:element name="bermudaExerciseDates" type="AdjustableOrRelativeDates">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The dates the define the Bermuda option exercise dates and the expiration date. The last specified date is assumed to be the expiration date. The dates can either be specified as a series of explicit dates and associated adjustments or as a series of dates defined relative to another schedule of dates, for example, the calculation period start dates. Where a relative series of dates are defined the first and last possible exercise dates can be separately specified.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!-- AP 20090121 added -->
  <xsd:complexType name="EquityDerivativeBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining the common features of equity derivatives.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:group ref="BuyerSeller.model"></xsd:group>
          <xsd:element name="effectiveDate" type="AdjustableOrRelativeDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Effective date for a forward starting derivative. If this element is not present, the effective date is the trade date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="underlyer" type="Underlyer">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies the underlying component, which can be either a single asset, an index, or a custom basket of assets.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!-- AP 20090121 renamed to be consistent with rest of fpml -->
          <xsd:element name="notionalAmount" type="NonNegativeMoney">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The notional amount.</xsd:documentation>
<!-- AP 20090121 made optional in pre trade -->
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="numberOfOptions" type="NonNegativeDecimal">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The number of options comprised in the option transaction.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!-- AP 20090306 moved  to base class -->
          <xsd:element name="feature" type="EquityOptionFeature" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An Option feature such as quanto, asian, barrier, knock.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="valuation" type="EquityValuation">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The parameters for defining when valuation of the underlying takes place.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="settlement" type="EquitySettlement">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Equity option contractural settlement information.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!-- AP 20090121 renamed -->
  <xsd:complexType name="EquityOption">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining a long form equity option contract.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="EquityOptionShortFormBase">
        <xsd:sequence>
<!-- AP 20090121 used model group -->
          <xsd:group ref="LongFormDerivative.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!-- AP 20090121 renamed type, used new base class -->
  <xsd:complexType name="EquityOptionShortFormBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining the common features of equity derivatives.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="EquityDerivativeBase">
        <xsd:sequence>
<!-- AP 20090121 added choice group -->
          <xsd:choice>
            <xsd:element name="optionType" type="PutCallEnum">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Put or Call option contract</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="optionTypeElectionDate" type="AdjustableOrRelativeDate">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Date where he holder of a Chooser option contract determines a choice of either a Call or a Put</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:element name="spotPrice" type="NonNegativeDecimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The price per share, index or basket observed on the trade or effective date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="strike" type="EquityStrike">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Defines whether it is a price or level at which the option has been, or will be, struck.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice>
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The parameters for defining how the equity option can be exercised, how it is valued and how it is settled.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="europeanExercise" type="EquityEuropeanExercise">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The parameters for defining the expiration date and time for a European style equity option.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="americanExercise" type="EquityAmericanExercise">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The parameters for defining the exercise period for an American style equity option together with the rules governing the quantity of the underlying that can be exercised on any given exercise date.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="bermudaExercise" type="EquityBermudaExercise">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The parameters for defining the exercise period for an Bermuda style equity option together with the rules governing the quantity of the underlying that can be exercised on any given exercise date.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:element name="premium" type="EquityPremium">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The equity option premium payable by the buyer to the seller.</xsd:documentation>
<!-- AP 20090121 made optional in pre trade -->
            </xsd:annotation>
          </xsd:element>
<!-- AP 20090121 moved choice group to base -->
          <xsd:choice minOccurs="0">
            <xsd:element name="optionEntitlement" type="PositiveDecimal">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The number of shares per option comprised in the option transaction supplement.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="multiplier" type="PositiveDecimal">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Specifies the contract multiplier that can be associated with an index option.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EquityEuropeanExercise">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining exercise procedures associated with a European style exercise of an equity option.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Exercise">
        <xsd:sequence>
          <xsd:element name="expirationDate" type="AdjustableOrRelativeDate">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The last day within an exercise period for an American style option. For a European style option it is the only day within the exercise period.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice>
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Choice between an expiration time type, such as official close of the exchange, or an explicit time.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="expirationTimeType" type="TimeTypeEnum">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The time of day at which the equity option expires, for example the official closing time of the exchange.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="expirationTime" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The specific time of day at which the equity option expires.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:choice>
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Choice between a latest exercise time type, such as official close of the exchange, or an explicit time.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="latestExerciseTimeType" type="TimeTypeEnum">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The latest time of day at which the option can be exercised, for example the official closing time of the exchange.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="latestExerciseTime" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The latest specific time of day at which the option can be exercise.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:element name="automaticExercise" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">If present and true then each option not previously exercised will be deemed to be exercised at the expiration time on the expiration date without service of notice unless the buyer notifies the seller that it no longer wishes this to occur.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!-- AP 20090121 refactored -->
  <xsd:complexType name="EquityForward">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining equity forwards.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="EquityDerivativeBase">
        <xsd:sequence>
          <xsd:element name="forwardPrice" type="NonNegativeMoney">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The forward price per share, index or basket.</xsd:documentation>
<!-- AP 20090121 made optional in pre trade -->
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="europeanExercise" type="EquityEuropeanExercise">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The parameters for defining the expiration date and time for a European style equity option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="prePayment" type="NonNegativePayment">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Prepayment features for Forward.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!-- AP 20090121 used model group -->
          <xsd:group ref="LongFormDerivative.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EquityOptionTermination">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining Equity Option Termination.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="settlementAmountPaymentDate" type="AdjustableDate" />
      <xsd:element name="settlementAmount" type="NonNegativeMoney" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EquityOptionTransactionSupplement">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining equity option transaction supplements.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="EquityOptionShortFormBase">
        <xsd:sequence>
          <xsd:element name="exchangeLookAlike" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">For a share option transaction, a flag used to indicate whether the transaction is to be treated as an 'exchange look-alike'. This designation has significance for how share adjustments (arising from corporate actions) will be determined for the transaction. For an 'exchange look-alike' transaction the relevant share adjustments will follow that for a corresponding designated contract listed on the related exchange (referred to as Options Exchange Adjustment (ISDA defined term), otherwise the share adjustments will be determined by the calculation agent (referred to as Calculation Agent Adjustment (ISDA defined term)).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="exchangeTradedContractNearest" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">For an index option transaction, a flag used in conjuction with Futures Price Valuation (ISDA defined term) to indicate whether the Nearest Index Contract provision is applicable. The Nearest Index Contract provision is a rule for determining the Exchange-traded Contract (ISDA defined term) without having to explicitly state the actual contract, delivery month and exchange on which it is traded.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="methodOfAdjustment" type="MethodOfAdjustmentEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Defines how adjustments will be made to the contract should one or more of the extraordinary events occur.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!-- AP 20090121 used model group -->
          <xsd:group ref="EquityUnderlyerProvisions.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="equityForward" type="EquityForward" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A component describing an Equity Forward product.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="equityOption" type="EquityOption" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A component describing an Equity Option product.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="equityOptionTransactionSupplement" type="EquityOptionTransactionSupplement" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A component describing an Equity Option Transaction Supplement.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>

