src/main/resources/schemas/coding-scheme/CodeList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://xml.genericode.org/2004/ns/CodeList/0.2/" targetNamespace="http://xml.genericode.org/2004/ns/CodeList/0.2/">
    <xsd:complexType name="AnyOtherContent">
        <xsd:annotation>
            <xsd:documentation>Container for any XML content which is in a different namespace to the Schema's target namespace.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any namespace="##other" minOccurs="0"
                maxOccurs="unbounded" processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ColumnSetDocument">
        <xsd:annotation>
            <xsd:documentation>Document type for the definition of a column set, which is a set of code list columns and/or keys.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="DocumentHeader">
                <xsd:annotation>
                    <xsd:documentation>General document information for the column set.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:group ref="ColumnSetContent">
                <xsd:annotation>
                    <xsd:documentation>Details of the column set.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
        <xsd:attributeGroup ref="DefaultDatatypeLibrary">
            <xsd:annotation>
                <xsd:documentation>Identification of the default datatype library for the column set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:element name="ColumnSet" type="ColumnSetDocument">
        <xsd:annotation>
            <xsd:documentation>Top-level element for the definition of a column set.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CodeListDocument">
        <xsd:annotation>
            <xsd:documentation>Document type for the definition of a simple or derived code list.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="DocumentHeader">
                <xsd:annotation>
                    <xsd:documentation>General document information for the code list.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:group ref="ColumnSetChoice">
                <xsd:annotation>
                    <xsd:documentation>A choice between a column set definition and a column set reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:group ref="OuterCodeListChoice">
                <xsd:annotation>
                    <xsd:documentation>A choice between a simple code list definition and a derived code list definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CodeList" type="CodeListDocument">
        <xsd:annotation>
            <xsd:documentation>Top-level element for the definition of a code list.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CodeListSetDocument">
        <xsd:annotation>
            <xsd:documentation>Document type for the definition of a set of code lists.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="DocumentHeader">
                <xsd:annotation>
                    <xsd:documentation>General document information for the code list set.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="CodeListRef" minOccurs="0"
                maxOccurs="unbounded" type="CodeListRef"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CodeListSet" type="CodeListSetDocument">
        <xsd:annotation>
            <xsd:documentation>Top-level element for the definition of a code list set</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="Identification">
        <xsd:annotation>
            <xsd:documentation>Identification and location information for a resource.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="NameSet">
                <xsd:annotation>
                    <xsd:documentation>Name(s) for the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="Version" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>Version of the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CanonicalUri" type="xsd:anyURI">
                <xsd:annotation>
                    <xsd:documentation>Canonical URI which serves as a unique identifier for all versions of the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="IdentificationUriSet">
                <xsd:annotation>
                    <xsd:documentation>Identification and location URIs for the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Annotation">
        <xsd:annotation>
            <xsd:documentation>User annotation information for a resource.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Description" minOccurs="0" type="AnyOtherContent">
                <xsd:annotation>
                    <xsd:documentation>Human-readable information about the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AppInfo" minOccurs="0" type="AnyOtherContent">
                <xsd:annotation>
                    <xsd:documentation>Machine-readable information about the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="DocumentHeader">
        <xsd:annotation>
            <xsd:documentation>General document information.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation information for the document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Identification" type="Identification">
                <xsd:annotation>
                    <xsd:documentation>Identification and location information for the resource defined by the document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="ColumnSetContent">
        <xsd:annotation>
            <xsd:documentation>Specific details of a column set.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="ColumnChoice" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A choice between a column definition and a column reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:group ref="KeyChoice" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A choice between a key definition and a key reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="ColumnChoice">
        <xsd:annotation>
            <xsd:documentation>A choice between a column definition and a column reference.</xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="Column" type="Column">
                <xsd:annotation>
                    <xsd:documentation>Definition of a column.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ColumnRef" type="ColumnRef">
                <xsd:annotation>
                    <xsd:documentation>Reference to a column defined in an external column set or code list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:group>
    <xsd:group name="KeyChoice">
        <xsd:annotation>
            <xsd:documentation>A choice between a key definition and a key reference.</xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="Key" type="Key">
                <xsd:annotation>
                    <xsd:documentation>Definition of a key.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="KeyRef" type="KeyRef">
                <xsd:annotation>
                    <xsd:documentation>Reference to a key defined in an external column set or code list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="Column">
        <xsd:annotation>
            <xsd:documentation>Definition of a column.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User information about the column.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="NameSet">
                <xsd:annotation>
                    <xsd:documentation>Name(s) of the column.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="Data" type="Data">
                <xsd:annotation>
                    <xsd:documentation>Data type of the column.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="IdDefinition">
            <xsd:annotation>
                <xsd:documentation>ID which identifies the column within the document.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="UseDefinition">
            <xsd:annotation>
                <xsd:documentation>Whether the column is required or optional.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:complexType name="ColumnRef">
        <xsd:annotation>
            <xsd:documentation>Reference to a column defined in an external column set or code list.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation about the referenced column.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="IdentificationUriSet">
                <xsd:annotation>
                    <xsd:documentation>Identification of the external column set or code list which contains the column definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
        <xsd:attributeGroup ref="IdDefinition">
            <xsd:annotation>
                <xsd:documentation>ID which identifies the column within the document.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="ExternalReference">
            <xsd:annotation>
                <xsd:documentation>ID which identifies which identifies the column within the external column set or code list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="UseDefinition">
            <xsd:annotation>
                <xsd:documentation>Whether the column is required or optional.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:complexType name="Key">
        <xsd:annotation>
            <xsd:documentation>Definition of a key.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation about the key.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="NameSet">
                <xsd:annotation>
                    <xsd:documentation>Name(s) of the key.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="ColumnRef" maxOccurs="unbounded" type="KeyColumnRef">
                <xsd:annotation>
                    <xsd:documentation>References to the document IDs of the columns which make up the key.  Only required columns can form part of a key.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="IdDefinition">
            <xsd:annotation>
                <xsd:documentation>ID which identifies the key within the document.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:complexType name="KeyRef">
        <xsd:annotation>
            <xsd:documentation>Reference to a key defined in an external column set or code list.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation about the referenced key.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="IdentificationUriSet">
                <xsd:annotation>
                    <xsd:documentation>Identification of the external column set or code list which contains the key definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
        <xsd:attributeGroup ref="IdDefinition">
            <xsd:annotation>
                <xsd:documentation>ID which identifies the key within the document.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
        <xsd:attributeGroup ref="ExternalReference">
            <xsd:annotation>
                <xsd:documentation>ID which identifies which identifies the key within the external column set or code list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:group name="ColumnSetChoice">
        <xsd:annotation>
            <xsd:documentation>A choice between a column set definition and a column set reference.</xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="ColumnSet" type="ColumnSet">
                <xsd:annotation>
                    <xsd:documentation>Definition of a column set.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ColumnSetRef" type="ColumnSetRef">
                <xsd:annotation>
                    <xsd:documentation>Reference to a column set defined in an external column set or code list document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="ColumnSet">
        <xsd:annotation>
            <xsd:documentation>Definition of a column set.</xsd:documentation>
        </xsd:annotation>
        <xsd:group ref="ColumnSetContent">
            <xsd:annotation>
                <xsd:documentation>Details of the column set.</xsd:documentation>
            </xsd:annotation>
        </xsd:group>
        <xsd:attributeGroup ref="DefaultDatatypeLibrary">
            <xsd:annotation>
                <xsd:documentation>Identification of the default datatype library for the column set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:complexType name="ColumnSetRef">
        <xsd:annotation>
            <xsd:documentation>Reference to a column set defined in an external column set or code list document.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation about the referenced column set.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="IdentificationUriSet">
                <xsd:annotation>
                    <xsd:documentation>Identification of the external column set or code list document which contains the column set definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="OuterCodeListChoice">
        <xsd:annotation>
            <xsd:documentation>A choice between a simple code list definition and a derived code list definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:group ref="SimpleCodeListSequence">
                <xsd:annotation>
                    <xsd:documentation>Details of a simple code list definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:element name="DerivedCodeList" type="DerivedCodeList">
                <xsd:annotation>
                    <xsd:documentation>Definition of a derived code list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="SimpleCodeList">
        <xsd:annotation>
            <xsd:documentation>Definition of a simple code list.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation for the code list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Row" minOccurs="0" maxOccurs="unbounded" type="Row">
                <xsd:annotation>
                    <xsd:documentation>Row which represents one of the conceptual codes in the code list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DerivedCodeList">
        <xsd:annotation>
            <xsd:documentation>Definition of a derived code list.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation for the code list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="DerivedCodeListChoice">
                <xsd:annotation>
                    <xsd:documentation>A choice of one of the different types of derived code list definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="IdentificationUriSet">
        <xsd:annotation>
            <xsd:documentation>Identification and location URIs for a resource.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="CanonicalUri" type="xsd:anyURI" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Canonical URI which serves as a unique identifier for all versions of the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CanonicalVersionUri" type="xsd:anyURI">
                <xsd:annotation>
                    <xsd:documentation>Canonical URI which serves as a unique identifier for this version of the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LocationUri" minOccurs="0"
                maxOccurs="unbounded" type="xsd:anyURI">
                <xsd:annotation>
                    <xsd:documentation>Suggested retrieval location for this version of the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="CodeListRef">
        <xsd:annotation>
            <xsd:documentation>Reference to a code list defined in an external document.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation about the referenced code list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="IdentificationUriSet">
                <xsd:annotation>
                    <xsd:documentation>Identification of the external document which contains the code list definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="InnerCodeListChoice">
        <xsd:annotation>
            <xsd:documentation>A choice between a simple code list definition, a derived code list definition, or a reference to a code list defined in an external document.</xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="SimpleCodeList" type="SimpleCodeList">
                <xsd:annotation>
                    <xsd:documentation>Definition of a simple code list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DerivedCodeList" type="DerivedCodeList">
                <xsd:annotation>
                    <xsd:documentation>Definition of a derived code list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CodeListRef" type="CodeListRef">
                <xsd:annotation>
                    <xsd:documentation>Reference to a code list defined in an external document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:group>
    <xsd:attributeGroup name="IdDefinition">
        <xsd:annotation>
            <xsd:documentation>Attribute set used to identify a resource within the document.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="Id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation>Unique ID within the document for the resource.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>
    <xsd:attributeGroup name="ExternalReference">
        <xsd:annotation>
            <xsd:documentation>Attribute set used to identify a resource within an external document.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="ExternalRef" type="xsd:token" use="required">
            <xsd:annotation>
                <xsd:documentation>Unique ID of the resource within the external document.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>
    <xsd:group name="NameSet">
        <xsd:annotation>
            <xsd:documentation>Name(s) for a resource.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ShortName" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>Short name (token) for the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LongName" minOccurs="0"
                maxOccurs="unbounded" type="xsd:normalizedString">
                <xsd:annotation>
                    <xsd:documentation>Long name for the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="Data">
        <xsd:annotation>
            <xsd:documentation>Data type for a column.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation for the datatype.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Parameter" minOccurs="0"
                maxOccurs="unbounded" type="DatatypeFacet">
                <xsd:annotation>
                    <xsd:documentation>Facet parameter which refines the datatype.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Type" type="xsd:token" use="required">
            <xsd:annotation>
                <xsd:documentation>Unique ID for the datatype within its datatype library.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DatatypeLibrary" type="xsd:anyURI">
            <xsd:annotation>
                <xsd:documentation>URI which uniquely identifies the datatype library.  If not provided, the datatype library for the enclosing column set is used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="KeyColumnRef">
        <xsd:annotation>
            <xsd:documentation>Reference to a column which forms part of a key.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" form="unqualified">
                <xsd:annotation>
                    <xsd:documentation>User annotation about the column.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>User annotation information for a resource.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element name="Description" minOccurs="0" form="unqualified">
                            <xsd:complexType>
                                <xsd:annotation>
                                    <xsd:documentation>Human readable information about the resource.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="AppInfo" minOccurs="0" form="unqualified">
                            <xsd:complexType>
                                <xsd:annotation>
                                    <xsd:documentation>Machine-readable information about the resource.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Ref" type="xsd:IDREF" use="required">
            <xsd:annotation>
                <xsd:documentation>Reference to the ID of the column within the document.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:group name="SimpleCodeListSequence">
        <xsd:annotation>
            <xsd:documentation>Details of a simple code list definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="DerivedCodeListRef" minOccurs="0" type="CodeListRef">
                <xsd:annotation>
                    <xsd:documentation>Reference to the derived code list of which this simple code list is a realisation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SimpleCodeList" type="SimpleCodeList">
                <xsd:annotation>
                    <xsd:documentation>Definition of the simple code list.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <xsd:attributeGroup name="UseDefinition">
        <xsd:annotation>
            <xsd:documentation>Attribute set which defines the usage of a resource.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="Use" type="UseType" use="required">
            <xsd:annotation>
                <xsd:documentation>Whether the resource is required or optional.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>
    <xsd:complexType name="Row">
        <xsd:annotation>
            <xsd:documentation>Row which represents a conceptual code in a code list.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation about the row.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Value" maxOccurs="unbounded" type="Value">
                <xsd:annotation>
                    <xsd:documentation>Column value for the row.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="ValueChoice">
        <xsd:annotation>
            <xsd:documentation>A choice between a simple textual value and a complex (structured) XML value.</xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="SimpleValue" type="SimpleValue">
                <xsd:annotation>
                    <xsd:documentation>Simple textual value.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ComplexValue" type="AnyOtherContent">
                <xsd:annotation>
                    <xsd:documentation>Complex (structured) XML value.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="SimpleValue">
        <xsd:annotation>
            <xsd:documentation>Simple textual value.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:attributeGroup name="ColumnReference">
        <xsd:annotation>
            <xsd:documentation>Attribute set for referring to a column definition within the document.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="ColumnRef" type="xsd:IDREF">
            <xsd:annotation>
                <xsd:documentation>Reference to the ID of a column in the document.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>
    <xsd:complexType name="Value">
        <xsd:annotation>
            <xsd:documentation>Individual value from a row which represents a conceptual value in a code list.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation about the value.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="ValueChoice">
                <xsd:annotation>
                    <xsd:documentation>A choice between a simple textual value and a complex (structured) XML value.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:sequence>
        <xsd:attributeGroup ref="ColumnReference">
            <xsd:annotation>
                <xsd:documentation>Reference to the column with which this value is associated.  If not provided, the column is assumed to be the column following the column of the preceding value.</xsd:documentation>
            </xsd:annotation>
        </xsd:attributeGroup>
    </xsd:complexType>
    <xsd:group name="DerivedCodeListChoice">
        <xsd:annotation>
            <xsd:documentation>A choice of one of the different types of derived code list definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="ColumnSetExclusion" type="ColumnSetFilter">
                <xsd:annotation>
                    <xsd:documentation>Definition of a column set exclusion filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ColumnSetInclusion" type="ColumnSetFilter">
                <xsd:annotation>
                    <xsd:documentation>Definition of a column set inclusion filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ColumnSetMatch" type="ColumnSetFilter">
                <xsd:annotation>
                    <xsd:documentation>Definition of a column set match filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ColumnSetUnion" type="CodeListUnion">
                <xsd:annotation>
                    <xsd:documentation>Definition of a column set union filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RowExclusion" type="RowFilter">
                <xsd:annotation>
                    <xsd:documentation>Definition of a row exclusion filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RowInclusion" type="RowFilter">
                <xsd:annotation>
                    <xsd:documentation>Definition of a row inclusion filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RowMatch" type="RowFilter">
                <xsd:annotation>
                    <xsd:documentation>Definition of a row match filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RowUnion" type="CodeListUnion">
                <xsd:annotation>
                    <xsd:documentation>Definition of a row union filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="RowFilter">
        <xsd:annotation>
            <xsd:documentation>Definition of a row filter.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation for the row filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Source" type="InputCodeList">
                <xsd:annotation>
                    <xsd:documentation>Source code list for the row filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Control" type="InputCodeList">
                <xsd:annotation>
                    <xsd:documentation>Control code list for the row filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InputCodeList">
        <xsd:annotation>
            <xsd:documentation>Input code list for a code list filter or union.</xsd:documentation>
        </xsd:annotation>
        <xsd:group ref="InnerCodeListChoice">
            <xsd:annotation>
                <xsd:documentation>A choice between a simple code list definition, a derived code list definition, or a reference to a code list defined in an external document.</xsd:documentation>
            </xsd:annotation>
        </xsd:group>
    </xsd:complexType>
    <xsd:complexType name="CodeListUnion">
        <xsd:annotation>
            <xsd:documentation>Union of one or more code lists.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation about the union.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Source" maxOccurs="unbounded" type="InputCodeList">
                <xsd:annotation>
                    <xsd:documentation>Source code list for the union.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ColumnSetFilter">
        <xsd:annotation>
            <xsd:documentation>Definition of a column set filter.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Annotation" minOccurs="0" type="Annotation">
                <xsd:annotation>
                    <xsd:documentation>User annotation about the column set filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Source" type="InputCodeList">
                <xsd:annotation>
                    <xsd:documentation>Source code list for the column set filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Control" type="InputColumnSet">
                <xsd:annotation>
                    <xsd:documentation>Control column set for the column set filter.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InputColumnSet">
        <xsd:annotation>
            <xsd:documentation>Input column set for a code list filter.</xsd:documentation>
        </xsd:annotation>
        <xsd:group ref="ColumnSetChoice">
            <xsd:annotation>
                <xsd:documentation>A choice between a column set definition and a column set reference.</xsd:documentation>
            </xsd:annotation>
        </xsd:group>
    </xsd:complexType>
    <xsd:complexType name="DatatypeFacet">
        <xsd:annotation>
            <xsd:documentation>Facet information for refining a datatype.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="ShortName" type="xsd:token" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Short name (token) for the datatype facet.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="LongName" type="xsd:normalizedString">
                    <xsd:annotation>
                        <xsd:documentation>Long name for the datatype facet.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:attributeGroup name="DefaultDatatypeLibrary">
        <xsd:annotation>
            <xsd:documentation>Identification of the default datatype library for a column set.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="DatatypeLibrary" type="xsd:anyURI" default="http://www.w3.org/2001/XMLSchema-datatypes">
            <xsd:annotation>
                <xsd:documentation>URI which uniquely identifies the default datatype library for the column set.  If not provided, defaults to the URI for W3C XML Schema datatypes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>
    <xsd:simpleType name="UseType">
        <xsd:annotation>
            <xsd:documentation>Indicates whether the usage of a resource is required or optional.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="optional"/>
            <xsd:enumeration value="required"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
